
<div id="ivo">

<p><a href="mailto:exweerdo@millenicom.com"><img src="/img/myth/shortfff.jpg" alt="Soulblighter"/></a></p>
<p class="left"><img src="/img/myth/maps.jpg" alt="Soulblighter"/></p>

<p><img class="titleimg" src="/img/myth/gonentitle.jpg" alt="Soulblighter"/></p>
<p><a href="/archives/myth/GonensBridge.zip"><img src="/img/myth/gonen.jpg" alt="Soulblighter"/></a></p>
<p><img class="titleimg" src="/img/myth/groundzerotit.jpg" alt="Soulblighter"/></p>
<p><a href="/archives/myth/GroundZero.zip"><img src="/img/myth/warlocks.jpg" alt="Soulblighter"/></a></p>
<p><img class="titleimg" src="/img/myth/sporttitle.jpg" alt="Soulblighter"/></p>
<p><a href="/archives/myth/BloodSport.zip"><img src="/img/myth/decieverprev4.jpg" alt="Soulblighter"/></a></p>

<p><img class="titleimg" src="/img/myth/pastelcitytit.jpg" alt="Soulblighter"/></p>
<p><a href="/archives/myth/ThePastelCity.zip"><img src="/img/myth/prevx.jpg" alt="Soulblighter"/></a></p>

<p><img src="/img/myth/pastel0.jpg" alt="Soulblighter"/><img class="spacer" src="/img/myth/yeviespacer.gif" alt="Soulblighter"/><img src="/img/myth/pastel7.jpg" alt="Soulblighter"/></p>
<p><img src="/img/myth/pastel2.jpg" alt="Soulblighter"/><img class="spacer" src="/img/myth/yeviespacer.gif" alt="Soulblighter"/><img src="/img/myth/pastel3.jpg" alt="Soulblighter"/></p>
<p><img src="/img/myth/pastel5.jpg" alt="Soulblighter"/><img class="spacer" src="/img/myth/yeviespacer.gif" alt="Soulblighter"/><img src="/img/myth/pastel4.jpg" alt="Soulblighter"/></p>

<p><img class="titleimg" src="/img/myth/ttheithliid.jpg" alt="Soulblighter"/></p>
<p><a href="/archives/myth/TheIthliid.zip"><img src="/img/myth/theithliid.jpg" alt="Soulblighter"/></a></p>
<p><img src="/img/myth/ithpic0.jpg" alt="Soulblighter"/><img class="spacer" src="/img/myth/yeviespacer.gif" alt="Soulblighter"/><img src="/img/myth/ithpic5.jpg" alt="Soulblighter"/></p>
<p><img src="/img/myth/ithpic1.jpg" alt="Soulblighter"/><img class="spacer" src="/img/myth/yeviespacer.gif" alt="Soulblighter"/><img src="/img/myth/ithpic6.jpg" alt="Soulblighter"/></p>
<p><img src="/img/myth/ithpic11.jpg" alt="Soulblighter"/><img class="spacer" src="/img/myth/yeviespacer.gif" alt="Soulblighter"/><img src="/img/myth/ithpic2.jpg" alt="Soulblighter"/></p>
<p><img class="titleimg" src="/img/myth/tgodheadataleppo.jpg" alt="Soulblighter"/></p>
<p><a href="/archives/myth/GodHeadatAleppo.zip"><img src="/img/myth/xxx.jpg" alt="Soulblighter"/></a></p>
<p><img src="/img/myth/aaa.jpg" alt="Soulblighter"/><img class="spacer" src="/img/myth/yeviespacer.gif" alt="Soulblighter"/><img src="/img/myth/d.jpg" alt="Soulblighter"/></p>
<p><img src="/img/myth/hhh.jpg" alt="Soulblighter"/><img class="spacer" src="/img/myth/yeviespacer.gif" alt="Soulblighter"/><img src="/img/myth/gg.jpg" alt="Soulblighter"/></p>
<p><img src="/img/myth/dd.jpg" alt="Soulblighter"/><img class="spacer" src="/img/myth/yeviespacer.gif" alt="Soulblighter"/><img src="/img/myth/ddd.jpg" alt="Soulblighter"/></p>

<p><img class="titleimg" src="/img/myth/tmalarius.jpg" alt="Soulblighter"/></p>
<p><a href="/archives/myth/Malarius.zip"><img src="/img/myth/malarius.jpg" alt="Soulblighter"/></a></p>
<p><img src="/img/myth/j.jpg" alt="Soulblighter"/><img class="spacer" src="/img/myth/yeviespacer.gif" alt="Soulblighter"/><img src="/img/myth/jj.jpg" alt="Soulblighter"/></p>
<p><img src="/img/myth/jjj.jpg" alt="Soulblighter"/><img class="spacer" src="/img/myth/yeviespacer.gif" alt="Soulblighter"/><img src="/img/myth/jjjj.jpg" alt="Soulblighter"/></p>

<p><img class="titleimg" src="/img/myth/tdwarfisdead.jpg" alt="Soulblighter"/></p>
<p><a href="/archives/myth/DwarfIsDead.zip"><img src="/img/myth/fff.jpg" alt="Soulblighter"/></a></p>
<p><img src="/img/myth/cccc.jpg" alt="Soulblighter"/><img class="spacer" src="/img/myth/yeviespacer.gif" alt="Soulblighter"/><img src="/img/myth/b.jpg" alt="Soulblighter"/></p>

<p class="left"><img src="/img/myth/units.jpg" alt="Soulblighter"/></p>
<p><img src="/img/myth/tgholus.jpg" alt="Soulblighter"/></p>
<p><a href="/archives/myth/Gholus.zip"><img src="/img/myth/gholus.jpg" alt="Soulblighter"/></a></p>
<p><img src="/img/myth/tmyrkass.jpg" alt="Soulblighter"/></p>
<p><a href="/archives/myth/MyrkAss.zip"><img src="/img/myth/myrkass.jpg" alt="Soulblighter"/></a></p>

<p class="left"><a href="mailto:exweerdo@millenicom.com"><img src="/img/myth/byduncan.jpg" alt="Soulblighter"/></a></p>
<p><a href="mailto:exweerdo@gmail.com"><img src="/img/myth/theend.jpg" alt="Soulblighter"/></a></p>

</div>

{{#section 'title'}}
    Astrikal's Myth Maps
{{/section}}

{{#section 'cssLinks'}}
<style type="text/css">
    body {background-color: black; background-image: url("/img/myth/pat6.gif");}
    img {border: none;}
    img.titleimg {height: 40px; width: 189px;}
    img.spacer {width: 10px;}
    #ivo {text-align: center;}
    .left {text-align: left;}
</style>
{{/section}}