<div align="center"> 
  <p><img src="/img/spudandal/spudandalbert.jpg"></p>
  <p><img src="/img/spudandal/spudnaldates.jpg"></p>
</div>

{{#section 'title'}}
    Spud & Al
{{/section}}

{{#section 'cssLinks'}}
<style type="text/css">
    body { background: #F6984E url('/img/spudandal/spudalback.jpg') }
</style>
{{/section}}