<div class="pedipalp">
	<div class="disenchanter">{{> (tableOfContentsPartial)}}</div>
	<div class="tarrasque">
		<div class="planetar">
            <span class="galebDuhr">filter =</span>
            <input type="text" class="dracolisk" value=""/>
        </div>
		<div class="hellcat">{{> (titlePartial)}}</div>
		<div class="diakk"></div>
        <a href="#" class="myconid">
            <div class="opinicus">/</div>
            <div class="obliviax">pdf</div>
        </a>
        <a href="#" class="firedrake">+</a>
        <div class="kampfult"></div>
		{{> (menuPartial)}}
	</div>
	<div class="aloysius">
        <div class="transliterationPartial">
			{{> (transliterationPartial)}}
        </div>
		<div class="translationPartial">
			{{> (translationPartial)}}
        </div>
		<div class="glossaryPartial">
            <div class="iceLizard">
                {{> (glossaryPartial)}}
            </div>
		</div>
	</div>
</div>

{{#section 'title'}}
    The Heron and the Turtle
{{/section}}

{{#section 'cssLinks'}}
	<link rel="stylesheet" type="text/css" href="/css/sumer.css">
    <link href="https://fonts.googleapis.com/css?family=Macondo" rel="stylesheet">
{{/section}}

{{#section 'jsLinks'}}
	<script type="text/javascript" src="/js/sumer.js"></script>
	<script type="text/javascript" src="/js/cuneiform.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/anime.min.js"></script>
{{/section}}