body {
    font: 76%/162% "Franklin Gothic Medium", sans-serif;
    margin: 0;
    background-color: black;
}

a:focus {
    outline:none;
}

.transliterationPartial {
	width: 364px;
    padding: 0 6px;
    margin: 18px 0;
	float: left;
	color: mistyrose;
}

.translationPartial {
	width: 364px;
    padding: 0 6px;
    margin: 18px 0;
	float: left;
	color: mistyrose;
}

.glossaryPartial {
	width: 272px;
    margin: 18px 0;
/*    height: 100%;*/
    overflow: hidden;
}

.iceLizard {
/*    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));*/
    padding: 0 24px 0 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#glossaryTable {
}

#glossaryTable td {
    padding: 0 6px;
}

.disenchanter {
    background-color: rgba(0, 0, 0, 0.95);
    color: orchid;
    position: absolute;
    left: 1024px;
    width: 1024px;
    height: 100%;
    padding-right: 40px;
    z-index: 198;
    border: 1px solid springgreen;
}

.disenchanter p {
    font-size: 14px;
}

.disenchanter a {
    text-decoration: none;
    color: lavender;
}

.kampfult {
    background-color: firebrick;
    position: absolute;
    z-index: 98;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    visibility: hidden;
    overflow: hidden;
}

.tarrasque .firedrake {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    vertical-align: middle;
    color: skyblue;
    padding: 6px;
    text-decoration: none;
    font-family: 'Macondo', cursive;
    z-index: 298;
    font-size: 36px
}

.slaad {
    float: left;
	width: 100%;
    height: 100%;
    overflow: auto;
    padding: 18px 24px 18px 18px;
}

.slaad p {
    margin: 12px 0;
}

.slaad a {
    display: block;
    padding: 3px 0;
}

.hollyphant {
    float: left;
    overflow: hidden;
    height: 100%;
    width: 290px;
}

.sirine {
    float: left;
    width: 260px;
    height: 100%;
    padding: 18px 12px;
}

.sirine a {
    color: thistle;
    display: block;
    margin: 12px 0;
}

.hellcat {
    font-size: 24px;
    font-family: 'Macondo', cursive;
    padding: 21px 6px 6px 6px;
    color: goldenrod;
    width: 70%;
}

.planetar {
	font-weight: bold;
    font-size: 18px;
    font-family: 'Macondo', cursive;
	color: goldenrod;
    float: right;
    margin: 30px 72px 0 0;
}

.galebDuhr {
    position: relative;
    top: -4px;
}

.dracolisk {
    font-size: 24px;
	width: 190px;
    padding-top: 3px;
	background-color: #222222;
	color: mistyrose;
	border: 1px solid deeppink;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	margin-left: 6px;
}

.aloysius {
    color: mistyrose;
    margin: 0 auto;
    width: 1024px;
    padding-top: 90px;
    height: 1024px;
}

.beatrix {
    color: skyblue;
}

.pedipalp {
    margin: 0 auto;
    width: 1024px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.tarrasque {
	position: fixed;
	margin: 0 auto;
	width: 1024px;
	height: 90px;
    background-color: black;
    border-bottom: 1px solid deeppink;
}

.diakk {
	background-color: black;
	width: 377px;
    font-size: 14px;
    padding-top: 9px;
    float: left;
}

.lemma {
    color: orangered;
    float: left;
    margin-right: 0.5em;
    text-align: right;
    width: 130px;
}

.def {
    float: left;
    color: lightgreen;
}

.pos {
    color: deeppink;
    margin-right: 0.5em;
}

.dicLemma {
    color: orangered;
    font-weight: bold;
}
.dicPos {
    color: deeppink;
    font-weight: bold;
}

.dicLabel {
    color: lightgreen;
    font-style: italic;
}

.githzerai .dicLemma,
.githzerai .dicPos,
.githzerai .dicLabel {
    color: mistyrose;
}

.swanmay {
    background-color: deeppink;
    height: 98px;
}

.vilstrack * {
    color: lightslategray;
}

.vilstrack .tarrasque {
    border-bottom: 1px solid lightslategray;
}

.vilstrack input {
    border: 1px solid lightslategray;
}



/*
body {
    background-color: black;
    border-top: 9px solid deeppink;
    font: 76%/162% "Franklin Gothic Medium",sans-serif;
    margin: 0;
    padding: 0;
}
img {
    border: 0 none;
}
a.rounded {
    background: black none repeat scroll 0 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    color: goldenrod;
    text-decoration: none;
}
a.rounded span {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: -1px 1px;
    padding: 0 2px;
}
a.rounded:hover {
    background: deeppink none repeat scroll 0 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    color: black;
}
a.rounded:hover span {
    border-bottom: 1px solid deeppink;
    border-top: 1px solid deeppink;
}
#corpus {
    position: absolute;
    visibility: visible;
    width: 800px;
    z-index: 4;
}
#yevvyCorpus {
    position: absolute;
    visibility: visible;
    width: 274px;
}
#mannyCorpus {
    position: absolute;
    visibility: visible;
    width: 274px;
}
#yevvyGlossary, #mannyGlossary, #yevvyContents, #mannyContents {
    position: absolute;
    visibility: hidden;
    width: 274px;
}
#yevvyGlossary #glossaryTable {
    width: 274px;
}
#blog {
    position: absolute;
    visibility: hidden;
    z-index: 9;
}
#toptabs {
    padding: 0 3em 1ex 0;
}
#mannysDef {
    float: left;
    text-align: center;
    width: 380px;
}
#ivo {
    border-top: 9px solid goldenrod;
    height: 9px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
#aloysius table {
    margin: 0 auto;
    width: 800px;
}
#aloysius .def {
    color: lightgreen;
}
#amelia {
    padding: 2ex 1em;
    text-align: right;
}
#amelia select {
    font: 86%/100% "Franklin Gothic Medium",sans-serif;
}
.yellow {
}
.otterley {
}
.donimo {
    color: skyblue;
}
.pandora {
    border-right: 1px dashed deeppink;
    overflow: hidden;
    padding: 1ex 0.5em;
    width: 300px;
}
.pandora a {
    color: skyblue;
    text-decoration: none;
}
.pandora a:hover {
    color: lightgreen;
    text-decoration: none;
}
#cecily {
}
.lorelei {
    border-bottom: 1px dashed deeppink;
    border-top: 1px dashed deeppink;
    color: goldenrod;
    font-size: 120%;
    font-style: italic;
    padding: 0.5ex 1em;
}
input.matchbox {
    font: 100%/100% "Franklin Gothic Medium",sans-serif;
    margin-bottom: 1ex;
    width: 180px;
}
input.hotwheels {
    font: 100%/100% "Franklin Gothic Medium",sans-serif;
    margin-bottom: 1ex;
    width: 30px;
}
submit {
    font: 76%/100% "Franklin Gothic Medium",sans-serif;
    margin-bottom: 1ex;
}
*/