body {
    font: 76%/162% "Franklin Gothic Medium", sans-serif;
    margin: 0;
    background-color: black;
}

a:focus {
    outline:none;
}

.transliterationPartial {
	width: 364px;
    padding: 0 6px;
    margin: 18px 0;
	float: left;
	color: mistyrose;
}

.translationPartial {
	width: 364px;
    padding: 0 6px;
    margin: 18px 0;
	float: left;
	color: mistyrose;
}

.glossaryPartial {
	width: 272px;
    margin: 18px 0;
	overflow: hidden;
}

.iceLizard {
/*    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));*/
    padding: 0 24px 0 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#glossaryTable {
}

#glossaryTable td {
    padding: 0 6px;
}

.kampfult {
    background-color: black;
    position: absolute;
    top: 90px;
    left: 1024px;
    width: 1024px;
    height: 100vh;
    z-index: 298;
}

.tarrasque .firedrake {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    vertical-align: middle;
    color: skyblue;
    padding: 6px;
    text-decoration: none;
    font-family: 'Macondo', cursive;
    z-index: 298;
    font-size: 36px
}

.myconid {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: middle;
    color: mistyrose;
    padding: 12px 6px;
    text-decoration: none;
    font-family: 'Macondo', cursive;
    z-index: 298;
    font-size: 18px;
    width: 30px;
}

.opinicus {
    position: absolute;
    left: 0;
    opacity: .0;    
    font-size: 12px;
    padding-top: px;
    color: skyblue;
}

.gloomwing.opinicus {
    opacity: 1;
}
.obliviax {
    position: absolute;
    right: 0;
|}

.gloomwing {
    -webkit-animation: spin 0.3s linear infinite;
    -moz-animation: spin 0.3s linear infinite;
    animation: spin 0.3s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

.disenchanter {
    position: absolute;
	padding-right: 40px;
}

.disenchanter p {
}

.disenchanter a {
    text-decoration: none;
}

.vilstrack .disenchanter * {
}

.greenSlaad {
	background-color: hsla(342, 100%, 0%, 0.85);
	width: 390px;
	height: 390px;
	position: absolute;
	top: -998px;
	left: 98px;
	border: 1px solid goldenrod;
	display: block;
}

.greenSlaad p {
	color: goldenrod;
	width: inherit;
	cursor: move;
	font-weight: bold;
	padding: 6px 6px 0;
}

.greenSlaad a {
	display: block;
	color: goldenrod;
}

.greenSlaad a:hover {
	color: goldenrod;
}

.closeGreenSlaad {
    font-family: 'Macondo', cursive;
	font-size: 21px;
	margin: 3px 9px 0 0;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
	color: skyblue;
}

.greenSlaad:nth-child(2) {
	left: 198px;
	border: 1px solid orangered;
	color: orangered;
}

.greenSlaad:nth-child(2) a {
	color: orangered;	
}

.greenSlaad:nth-child(2) p {
	color: orangered;
}

.greenSlaad:nth-child(3) {
	left: 258px;
	border: 1px solid orangered;
	color: deeppink;
}

.greenSlaad:nth-child(3) a {
	color: deeppink;	
}

.greenSlaad:nth-child(3) p {
	color: deeppink;
}

.greenSlaad:nth-child(4) {
	left: 298px;
	border: 1px solid lightgreen;
	color: lightgreen;
}

.greenSlaad:nth-child(4) a {
	color: lightgreen;	
}

.greenSlaad:nth-child(4) p {
	color: lightgreen;
}

.greenSlaad:nth-child(5) {
	left: 358px;
	border: 1px solid goldenrod;
	color: goldenrod;
}

.greenSlaad:nth-child(5) a {
	color: goldenrod;	
}

.greenSlaad:nth-child(5) p {
	color: goldenrod;
}

.greenSlaad:nth-child(6) {
	left: 398px;
	border: 1px solid skyblue;
	color: skyblue;
}

.greenSlaad:nth-child(6) a {
	color: skyblue;	
}

.greenSlaad:nth-child(6) p {
	color: skyblue;
}

.greenSlaad:nth-child(7) {
	left: 458px;
	border: 1px solid lightgreen;
	color: lightgreen;
}

.greenSlaad:nth-child(7) a {
	color: lightgreen;	
}

.greenSlaad:nth-child(7) p {
	color: lightgreen;
}

.greenSlaad:nth-child(8) {
	left: 498px;
	border: 1px solid orangered;
	color: orangered;
}

.greenSlaad:nth-child(8) a {
	color: orangered;	
}

.greenSlaad:nth-child(8) p {
	color: orangered;
}

.belashyrra {
	overflow: scroll;
	height: 332px;
	padding: 6px;
}

.pernicon {
    float: left;
}

.hollyphant {
    overflow: hidden;
    height: 100%;
	display: none;
}

.hollyphant > div {
    display: inline-block;
    position: absolute;
}

.hollyphant a {
    display: block;
}

.hollyphant p {
    background-color: black;
    border: 1px solid chartreuse;
    padding: 3px;
    color: chartreuse;
}

.sirine {
	background-color: hsla(0, 0%, 0%, 0.85);
	margin-top: 12px;
	padding: 6px 0 6px 12px;
	position: absolute;
	top: 90px;
	right: -384px;
	border-top: 1px solid deeppink;
	border-bottom: 1px solid deeppink;
	border-left: 1px solid deeppink;
	text-align: left;
	z-index: 297;
}

.sirine p {
	font-weight: bold;
	color: deeppink;
}
.sirine a {
	color: deeppink;
/*	opacity: 0;*/
    margin: 3px 0;
	display: block;
	font: inherit;
	text-decoration: none;
}

.sirine a:hover {
	color: deeppink;
}
	 
/*
.sirine a:nth-child(1):hover {
	color: magenta;
}

.sirine a:nth-child(2):hover {
	color: goldenrod;
}

.sirine a:nth-child(3):hover {
	color: skyblue;
}

.sirine a:nth-child(4):hover {
	color: lightgreen;
}

.sirine a:nth-child(5):hover {
	color: orangered;
}

.sirine a:nth-child(6):hover {
	color: magenta;
}

.sirine a:nth-child(7):hover {
	color: skyblue;
}

.sirine a:nth-child(8):hover {
	color: orangered;
}
*/

.vilstrack .sirine span {
    color: thistle;
    padding: 6px 18px;
}

.swanmay {
}

.hellcat {
    font-size: 24px;
    font-family: 'Macondo', cursive;
    padding: 21px 6px 6px 6px;
    color: goldenrod;
    width: 70%;
}

.planetar {
	font-weight: bold;
    font-size: 18px;
    font-family: 'Macondo', cursive;
	color: goldenrod;
    float: right;
    margin: 30px 72px 0 0;
}

.galebDuhr {
    position: relative;
    top: -4px;
}

.dracolisk {
    font-size: 24px;
	width: 190px;
    padding-top: 3px;
	background-color: #222222;
	color: mistyrose;
	border: 1px solid deeppink;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	margin-left: 6px;
}

.aloysius {
    color: mistyrose;
    margin: 0 auto;
    width: 1024px;
    padding-top: 90px;
    height: 1024px;
}

.beatrix {
    color: skyblue;
}

.pedipalp {
    margin: 0 auto;
    width: 1024px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.tarrasque {
	position: fixed;
	margin: 0 auto;
	width: 1024px;
	height: 90px;
    background-color: black;
    border-bottom: 1px solid deeppink;
}

.diakk {
	background-color: black;
	width: 690px;
    font-size: 14px;
    padding-top: 9px;
    float: left;
	color: white;
}

.lemma {
    color: orangered;
    float: left;
    margin-right: 0.5em;
    text-align: right;
    width: 130px;
}

.def {
    float: left;
    color: lightgreen;
}

.pos {
    color: deeppink;
    margin-right: 0.5em;
}

.notoGlyph {
	color: mistyrose;
    float: left;
	font-size: 18px;
	padding-left: 6px;
}

.notoGlyph span {
	padding: 0 6px;
}

.notoGlyph span.noGlyph {
	padding: 0 1px;
}

.dicGlyph {
	width: 6px;
	padding: 0;
}

.dicLemma {
    color: orangered;
    font-weight: bold;
}
.dicPos {
    color: deeppink;
    font-weight: bold;
}

.dicLabel {
    color: lightgreen;
    font-style: italic;
}

.githzerai .dicLemma,
.githzerai .dicGlyph,
.githzerai .dicPos,
.githzerai .dicLabel {
    color: paleturquoise;
}

.vilstrack {
/*
    overflow: hidden;
    height: 100%;
*/
}

.vilstrack *,
.vilstrack .mistyrose {
    color: lightslategray;
}

.vilstrack .tarrasque {
    border-bottom: 1px solid lightslategray;
}

.vilstrack input {
    border: 1px solid lightslategray;
}

.mistyrose {
    color: mistyrose;
}

.lightpink {
    color: lightpink;
}

.lightsalmon {
    color: lightsalmon;
}

em {
    font-style: italic;
}

/*
body {
    background-color: black;
    border-top: 9px solid deeppink;
    font: 76%/162% "Franklin Gothic Medium",sans-serif;
    margin: 0;
    padding: 0;
}
img {
    border: 0 none;
}
a.rounded {
    background: black none repeat scroll 0 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    color: goldenrod;
    text-decoration: none;
}
a.rounded span {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: -1px 1px;
    padding: 0 2px;
}
a.rounded:hover {
    background: deeppink none repeat scroll 0 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    color: black;
}
a.rounded:hover span {
    border-bottom: 1px solid deeppink;
    border-top: 1px solid deeppink;
}
#corpus {
    position: absolute;
    visibility: visible;
    width: 800px;
    z-index: 4;
}
#yevvyCorpus {
    position: absolute;
    visibility: visible;
    width: 274px;
}
#mannyCorpus {
    position: absolute;
    visibility: visible;
    width: 274px;
}
#yevvyGlossary, #mannyGlossary, #yevvyContents, #mannyContents {
    position: absolute;
    visibility: hidden;
    width: 274px;
}
#yevvyGlossary #glossaryTable {
    width: 274px;
}
#blog {
    position: absolute;
    visibility: hidden;
    z-index: 9;
}
#toptabs {
    padding: 0 3em 1ex 0;
}
#mannysDef {
    float: left;
    text-align: center;
    width: 380px;
}
#ivo {
    border-top: 9px solid goldenrod;
    height: 9px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
#aloysius table {
    margin: 0 auto;
    width: 800px;
}
#aloysius .def {
    color: lightgreen;
}
#amelia {
    padding: 2ex 1em;
    text-align: right;
}
#amelia select {
    font: 86%/100% "Franklin Gothic Medium",sans-serif;
}
.yellow {
}
.otterley {
}
.donimo {
    color: skyblue;
}
.pandora {
    border-right: 1px dashed deeppink;
    overflow: hidden;
    padding: 1ex 0.5em;
    width: 300px;
}
.pandora a {
    color: skyblue;
    text-decoration: none;
}
.pandora a:hover {
    color: lightgreen;
    text-decoration: none;
}
#cecily {
}
.lorelei {
    border-bottom: 1px dashed deeppink;
    border-top: 1px dashed deeppink;
    color: goldenrod;
    font-size: 120%;
    font-style: italic;
    padding: 0.5ex 1em;
}
input.matchbox {
    font: 100%/100% "Franklin Gothic Medium",sans-serif;
    margin-bottom: 1ex;
    width: 180px;
}
input.hotwheels {
    font: 100%/100% "Franklin Gothic Medium",sans-serif;
    margin-bottom: 1ex;
    width: 30px;
}
submit {
    font: 76%/100% "Franklin Gothic Medium",sans-serif;
    margin-bottom: 1ex;
}
*/