<div class="persephone"> ...</div><div class="persephone">
<span class="beatrix">1</span> - <span title="X, , X">X</span> <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title="gub, V, to stand">gub-ba-bi</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title="X, , X">X</span> <span title="U, , U">U</span> <span title="NU, , NU">NU</span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title="X, , X">X</span> <span title="RU, , RU">RU</span> <span title="ME, , ME">ME</span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title="&iacute;l, V, to raise">&iacute;l</span> <span title="X, , X">X</span> <span title="NU, , NU">NU</span> <span title="DU, , DU">DU</span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title="X, , X">X</span> <span title="U, , U">U</span> <span title="NE, , NE">NE</span> <span title="MA, , MA">MA</span> 
</div><div class="persephone"> ...</div><div class="persephone">
<span class="beatrix">1</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="ZU, , ZU">ZU</span> <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="nir, N, authority">nir</span> <span title="&aacute;-t&uacute;k&uacute;, AJ, powerful">&aacute;-tuku</span> <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title=", , "></span> <span title="X, , X">X-er-ra-ju10</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title=", , "></span> <span title="E, , E">E</span> <span title="mah, V, to be majestic">mah-me-en</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title="&ugrave;-m&agrave;, N, triumph">&ugrave;-ma</span> <span title="gig, V, to be ill">gig-ju10</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">8</span> - <span title="BU, , BU">BU</span> <span title="RI, , RI">RI</span> <span title="GUD, , GUD">GUD</span> <span title="KA, , KA">KA</span> <span title="A, , A">A</span> 
</div><div class="persephone">
<span class="beatrix">9</span> - <span title="&ugrave;-m&agrave;, N, triumph">&ugrave;-ma</span> <span title="z&igrave;g, V, to rise">zi-zi-ju10</span> 
</div><div class="persephone">
<span class="beatrix">10</span> - </div><div class="persephone">
<span class="beatrix">11</span> - <span title="utu, N, Utu">(d)utu</span> <span title="gud, N, bull">gud</span> <span title="huc, V, to be reddish">huc</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">12</span> - <span title="utu, N, Utu">(d)utu</span> <span title="ur-saj, N, hero">ur-saj</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">13</span> - <span title="utu, N, Utu">(d)utu</span> <span title="&egrave;, V, to go out or in">&egrave;-ma</span> 
</div><div class="persephone">
<span class="beatrix">14</span> - <span title="&eacute;-g&iacute;4-&aacute;, N, daughter-in-law">&eacute;-gi4-a</span> <span title="&eacute;, N, house(hold)">&eacute;-ta</span> <span title="&egrave;, V, to go out or in">nam-ta-&egrave;</span> 
</div><div class="persephone"> ...</div><div class="persephone">
<span class="beatrix">1</span> - <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">8</span> - <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone"> ...</div><div class="persephone">
<span class="beatrix">1</span> - <span title="dumu, N, child">dumu</span> <span title="lugal, N, king">lugal</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title="an, N, An">an</span> <span title="nam-nir, N, authority">nam-nir-ra</span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title="a-ba, PD, who">a-ba-a</span> <span title="ba-al, V, to dig">mu-un-ba-al-e</span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title="me-a, AV, where">me-a</span> <span title="lu, V, to be abundant">lu</span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title="me-a-am, N, term of endearment">me-am-ra</span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title="lugal, N, king">lugal</span> <span title="h&eacute;-j&aacute;l, N, plenty">h&eacute;-j&aacute;l</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title="c&eacute;mb&iacute;-z&iacute;d, N, kohl">c&eacute;mb&iacute;-zid-da</span> <span title="dar, V, to split">dar-ra</span> 
</div><div class="persephone">
<span class="beatrix">8</span> - <span title="X, , X">X</span> <span title="KA, , KA">KA</span> <span title="NE, , NE">NE</span> <span title="JAR, , &#284;AR">JAR</span> <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">9</span> - <span title="p&agrave;d, V, to find">p&agrave;d-da</span> <span title="&eacute;n-l&iacute;l, N, Enlil">(d)en-l&iacute;l</span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">10</span> - <span title="h&eacute;nd&uacute;r-s&aacute;j-j&aacute;, N, &#7722;endursa&#285;a">(d)hendur-saj</span> <span title="cul, N, young man">cul</span> <span title="ji6, N, night">ji6</span> <span title="jen, V, to go">du-du</span> 
</div><div class="persephone">
<span class="beatrix">11</span> - <span title="X, , X">X</span> <span title="gud, N, bull">gud-gin7</span> 
</div><div class="persephone">
<span class="beatrix">12</span> - <span title=", , "></span> <span title="b&uacute;r1, V, to tear out">b&uacute;r1-b&uacute;r1-re</span> 
</div><div class="persephone">
<span class="beatrix">13</span> - <span title=", , "></span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="br, , br">()</span> 
</div><div class="persephone">
<span class="beatrix">14</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone"> ...</div><div class="persephone">
<span class="beatrix">1</span> - <span title="A, , A">A</span> <span title="Xbr, , Xbr">(X)</span> <span title="h&eacute;-j&aacute;l, N, plenty">h&eacute;-j&aacute;l</span> <span title="NAM, , NAM">NAM</span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="ME, , ME">ME</span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title="AB, , AB">AB</span> <span title="X, , X">X</span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title="X, , X">X</span> <span title="me, V, to be">me-a</span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="NI, , NI">NI</span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="b&aacute;-&uacute;, N, Bau">(d)ba-&uacute;-ju10</span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title="X, , X">X</span> <span title="MU, , MU">MU</span> <span title="X, , X">X</span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">8</span> - <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="X, , X">X</span> 
</div><div class="persephone"> ...</div><div class="persephone">
<span class="beatrix">1</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title=", , "></span> <span title="BU, , BU">BU</span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title=", , "></span> <span title="dugud, V, to be heavy">dugud-ra</span> <span title="me, V, to be">na-nam</span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title=", , "></span> <span title="E, , E">E</span> <span title="X, , X">mu-na-X</span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title=", , ">-ra</span> <span title="ud, N, day(light)">ud</span> <span title="zal, V, to pass">i-ni-in-zal</span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title=", , "></span> <span title="z&igrave;g, V, to rise">z&igrave;g-ga-na</span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title=", , "></span> <span title="hul, V, to be bad">hul-hul</span> 
</div><div class="persephone"> ...</div><div class="persephone">
<span class="beatrix">1</span> - <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title="ME, , ME">ME</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title="&eacute;, N, house(hold)">&eacute;</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title="nin, N, lady">nin</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title="MA, , MA">MA</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone"> ...</div>
