<div class="persephone">
<span class="beatrix">1</span> - <span title="lugal, N, king">lugal-e</span> <span title="mu, N, name">mu-ni</span> <span title="n&iacute;j-&uacute;l, N, distant time">n&iacute;j-ul-c&egrave;</span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title="IR-s&ugrave;&egrave;n, N, Warad-Sn">IR-(d)suen</span> <span title="lugal, N, king">lugal</span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title="&igrave;-n&agrave;-&agrave;b, N, Inab">&igrave;-na-ab</span> <span title="me, V, to be">i-me-a</span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title="juruc, N, young man">juruc</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="c&igrave;r, N, song">c&igrave;r</span> <span title="ra, V, to beat">ra-ra</span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title="&egrave;n-b&agrave;r, N, marsh reed">&egrave;n-bar</span> <span title="gurun, N, fruit">gurun-na</span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title="sa, N, lexical entry">sa</span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title="suen-i-din-na-am, N, Sn-iddinam">(d)suen-i-din-na</span> <span title="lugal, N, king">lugal</span> 
</div><div class="persephone">
<span class="beatrix">8</span> - <span title="di4-di4, V, to be small">di4-di4-l&aacute;</span> <span title="ud, N, day(light)">ud-da</span> 
</div><div class="persephone">
<span class="beatrix">9</span> - <span title="izi, N, fire">izi</span> 
</div><div class="persephone">
<span class="beatrix">10</span> - <span title="in-nin, N, mistress">in-nin</span> <span title="me, N, essence">me</span> <span title="huc, V, to be reddish">huc-a</span> 
</div><div class="persephone">
<span class="beatrix">11</span> - <span title="me-ta, AV, type of time and place adverbial">me-ta-&agrave;m</span> <span title="A, , A">A</span> <span title="TI, , TI">TI</span> 
</div><div class="persephone">
<span class="beatrix">12</span> - <span title="cag4, N, heart">cag4</span> <span title="pisaj, N, basket">pisaj</span> <span title="murub4, N, middle">murub4</span> 
</div><div class="persephone">
<span class="beatrix">13</span> - <span title="lugal, N, king">lugal-e</span> <span title="mu, N, name">mu-ni</span> <span title="n&iacute;j-&uacute;l, N, distant time">n&iacute;j-ul-c&egrave;</span> 
</div><div class="persephone">
<span class="beatrix">14</span> - <span title="en, N, lord">en-e</span> <span title="kur, N, (mountain) land">kur</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="t&igrave;l, V, to live">t&igrave;l-la-c&egrave;</span> 
</div><div class="persephone">
<span class="beatrix">15</span> - <span title="ud, N, storm">ud</span> <span title="huc, V, to be reddish">huc</span> <span title="&aacute;n-&uacute;r, N, horizon">an-&uacute;r-ru</span> 
</div><div class="persephone">
<span class="beatrix">16</span> - <span title="&igrave;-&agrave;, I, type of exclamation">i-a</span> <span title="lum, V, to thrive">l&uacute;-&ugrave;l&ugrave;</span> 
</div><div class="persephone">
<span class="beatrix">17</span> - <span title="nin, N, lady">nin</span> <span title="mul-an, N, heavenly star">mul-an-gin7</span> 
</div><div class="persephone">
<span class="beatrix">18</span> - <span title="&eacute;, N, house(hold)">&eacute;</span> <span title="ud, N, storm">ud</span> <span title="huc, V, to be reddish">huc</span> <span title="an, N, heaven">an</span> <span title="ki, N, place">ki</span> 
</div><div class="persephone">
<span class="beatrix">19</span> - <span title="ugu, N, skull">ugu-ju10</span> 
</div><div class="persephone">
<span class="beatrix">20</span> - <span title="l&ugrave;g&agrave;l-b&agrave;n-d&agrave;, N, Lugalbanda">lugal-b&agrave;n-da</span> 
</div><div class="persephone">
<span class="beatrix">21</span> - <span title="ud, N, storm">ud</span> <span title="ec-bar, N, decision">ec5-bar</span> <span title="k&iacute;j, V, to seek">k&iacute;j</span> 
</div><div class="persephone">
<span class="beatrix">22</span> - <span title="ud-ul-ur11-ru, N, Ud-ul-uru">ud-ul-la</span> 
</div><div class="persephone">
<span class="beatrix">23</span> - <span title="m&aacute;, N, boat">m&aacute;</span> <span title="TE, , TE">TE</span> <span title="n&iacute;j, N, thing">n&iacute;j</span> <span title="KA, , KA">KA</span> <span title="GAG, , GAG">GAG</span> 
</div><div class="persephone">
<span class="beatrix">24</span> - <span title="dumu, N, child">dumu</span> <span title="&eacute;-d&uacute;b-b&aacute;-&aacute;, N, scribal school">&eacute;-dub-ba</span> 
</div><div class="persephone">
<span class="beatrix">25</span> - <span title="cag4, N, heart">cag4</span> <span title="pisaj, N, basket">pisaj</span> <span title="murub4, N, middle">murub4</span> 
</div>
