<div class="persephone">
<span class="beatrix">1</span> - <span title="nin, N, lady">nin</span> <span title="mul-an, N, heavenly star">mul-an-gin7</span> <span title="EN, , EN">EN</span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title="bur-cu-um, N, old woman">bur-c&uacute;m-ma</span> <span title="gal, V, to be big">gal</span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title="z&iacute;-j&aacute;l, N, living creature">zi-j&aacute;l</span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title="lugal, N, king">lugal-me</span> <span title="cag4, N, heart">cag4-ta</span> <span title="ur-saj, N, hero">ur-saj-me-en</span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title="lugal, N, king">lugal</span> <span title="m&iacute;, N, (loving) care">me</span> <span title="dug4, V, to say">dug4-ga</span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title="me-ta, AV, type of time and place adverbial">me-ta-&agrave;m</span> <span title="A, , A">A</span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title="me-ta, AV, type of time and place adverbial">me-ta-&agrave;m</span> <span title="jen, V, to go">im-du</span> 
</div><div class="persephone">
<span class="beatrix">8</span> - <span title="nin, N, lady">nin</span> <span title="me, N, essence">me</span> <span title="c&aacute;r, V, to be numerous">c&aacute;r-ra</span> 
</div><div class="persephone">
<span class="beatrix">9</span> - <span title="en, N, lord">en-e</span> <span title="kur, N, (mountain) land">kur</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="t&igrave;l, V, to live">t&igrave;l-la-c&egrave;</span> 
</div><div class="persephone">
<span class="beatrix">10</span> - <span title="&igrave;-&agrave;, I, type of exclamation">&igrave;-a</span> <span title="lum, V, to thrive">l&uacute;-&ugrave;l&ugrave;</span> 
</div><div class="persephone">
<span class="beatrix">11</span> - <span title="cul, N, young man">cul</span> <span title="m&egrave;, N, battle">m&egrave;-kam</span> 
</div><div class="persephone">
<span class="beatrix">12</span> - <span title="l&uacute;-k&iacute;j-g&iacute;4-&aacute;, N, messenger">l&uacute;-k&iacute;j-gi4-a</span> 
</div><div class="persephone">
<span class="beatrix">13</span> - <span title="in-nin, N, mistress">in-nin</span> <span title="me, N, essence">me</span> <span title="huc, V, to be reddish">huc-a</span> 
</div><div class="persephone">
<span class="beatrix">14</span> - <span title="&eacute;, N, house(hold)">&eacute;</span> <span title="ud, N, storm">ud</span> <span title="huc, V, to be reddish">huc</span> <span title="an, N, heaven">an</span> <span title="ki, N, place">ki</span> 
</div><div class="persephone">
<span class="beatrix">15</span> - <span title="hur-saj, N, mountain (range)">hur-saj</span> <span title="an, N, heaven">an</span> <span title="ki, N, place">ki-bi-da-ke4</span> 
</div><div class="persephone">
<span class="beatrix">16</span> - <span title="&eacute;n-l&iacute;l, N, Enlil">(d)en-l&iacute;l</span> <span title="sud, V, to be distant">s&ugrave;-r&aacute;-c&egrave;</span> 
</div><div class="persephone">
<span class="beatrix">17</span> - <span title="saj-ki, N, forehead">saj-ki</span> <span title="g&iacute;d, V, to be long">g&iacute;d-da</span> 
</div><div class="persephone">
<span class="beatrix">18</span> - <span title="al, N, hoe">al-e</span> <span title="al, N, hoe">al-e</span> 
</div><div class="persephone">
<span class="beatrix">19</span> - <span title="ud, N, day(light)">ud</span> <span title="ul, N, distant time">ul-e</span> <span title="re, PD, that">re-da</span> 
</div><div class="persephone">
<span class="beatrix">20</span> - <span title="k&igrave;-&ugrave;r, N, foundation">ki-&ugrave;r</span> <span title="gal, V, to be big">gal-e</span> 
</div><div class="persephone">
<span class="beatrix">21</span> - <span title="&eacute;-&uacute;6-n&iacute;r, N, E-unir">&eacute;-u4-nir</span> 
</div><div class="persephone">
<span class="beatrix">22</span> - <span title="an, N, An">an-n&eacute;</span> <span title="nam-nir, N, authority">nam-nir-ra</span> 
</div><div class="persephone">
<span class="beatrix">23</span> - <span title="n&aacute;m, N, lord">nam</span> <span title="nun, N, prince">nun-e</span> 
</div><div class="persephone">
<span class="beatrix">24</span> - <span title="n&aacute;m, N, lord">nam</span> <span title="nun, N, prince">nun-e</span> <span title="saj, N, head">saj</span> <span title="&iacute;l, V, to raise">na-&iacute;l</span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">25</span> - <span title="nam-lugal, N, kingship">nam-lugal</span> 
</div><div class="persephone">
<span class="beatrix">26</span> - <span title="cag4, N, heart">cag4-ga-a-ni</span> 
</div><div class="persephone">
<span class="beatrix">27</span> - <span title="an, N, heaven">an</span> <span title="gal, V, to be big">gal-ta</span> <span title="ki, N, place">ki</span> <span title="gal, V, to be big">gal-c&egrave;</span> 
</div><div class="persephone">
<span class="beatrix">28</span> - <span title="ud, N, day(light)">ud</span> <span title="re, PD, that">re-a</span> <span title="nam, N, destiny">nam</span> <span title="tar, V, to cut">ba-tar-ra</span> 
</div><div class="persephone">
<span class="beatrix">29</span> - <span title="ud, N, day(light)">ud</span> <span title="re, PD, that">re-a</span> <span title="ud, N, day(light)">ud</span> <span title="sud, V, to be distant">sud4-ta</span> <span title="re, PD, that">re-a</span> 
</div><div class="persephone">
<span class="beatrix">30</span> - <span title="ud, N, day(light)">ud</span> <span title="re, PD, that">re-a</span> <span title="n&iacute;j-&uacute;l, N, distant time">n&iacute;j-ul-e</span> 
</div><div class="persephone">
<span class="beatrix">31</span> - <span title="UD, , UD">UD</span> <span title="MA, , MA">MA</span> <span title="DAM, , DAM">DAM-DAM</span> <span title="NA, , NA">NA-NA</span> 
</div><div class="persephone">
<span class="beatrix">32</span> - <span title="di4-di4, V, to be small">di4-di4-l&aacute;</span> <span title="ud, N, day(light)">ud-da</span> 
</div><div class="persephone">
<span class="beatrix">33</span> - <span title=", NU, 3"></span> <span title="dumu, N, child">dumu</span> <span title="&eacute;-d&uacute;b-b&aacute;-&aacute;, N, scribal school">&eacute;-dub-ba</span> 
</div><div class="persephone">
<span class="beatrix">34</span> - <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="NI, , NI">NI</span> <span title="IL, , IL">IL</span> 
</div><div class="persephone">
<span class="beatrix">35</span> - <span title="ud-ul-ur11-ru, N, Ud-ul-uru">ud-ul-la-ur11</span> 
</div><div class="persephone">
<span class="beatrix">36</span> - <span title="in-nin, N, mistress">in-nin</span> <span title="me, N, essence">me</span> <span title="gal, V, to be big">gal-gal</span> 
</div><div class="persephone">
<span class="beatrix">37</span> - <span title="ud, N, day(light)">ud</span> <span title="ul, N, distant time">ul</span> <span title="an, N, heaven">an</span> <span title="ki, N, place">ki-ta</span> 
</div><div class="persephone">
<span class="beatrix">38</span> - <span title="LUM, , LUM">LUM</span> <span title="mah, V, to be majestic">mah</span> <span title="ki, N, place">ki-ta</span> 
</div><div class="persephone">
<span class="beatrix">39</span> - <span title="l&ugrave;g&agrave;l-b&agrave;n-d&agrave;, N, Lugalbanda">(d)lugal-b&agrave;n-da</span> 
</div><div class="persephone">
<span class="beatrix">40</span> - <span title="iri, N, town">iri(ki)</span> <span title="gud, N, bull">gud</span> <span title="huc, V, to be reddish">huc</span> 
</div><div class="persephone">
<span class="beatrix">41</span> - <span title="lugal, N, king">lugal</span> <span title="ud, N, storm">ud</span> <span title="me-lem4, N, (awesome) radiance">me-lem4-bi</span> <span title="n&iacute;r-j&aacute;l, AJ, authoritative">nir-j&aacute;l</span> 
</div><div class="persephone">
<span class="beatrix">42</span> - <span title="an, N, An">an-gin7</span> <span title="d&iacute;m, V, to create">d&iacute;m-ma</span> 
</div><div class="persephone">
<span class="beatrix">43</span> - <span title="11, NU, 11">11</span> <span title="lugal, N, king">lugal</span> 
</div><div class="persephone">
<span class="beatrix">44</span> - <span title="t&ugrave;r, N, animal stall">t&ugrave;r-ra-na</span> 
</div><div class="persephone">
<span class="beatrix">45</span> - <span title="ud, N, day(light)">ud</span> <span title="cu, N, hand">cu</span> <span title="bal, V, to turn over">bal</span> <span title="ak, V, to do">ki-ta</span> 
</div><div class="persephone">
<span class="beatrix">46</span> - <span title="ud, N, storm">ud</span> <span title="huc, V, to be reddish">huc</span> <span title="ki-en-gi, N, Sumer">ki-en-gi-ra</span> 
</div><div class="persephone">
<span class="beatrix">47</span> - <span title="ur-saj, N, hero">ur-saj-e</span> 
</div><div class="persephone">
<span class="beatrix">48</span> - <span title="ud, N, day(light)">ud-bi-ta</span> 
</div><div class="persephone">
<span class="beatrix">49</span> - <span title="ud, N, day(light)">ud</span> <span title="an, N, An">an-n&eacute;</span> 
</div><div class="persephone">
<span class="beatrix">50</span> - </div><div class="persephone">
<span class="beatrix">51</span> - <span title="&eacute;n-l&iacute;l, N, Enlil">(d)en-l&iacute;l</span> <span title="dirig, V, to be superior">dirig-c&egrave;</span> 
</div><div class="persephone">
<span class="beatrix">52</span> - <span title="ku6, N, fish">ku6-ju10</span> <span title="&eacute;, N, house(hold)">&eacute;</span> <span title="d&ugrave;, V, to erect">d&ugrave;</span> 
</div><div class="persephone">
<span class="beatrix">53</span> - <span title="ur-saj, N, hero">ur-saj</span> <span title="kur, N, (mountain) land">kur-ra</span> 
</div><div class="persephone">
<span class="beatrix">54</span> - <span title="iri, N, town">iri-&agrave;m</span> <span title="&eacute;r, N, tear">&eacute;r</span> <span title="a-nir, N, lament">a-nir-ra</span> 
</div><div class="persephone">
<span class="beatrix">55</span> - <span title="l&uacute;, N, person">l&uacute;</span> <span title="i-lu, N, (sad) song">i-lu</span> <span title="dug4, V, to say">di</span> 
</div><div class="persephone">
<span class="beatrix">56</span> - <span title="c&uacute;-n&iacute;j&iacute;n, N, total">cu-nijin</span> <span title="67, NU, 67">67</span> 
</div>
