<div class="persephone">
<span class="beatrix">1</span> - <span title="in-nin, N, mistress">in-nin</span> <span title="cag4, N, heart">cag4</span> <span title="gur4, V, to be thick">gur4-ra</span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title="in-nin, N, mistress">in-nin</span> <span title="me, N, essence">me</span> <span title="huc, V, to be reddish">huc-a</span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title="nin, N, lady">nin</span> <span title="me, N, essence">me</span> <span title="c&aacute;r, V, to be numerous">c&aacute;r-ra</span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title="an, N, An">an-e</span> <span title="urac, N, Ura&#353;">(d)urac-e</span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title="in-nin, N, mistress">in-nin</span> <span title="an, N, An">an</span> <span title="gal, V, to be big">gal</span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title="igi, N, eye">igi</span> <span title="A, , A">A</span> <span title="a-nun-na, N, Anuna">(d)a-nu-na</span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title="lugal, N, king">lugal-me-en</span> <span title="cag4, N, heart">cag4-ta</span> 
</div><div class="persephone">
<span class="beatrix">8</span> - <span title="lugal, N, king">lugal</span> <span title="m&iacute;, N, (loving) care">m&iacute;</span> <span title="dug4, V, to say">dug4-ga</span> 
</div><div class="persephone">
<span class="beatrix">9</span> - <span title="en, N, lord">en-e</span> <span title="n&iacute;j-d&uacute;7, N, propriety">n&iacute;j-du7-e</span> 
</div><div class="persephone">
<span class="beatrix">10</span> - <span title="&eacute;n-l&iacute;l, N, Enlil">(d)en-l&iacute;l</span> <span title="sud, V, to be distant">s&ugrave;-r&aacute;-DU-c&egrave;</span> 
</div><div class="persephone">
<span class="beatrix">11</span> - <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="KAL, , KAL">KAL</span> <span title="lugal, N, king">lugal-e</span> <span title="mu, N, name">mu-ni</span> <span title="n&iacute;j-&uacute;l, N, distant time">n&iacute;j-ul-c&egrave;</span> 
</div><div class="persephone">
<span class="beatrix">12</span> - <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="NIM, , NIM">NIM</span> <span title="g&ugrave;r&ugrave;, V, to bear">g&ugrave;r-ra</span> 
</div><div class="persephone">
<span class="beatrix">13</span> - <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="RA, , RA">RA</span> <span title="br, , br">()</span> 
</div><div class="persephone">
<span class="beatrix">14</span> - <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="en, N, lord">en</span> <span title="gal, V, to be big">gal</span> <span title="Xbr, , Xbr">(X)</span> 
</div><div class="persephone">
<span class="beatrix">15</span> - </div><div class="persephone">
<span class="beatrix">16</span> - </div><div class="persephone">
<span class="beatrix">17</span> - </div><div class="persephone">
<span class="beatrix">18</span> - <span title=", , "></span> <span title="BA, , BA">BA</span> <span title="UD, , UD">UD</span> <span title="AC, , A&#352;">AC</span> <span title="GI, , GI">GI</span> <span title="CU, , &#352;U">CU</span> <span title="A, , A">A</span> <span title="KAM, , KAM">KAM</span> 
</div><div class="persephone">
<span class="beatrix">19</span> - <span title="ud, N, day(light)">ud</span> <span title="re, PD, that">re-a</span> <span title="curuppag, N, &#352;uruppag">curuppag(ki)</span> 
</div><div class="persephone">
<span class="beatrix">20</span> - <span title="ud, N, day(light)">ud</span> <span title="re, PD, that">re-a</span> <span title="n&iacute;j-&uacute;l, N, distant time">n&iacute;j-ul-e</span> 
</div><div class="persephone">
<span class="beatrix">21</span> - <span title="ud, N, day(light)">ud</span> <span title="&uacute;l-l&eacute;-&aacute;, N, distant time">ul-l&eacute;-a-ta</span> <span title="ud, N, day(light)">ud</span> <span title="zal, V, to pass">ba-zal-la-ta</span> 
</div><div class="persephone">
<span class="beatrix">22</span> - <span title="ud-ul-ur11-ru, N, Ud-ul-uru">ud-ul-ur11-e</span> <span title="dumu, N, child">dumu-na</span> <span title="na, N, advice">na</span> <span title="de5, V, to collect">mu-un-de5-ga</span> 
</div><div class="persephone">
<span class="beatrix">23</span> - <span title="ud, N, day(light)">ud</span> <span title="&uacute;l-l&eacute;-&aacute;, N, distant time">ul-l&eacute;-a-ta</span> <span title="ud, N, day(light)">ud</span> <span title="dijir, N, deity">dijir-re-e-ne</span> <span title="kalam, N, the Land">kalam-ma</span> <span title="X, , X">mu-un-X-a-X</span> 
</div><div class="persephone">
<span class="beatrix">24</span> - <span title="ud, N, day(light)">ud</span> <span title="re, PD, that">re-a</span> <span title="nam, N, destiny">nam</span> <span title="tar, V, to cut">ba-tar-ra-ba</span> 
</div><div class="persephone">
<span class="beatrix">25</span> - <span title="10, NU, 10">10</span> <span title="&ugrave;-n&agrave;-&agrave;-d&ugrave;g4, N, letter">&ugrave;-ne-e-dug4</span> <span title="cul-gi, N, &#352;ulgi">(d)cul-gi</span> 
</div><div class="persephone">
<span class="beatrix">26</span> - <span title="cu-suen, N, &#352;u-Suen">(d)cu-(d)suen</span> <span title="lugal, N, king">lugal</span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="Xbr, , Xbr">(X)</span> <span title="mah, V, to be majestic">mah</span> <span title="dug4, V, to say">&ugrave;-na-a-dug4</span> 
</div><div class="persephone">
<span class="beatrix">27</span> - <span title="su-mu-la-el, N, Sumulael">(d)su-mu-la-el</span> <span title="lugal, N, king">lugal-ju10-ra</span> <span title="dug4, V, to say">&ugrave;-na-a-dug4</span> 
</div><div class="persephone">
<span class="beatrix">28</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="A, , A">A</span> 
</div><div class="persephone">
<span class="beatrix">29</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="A, , A">A</span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">30</span> - <span title=", , "></span> <span title="am-si, N, elephant">am-si</span> <span title="n&iacute;-t&eacute;-&aacute;-n&iacute;, PD, himself, herself">n&iacute;-te-na</span> 
</div><div class="persephone">
<span class="beatrix">31</span> - <span title=", , "></span> <span title="X, V, X">&ugrave;-ne-X</span> 
</div><div class="persephone">
<span class="beatrix">32</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="lugal, N, king">lugal</span> <span title="j&iacute;c-g&iacute;d-d&aacute;, N, type of spear?">jic-g&iacute;d-da</span> <span title="BU, , BU">BU</span> <span title="X, , X">X</span> <span title="BI, , BI">BI</span> 
</div><div class="persephone">
<span class="beatrix">33</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">34</span> - <span title=", , "></span> <span title="cag4, N, heart">cag4</span> <span title="BA, , BA">BA</span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">35</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="IN, , IN">IN</span> <span title="AN, , AN">AN</span> <span title="X, , X">X</span> <span title="BI, , BI">BI</span> 
</div>
