<div class="persephone">
<span class="beatrix">1</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title=", , "></span> <span title="dug4, V, to say">im-me</span> <span title="&eacute;r, V, to shed tear">&agrave;m-ma-&eacute;r-ra-bi</span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title=", , "></span> <span title="balaj, N, type of instrument and composition">balaj</span> <span title="nin-X, N, Nin-X">(d)nin-X</span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title=", , "></span> <span title="DU, , DU">DU</span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title=", , "></span> <span title="il-la-lum, I, soothing expression">il-la-lum</span> <span title="Xbr, , Xbr">(X)</span> <span title="a, I, soothing expression">a</span> <span title="il-la-lum, I, soothing expression">il-la-lum</span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title=", , "></span> <span title="balaj, N, type of instrument and composition">balaj</span> <span title="suen, N, Suen">(d)suen</span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title="t&igrave;l, V, to live">nu-t&igrave;l</span> <span title="kur, N, (mountain) land">kur-ra-na</span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title="1, NU, 1">1</span> <span title="c&igrave;r-n&agrave;m-c&ugrave;b, N, type of composition">c&igrave;r-nam-cu-ub</span> <span title="X, N, unclear">(d)</span> 
</div><div class="persephone">
<span class="beatrix">8</span> - <span title="1, NU, 1">1</span> <span title="balaj, N, type of instrument and composition">balaj</span> <span title="1, NU, 1">1</span> <span title="c&igrave;r-n&agrave;m-c&ugrave;b, N, type of composition">c&igrave;r-nam-cu-ub</span> <span title="suen, N, Suen">(d)suen</span> 
</div><div class="persephone">
<span class="beatrix">9</span> - <span title="1, NU, 1">1</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">10</span> - <span title="en, N, lord">en</span> <span title="zu, V, to know">zu</span> <span title="s&aacute;, N, advice">s&aacute;</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="zu, V, to know">mu-un-zu</span> 
</div><div class="persephone">
<span class="beatrix">11</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title=", , "></span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">12</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="KU, , KU">KU</span> <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">13</span> - <span title=", , "></span> <span title="A, , A">A</span> <span title=", , "></span> 
</div><div class="persephone"> ...</div><div class="persephone">
<span class="beatrix">15</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone"> ...</div><div class="persephone">
<span class="beatrix">1</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title=", , "></span> <span title="LU, , LU">LU</span> <span title="I, , I">I</span> <span title="AN, , AN">AN</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="I, , I">I</span> <span title="ME, , ME">ME</span> <span title="A, , A">A</span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="i-lu, N, (sad) song">i-lu</span> <span title="NA, , NA">NA</span> <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title=", NU, 3"></span> <span title="&eacute;r-c&eacute;m3&egrave;r2-c&egrave;m, N, type of song">&eacute;r-c&egrave;m</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title="X, , X">X</span> <span title=", , "></span> <span title="A, , A">A</span> <span title="AN, , AN">AN</span> <span title="X, , X">X</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title=", , "></span> <span title="1, NU, 1">1</span> <span title="c&igrave;r-n&agrave;m-c&ugrave;b, N, type of composition">c&igrave;r-nam-cu-ub</span> <span title=", , "></span> 
</div><div class="persephone">
<span class="beatrix">8</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="zal, V, to pass">ib-zal</span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="br, , br">()</span> 
</div><div class="persephone">
<span class="beatrix">9</span> - <span title=", , "></span> <span title="HI, , &#7722;I">HI</span> <span title="KI, , KI">KI</span> <span title="irigal, N, underworld">iri-gal</span> 
</div><div class="persephone">
<span class="beatrix">10</span> - <span title=", , "></span> <span title="jar, V, to place">jar-ra</span> <span title="DU, V, DU">na-an-DU</span> 
</div><div class="persephone">
<span class="beatrix">11</span> - <span title=", , "></span> <span title=", NU, 3"></span> <span title="c&igrave;r-n&agrave;m-c&ugrave;b, N, type of composition">c&igrave;r-nam-cu-ub</span> <span title="dijir-mah, N, Di&#285;ir-ma&#7723;">dijir-mah</span> 
</div><div class="persephone">
<span class="beatrix">12</span> - <span title=", , "></span> <span title="HI, , &#7722;I">HI</span> <span title="KI, , KI">KI</span> <span title="br, , br">()</span> 
</div><div class="persephone">
<span class="beatrix">13</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="AD, , AD">AD</span> <span title="MU, , MU">MU</span> <span title=", , "></span> <span title="gul, V, to destroy">gul-gul</span> 
</div><div class="persephone">
<span class="beatrix">14</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title=", , "></span> <span title="A, , A">A</span> 
</div><div class="persephone">
<span class="beatrix">15</span> - <span title=", , "></span> <span title="nam, N, destiny">nam</span> <span title="tar, V, to cut">tar-tar-re</span> 
</div><div class="persephone">
<span class="beatrix">16</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="a-ma-ru, N, flood">a-ma-ru</span> <span title="me, V, to be">na-nam</span> 
</div><div class="persephone">
<span class="beatrix">17</span> - <span title=", , "></span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="zu, V, to know">mu-un-zu</span> 
</div><div class="persephone">
<span class="beatrix">18</span> - <span title=", , "></span> <span title="&eacute;r-c&eacute;m3&egrave;r2-c&egrave;m, N, type of song">&eacute;r-c&egrave;m</span> <span title="nin-urta, N, Ninurta">(d)nin-urta</span> 
</div><div class="persephone">
<span class="beatrix">19</span> - <span title=", , ">-li-ia</span> <span title="X, , X">X</span> <span title="NI, , NI">NI</span> <span title="zu, V, to know">mu-un-zu</span> 
</div><div class="persephone">
<span class="beatrix">20</span> - <span title=", , "></span> <span title="SU, , SU">SU</span> 
</div><div class="persephone">
<span class="beatrix">21</span> - <span title=", , "></span> <span title="&eacute;r-c&eacute;m3&egrave;r2-c&egrave;m, N, type of song">&eacute;r-c&egrave;m</span> <span title="dijir-mah, N, Di&#285;ir-ma&#7723;">dijir-mah</span> 
</div><div class="persephone">
<span class="beatrix">22</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="bar, V, to set aside">mu-bar-ra</span> 
</div>
