<div class="persephone">
<span class="beatrix">1</span> - <span title="lugal, N, king">lugal-me-en</span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title="lugal, N, king">lugal</span> <span title="m&iacute;, N, (loving) care">m&iacute;</span> <span title="dug4, V, to say">dug4</span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title="en, N, lord">en-e</span> <span title="n&iacute;j-d&uacute;7, N, propriety">n&iacute;j</span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title="nin, N, lady">nin</span> <span title="me, N, essence">me</span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title="bur-cu-um, N, old woman">bur-cu</span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title="dumu, N, child">dumu</span> <span title="&eacute;-d&uacute;b-b&aacute;-&aacute;, N, scribal school">&eacute;</span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title="dumu, N, child">dumu</span> <span title="&eacute;-d&uacute;b-b&aacute;-&aacute;, N, scribal school">&eacute;</span> 
</div><div class="persephone">
<span class="beatrix">8</span> - <span title="dumu, N, child">dumu</span> <span title="&eacute;-d&uacute;b-b&aacute;-&aacute;, N, scribal school">&eacute;</span> 
</div><div class="persephone">
<span class="beatrix">9</span> - <span title="NAM, , NAM">NAM</span> 
</div><div class="persephone">
<span class="beatrix">10</span> - <span title="inana, N, Inana">(d)inana</span> 
</div><div class="persephone">
<span class="beatrix">11</span> - <span title="cag4, N, heart">cag4-ga</span> <span title="AN, , AN">AN</span> 
</div><div class="persephone">
<span class="beatrix">12</span> - <span title="in-nin, N, mistress">in-nin</span> 
</div><div class="persephone">
<span class="beatrix">13</span> - <span title="&eacute;-&uacute;6-n&iacute;r, N, E-unir">u6</span> 
</div><div class="persephone"> ...</div><div class="persephone">
<span class="beatrix">1</span> - <span title="DIC, , DI&#352;">DIC</span> <span title="a-a, N, type of scribal exercise">a</span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title="DIC, , DI&#352;">DIC</span> <span title="an, N, An">an</span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title="tackarin, N, box tree">tackarin</span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title="gacam, N, type of reed">gacam</span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title="udu, N, sheep">udu</span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title="ka-gen6-na, N, type of stone">ka-gen6-na</span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title="ZI, , ZI">ZI</span> <span title="DU8, , DU">DU8</span> 
</div><div class="persephone">
<span class="beatrix">8</span> - <span title="l&uacute;, N, person">l&uacute;</span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">9</span> - <span title="NE, , NE">NE</span> <span title="BI, , BI">BI</span> 
</div><div class="persephone">
<span class="beatrix">10</span> - <span title="X, , X">X</span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">11</span> - <span title="X, , X">X</span> <span title="X, , X">X</span> 
</div><div class="persephone"> ...</div>
