<div class="persephone">
<span class="beatrix">1</span> - <span title="dub-saj, N, front (person)">dub-saj-ta</span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title="en-ki, N, Enki">(d)en-ki</span> <span title="&uacute;n&uacute;, N, (dining) hall">&uacute;n&uacute;</span> <span title="gal, V, to be big">gal</span> <span title="&egrave;d, V, to go down or up">im-&egrave;d</span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title="an-zag, N, border of heaven">an-zag-c&egrave;</span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title="an-ji6, N, eclipse">an-ji6</span> <span title="zu, V, to know">zu</span> <span title="ama, N, mother">ama</span> <span title="tu6, N, incantation">tu6</span> <span title="zu, V, to know">zu-ke4</span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title="jic-gi, N, reedbed">jic-gi</span> <span title="tuku4, V, to shake">tuku4-e</span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title="AN, , AN">AN</span> <span title="KAC4, , KA&#352;">KAC4</span> <span title="AN, , AN">AN</span> <span title="KAC4, , KA&#352;">KAC4</span> <span title="m&egrave;, N, battle">m&egrave;-ke4</span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title="mac-mac, N, sorcerer">mac-mac</span> <span title="&eacute;r&iacute;m, N, enemy">&eacute;r&iacute;m</span> <span title="k&uacute;r, V, to be different">k&uacute;r-k&uacute;r</span> 
</div><div class="persephone">
<span class="beatrix">8</span> - <span title="j&igrave;r&igrave;-j&egrave;n-n&agrave;, N, procedure">j&igrave;r&igrave;-jen-na</span> <span title="en-ki, N, Enki">(d)en-ki</span> <span title="ki, N, place">ki</span> <span title="&uacute;n&uacute;, N, (dining) hall">&uacute;n&uacute;</span> <span title="gal, V, to be big">gal</span> <span title="&egrave;d, V, to go down or up">im-&egrave;d-kam</span> 
</div><div class="persephone">
<span class="beatrix">9</span> - <span title="cag4, N, heart">cag4</span> <span title="PU, , PU">PU</span> <span title="1-kam-ma, NU, 1st">1(AC)-kam</span> 
</div><div class="persephone">
<span class="beatrix">10</span> - <span title="dub-saj, N, front (person)">dub-saj-ta</span> 
</div><div class="persephone">
<span class="beatrix">11</span> - <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="kaskal, N, (high)way">kaskal-la</span> <span title="7, NU, 7">7(IMIN)</span> <span title="me, V, to be">me-c&egrave;</span> 
</div><div class="persephone">
<span class="beatrix">12</span> - <span title="li-li-a, N, Lilia">(d)li-li-a-ke4</span> 
</div><div class="persephone">
<span class="beatrix">13</span> - <span title="igi, N, eye">igi</span> <span title="X, , X">X</span> <span title="7, NU, 7">7(IMIN)-na</span> <span title="kur9, V, to enter">in-kur9-re-en</span> 
</div><div class="persephone">
<span class="beatrix">14</span> - <span title="cul, N, young man">cul</span> <span title="&aacute;, N, arm">&aacute;</span> <span title="l&aacute;, V, to hang">h&eacute;-l&aacute;</span> 
</div><div class="persephone">
<span class="beatrix">15</span> - <span title="gu, N, (flax) thread">gu</span> <span title="DI, , DI">DI</span> <span title="sig10, V, to place">sig10-ga</span> <span title="CA, , &#352;A">CA</span> <span title="gal, V, to be big">gal-kam</span> 
</div><div class="persephone">
<span class="beatrix">16</span> - <span title="j&igrave;r&igrave;-j&egrave;n-n&agrave;, N, procedure">j&igrave;r&igrave;-jen-na</span> <span title="li-li-a, N, Lilia">(d)li-li-a-kam</span> 
</div><div class="persephone">
<span class="beatrix">17</span> - <span title="cag4, N, heart">cag4</span> <span title="PU, , PU">PU</span> <span title="1-kam-ma, NU, 1st">1(AC)-kam</span> 
</div><div class="persephone">
<span class="beatrix">18</span> - <span title="j&igrave;r&igrave;, N, foot">j&igrave;r&igrave;</span> <span title="IC, , I&#352;">IC</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="inim, N, word">inim</span> <span title="zid, AJ, right">zid-da</span> <span title="GA, , GA">GA</span> <span title="KAX, , KAX">KAX</span> <span title="BA, , BA">BA</span> 
</div><div class="persephone">
<span class="beatrix">19</span> - <span title="j&igrave;r&igrave;-j&egrave;n-n&agrave;, N, procedure">j&igrave;r&igrave;-jen-na-bi</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="p&agrave;d, V, to find">nu-da-p&agrave;d</span> 
</div><div class="persephone">
<span class="beatrix">20</span> - <span title="j&igrave;r&igrave;-j&egrave;n-n&agrave;, N, procedure">j&igrave;r&igrave;-jen-na</span> 
</div><div class="persephone">
<span class="beatrix">21</span> - <span title="iri-bal, N, rebel town">iri-bal-a</span> <span title="&aacute;c, N, curse">&aacute;c</span> <span title="dug4, V, to say">di-da-kam</span> 
</div>
