<div class="persephone">
<span class="beatrix">1</span> - <span title="k&igrave;-&ugrave;r, N, foundation">ki-&ugrave;r</span> <span title="gal, V, to be big">gal-e</span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title="ce-er-zid, N, radiance">ce-er-zid</span> <span title="ZI, , ZI">ZI</span> <span title="IM, , IM">IM</span> <span title="X, , X">X</span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title="ur-saj, N, hero">ur-saj</span> <span title="&aacute;-j&aacute;l, AJ, strong">&aacute;-j&aacute;l</span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title="l&uacute;, N, person">l&uacute;</span> <span title="l&uacute;, N, person">l&uacute;-l&uacute;</span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title="j&eacute;6, PD, I">j&aacute;-&agrave;m</span> <span title="b&aacute;-&uacute;, N, Bau">(d)ba-&uacute;-ju10</span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title="en, N, lord">en</span> <span title="inim, N, word">inim</span> <span title="nun, N, prince">nun</span> <span title="zu, V, to know">zu</span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title="ur-saj, N, hero">ur-saj</span> <span title="n&aacute;m-h&eacute;, N, abundance">nam-h&eacute;-a</span> 
</div><div class="persephone">
<span class="beatrix">8</span> - <span title="ur-saj, N, hero">ur-saj</span> <span title="en, N, lord">en</span> <span title="ud, N, storm">ud</span> <span title="huc, V, to be reddish">huc</span> 
</div><div class="persephone">
<span class="beatrix">9</span> - <span title="ur-saj, N, hero">ur-saj</span> <span title="j&eacute;6, PD, I">j&eacute;6-e</span> 
</div><div class="persephone">
<span class="beatrix">10</span> - <span title="en, N, lord">en</span> <span title="me, N, essence">me</span> <span title="kug, AJ, shining">kug-kug-ga</span> 
</div><div class="persephone">
<span class="beatrix">11</span> - <span title="ur-saj, N, hero">ur-saj</span> <span title="en, N, lord">en</span> <span title="n&iacute;r-j&aacute;l, AJ, authoritative">nir-j&aacute;l</span> <span title="en, N, lord">en</span> 
</div><div class="persephone">
<span class="beatrix">12</span> - <span title=", , "></span> <span title="MA, , MA">MA</span> 
</div><div class="persephone">
<span class="beatrix">13</span> - <span title=", , "></span> <span title="X, , X">X</span> 
</div><div class="persephone"> ...</div><div class="persephone">
<span class="beatrix">1</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="EN, , EN">EN</span> <span title="X, , X">X</span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="IM, , IM">IM</span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="GAL, , GAL">GAL</span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title="ur, N, man">ur</span> <span title="lamma, N, guardian deity">(d)lamma</span> 
</div><div class="persephone">
<span class="beatrix">5</span> - </div><div class="persephone">
<span class="beatrix">6</span> - <span title="ama, N, mother">ama-da</span> <span title="me, V, to be">nu-me-a</span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title="dub, N, tablet">dub</span> <span title="hi, V, to mix up">hi-a</span> 
</div><div class="persephone">
<span class="beatrix">8</span> - <span title="dub, N, tablet">dub</span> 
</div>
