<div class="persephone">
<span class="beatrix">1</span> - <span title="lugal, N, king">lugal-me-en</span> <span title="cag4, N, heart">cag4-ta</span> 
</div><div class="persephone">
<span class="beatrix">2</span> - <span title="lugal, N, king">lugal</span> <span title="m&iacute;, N, (loving) care">m&iacute;</span> <span title="dug4, V, to say">dug4-ga</span> 
</div><div class="persephone">
<span class="beatrix">3</span> - <span title="en, N, lord">en-e</span> <span title="n&iacute;j-d&uacute;7, N, propriety">n&iacute;j-du7-e</span> 
</div><div class="persephone">
<span class="beatrix">4</span> - <span title="nin, N, lady">nin</span> <span title="me, N, essence">me</span> <span title="c&aacute;r, V, to be numerous">c&aacute;r-ra</span> 
</div><div class="persephone">
<span class="beatrix">5</span> - <span title="&eacute;n-l&iacute;l, N, Enlil">(d)en-l&iacute;l</span> <span title="sud, V, to be distant">s&ugrave;-r&aacute;-c&egrave;</span> 
</div><div class="persephone">
<span class="beatrix">6</span> - <span title="n&aacute;m, N, lord">n&aacute;m</span> <span title="nun, N, prince">nun-e</span> 
</div><div class="persephone">
<span class="beatrix">7</span> - <span title="ud, N, day(light)">ud</span> <span title="re, PD, that">re-a</span> 
</div><div class="persephone">
<span class="beatrix">8</span> - <span title="in-nin, N, mistress">in-nin</span> <span title="me, N, essence">me</span> <span title="huc, V, to be reddish">huc-a</span> 
</div><div class="persephone">
<span class="beatrix">9</span> - <span title="&eacute;, N, house(hold)">&eacute;</span> <span title="ud, N, storm">ud</span> <span title="huc, V, to be reddish">huc</span> <span title="an, N, heaven">an</span> <span title="ki, N, place">ki</span> 
</div><div class="persephone">
<span class="beatrix">10</span> - <span title="en, N, lord">en-e</span> <span title="kur, N, (mountain) land">kur</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="t&igrave;l, V, to live">t&igrave;l-la-c&egrave;</span> 
</div><div class="persephone">
<span class="beatrix">11</span> - <span title="cul, N, young man">cul</span> <span title="m&egrave;, N, battle">m&egrave;-ka</span> 
</div><div class="persephone">
<span class="beatrix">12</span> - <span title="l&uacute;-k&iacute;j-g&iacute;4-&aacute;, N, messenger">l&uacute;-k&iacute;j-gi4-a</span> <span title="ag-ga, N, Aga">ag</span> 
</div><div class="persephone">
<span class="beatrix">13</span> - <span title="gud-dam, N, Gudam">gud-dam</span> <span title="iri, N, town">iri(ki)</span> 
</div><div class="persephone">
<span class="beatrix">14</span> - <span title="&igrave;-&agrave;, I, type of exclamation">&igrave;-a</span> <span title="lum, V, to thrive">lum-lum</span> 
</div><div class="persephone">
<span class="beatrix">15</span> - <span title="bur-cu-um, N, old woman">bur-cu-ma</span> <span title="gal, V, to be big">gal</span> 
</div><div class="persephone">
<span class="beatrix">16</span> - <span title="ku6, N, fish">ku6-ju10</span> <span title="&eacute;, N, house(hold)">&eacute;</span> <span title="d&ugrave;, V, to erect">d&ugrave;</span> 
</div><div class="persephone">
<span class="beatrix">17</span> - <span title="hur-saj, N, mountain (range)">hur-saj</span> <span title="an, N, heaven">an</span> <span title="ki, N, place">ki-bi-da</span> 
</div><div class="persephone">
<span class="beatrix">18</span> - <span title="saj-ki, N, forehead">saj-ki</span> <span title="g&iacute;d, V, to be long">g&iacute;d-da</span> 
</div><div class="persephone">
<span class="beatrix">19</span> - <span title="edin, N, open country">edin</span> <span title="i-lu, N, (sad) song">i-lu</span> <span title="jar, V, to place">jar-&ugrave;</span> 
</div><div class="persephone">
<span class="beatrix">20</span> - <span title="ud, N, day(light)">ud</span> <span title="re, PD, that">re-a</span> 
</div><div class="persephone">
<span class="beatrix">21</span> - <span title="ud, N, day(light)">ud</span> <span title="re, PD, that">re-a</span> 
</div><div class="persephone">
<span class="beatrix">22</span> - <span title="iri, N, town">iri</span> <span title="me, V, to be">na-nam</span> 
</div><div class="persephone">
<span class="beatrix">23</span> - <span title="nin, N, lady">nin</span> <span title="me, N, essence">me</span> <span title="zid, AJ, right">zid-da</span> 
</div><div class="persephone">
<span class="beatrix">24</span> - <span title="iri, N, town">iri</span> <span title="me, V, to be">na-nam</span> 
</div><div class="persephone">
<span class="beatrix">25</span> - <span title="e, I, vocative expression">e</span> <span title="al, N, hoe">al-e</span> <span title="al, N, hoe">al-e</span> 
</div><div class="persephone">
<span class="beatrix">26</span> - <span title="lugal, N, king">lugal-e</span> <span title="mu, N, name">mu-ni</span> <span title="n&iacute;j-&uacute;l, N, distant time">n&iacute;j-ul-e</span> 
</div><div class="persephone">
<span class="beatrix">27</span> - <span title="ud, N, day(light)">ud</span> <span title="ul, N, distant time">ul</span> <span title="re, PD, that">re-ta</span> 
</div><div class="persephone">
<span class="beatrix">28</span> - <span title="k&igrave;-&ugrave;r, N, foundation">ki-&ugrave;r</span> <span title="gal, V, to be big">gal-e</span> 
</div><div class="persephone">
<span class="beatrix">29</span> - <span title="an, N, An">an-n&eacute;</span> <span title="n&aacute;m-n&iacute;r-j&aacute;l, N, authority">nam-nir-j&aacute;l</span> 
</div><div class="persephone">
<span class="beatrix">30</span> - <span title="jic-gi, N, reedbed">jic-gi</span> <span title="a-na, PD, what">a-na</span> <span title="g&ugrave;, N, voice">g&ugrave;</span> <span title="d&eacute;, V, to pour">mu-un-d&eacute;</span> 
</div><div class="persephone">
<span class="beatrix">31</span> - <span title="u5, N, pelican?">u5</span> <span title="jic-gi, N, reedbed">jic-gi</span> <span title="kug, AJ, shining">kug-ta</span> 
</div><div class="persephone">
<span class="beatrix">32</span> - <span title="t&ugrave;r, N, animal stall">t&ugrave;r-ra-na</span> 
</div><div class="persephone">
<span class="beatrix">33</span> - <span title="t&ugrave;r, N, animal stall">t&ugrave;r</span> <span title="me, N, essence">me</span> <span title="nun, N, prince">nun-e</span> 
</div><div class="persephone">
<span class="beatrix">34</span> - <span title="ud, N, day(light)">ud</span> <span title="cu, N, hand">cu</span> <span title="bal, V, to turn over">bal</span> <span title="ak, V, to do">ak-d&egrave;</span> 
</div><div class="persephone">
<span class="beatrix">35</span> - <span title="iri, N, town">iri</span> <span title="me, N, essence">me</span> <span title="zid, AJ, right">zid-da</span> 
</div><div class="persephone">
<span class="beatrix">36</span> - <span title="ud, N, storm">ud</span> <span title="huc, V, to be reddish">huc</span> <span title="ki-en-gi, N, Sumer">ki-en-gi-ra</span> 
</div><div class="persephone">
<span class="beatrix">37</span> - <span title="ud, N, storm">ud</span> <span title="huc, V, to be reddish">huc</span> <span title="&aacute;n-&uacute;r, N, horizon">an-&uacute;r-ra</span> 
</div><div class="persephone">
<span class="beatrix">38</span> - <span title="ud, N, day(light)">ud</span> <span title="ul, N, distant time">ul</span> <span title="an, N, heaven">an</span> <span title="ki, N, place">ki-ta</span> 
</div><div class="persephone">
<span class="beatrix">39</span> - <span title="l&ugrave;g&agrave;l-b&agrave;n-d&agrave;, N, Lugalbanda">lugal-b&agrave;n-da</span> 
</div><div class="persephone">
<span class="beatrix">40</span> - <span title="c&eacute;g1, N, brick(work)">c&eacute;g1</span> <span title="kur, N, (mountain) land">kur</span> <span title="cuba, AJ, shining">cuba-ta</span> 
</div><div class="persephone">
<span class="beatrix">41</span> - <span title="an, N, heaven">an</span> <span title="gal, V, to be big">gal-ta</span> <span title="ki, N, place">ki</span> <span title="gal, V, to be big">gal-c&egrave;</span> 
</div><div class="persephone">
<span class="beatrix">42</span> - <span title="en, N, lord">en</span> <span title="mah-di, AJ, illustrious">mah-di</span> <span title="an, N, heaven">an</span> <span title="ki, N, place">ki</span> 
</div><div class="persephone">
<span class="beatrix">43</span> - <span title="&egrave;n-b&agrave;r, N, marsh reed">&egrave;n-bar-ra</span> <span title="gurun, N, fruit">gurun-na</span> 
</div><div class="persephone">
<span class="beatrix">44</span> - <span title="in-nin, N, mistress">in-nin</span> <span title="me, N, essence">me</span> <span title="gal, V, to be big">gal-gal-la</span> 
</div><div class="persephone">
<span class="beatrix">45</span> - <span title="ud, N, day(light)">ud</span> <span title="gal, V, to be big">gal</span> <span title="pirij, N, lion">pirij</span> <span title="an, N, heaven">an-na</span> 
</div><div class="persephone">
<span class="beatrix">46</span> - <span title="en, N, lord">en</span> <span title="gal, V, to be big">gal</span> <span title="men, N, diadem">men</span> <span title="g&ugrave;r&ugrave;, V, to bear">g&ugrave;r-ru</span> <span title="kul-aba, N, Kulaba">kul-aba(ki)</span> 
</div><div class="persephone">
<span class="beatrix">47</span> - <span title="n&aacute;m, N, lord">n&aacute;m</span> <span title="nun, N, prince">nun-e</span> 
</div><div class="persephone">
<span class="beatrix">48</span> - <span title="iri, N, town">iri</span> <span title="gud, N, bull">gud</span> <span title="huc, V, to be reddish">huc</span> 
</div><div class="persephone">
<span class="beatrix">49</span> - <span title="&eacute;-&uacute;6-n&iacute;r, N, E-unir">&eacute;-u6-nir</span> 
</div><div class="persephone">
<span class="beatrix">50</span> - <span title="m&egrave;-c&egrave;, AV, where">me-c&egrave;-&agrave;m</span> <span title="jen, V, to go">&igrave;-du-d&egrave;-en</span> 
</div><div class="persephone">
<span class="beatrix">51</span> - <span title="jen, V, to go">j&aacute;-nu</span> <span title="ki, N, place">ki-ju10-c&egrave;</span> 
</div><div class="persephone">
<span class="beatrix">52</span> - <span title="jen, V, to go">j&aacute;-nu</span> <span title="ga-na, I, directive expression">ga-na</span> <span title="s&aacute;, V, to equal">ga-ab-s&aacute;-s&aacute;-en-d&egrave;-en</span> 
</div><div class="persephone">
<span class="beatrix">53</span> - <span title="ud-ul-ur11-ru, N, Ud-ul-uru">ud-ul-ur11-ra</span> 
</div><div class="persephone">
<span class="beatrix">54</span> - <span title="me-ta, AV, type of time and place adverbial">me-ta-&agrave;m</span> <span title="jen, V, to go">&agrave;m-du-un</span> 
</div><div class="persephone">
<span class="beatrix">55</span> - <span title="me-ta, AV, type of time and place adverbial">me-ta-&agrave;m</span> 
</div><div class="persephone">
<span class="beatrix">56</span> - <span title="eme-gir15, N, Sumerian language">eme-gir15</span> <span title="zu, V, to know">e-zu-&ugrave;</span> 
</div><div class="persephone">
<span class="beatrix">57</span> - <span title="a-na, PD, what">a-na-&agrave;m</span> <span title="&aacute;, N, arm">&aacute;</span> <span title="&aacute;j, V, to measure">&aacute;j-j&aacute;</span> 
</div><div class="persephone">
<span class="beatrix">58</span> - <span title="di4-di4, V, to be small">di4-di4-l&aacute;</span> <span title="ud, N, day(light)">ud-da</span> 
</div><div class="persephone">
<span class="beatrix">59</span> - <span title="ejer, N, back">ejer</span> <span title="dub, N, tablet">dub-me-ka</span> 
</div><div class="persephone">
<span class="beatrix">60</span> - <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="l&iacute;l, N, ghost">l&iacute;l-l&aacute;</span> 
</div><div class="persephone">
<span class="beatrix">61</span> - <span title="d&iacute;m-m&aacute;-n&iacute;-&uacute;s-&aacute;-n&iacute;, N, Dimani-usani">d&iacute;m-ma-ni-&uacute;s-a-ni</span> 
</div><div class="persephone">
<span class="beatrix">62</span> - <span title="a, N, water">a</span> <span title="d&ugrave;g, V, to be good">d&ugrave;g-ga</span> <span title="ur, N, dog">ur-ra</span> 
</div>
