<div id="t121.p1">
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p1')" onmouseout="sumer.mistierRose(this, 'p1')">
<span class="beatrix">1</span> - <span title="iri N town" onmouseover="sumer.gloss('iri', 'N', 'town')">iri(ki)</span> <span title="me V to be" onmouseover="sumer.gloss('me', 'V', 'to be')">na-nam</span> <span title="iri N town" onmouseover="sumer.gloss('iri', 'N', 'town')">iri(ki)</span> <span title="me V to be" onmouseover="sumer.gloss('me', 'V', 'to be')">na-nam</span> <span title="tuc V to sit" onmouseover="sumer.gloss('tuc', 'V', 'to sit')">na-an-d&uacute;r-ru-ne-en-d&egrave;-en</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p1')" onmouseout="sumer.mistierRose(this, 'p1')">
<span class="beatrix">2</span> - <span title="nibru N Nibru" onmouseover="sumer.gloss('nibru', 'N', 'Nibru')">nibru(ki)</span> <span title="iri N town" onmouseover="sumer.gloss('iri', 'N', 'town')">iri(ki)</span> <span title="me V to be" onmouseover="sumer.gloss('me', 'V', 'to be')">na-nam</span> <span title="tuc V to sit" onmouseover="sumer.gloss('tuc', 'V', 'to sit')">na-an-d&uacute;r-ru-ne-en-d&egrave;-en</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p1')" onmouseout="sumer.mistierRose(this, 'p1')">
<span class="beatrix">3</span> - <span title="dur-jicnimbar N Dur-&#285;i&#353;nimbar" onmouseover="sumer.gloss('dur-jicnimbar', 'N', 'Dur-&#285;i&#353;nimbar')">dur-jicnimbar(ki)</span> <span title="iri N town" onmouseover="sumer.gloss('iri', 'N', 'town')">iri(ki)</span> <span title="me V to be" onmouseover="sumer.gloss('me', 'V', 'to be')">na-nam</span> <span title="tuc V to sit" onmouseover="sumer.gloss('tuc', 'V', 'to sit')">na-an-d&uacute;r-ru-ne-en-d&egrave;-en</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p1')" onmouseout="sumer.mistierRose(this, 'p1')">
<span class="beatrix">4</span> - <span title="&iacute;d-s&aacute;l-l&aacute; N Id-sala" onmouseover="sumer.gloss('&iacute;d-s&aacute;l-l&aacute;', 'N', 'Id-sala')">&iacute;d-sal-la</span> <span title="&iacute;d N watercourse" onmouseover="sumer.gloss('&iacute;d', 'N', 'watercourse')">&iacute;d</span> <span title="kug AJ shining" onmouseover="sumer.gloss('kug', 'AJ', 'shining')">kug-bi</span> <span title="me V to be" onmouseover="sumer.gloss('me', 'V', 'to be')">na-nam</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p1')" onmouseout="sumer.mistierRose(this, 'p1')">
<span class="beatrix">5</span> - <span title="kar-jectin-na N Kar-&#285;e&#353;tina" onmouseover="sumer.gloss('kar-jectin-na', 'N', 'Kar-&#285;e&#353;tina')">kar-jectin-na</span> <span title="kar N quay" onmouseover="sumer.gloss('kar', 'N', 'quay')">kar-bi</span> <span title="me V to be" onmouseover="sumer.gloss('me', 'V', 'to be')">na-nam</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p1')" onmouseout="sumer.mistierRose(this, 'p1')">
<span class="beatrix">6</span> - <span title="kar-a-sar N Kar-asar" onmouseover="sumer.gloss('kar-a-sar', 'N', 'Kar-asar')">kar-a-sar</span> <span title="kar N quay" onmouseover="sumer.gloss('kar', 'N', 'quay')">kar</span> <span title="m&aacute; N boat" onmouseover="sumer.gloss('m&aacute;', 'N', 'boat')">m&aacute;</span> <span title="&uacute;s V to be adjacent" onmouseover="sumer.gloss('&uacute;s', 'V', 'to be adjacent')">&uacute;s-bi</span> <span title="me V to be" onmouseover="sumer.gloss('me', 'V', 'to be')">na-nam</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p1')" onmouseout="sumer.mistierRose(this, 'p1')">
<span class="beatrix">7</span> - <span title="p&uacute;-l&aacute;l3p&ugrave;2-l&agrave;l N Pu-lal" onmouseover="sumer.gloss('p&uacute;-l&aacute;l3p&ugrave;2-l&agrave;l', 'N', 'Pu-lal')">p&uacute;-l&agrave;l</span> <span title="p&uacute; N (water) hole" onmouseover="sumer.gloss('p&uacute;', 'N', '(water) hole')">p&uacute;</span> <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="d&ugrave;g V to be good" onmouseover="sumer.gloss('d&ugrave;g', 'V', 'to be good')">d&ugrave;g-ga-bi</span> <span title="me V to be" onmouseover="sumer.gloss('me', 'V', 'to be')">na-nam</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p1')" onmouseout="sumer.mistierRose(this, 'p1')">
<span class="beatrix">8</span> - <span title="&iacute;d-n&uacute;n-b&iacute;-&iacute;r-t&uacute;m N Id-nunbir-tum" onmouseover="sumer.gloss('&iacute;d-n&uacute;n-b&iacute;-&iacute;r-t&uacute;m', 'N', 'Id-nunbir-tum')">&iacute;d-nun-bi-ir-t&uacute;m</span> <span title="pa5 N canal" onmouseover="sumer.gloss('pa5', 'N', 'canal')">pa5</span> <span title="mul V to radiate" onmouseover="sumer.gloss('mul', 'V', 'to radiate')">mul-bi</span> <span title="me V to be" onmouseover="sumer.gloss('me', 'V', 'to be')">na-nam</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p1')" onmouseout="sumer.mistierRose(this, 'p1')">
<span class="beatrix">9</span> - <span title="g&iacute;d V to be long" onmouseover="sumer.gloss('g&iacute;d', 'V', 'to be long')">&iacute;b-ta-g&iacute;d-i-d&egrave;</span> <span title="50 NU 50" onmouseover="sumer.gloss('50', 'NU', '50')">50</span> <span title="sar N area measure" onmouseover="sumer.gloss('sar', 'N', 'area measure')">sar-&agrave;m</span> <span title="g&aacute;n&aacute; N field" onmouseover="sumer.gloss('g&aacute;n&aacute;', 'N', 'field')">g&aacute;n&aacute;</span> <span title="jar V to place" onmouseover="sumer.gloss('jar', 'V', 'to place')">jar-bi</span> <span title="me V to be" onmouseover="sumer.gloss('me', 'V', 'to be')">na-nam</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p1')" onmouseout="sumer.mistierRose(this, 'p1')">
<span class="beatrix">10</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l</span> <span title="juruc N young man" onmouseover="sumer.gloss('juruc', 'N', 'young man')">juruc</span> <span title="tur V to be small" onmouseover="sumer.gloss('tur', 'V', 'to be small')">tur-bi</span> <span title="me V to be" onmouseover="sumer.gloss('me', 'V', 'to be')">na-nam</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p1')" onmouseout="sumer.mistierRose(this, 'p1')">
<span class="beatrix">11</span> - <span title="n&iacute;n-l&iacute;l N Ninlil" onmouseover="sumer.gloss('n&iacute;n-l&iacute;l', 'N', 'Ninlil')">(d)nin-l&iacute;l</span> <span title="ki-sikil N young woman" onmouseover="sumer.gloss('ki-sikil', 'N', 'young woman')">ki-sikil</span> <span title="tur V to be small" onmouseover="sumer.gloss('tur', 'V', 'to be small')">tur-bi</span> <span title="me V to be" onmouseover="sumer.gloss('me', 'V', 'to be')">na-nam</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p1')" onmouseout="sumer.mistierRose(this, 'p1')">
<span class="beatrix">12</span> - <span title="nun-bar-ce-gu-nu N Nun-bar-&#353;e-gunu" onmouseover="sumer.gloss('nun-bar-ce-gu-nu', 'N', 'Nun-bar-&#353;e-gunu')">(d)nun-bar-ce-gu-nu</span> <span title="um-ma N experienced woman" onmouseover="sumer.gloss('um-ma', 'N', 'experienced woman')">um-ma-bi</span> <span title="me V to be" onmouseover="sumer.gloss('me', 'V', 'to be')">na-nam</span> 
</div>
</div><div id="t121.p2">
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p2')" onmouseout="sumer.mistierRose(this, 'p2')">
<span class="beatrix">13</span> - <span title="ud N day(light)" onmouseover="sumer.gloss('ud', 'N', 'day(light)')">ud-ba</span> <span title="ki-sikil N young woman" onmouseover="sumer.gloss('ki-sikil', 'N', 'young woman')">ki-sikil</span> <span title="ama N mother" onmouseover="sumer.gloss('ama', 'N', 'mother')">ama</span> <span title="ugu V to give birth" onmouseover="sumer.gloss('ugu', 'V', 'to give birth')">ugu-na</span> <span title="de5 V to collect" onmouseover="sumer.gloss('de5', 'V', 'to collect')">na-mu-un-de5-de5</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p2')" onmouseout="sumer.mistierRose(this, 'p2')">
<span class="beatrix">14</span> - <span title="n&iacute;n-l&iacute;l N Ninlil" onmouseover="sumer.gloss('n&iacute;n-l&iacute;l', 'N', 'Ninlil')">(d)nin-l&iacute;l-le</span> <span title="nun-bar-ce-gu-nu N Nun-bar-&#353;e-gunu" onmouseover="sumer.gloss('nun-bar-ce-gu-nu', 'N', 'Nun-bar-&#353;e-gunu')">(d)nun-bar-ce-gu-nu</span> <span title="de5 V to collect" onmouseover="sumer.gloss('de5', 'V', 'to collect')">na-mu-un-de5-de5</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p2')" onmouseout="sumer.mistierRose(this, 'p2')">
<span class="beatrix">15</span> - <span title="&iacute;d N watercourse" onmouseover="sumer.gloss('&iacute;d', 'N', 'watercourse')">&iacute;d</span> <span title="kug AJ shining" onmouseover="sumer.gloss('kug', 'AJ', 'shining')">kug-ga-&agrave;m</span> <span title="&iacute;d N watercourse" onmouseover="sumer.gloss('&iacute;d', 'N', 'watercourse')">&iacute;d</span> <span title="kug AJ shining" onmouseover="sumer.gloss('kug', 'AJ', 'shining')">kug-ga-&agrave;m</span> <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="tu5 V to wash" onmouseover="sumer.gloss('tu5', 'V', 'to wash')">nam-mi-tu5-tu5</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p2')" onmouseout="sumer.mistierRose(this, 'p2')">
<span class="beatrix">16</span> - <span title="n&iacute;n-l&iacute;l N Ninlil" onmouseover="sumer.gloss('n&iacute;n-l&iacute;l', 'N', 'Ninlil')">(d)nin-l&iacute;l-le</span> <span title="g&uacute; N neck" onmouseover="sumer.gloss('g&uacute;', 'N', 'neck')">g&uacute;</span> <span title="&iacute;d-n&uacute;n-b&iacute;-&iacute;r-t&uacute;m N Id-nunbir-tum" onmouseover="sumer.gloss('&iacute;d-n&uacute;n-b&iacute;-&iacute;r-t&uacute;m', 'N', 'Id-nunbir-tum')">&iacute;d-nun-bi-ir-t&uacute;m-ka</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">nam-mi-in-du-d&egrave;</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p2')" onmouseout="sumer.mistierRose(this, 'p2')">
<span class="beatrix">17</span> - <span title="kug AJ shining" onmouseover="sumer.gloss('kug', 'AJ', 'shining')">kug-ga-&agrave;m</span> <span title="kug AJ shining" onmouseover="sumer.gloss('kug', 'AJ', 'shining')">kug-ga-&agrave;m</span> <span title="bar V to set aside" onmouseover="sumer.gloss('bar', 'V', 'to set aside')">ba-e-ci-bar-re</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p2')" onmouseout="sumer.mistierRose(this, 'p2')">
<span class="beatrix">18</span> - <span title="kur N (mountain) land" onmouseover="sumer.gloss('kur', 'N', '(mountain) land')">kur</span> <span title="gal V to be big" onmouseover="sumer.gloss('gal', 'V', 'to be big')">gal</span> <span title="a-a N father" onmouseover="sumer.gloss('a-a', 'N', 'father')">a-a</span> <span title="kug AJ shining" onmouseover="sumer.gloss('kug', 'AJ', 'shining')">kug-ga-&agrave;m</span> <span title="bar V to set aside" onmouseover="sumer.gloss('bar', 'V', 'to set aside')">ba-e-ci-bar-re</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p2')" onmouseout="sumer.mistierRose(this, 'p2')">
<span class="beatrix">19</span> - <span title="sipad N shepherd" onmouseover="sumer.gloss('sipad', 'N', 'shepherd')">sipad</span> <span title="tar V to cut" onmouseover="sumer.gloss('tar', 'V', 'to cut')">tar-tar-re</span> <span title="kug AJ shining" onmouseover="sumer.gloss('kug', 'AJ', 'shining')">kug-ga-&agrave;m</span> <span title="bar V to set aside" onmouseover="sumer.gloss('bar', 'V', 'to set aside')">ba-e-ci-bar-re</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p2')" onmouseout="sumer.mistierRose(this, 'p2')">
<span class="beatrix">20</span> - <span title="a-da-al AV now" onmouseover="sumer.gloss('a-da-al', 'AV', 'now')">a-da-lam</span> <span title="i V to bring out" onmouseover="sumer.gloss('i', 'V', 'to bring out')">&agrave;m-i-i</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p2')" onmouseout="sumer.mistierRose(this, 'p2')">
<span class="beatrix">21</span> - <span title="cag4 N heart" onmouseover="sumer.gloss('cag4', 'N', 'heart')">cag4</span> <span title="h&uacute;l V to be happy" onmouseover="sumer.gloss('h&uacute;l', 'V', 'to be happy')">h&uacute;l</span> <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="hi-li N attractiveness" onmouseover="sumer.gloss('hi-li', 'N', 'attractiveness')">hi-li</span> <span title="cag4 N heart" onmouseover="sumer.gloss('cag4', 'N', 'heart')">cag4-ge</span> <span title="si V to fill" onmouseover="sumer.gloss('si', 'V', 'to fill')">si-a-na</span> <span title="taka4 V to leave behind" onmouseover="sumer.gloss('taka4', 'V', 'to leave behind')">&agrave;m-mu-un-di-ni-ib-d&agrave;1-d&agrave;1</span> 
</div>
</div><div id="t121.p3">
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p3')" onmouseout="sumer.mistierRose(this, 'p3')">
<span class="beatrix">22</span> - <span title="na N advice" onmouseover="sumer.gloss('na', 'N', 'advice')">na</span> <span title="cag4 N heart" onmouseover="sumer.gloss('cag4', 'N', 'heart')">cag4</span> <span title="X  X" onmouseover="sumer.gloss('X', '', 'X')">X</span> <span title="de5 V to collect" onmouseover="sumer.gloss('de5', 'V', 'to collect')">mu-ni-in-de5</span> <span title="j&eacute;ct&uacute;g N ear" onmouseover="sumer.gloss('j&eacute;ct&uacute;g', 'N', 'ear')">j&eacute;ct&uacute;g</span> <span title="c&uacute;m V to give" onmouseover="sumer.gloss('c&uacute;m', 'V', 'to give')">mu-na-an-c&uacute;m</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p3')" onmouseout="sumer.mistierRose(this, 'p3')">
<span class="beatrix">23</span> - <span title="&iacute;d N watercourse" onmouseover="sumer.gloss('&iacute;d', 'N', 'watercourse')">&iacute;d</span> <span title="kug AJ shining" onmouseover="sumer.gloss('kug', 'AJ', 'shining')">kug-ga-&agrave;m</span> <span title="munus N woman" onmouseover="sumer.gloss('munus', 'N', 'woman')">munus-e</span> <span title="&iacute;d N watercourse" onmouseover="sumer.gloss('&iacute;d', 'N', 'watercourse')">&iacute;d</span> <span title="kug AJ shining" onmouseover="sumer.gloss('kug', 'AJ', 'shining')">kug-ga-&agrave;m</span> <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="tu5 V to wash" onmouseover="sumer.gloss('tu5', 'V', 'to wash')">im-ma-ni-tu5-tu5</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p3')" onmouseout="sumer.mistierRose(this, 'p3')">
<span class="beatrix">24</span> - <span title="n&iacute;n-l&iacute;l N Ninlil" onmouseover="sumer.gloss('n&iacute;n-l&iacute;l', 'N', 'Ninlil')">(d)nin-l&iacute;l-le</span> <span title="g&uacute; N neck" onmouseover="sumer.gloss('g&uacute;', 'N', 'neck')">g&uacute;</span> <span title="&iacute;d-n&uacute;n-b&iacute;-&iacute;r-t&uacute;m N Id-nunbir-tum" onmouseover="sumer.gloss('&iacute;d-n&uacute;n-b&iacute;-&iacute;r-t&uacute;m', 'N', 'Id-nunbir-tum')">&iacute;d-nun-bi-ir-t&uacute;m-ka</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">i-im-du-d&egrave;</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p3')" onmouseout="sumer.mistierRose(this, 'p3')">
<span class="beatrix">25</span> - <span title="igi N eye" onmouseover="sumer.gloss('igi', 'N', 'eye')">igi</span> <span title="kug AJ shining" onmouseover="sumer.gloss('kug', 'AJ', 'shining')">kug-ga-&agrave;m</span> <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal-e</span> <span title="igi N eye" onmouseover="sumer.gloss('igi', 'N', 'eye')">igi</span> <span title="kug AJ shining" onmouseover="sumer.gloss('kug', 'AJ', 'shining')">kug-ga-&agrave;m</span> <span title="igi N eye" onmouseover="sumer.gloss('igi', 'N', 'eye')">igi</span> <span title="bar V to set aside" onmouseover="sumer.gloss('bar', 'V', 'to set aside')">im-ma-ci-in-bar</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p3')" onmouseout="sumer.mistierRose(this, 'p3')">
<span class="beatrix">26</span> - <span title="kur N (mountain) land" onmouseover="sumer.gloss('kur', 'N', '(mountain) land')">kur</span> <span title="gal V to be big" onmouseover="sumer.gloss('gal', 'V', 'to be big')">gal</span> <span title="a-a N father" onmouseover="sumer.gloss('a-a', 'N', 'father')">a-a</span> <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l-le</span> <span title="igi N eye" onmouseover="sumer.gloss('igi', 'N', 'eye')">igi</span> <span title="kug AJ shining" onmouseover="sumer.gloss('kug', 'AJ', 'shining')">kug-ga-&agrave;m</span> <span title="igi N eye" onmouseover="sumer.gloss('igi', 'N', 'eye')">igi</span> <span title="bar V to set aside" onmouseover="sumer.gloss('bar', 'V', 'to set aside')">im-ma-ci-in-bar</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p3')" onmouseout="sumer.mistierRose(this, 'p3')">
<span class="beatrix">27</span> - <span title="sipad N shepherd" onmouseover="sumer.gloss('sipad', 'N', 'shepherd')">sipad</span> <span title="tar V to cut" onmouseover="sumer.gloss('tar', 'V', 'to cut')">tar-tar-re</span> <span title="igi N eye" onmouseover="sumer.gloss('igi', 'N', 'eye')">igi</span> <span title="kug AJ shining" onmouseover="sumer.gloss('kug', 'AJ', 'shining')">kug-ga-&agrave;m</span> <span title="igi N eye" onmouseover="sumer.gloss('igi', 'N', 'eye')">igi</span> <span title="bar V to set aside" onmouseover="sumer.gloss('bar', 'V', 'to set aside')">im-ma-ci-in-bar</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p3')" onmouseout="sumer.mistierRose(this, 'p3')">
<span class="beatrix">28</span> - <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal-e</span> <span title="j&igrave;c N penis" onmouseover="sumer.gloss('j&igrave;c', 'N', 'penis')">j&igrave;c</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">ga-e-dug4</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">mu-na-ab-b&eacute;</span> <span title="ce V to agree" onmouseover="sumer.gloss('ce', 'V', 'to agree')">nu-un-da-ra-ci-ib-ce-ge</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p3')" onmouseout="sumer.mistierRose(this, 'p3')">
<span class="beatrix">29</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l-le</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">mu-na-ab-b&eacute;</span> <span title="ce V to agree" onmouseover="sumer.gloss('ce', 'V', 'to agree')">nu-un-da-ra-ci-ib-ce-ge</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p3')" onmouseout="sumer.mistierRose(this, 'p3')">
<span class="beatrix">30</span> - <span title="gal4-la N female genitals" onmouseover="sumer.gloss('gal4-la', 'N', 'female genitals')">gal4-la-ju10</span> <span title="tur V to be small" onmouseover="sumer.gloss('tur', 'V', 'to be small')">tur-ra-&agrave;m</span> <span title="pec V to be thick" onmouseover="sumer.gloss('pec', 'V', 'to be thick')">pec11</span> <span title="zu V to know" onmouseover="sumer.gloss('zu', 'V', 'to know')">nu-mu-un-zu</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p3')" onmouseout="sumer.mistierRose(this, 'p3')">
<span class="beatrix">31</span> - <span title="tur V to be small" onmouseover="sumer.gloss('tur', 'V', 'to be small')">tur-ra-&agrave;m</span> <span title="zu V to know" onmouseover="sumer.gloss('zu', 'V', 'to know')">nu-un-zu</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p3')" onmouseout="sumer.mistierRose(this, 'p3')">
<span class="beatrix">32</span> - <span title="ama N mother" onmouseover="sumer.gloss('ama', 'N', 'mother')">ama-ju10</span> <span title="zu V to know" onmouseover="sumer.gloss('zu', 'V', 'to know')">ba-zu-zu</span> <span title="cu N hand" onmouseover="sumer.gloss('cu', 'N', 'hand')">cu-ju10</span> <span title="s&agrave;g V to beat" onmouseover="sumer.gloss('s&agrave;g', 'V', 'to beat')">mu-un-s&agrave;g-ge</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p3')" onmouseout="sumer.mistierRose(this, 'p3')">
<span class="beatrix">33</span> - <span title="ad-da N father" onmouseover="sumer.gloss('ad-da', 'N', 'father')">ad-da-ju10</span> <span title="zu V to know" onmouseover="sumer.gloss('zu', 'V', 'to know')">ba-zu-zu</span> <span title="cu N hand" onmouseover="sumer.gloss('cu', 'N', 'hand')">cu</span> <span title="s&aacute; V to equal" onmouseover="sumer.gloss('s&aacute;', 'V', 'to equal')">s&aacute;-bi</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">mu-un-e</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p3')" onmouseout="sumer.mistierRose(this, 'p3')">
<span class="beatrix">34</span> - <span title="a-da-al AV now" onmouseover="sumer.gloss('a-da-al', 'AV', 'now')">a-da-lam</span> <span title="ma-la N girlfriend" onmouseover="sumer.gloss('ma-la', 'N', 'girlfriend')">ma-la-ra</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">dug4-ga-ju10-uc</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">nu-me-e</span> <span title="silig V to cease" onmouseover="sumer.gloss('silig', 'V', 'to cease')">ba-na-silig-ge-en</span> 
</div>
</div><div id="t121.p4">
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">35</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l-le</span> <span title="sukkal N minister" onmouseover="sumer.gloss('sukkal', 'N', 'minister')">sukkal-a-ni</span> <span title="nuska N Nuska" onmouseover="sumer.gloss('nuska', 'N', 'Nuska')">(d)nuska-ra</span> <span title="g&ugrave; N voice" onmouseover="sumer.gloss('g&ugrave;', 'N', 'voice')">g&ugrave;</span> <span title="d&eacute; V to pour" onmouseover="sumer.gloss('d&eacute;', 'V', 'to pour')">mu-na-d&eacute;-e</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">36</span> - <span title="sukkal N minister" onmouseover="sumer.gloss('sukkal', 'N', 'minister')">sukkal</span> <span title="nuska N Nuska" onmouseover="sumer.gloss('nuska', 'N', 'Nuska')">(d)nuska-ju10</span> <span title="ud-ul AV always" onmouseover="sumer.gloss('ud-ul', 'AV', 'always')">ud-ul</span> <span title="a-ra-zu N supplication" onmouseover="sumer.gloss('a-ra-zu', 'N', 'supplication')">a-ra-zu</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">37</span> - <span title="cidim N builder" onmouseover="sumer.gloss('cidim', 'N', 'builder')">cidim</span> <span title="gal V to be big" onmouseover="sumer.gloss('gal', 'V', 'to be big')">gal</span> <span title="&eacute;-k&uacute;r N E-kur" onmouseover="sumer.gloss('&eacute;-k&uacute;r', 'N', 'E-kur')">&eacute;-kur-ra</span> <span title="ud-ul AV always" onmouseover="sumer.gloss('ud-ul', 'AV', 'always')">ud-ul-la</span> <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal-ju10</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">38</span> - <span title="ki-sikil N young woman" onmouseover="sumer.gloss('ki-sikil', 'N', 'young woman')">ki-sikil</span> <span title="ne-en PD this" onmouseover="sumer.gloss('ne-en', 'PD', 'this')">ne-en</span> <span title="sag9 V to be good" onmouseover="sumer.gloss('sag9', 'V', 'to be good')">sag9-ga-ra</span> <span title="ne-en PD this" onmouseover="sumer.gloss('ne-en', 'PD', 'this')">ne-en</span> <span title="mul V to radiate" onmouseover="sumer.gloss('mul', 'V', 'to radiate')">mul-la-ra</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">39</span> - <span title="n&iacute;n-l&iacute;l N Ninlil" onmouseover="sumer.gloss('n&iacute;n-l&iacute;l', 'N', 'Ninlil')">(d)nin-l&iacute;l</span> <span title="ne-en PD this" onmouseover="sumer.gloss('ne-en', 'PD', 'this')">ne-en</span> <span title="sag9 V to be good" onmouseover="sumer.gloss('sag9', 'V', 'to be good')">sag9-ga-ra</span> <span title="ne-en PD this" onmouseover="sumer.gloss('ne-en', 'PD', 'this')">ne-en</span> <span title="mul V to radiate" onmouseover="sumer.gloss('mul', 'V', 'to radiate')">mul-la-ra</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">40</span> - <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="j&igrave;c N penis" onmouseover="sumer.gloss('j&igrave;c', 'N', 'penis')">j&igrave;c</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">na-an-dug4</span> <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">41</span> - <span title="sukkal N minister" onmouseover="sumer.gloss('sukkal', 'N', 'minister')">sukkal</span> <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal-a-ni</span> <span title="m&aacute; N boat" onmouseover="sumer.gloss('m&aacute;', 'N', 'boat')">m&aacute;-gin7</span> <span title="de6 V to carry" onmouseover="sumer.gloss('de6', 'V', 'to carry')">mu-un-ci-de6</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">42</span> - <span title="&eacute;c N rope" onmouseover="sumer.gloss('&eacute;c', 'N', 'rope')">&eacute;c</span> <span title="m&aacute; N boat" onmouseover="sumer.gloss('m&aacute;', 'N', 'boat')">m&aacute;</span> <span title="tur V to be small" onmouseover="sumer.gloss('tur', 'V', 'to be small')">tur-ra-&agrave;m</span> <span title="de6 V to carry" onmouseover="sumer.gloss('de6', 'V', 'to carry')">mu-un-ci-&iacute;b-t&uacute;m-X</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">43</span> - <span title="m&aacute; N boat" onmouseover="sumer.gloss('m&aacute;', 'N', 'boat')">m&aacute;</span> <span title="gal V to be big" onmouseover="sumer.gloss('gal', 'V', 'to be big')">gu-la-&agrave;m</span> <span title="de6 V to carry" onmouseover="sumer.gloss('de6', 'V', 'to carry')">mu-un-ci-&iacute;b-t&uacute;m-e</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">44</span> - <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal-ju10</span> <span title="MU.MES-ga N meaning unknown" onmouseover="sumer.gloss('MU.MES-ga', 'N', 'meaning unknown')">MU.MES-ga-e</span> <span title="dirig V to be superior" onmouseover="sumer.gloss('dirig', 'V', 'to be superior')">dirig-ga-&agrave;m</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">45</span> - <span title="j&igrave;c N penis" onmouseover="sumer.gloss('j&igrave;c', 'N', 'penis')">j&igrave;c-bi</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">na-mu-un-dug4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">46</span> - <span title="a-a N father" onmouseover="sumer.gloss('a-a', 'N', 'father')">a-a</span> <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l</span> <span title="MU.MES-ga N meaning unknown" onmouseover="sumer.gloss('MU.MES-ga', 'N', 'meaning unknown')">MU.MES-ga-e</span> <span title="dirig V to be superior" onmouseover="sumer.gloss('dirig', 'V', 'to be superior')">dirig-ga-&agrave;m</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">47</span> - <span title="j&igrave;c N penis" onmouseover="sumer.gloss('j&igrave;c', 'N', 'penis')">j&igrave;c-bi</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">na-mu-un-dug4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">48</span> - <span title="k&iacute;j V to seek" onmouseover="sumer.gloss('k&iacute;j', 'V', 'to seek')">k&iacute;j-k&iacute;j-a-na</span> <span title="cu N hand" onmouseover="sumer.gloss('cu', 'N', 'hand')">cu-ni</span> <span title="dab5 V to seize" onmouseover="sumer.gloss('dab5', 'V', 'to seize')">ba-an-dab5</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">49</span> - <span title="j&igrave;c N penis" onmouseover="sumer.gloss('j&igrave;c', 'N', 'penis')">j&igrave;c-bi</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">na-mu-un-dug4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">50</span> - <span title="KU  KU" onmouseover="sumer.gloss('KU', '', 'KU')">KU</span> <span title="pec10 N bank" onmouseover="sumer.gloss('pec10', 'N', 'bank')">pec10</span> <span title="tur V to be small" onmouseover="sumer.gloss('tur', 'V', 'to be small')">tur-ra-c&egrave;</span> <span title="n&uacute; V to lie down" onmouseover="sumer.gloss('n&uacute;', 'V', 'to lie down')">im-ma-da-ab-n&uacute;-e</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">51</span> - <span title="j&igrave;c N penis" onmouseover="sumer.gloss('j&igrave;c', 'N', 'penis')">j&igrave;c-bi</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">im-ma-ni-in-dug4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">52</span> - <span title="j&igrave;c N penis" onmouseover="sumer.gloss('j&igrave;c', 'N', 'penis')">j&igrave;c</span> <span title="1 NU 1" onmouseover="sumer.gloss('1', 'NU', '1')">1</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">dug4-ga-ni</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p4')" onmouseout="sumer.mistierRose(this, 'p4')">
<span class="beatrix">53</span> - <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="s&uacute;&eacute;n-&aacute;c-&iacute;m-b&aacute;bb&aacute;r N Suen-A&#353;imbabbar" onmouseover="sumer.gloss('s&uacute;&eacute;n-&aacute;c-&iacute;m-b&aacute;bb&aacute;r', 'N', 'Suen-A&#353;imbabbar')">(d)suen-(d)ac-&iacute;m-babbar-ra</span> <span title="cag4 N heart" onmouseover="sumer.gloss('cag4', 'N', 'heart')">cag4</span> <span title="ri V to direct" onmouseover="sumer.gloss('ri', 'V', 'to direct')">mu-na-ni-ri</span> 
</div>
</div><div id="t121.p5">
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p5')" onmouseout="sumer.mistierRose(this, 'p5')">
<span class="beatrix">54</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l</span> <span title="k&igrave;-&ugrave;r N Ki-ur" onmouseover="sumer.gloss('k&igrave;-&ugrave;r', 'N', 'Ki-ur')">ki-&ugrave;r-ra</span> <span title="dib V to pass" onmouseover="sumer.gloss('dib', 'V', 'to pass')">im-ma-ni-in-dib-b&eacute;</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p5')" onmouseout="sumer.mistierRose(this, 'p5')">
<span class="beatrix">55</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l</span> <span title="k&igrave;-&ugrave;r N Ki-ur" onmouseover="sumer.gloss('k&igrave;-&ugrave;r', 'N', 'Ki-ur')">ki-&ugrave;r-ra</span> <span title="dib V to pass" onmouseover="sumer.gloss('dib', 'V', 'to pass')">dib-dib-b&eacute;-da-ni</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p5')" onmouseout="sumer.mistierRose(this, 'p5')">
<span class="beatrix">56</span> - <span title="dijir N deity" onmouseover="sumer.gloss('dijir', 'N', 'deity')">dijir</span> <span title="gal V to be big" onmouseover="sumer.gloss('gal', 'V', 'to be big')">gal-gal</span> <span title="50 NU 50" onmouseover="sumer.gloss('50', 'NU', '50')">50-ne-ne</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p5')" onmouseout="sumer.mistierRose(this, 'p5')">
<span class="beatrix">57</span> - <span title="dijir N deity" onmouseover="sumer.gloss('dijir', 'N', 'deity')">dijir</span> <span title="nam N destiny" onmouseover="sumer.gloss('nam', 'N', 'destiny')">nam</span> <span title="tar V to cut" onmouseover="sumer.gloss('tar', 'V', 'to cut')">tar-ra</span> <span title="7 NU 7" onmouseover="sumer.gloss('7', 'NU', '7')">7-na-ne-ne</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p5')" onmouseout="sumer.mistierRose(this, 'p5')">
<span class="beatrix">58</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l</span> <span title="k&igrave;-&ugrave;r N Ki-ur" onmouseover="sumer.gloss('k&igrave;-&ugrave;r', 'N', 'Ki-ur')">ki-&ugrave;r-ra</span> <span title="dab5 V to seize" onmouseover="sumer.gloss('dab5', 'V', 'to seize')">im-ma-ni-in-dab5-b&eacute;-ne</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p5')" onmouseout="sumer.mistierRose(this, 'p5')">
<span class="beatrix">59</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l</span> <span title="&uacute;-z&uacute;g4 N polluter" onmouseover="sumer.gloss('&uacute;-z&uacute;g4', 'N', 'polluter')">&uacute;-zug4-ge</span> <span title="iri N town" onmouseover="sumer.gloss('iri', 'N', 'town')">iri-ta</span> <span title="&egrave; V to go out or in" onmouseover="sumer.gloss('&egrave;', 'V', 'to go out or in')">ba-ra-&egrave;</span> <span title="&egrave; V to go out or in" onmouseover="sumer.gloss('&egrave;', 'V', 'to go out or in')">&egrave;-ba-ra</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p5')" onmouseout="sumer.mistierRose(this, 'p5')">
<span class="beatrix">60</span> - <span title="nu-nam-nir N Nunamnir" onmouseover="sumer.gloss('nu-nam-nir', 'N', 'Nunamnir')">(d)nu-nam-nir</span> <span title="&uacute;-z&uacute;g4 N polluter" onmouseover="sumer.gloss('&uacute;-z&uacute;g4', 'N', 'polluter')">&uacute;-zug4-ge</span> <span title="iri N town" onmouseover="sumer.gloss('iri', 'N', 'town')">iri-ta</span> <span title="&egrave; V to go out or in" onmouseover="sumer.gloss('&egrave;', 'V', 'to go out or in')">ba-ra-&egrave;</span> <span title="&egrave; V to go out or in" onmouseover="sumer.gloss('&egrave;', 'V', 'to go out or in')">&egrave;-ba-ra</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p5')" onmouseout="sumer.mistierRose(this, 'p5')">
<span class="beatrix">61</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l</span> <span title="n&iacute;j-n&aacute;m PD anything" onmouseover="sumer.gloss('n&iacute;j-n&aacute;m', 'PD', 'anything')">n&iacute;j-nam-c&egrave;</span> <span title="nam N destiny" onmouseover="sumer.gloss('nam', 'N', 'destiny')">nam</span> <span title="tar V to cut" onmouseover="sumer.gloss('tar', 'V', 'to cut')">mu-un-tar-ra-ke4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p5')" onmouseout="sumer.mistierRose(this, 'p5')">
<span class="beatrix">62</span> - <span title="nu-nam-nir N Nunamnir" onmouseover="sumer.gloss('nu-nam-nir', 'N', 'Nunamnir')">(d)nu-nam-nir</span> <span title="n&iacute;j-n&aacute;m PD anything" onmouseover="sumer.gloss('n&iacute;j-n&aacute;m', 'PD', 'anything')">n&iacute;j-nam-c&egrave;</span> <span title="nam N destiny" onmouseover="sumer.gloss('nam', 'N', 'destiny')">nam</span> <span title="tar V to cut" onmouseover="sumer.gloss('tar', 'V', 'to cut')">mu-un-tar-ra-ke4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p5')" onmouseout="sumer.mistierRose(this, 'p5')">
<span class="beatrix">63</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">&igrave;-jen</span> <span title="n&iacute;n-l&iacute;l N Ninlil" onmouseover="sumer.gloss('n&iacute;n-l&iacute;l', 'N', 'Ninlil')">(d)nin-l&iacute;l</span> <span title="&uacute;s V to be adjacent" onmouseover="sumer.gloss('&uacute;s', 'V', 'to be adjacent')">in-&uacute;s</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p5')" onmouseout="sumer.mistierRose(this, 'p5')">
<span class="beatrix">64</span> - <span title="nu-nam-nir N Nunamnir" onmouseover="sumer.gloss('nu-nam-nir', 'N', 'Nunamnir')">(d)nu-nam-nir</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">&igrave;-jen</span> <span title="ki-sikil N young woman" onmouseover="sumer.gloss('ki-sikil', 'N', 'young woman')">ki-sikil</span> <span title="sar V to run" onmouseover="sumer.gloss('sar', 'V', 'to run')">mu-un-sar-re</span> 
</div>
</div><div id="t121.p6">
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">65</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l-le</span> <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="abula N (city) gate" onmouseover="sumer.gloss('abula', 'N', '(city) gate')">abula-ra</span> <span title="g&ugrave; N voice" onmouseover="sumer.gloss('g&ugrave;', 'N', 'voice')">g&ugrave;</span> <span title="d&eacute; V to pour" onmouseover="sumer.gloss('d&eacute;', 'V', 'to pour')">mu-na-d&eacute;-e</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">66</span> - <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="abula N (city) gate" onmouseover="sumer.gloss('abula', 'N', '(city) gate')">abul-la</span> <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="si-jar N clamp" onmouseover="sumer.gloss('si-jar', 'N', 'clamp')">si-jar-ra</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">67</span> - <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="suhub4 N door bolt" onmouseover="sumer.gloss('suhub4', 'N', 'door bolt')">suhub4</span> <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="si-jar N clamp" onmouseover="sumer.gloss('si-jar', 'N', 'clamp')">si-jar</span> <span title="kug AJ shining" onmouseover="sumer.gloss('kug', 'AJ', 'shining')">kug-ga</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">68</span> - <span title="nin N lady" onmouseover="sumer.gloss('nin', 'N', 'lady')">nin-zu</span> <span title="n&iacute;n-l&iacute;l N Ninlil" onmouseover="sumer.gloss('n&iacute;n-l&iacute;l', 'N', 'Ninlil')">(d)nin-l&iacute;l-le</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">i-im-jen</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">69</span> - <span title="ud N day(light)" onmouseover="sumer.gloss('ud', 'N', 'day(light)')">ud-da</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">70</span> - <span title="za PD you (sg.)" onmouseover="sumer.gloss('za', 'PD', 'you (sg.)')">za-e</span> <span title="ki N place" onmouseover="sumer.gloss('ki', 'N', 'place')">ki-ju10</span> <span title="p&agrave;d V to find" onmouseover="sumer.gloss('p&agrave;d', 'V', 'to find')">nam-mu-ni-in-p&agrave;d-d&egrave;</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">71</span> - <span title="n&iacute;n-l&iacute;l N Ninlil" onmouseover="sumer.gloss('n&iacute;n-l&iacute;l', 'N', 'Ninlil')">(d)nin-l&iacute;l-le</span> <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="abula N (city) gate" onmouseover="sumer.gloss('abula', 'N', '(city) gate')">abul-la-ra</span> <span title="g&ugrave; N voice" onmouseover="sumer.gloss('g&ugrave;', 'N', 'voice')">g&ugrave;</span> <span title="d&eacute; V to pour" onmouseover="sumer.gloss('d&eacute;', 'V', 'to pour')">mu-na-d&eacute;-e</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">72</span> - <span title="abula N (city) gate" onmouseover="sumer.gloss('abula', 'N', '(city) gate')">abula</span> <span title="si-jar N clamp" onmouseover="sumer.gloss('si-jar', 'N', 'clamp')">si-jar-ra</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">73</span> - <span title="suhub4 N door bolt" onmouseover="sumer.gloss('suhub4', 'N', 'door bolt')">suhub4</span> <span title="si-jar N clamp" onmouseover="sumer.gloss('si-jar', 'N', 'clamp')">si-jar</span> <span title="kug AJ shining" onmouseover="sumer.gloss('kug', 'AJ', 'shining')">kug-ga</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">74</span> - <span title="me-ta AV type of time and place adverbial" onmouseover="sumer.gloss('me-ta', 'AV', 'type of time and place adverbial')">me-ta</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">ba-jen</span> <span title="e-ne PD he, she" onmouseover="sumer.gloss('e-ne', 'PD', 'he, she')">e-ne-ra</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">mu-na-ab-b&eacute;</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">75</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l-le</span> <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="abula N (city) gate" onmouseover="sumer.gloss('abula', 'N', '(city) gate')">abul-la-ra</span> <span title="gi4 V to return" onmouseover="sumer.gloss('gi4', 'V', 'to return')">mu-na-ni-ib-gi4-gi4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">76</span> - <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal-ju10</span> <span title="sag9 V to be good" onmouseover="sumer.gloss('sag9', 'V', 'to be good')">sag9-sag9-ga</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">ba-ra-mu-da-ab-dug4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">77</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l-le</span> <span title="sag9 V to be good" onmouseover="sumer.gloss('sag9', 'V', 'to be good')">sag9-sag9-ga</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">ba-ra-mu-da-ab-dug4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">78</span> - <span title="umuc N (fore)thought" onmouseover="sumer.gloss('umuc', 'N', '(fore)thought')">umuc-j&aacute;</span> <span title="tar V to cut" onmouseover="sumer.gloss('tar', 'V', 'to cut')">i-ni-in-tar</span> <span title="inim N word" onmouseover="sumer.gloss('inim', 'N', 'word')">inim-j&aacute;</span> <span title="sig10 V to place" onmouseover="sumer.gloss('sig10', 'V', 'to place')">i-ni-in-sig10-ge-&agrave;m</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">79</span> - <span title="cag4 N heart" onmouseover="sumer.gloss('cag4', 'N', 'heart')">cag4</span> <span title="sug4 V to be empty" onmouseover="sumer.gloss('sug4', 'V', 'to be empty')">sug4-ge-da-ju10</span> <span title="si V to fill" onmouseover="sumer.gloss('si', 'V', 'to fill')">ba-e-d&egrave;-si-in</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">80</span> - <span title="kur N (mountain) land" onmouseover="sumer.gloss('kur', 'N', '(mountain) land')">kur-kur-ra-ke4</span> <span title="j&eacute;6 PD I" onmouseover="sumer.gloss('j&eacute;6', 'PD', 'I')">j&aacute;-a-ra</span> <span title="j&igrave;c N penis" onmouseover="sumer.gloss('j&igrave;c', 'N', 'penis')">j&igrave;c</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">ha-ma-an-dug4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">81</span> - <span title="me V to be" onmouseover="sumer.gloss('me', 'V', 'to be')">&igrave;-me-a-gin7</span> <span title="&ugrave; C and" onmouseover="sumer.gloss('&ugrave;', 'C', 'and')">&ugrave;</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">82</span> - <span title="ud N day(light)" onmouseover="sumer.gloss('ud', 'N', 'day(light)')">ud-da</span> <span title="nin N lady" onmouseover="sumer.gloss('nin', 'N', 'lady')">nin-ju10-me-en</span> <span title="NE.CE N part of body" onmouseover="sumer.gloss('NE.CE', 'N', 'part of body')">NE.CE-zu</span> <span title="cu N hand" onmouseover="sumer.gloss('cu', 'N', 'hand')">cu-ju10</span> <span title="tag V to touch" onmouseover="sumer.gloss('tag', 'V', 'to touch')">h&eacute;-tag-ge</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">83</span> - <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="dadag V to be bright" onmouseover="sumer.gloss('dadag', 'V', 'to be bright')">dadag-ga</span> <span title="cag4 N heart" onmouseover="sumer.gloss('cag4', 'N', 'heart')">cag4-j&aacute;</span> <span title="j&aacute;l V to be (located)" onmouseover="sumer.gloss('j&aacute;l', 'V', 'to be (located)')">&igrave;-j&aacute;l</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">84</span> - <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="suen N Suen" onmouseover="sumer.gloss('suen', 'N', 'Suen')">(d)suen-na</span> <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="dadag V to be bright" onmouseover="sumer.gloss('dadag', 'V', 'to be bright')">dadag-ga</span> <span title="cag4 N heart" onmouseover="sumer.gloss('cag4', 'N', 'heart')">cag4-j&aacute;</span> <span title="j&aacute;l V to be (located)" onmouseover="sumer.gloss('j&aacute;l', 'V', 'to be (located)')">&igrave;-j&aacute;l</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">85</span> - <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal-ju10</span> <span title="an N heaven" onmouseover="sumer.gloss('an', 'N', 'heaven')">an-c&egrave;</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">h&eacute;-du</span> <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a-ju10</span> <span title="ki N place" onmouseover="sumer.gloss('ki', 'N', 'place')">ki-c&egrave;</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">h&eacute;-du</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">86</span> - <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a-ju10</span> <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal-j&aacute;-gin7</span> <span title="ki N place" onmouseover="sumer.gloss('ki', 'N', 'place')">ki-c&egrave;</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">h&eacute;-em-ma-du</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">87</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l-le</span> <span title="nam N destiny" onmouseover="sumer.gloss('nam', 'N', 'destiny')">nam</span> <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="abula N (city) gate" onmouseover="sumer.gloss('abula', 'N', '(city) gate')">abul-la-ra</span> <span title="dagan N (sleeping) chamber" onmouseover="sumer.gloss('dagan', 'N', '(sleeping) chamber')">da-ga-na</span> <span title="n&uacute; V to lie down" onmouseover="sumer.gloss('n&uacute;', 'V', 'to lie down')">ba-n&uacute;</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">88</span> - <span title="j&igrave;c N penis" onmouseover="sumer.gloss('j&igrave;c', 'N', 'penis')">j&igrave;c</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">im-ma-ni-in-dug4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">89</span> - <span title="j&igrave;c N penis" onmouseover="sumer.gloss('j&igrave;c', 'N', 'penis')">j&igrave;c</span> <span title="1 NU 1" onmouseover="sumer.gloss('1', 'NU', '1')">1</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">dug4-ga-ni</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p6')" onmouseout="sumer.mistierRose(this, 'p6')">
<span class="beatrix">90</span> - <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="n&egrave;rg&agrave;lx-m&egrave;c-l&agrave;m-t&agrave;-&egrave;-&agrave; N Nergal-Me&#353;lamta-ea" onmouseover="sumer.gloss('n&egrave;rg&agrave;lx-m&egrave;c-l&agrave;m-t&agrave;-&egrave;-&agrave;', 'N', 'Nergal-Me&#353;lamta-ea')">(d)n&egrave;rg&agrave;lx(NE.URUGAL)-(d)m&egrave;c-lam-ta-&egrave;-a</span> <span title="cag4 N heart" onmouseover="sumer.gloss('cag4', 'N', 'heart')">cag4</span> <span title="ri V to direct" onmouseover="sumer.gloss('ri', 'V', 'to direct')">mu-na-ni-ri</span> 
</div>
</div><div id="t121.p7">
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">91</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">&igrave;-jen</span> <span title="n&iacute;n-l&iacute;l N Ninlil" onmouseover="sumer.gloss('n&iacute;n-l&iacute;l', 'N', 'Ninlil')">(d)nin-l&iacute;l</span> <span title="&uacute;s V to be adjacent" onmouseover="sumer.gloss('&uacute;s', 'V', 'to be adjacent')">in-&uacute;s</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">92</span> - <span title="nu-nam-nir N Nunamnir" onmouseover="sumer.gloss('nu-nam-nir', 'N', 'Nunamnir')">(d)nu-nam-nir</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">&igrave;-jen</span> <span title="ki-sikil N young woman" onmouseover="sumer.gloss('ki-sikil', 'N', 'young woman')">ki-sikil</span> <span title="sar V to run" onmouseover="sumer.gloss('sar', 'V', 'to run')">mu-un-sar-re</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">93</span> - <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="&iacute;d-k&uacute;r-r&aacute; N Id-kura" onmouseover="sumer.gloss('&iacute;d-k&uacute;r-r&aacute;', 'N', 'Id-kura')">&iacute;d-kur-ra</span> <span title="&iacute;d N watercourse" onmouseover="sumer.gloss('&iacute;d', 'N', 'watercourse')">&iacute;d</span> <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="gu7 V to eat" onmouseover="sumer.gloss('gu7', 'V', 'to eat')">gu7-gu7-e</span> <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l</span> <span title="te V to approach" onmouseover="sumer.gloss('te', 'V', 'to approach')">im-ma-te</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">94</span> - <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="&iacute;d-k&uacute;r-r&aacute; N Id-kura" onmouseover="sumer.gloss('&iacute;d-k&uacute;r-r&aacute;', 'N', 'Id-kura')">&iacute;d-kur-ra</span> <span title="&iacute;d N watercourse" onmouseover="sumer.gloss('&iacute;d', 'N', 'watercourse')">&iacute;d</span> <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="gu7 V to eat" onmouseover="sumer.gloss('gu7', 'V', 'to eat')">gu7-gu7-ju10</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">95</span> - <span title="nin N lady" onmouseover="sumer.gloss('nin', 'N', 'lady')">nin-zu</span> <span title="n&iacute;n-l&iacute;l N Ninlil" onmouseover="sumer.gloss('n&iacute;n-l&iacute;l', 'N', 'Ninlil')">(d)nin-l&iacute;l-le</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">i-im-jen</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">96</span> - <span title="ud N day(light)" onmouseover="sumer.gloss('ud', 'N', 'day(light)')">ud-da</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">97</span> - <span title="za PD you (sg.)" onmouseover="sumer.gloss('za', 'PD', 'you (sg.)')">za-e</span> <span title="ki N place" onmouseover="sumer.gloss('ki', 'N', 'place')">ki-ju10</span> <span title="p&agrave;d V to find" onmouseover="sumer.gloss('p&agrave;d', 'V', 'to find')">nam-mu-ni-in-p&agrave;d-d&egrave;</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">98</span> - <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="&iacute;d-k&uacute;r-r&aacute; N Id-kura" onmouseover="sumer.gloss('&iacute;d-k&uacute;r-r&aacute;', 'N', 'Id-kura')">&iacute;d-kur-ra</span> <span title="&iacute;d N watercourse" onmouseover="sumer.gloss('&iacute;d', 'N', 'watercourse')">&iacute;d</span> <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="gu7 V to eat" onmouseover="sumer.gloss('gu7', 'V', 'to eat')">gu7-gu7</span> <span title="n&iacute;n-l&iacute;l N Ninlil" onmouseover="sumer.gloss('n&iacute;n-l&iacute;l', 'N', 'Ninlil')">(d)nin-l&iacute;l</span> <span title="te V to approach" onmouseover="sumer.gloss('te', 'V', 'to approach')">im-ma-te</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">99</span> - <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="&iacute;d-k&uacute;r-r&aacute; N Id-kura" onmouseover="sumer.gloss('&iacute;d-k&uacute;r-r&aacute;', 'N', 'Id-kura')">&iacute;d-kur-ra</span> <span title="&iacute;d N watercourse" onmouseover="sumer.gloss('&iacute;d', 'N', 'watercourse')">&iacute;d</span> <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="gu7 V to eat" onmouseover="sumer.gloss('gu7', 'V', 'to eat')">gu7-gu7-ju10</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">100</span> - <span title="me-ta AV type of time and place adverbial" onmouseover="sumer.gloss('me-ta', 'AV', 'type of time and place adverbial')">me-ta</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">ba-jen</span> <span title="e-ne PD he, she" onmouseover="sumer.gloss('e-ne', 'PD', 'he, she')">e-ne-ra</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">mu-un-na-ab-b&eacute;</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">101</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l-le</span> <span title="nam N destiny" onmouseover="sumer.gloss('nam', 'N', 'destiny')">nam</span> <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="&iacute;d-k&uacute;r-r&aacute; N Id-kura" onmouseover="sumer.gloss('&iacute;d-k&uacute;r-r&aacute;', 'N', 'Id-kura')">&iacute;d-kur-ra-c&egrave;</span> <span title="gi4 V to return" onmouseover="sumer.gloss('gi4', 'V', 'to return')">mu-un-na-ni-ib-gi4-gi4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">102</span> - <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal-ju10</span> <span title="sag9 V to be good" onmouseover="sumer.gloss('sag9', 'V', 'to be good')">sag9-sag9-ga</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">ba-ra-mu-da-ab-dug4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">103</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l-le</span> <span title="sag9 V to be good" onmouseover="sumer.gloss('sag9', 'V', 'to be good')">sag9-sag9-ga</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">ba-ra-mu-da-ab-dug4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">104</span> - <span title="umuc N (fore)thought" onmouseover="sumer.gloss('umuc', 'N', '(fore)thought')">umuc-j&aacute;</span> <span title="tar V to cut" onmouseover="sumer.gloss('tar', 'V', 'to cut')">i-ni-in-tar-ra</span> <span title="inim N word" onmouseover="sumer.gloss('inim', 'N', 'word')">inim-j&aacute;</span> <span title="sig10 V to place" onmouseover="sumer.gloss('sig10', 'V', 'to place')">i-ni-in-sig10-ge-&agrave;m</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">105</span> - <span title="cag4 N heart" onmouseover="sumer.gloss('cag4', 'N', 'heart')">cag4</span> <span title="sug4 V to be empty" onmouseover="sumer.gloss('sug4', 'V', 'to be empty')">sug4-ge-da-ju10</span> <span title="si V to fill" onmouseover="sumer.gloss('si', 'V', 'to fill')">ba-e-da-si-in</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">106</span> - <span title="kur N (mountain) land" onmouseover="sumer.gloss('kur', 'N', '(mountain) land')">kur-kur-ra-ke4</span> <span title="j&eacute;6 PD I" onmouseover="sumer.gloss('j&eacute;6', 'PD', 'I')">j&aacute;-a-ra</span> <span title="j&igrave;c N penis" onmouseover="sumer.gloss('j&igrave;c', 'N', 'penis')">j&igrave;c</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">ha-ma-an-dug4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">107</span> - <span title="me V to be" onmouseover="sumer.gloss('me', 'V', 'to be')">&igrave;-me-a-gin7</span> <span title="&ugrave; C and" onmouseover="sumer.gloss('&ugrave;', 'C', 'and')">&ugrave;</span> <span title="j&eacute;6 PD I" onmouseover="sumer.gloss('j&eacute;6', 'PD', 'I')">j&eacute;6-e</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">108</span> - <span title="ud N day(light)" onmouseover="sumer.gloss('ud', 'N', 'day(light)')">ud-da</span> <span title="nin N lady" onmouseover="sumer.gloss('nin', 'N', 'lady')">nin-ju10-me-en</span> <span title="NE.CE N part of body" onmouseover="sumer.gloss('NE.CE', 'N', 'part of body')">NE.CE-zu</span> <span title="cu N hand" onmouseover="sumer.gloss('cu', 'N', 'hand')">cu-ju10</span> <span title="tag V to touch" onmouseover="sumer.gloss('tag', 'V', 'to touch')">h&eacute;-tag-ge</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">109</span> - <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="dadag V to be bright" onmouseover="sumer.gloss('dadag', 'V', 'to be bright')">dadag-ga</span> <span title="cag4 N heart" onmouseover="sumer.gloss('cag4', 'N', 'heart')">cag4-j&aacute;</span> <span title="j&aacute;l V to be (located)" onmouseover="sumer.gloss('j&aacute;l', 'V', 'to be (located)')">&igrave;-j&aacute;l</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">110</span> - <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="suen N Suen" onmouseover="sumer.gloss('suen', 'N', 'Suen')">(d)suen-na</span> <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="dadag V to be bright" onmouseover="sumer.gloss('dadag', 'V', 'to be bright')">dadag-ga</span> <span title="cag4 N heart" onmouseover="sumer.gloss('cag4', 'N', 'heart')">cag4-j&aacute;</span> <span title="j&aacute;l V to be (located)" onmouseover="sumer.gloss('j&aacute;l', 'V', 'to be (located)')">&igrave;-j&aacute;l</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">111</span> - <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal-ju10</span> <span title="an N heaven" onmouseover="sumer.gloss('an', 'N', 'heaven')">an-c&egrave;</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">h&eacute;-du</span> <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a-ju10</span> <span title="ki N place" onmouseover="sumer.gloss('ki', 'N', 'place')">ki-c&egrave;</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">h&eacute;-du</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">112</span> - <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a-ju10</span> <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal-j&aacute;-gin7</span> <span title="ki N place" onmouseover="sumer.gloss('ki', 'N', 'place')">ki-c&egrave;</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">h&eacute;-em-ma-du</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">113</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l-le</span> <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="&iacute;d-k&uacute;r-r&aacute; N Id-kura" onmouseover="sumer.gloss('&iacute;d-k&uacute;r-r&aacute;', 'N', 'Id-kura')">&iacute;d-kur-ra-gin7</span> <span title="dagan N (sleeping) chamber" onmouseover="sumer.gloss('dagan', 'N', '(sleeping) chamber')">da-ga-na</span> <span title="n&uacute; V to lie down" onmouseover="sumer.gloss('n&uacute;', 'V', 'to lie down')">ba-n&uacute;</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">114</span> - <span title="j&igrave;c N penis" onmouseover="sumer.gloss('j&igrave;c', 'N', 'penis')">j&igrave;c</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">im-ma-ni-in-dug4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">115</span> - <span title="j&igrave;c N penis" onmouseover="sumer.gloss('j&igrave;c', 'N', 'penis')">j&igrave;c</span> <span title="1 NU 1" onmouseover="sumer.gloss('1', 'NU', '1')">1</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">dug4-ga-ni</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p7')" onmouseout="sumer.mistierRose(this, 'p7')">
<span class="beatrix">116</span> - <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="nin-a-zu N Ninazu" onmouseover="sumer.gloss('nin-a-zu', 'N', 'Ninazu')">(d)nin-a-zu</span> <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal</span> <span title="&eacute;c-g&aacute;n&aacute; N measuring line" onmouseover="sumer.gloss('&eacute;c-g&aacute;n&aacute;', 'N', 'measuring line')">&eacute;c-g&aacute;n&aacute;</span> <span title="g&iacute;d V to be long" onmouseover="sumer.gloss('g&iacute;d', 'V', 'to be long')">g&iacute;d-da</span> <span title="cag4 N heart" onmouseover="sumer.gloss('cag4', 'N', 'heart')">cag4</span> <span title="ri V to direct" onmouseover="sumer.gloss('ri', 'V', 'to direct')">mu-na-ni-ri</span> 
</div>
</div><div id="t121.p8">
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">117</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">&igrave;-jen</span> <span title="n&iacute;n-l&iacute;l N Ninlil" onmouseover="sumer.gloss('n&iacute;n-l&iacute;l', 'N', 'Ninlil')">(d)nin-l&iacute;l</span> <span title="&uacute;s V to be adjacent" onmouseover="sumer.gloss('&uacute;s', 'V', 'to be adjacent')">in-&uacute;s</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">118</span> - <span title="nu-nam-nir N Nunamnir" onmouseover="sumer.gloss('nu-nam-nir', 'N', 'Nunamnir')">(d)nu-nam-nir</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">&igrave;-jen</span> <span title="ki-sikil N young woman" onmouseover="sumer.gloss('ki-sikil', 'N', 'young woman')">ki-sikil</span> <span title="sar V to run" onmouseover="sumer.gloss('sar', 'V', 'to run')">mu-un-sar-re</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">119</span> - <span title="SI.LU.IGI N SI.LU.IGI" onmouseover="sumer.gloss('SI.LU.IGI', 'N', 'SI.LU.IGI')">SI.LU.IGI</span> <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="m&aacute;-&aacute;dd&iacute;r N ferryboat" onmouseover="sumer.gloss('m&aacute;-&aacute;dd&iacute;r', 'N', 'ferryboat')">m&aacute;-addir-ra</span> <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l</span> <span title="te V to approach" onmouseover="sumer.gloss('te', 'V', 'to approach')">im-ma-te</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">120</span> - <span title="SI.LU.IGI N SI.LU.IGI" onmouseover="sumer.gloss('SI.LU.IGI', 'N', 'SI.LU.IGI')">SI.LU.IGI</span> <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="m&aacute;-&aacute;dd&iacute;r N ferryboat" onmouseover="sumer.gloss('m&aacute;-&aacute;dd&iacute;r', 'N', 'ferryboat')">m&aacute;-addir-ra-ju10</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">121</span> - <span title="nin N lady" onmouseover="sumer.gloss('nin', 'N', 'lady')">nin-zu</span> <span title="n&iacute;n-l&iacute;l N Ninlil" onmouseover="sumer.gloss('n&iacute;n-l&iacute;l', 'N', 'Ninlil')">(d)nin-l&iacute;l-le</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">i-im-jen</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">122</span> - <span title="ud N day(light)" onmouseover="sumer.gloss('ud', 'N', 'day(light)')">ud-da</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">123</span> - <span title="za PD you (sg.)" onmouseover="sumer.gloss('za', 'PD', 'you (sg.)')">za-e</span> <span title="ki N place" onmouseover="sumer.gloss('ki', 'N', 'place')">ki-ju10</span> <span title="p&agrave;d V to find" onmouseover="sumer.gloss('p&agrave;d', 'V', 'to find')">nam-mu-ni-in-p&agrave;d-d&egrave;</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">124</span> - <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="m&aacute;-&aacute;dd&iacute;r N ferryboat" onmouseover="sumer.gloss('m&aacute;-&aacute;dd&iacute;r', 'N', 'ferryboat')">m&aacute;-addir-ra</span> <span title="n&iacute;n-l&iacute;l N Ninlil" onmouseover="sumer.gloss('n&iacute;n-l&iacute;l', 'N', 'Ninlil')">(d)nin-l&iacute;l</span> <span title="te V to approach" onmouseover="sumer.gloss('te', 'V', 'to approach')">im-ma-te</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">125</span> - <span title="l&uacute; N person" onmouseover="sumer.gloss('l&uacute;', 'N', 'person')">l&uacute;</span> <span title="m&aacute;-&aacute;dd&iacute;r N ferryboat" onmouseover="sumer.gloss('m&aacute;-&aacute;dd&iacute;r', 'N', 'ferryboat')">m&aacute;-addir-ra-ke4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">126</span> - <span title="me-ta AV type of time and place adverbial" onmouseover="sumer.gloss('me-ta', 'AV', 'type of time and place adverbial')">me-ta</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">ba-jen</span> <span title="e-ne PD he, she" onmouseover="sumer.gloss('e-ne', 'PD', 'he, she')">e-ne-ra</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">mu-na-ab-b&eacute;</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">127</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l-le</span> <span title="SI.LU.IGI N SI.LU.IGI" onmouseover="sumer.gloss('SI.LU.IGI', 'N', 'SI.LU.IGI')">SI.LU.IGI-e</span> <span title="inim N word" onmouseover="sumer.gloss('inim', 'N', 'word')">inim</span> <span title="gi4 V to return" onmouseover="sumer.gloss('gi4', 'V', 'to return')">mu-ni-ib-gi4-gi4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">128</span> - <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal-ju10</span> <span title="sag9 V to be good" onmouseover="sumer.gloss('sag9', 'V', 'to be good')">sag9-sag9-ga</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">ba-ra-mu-da-ab-dug4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">129</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l-le</span> <span title="sag9 V to be good" onmouseover="sumer.gloss('sag9', 'V', 'to be good')">sag9-sag9-ga</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">ba-ra-mu-da-ab-dug4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">130</span> - <span title="umuc N (fore)thought" onmouseover="sumer.gloss('umuc', 'N', '(fore)thought')">umuc-j&aacute;</span> <span title="tar V to cut" onmouseover="sumer.gloss('tar', 'V', 'to cut')">i-ni-in-tar-ra</span> <span title="inim N word" onmouseover="sumer.gloss('inim', 'N', 'word')">inim-j&aacute;</span> <span title="sig10 V to place" onmouseover="sumer.gloss('sig10', 'V', 'to place')">i-ni-in-sig10-ge-&agrave;m</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">131</span> - <span title="cag4 N heart" onmouseover="sumer.gloss('cag4', 'N', 'heart')">cag4</span> <span title="sug4 V to be empty" onmouseover="sumer.gloss('sug4', 'V', 'to be empty')">sug4-ge-da-ju10</span> <span title="si V to fill" onmouseover="sumer.gloss('si', 'V', 'to fill')">ba-e-d&egrave;-si-in</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">132</span> - <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal</span> <span title="kur N (mountain) land" onmouseover="sumer.gloss('kur', 'N', '(mountain) land')">kur-kur-ra-ke4</span> <span title="j&eacute;6 PD I" onmouseover="sumer.gloss('j&eacute;6', 'PD', 'I')">j&aacute;-a-ra</span> <span title="j&igrave;c N penis" onmouseover="sumer.gloss('j&igrave;c', 'N', 'penis')">j&igrave;c</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">ha-ma-an-dug4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">133</span> - <span title="me V to be" onmouseover="sumer.gloss('me', 'V', 'to be')">&igrave;-me-a-gin7</span> <span title="&ugrave; C and" onmouseover="sumer.gloss('&ugrave;', 'C', 'and')">&ugrave;</span> <span title="j&eacute;6 PD I" onmouseover="sumer.gloss('j&eacute;6', 'PD', 'I')">j&eacute;6-e</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">134</span> - <span title="ud N day(light)" onmouseover="sumer.gloss('ud', 'N', 'day(light)')">ud-da</span> <span title="nin N lady" onmouseover="sumer.gloss('nin', 'N', 'lady')">nin-ju10-me-en</span> <span title="NE.CE N part of body" onmouseover="sumer.gloss('NE.CE', 'N', 'part of body')">NE.CE-zu</span> <span title="cu N hand" onmouseover="sumer.gloss('cu', 'N', 'hand')">cu-ju10</span> <span title="tag V to touch" onmouseover="sumer.gloss('tag', 'V', 'to touch')">h&eacute;-tag-ge</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">135</span> - <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="dadag V to be bright" onmouseover="sumer.gloss('dadag', 'V', 'to be bright')">dadag-ga</span> <span title="cag4 N heart" onmouseover="sumer.gloss('cag4', 'N', 'heart')">cag4-j&aacute;</span> <span title="j&aacute;l V to be (located)" onmouseover="sumer.gloss('j&aacute;l', 'V', 'to be (located)')">&igrave;-j&aacute;l</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">136</span> - <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="suen N Suen" onmouseover="sumer.gloss('suen', 'N', 'Suen')">(d)suen-na</span> <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="dadag V to be bright" onmouseover="sumer.gloss('dadag', 'V', 'to be bright')">dadag-ga</span> <span title="cag4 N heart" onmouseover="sumer.gloss('cag4', 'N', 'heart')">cag4-j&aacute;</span> <span title="j&aacute;l V to be (located)" onmouseover="sumer.gloss('j&aacute;l', 'V', 'to be (located)')">&igrave;-j&aacute;l</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">137</span> - <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal-ju10</span> <span title="an N heaven" onmouseover="sumer.gloss('an', 'N', 'heaven')">an-c&egrave;</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">h&eacute;-du</span> <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a-ju10</span> <span title="ki N place" onmouseover="sumer.gloss('ki', 'N', 'place')">ki-c&egrave;</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">h&eacute;-du</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">138</span> - <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a-ju10</span> <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal-j&aacute;-gin7</span> <span title="ki N place" onmouseover="sumer.gloss('ki', 'N', 'place')">ki-c&egrave;</span> <span title="jen V to go" onmouseover="sumer.gloss('jen', 'V', 'to go')">h&eacute;-em-ma-du</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">139</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l-le</span> <span title="nam N destiny" onmouseover="sumer.gloss('nam', 'N', 'destiny')">nam</span> <span title="SI.LU.IGI N SI.LU.IGI" onmouseover="sumer.gloss('SI.LU.IGI', 'N', 'SI.LU.IGI')">SI.LU.IGI-e</span> <span title="dagan N (sleeping) chamber" onmouseover="sumer.gloss('dagan', 'N', '(sleeping) chamber')">da-ga-na</span> <span title="n&uacute; V to lie down" onmouseover="sumer.gloss('n&uacute;', 'V', 'to lie down')">ba-n&uacute;</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">140</span> - <span title="j&igrave;c N penis" onmouseover="sumer.gloss('j&igrave;c', 'N', 'penis')">j&igrave;c</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">im-ma-ni-in-dug4</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">141</span> - <span title="j&igrave;c N penis" onmouseover="sumer.gloss('j&igrave;c', 'N', 'penis')">j&igrave;c</span> <span title="1 NU 1" onmouseover="sumer.gloss('1', 'NU', '1')">1</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">dug4-ga-ni</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p8')" onmouseout="sumer.mistierRose(this, 'p8')">
<span class="beatrix">142</span> - <span title="a N water" onmouseover="sumer.gloss('a', 'N', 'water')">a</span> <span title="&eacute;n-b&iacute;-l&uacute;-l&uacute; N Enbilulu" onmouseover="sumer.gloss('&eacute;n-b&iacute;-l&uacute;-l&uacute;', 'N', 'Enbilulu')">(d)en-b&iacute;-lu-lu</span> <span title="k&uacute;3-j&aacute;lk&ugrave;-j&agrave;l2 N canal inspector" onmouseover="sumer.gloss('k&uacute;3-j&aacute;lk&ugrave;-j&agrave;l2', 'N', 'canal inspector')">k&ugrave;-j&aacute;l</span> <span title="&iacute;d N watercourse" onmouseover="sumer.gloss('&iacute;d', 'N', 'watercourse')">&iacute;d-da</span> <span title="cag4 N heart" onmouseover="sumer.gloss('cag4', 'N', 'heart')">cag4</span> <span title="ri V to direct" onmouseover="sumer.gloss('ri', 'V', 'to direct')">mu-na-ni-ri</span> 
</div>
</div><div id="t121.p9">
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p9')" onmouseout="sumer.mistierRose(this, 'p9')">
<span class="beatrix">143</span> - <span title="en N lord" onmouseover="sumer.gloss('en', 'N', 'lord')">en</span> <span title="za PD you (sg.)" onmouseover="sumer.gloss('za', 'PD', 'you (sg.)')">za-e-me-en</span> <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal</span> <span title="za PD you (sg.)" onmouseover="sumer.gloss('za', 'PD', 'you (sg.)')">za-e-me-en</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p9')" onmouseout="sumer.mistierRose(this, 'p9')">
<span class="beatrix">144</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l</span> <span title="en N lord" onmouseover="sumer.gloss('en', 'N', 'lord')">en</span> <span title="za PD you (sg.)" onmouseover="sumer.gloss('za', 'PD', 'you (sg.)')">za-e-me-en</span> <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal</span> <span title="za PD you (sg.)" onmouseover="sumer.gloss('za', 'PD', 'you (sg.)')">za-e-me-en</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p9')" onmouseout="sumer.mistierRose(this, 'p9')">
<span class="beatrix">145</span> - <span title="nu-nam-nir N Nunamnir" onmouseover="sumer.gloss('nu-nam-nir', 'N', 'Nunamnir')">(d)nu-nam-nir</span> <span title="en N lord" onmouseover="sumer.gloss('en', 'N', 'lord')">en</span> <span title="za PD you (sg.)" onmouseover="sumer.gloss('za', 'PD', 'you (sg.)')">za-e-me-en</span> <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal</span> <span title="za PD you (sg.)" onmouseover="sumer.gloss('za', 'PD', 'you (sg.)')">za-e-me-en</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p9')" onmouseout="sumer.mistierRose(this, 'p9')">
<span class="beatrix">146</span> - <span title="en N lord" onmouseover="sumer.gloss('en', 'N', 'lord')">en</span> <span title="JIRI  &#284;IRI" onmouseover="sumer.gloss('JIRI', '', '&#284;IRI')">JIRI-ma</span> <span title="en N lord" onmouseover="sumer.gloss('en', 'N', 'lord')">en</span> <span title="uru16 V to be towering" onmouseover="sumer.gloss('uru16', 'V', 'to be towering')">uru18-na</span> <span title="za PD you (sg.)" onmouseover="sumer.gloss('za', 'PD', 'you (sg.)')">za-e-me-en</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p9')" onmouseout="sumer.mistierRose(this, 'p9')">
<span class="beatrix">147</span> - <span title="en N lord" onmouseover="sumer.gloss('en', 'N', 'lord')">en</span> <span title="gu N (flax) thread" onmouseover="sumer.gloss('gu', 'N', '(flax) thread')">gu</span> <span title="m&uacute; V to grow" onmouseover="sumer.gloss('m&uacute;', 'V', 'to grow')">m&uacute;-m&uacute;</span> <span title="en N lord" onmouseover="sumer.gloss('en', 'N', 'lord')">en</span> <span title="ce N barley" onmouseover="sumer.gloss('ce', 'N', 'barley')">ce</span> <span title="m&uacute; V to grow" onmouseover="sumer.gloss('m&uacute;', 'V', 'to grow')">m&uacute;-m&uacute;</span> <span title="za PD you (sg.)" onmouseover="sumer.gloss('za', 'PD', 'you (sg.)')">za-e-me-en</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p9')" onmouseout="sumer.mistierRose(this, 'p9')">
<span class="beatrix">148</span> - <span title="en N lord" onmouseover="sumer.gloss('en', 'N', 'lord')">en</span> <span title="an N heaven" onmouseover="sumer.gloss('an', 'N', 'heaven')">an-na</span> <span title="en N lord" onmouseover="sumer.gloss('en', 'N', 'lord')">en</span> <span title="h&eacute;-j&aacute;l N plenty" onmouseover="sumer.gloss('h&eacute;-j&aacute;l', 'N', 'plenty')">h&eacute;-j&aacute;l</span> <span title="en N lord" onmouseover="sumer.gloss('en', 'N', 'lord')">en</span> <span title="ki N place" onmouseover="sumer.gloss('ki', 'N', 'place')">ki-a</span> <span title="za PD you (sg.)" onmouseover="sumer.gloss('za', 'PD', 'you (sg.)')">za-e-me-en</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p9')" onmouseout="sumer.mistierRose(this, 'p9')">
<span class="beatrix">149</span> - <span title="en N lord" onmouseover="sumer.gloss('en', 'N', 'lord')">en</span> <span title="ki N place" onmouseover="sumer.gloss('ki', 'N', 'place')">ki-a</span> <span title="en N lord" onmouseover="sumer.gloss('en', 'N', 'lord')">en</span> <span title="h&eacute;-j&aacute;l N plenty" onmouseover="sumer.gloss('h&eacute;-j&aacute;l', 'N', 'plenty')">h&eacute;-j&aacute;l</span> <span title="en N lord" onmouseover="sumer.gloss('en', 'N', 'lord')">en</span> <span title="an N heaven" onmouseover="sumer.gloss('an', 'N', 'heaven')">an-na</span> <span title="za PD you (sg.)" onmouseover="sumer.gloss('za', 'PD', 'you (sg.)')">za-e-me-en</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p9')" onmouseout="sumer.mistierRose(this, 'p9')">
<span class="beatrix">150</span> - <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l</span> <span title="an N heaven" onmouseover="sumer.gloss('an', 'N', 'heaven')">an-na</span> <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l</span> <span title="lugal N king" onmouseover="sumer.gloss('lugal', 'N', 'king')">lugal-la-&agrave;m</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p9')" onmouseout="sumer.mistierRose(this, 'p9')">
<span class="beatrix">151</span> - <span title="en N lord" onmouseover="sumer.gloss('en', 'N', 'lord')">en</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">dug4-ga-ni</span> <span title="n&iacute;j N thing" onmouseover="sumer.gloss('n&iacute;j', 'N', 'thing')">n&iacute;j</span> <span title="ka N mouth" onmouseover="sumer.gloss('ka', 'N', 'mouth')">ka</span> <span title="ba V to allot" onmouseover="sumer.gloss('ba', 'V', 'to allot')">ba-a-ni</span> <span title="n&iacute;j N thing" onmouseover="sumer.gloss('n&iacute;j', 'N', 'thing')">n&iacute;j</span> <span title="k&uacute;r V to be different" onmouseover="sumer.gloss('k&uacute;r', 'V', 'to be different')">nu-k&uacute;r-ru-dam</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p9')" onmouseout="sumer.mistierRose(this, 'p9')">
<span class="beatrix">152</span> - <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">dug4-ga-ni</span> <span title="saj N head" onmouseover="sumer.gloss('saj', 'N', 'head')">saj</span> <span title="d&ugrave; V to erect" onmouseover="sumer.gloss('d&ugrave;', 'V', 'to erect')">d&ugrave;-d&ugrave;-a</span> <span title="cu N hand" onmouseover="sumer.gloss('cu', 'N', 'hand')">cu</span> <span title="bal V to turn over" onmouseover="sumer.gloss('bal', 'V', 'to turn over')">nu-bal-e-d&egrave;</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p9')" onmouseout="sumer.mistierRose(this, 'p9')">
<span class="beatrix">153</span> - <span title="z&aacute;3-m&iacute;z&agrave;-m&igrave;2 N praise" onmouseover="sumer.gloss('z&aacute;3-m&iacute;z&agrave;-m&igrave;2', 'N', 'praise')">z&agrave;-m&iacute;</span> <span title="dug4 V to say" onmouseover="sumer.gloss('dug4', 'V', 'to say')">dug4-ga</span> <span title="ama N mother" onmouseover="sumer.gloss('ama', 'N', 'mother')">ama</span> <span title="n&iacute;n-l&iacute;l N Ninlil" onmouseover="sumer.gloss('n&iacute;n-l&iacute;l', 'N', 'Ninlil')">(d)nin-l&iacute;l-l&aacute;-c&egrave;</span> 
</div>
<div class="persephone" onmouseover="sumer.lightSalmon(this, 'p9')" onmouseout="sumer.mistierRose(this, 'p9')">
<span class="beatrix">154</span> - <span title="kur N (mountain) land" onmouseover="sumer.gloss('kur', 'N', '(mountain) land')">kur</span> <span title="gal V to be big" onmouseover="sumer.gloss('gal', 'V', 'to be big')">gal</span> <span title="a-a N father" onmouseover="sumer.gloss('a-a', 'N', 'father')">a-a</span> <span title="&eacute;n-l&iacute;l N Enlil" onmouseover="sumer.gloss('&eacute;n-l&iacute;l', 'N', 'Enlil')">(d)en-l&iacute;l</span> <span title="z&aacute;3-m&iacute;z&agrave;-m&igrave;2 N praise" onmouseover="sumer.gloss('z&aacute;3-m&iacute;z&agrave;-m&igrave;2', 'N', 'praise')">z&agrave;-m&iacute;</span> 
</div>
</div>
