<div id="t112.p1">
<div class="persephone">
<span class="beatrix">1</span> - <span title="ud, N, day(light)">ud</span> <span title="re, PD, that">re-a-ta</span> <span title="ud, N, day(light)">ud</span> <span title="an, N, heaven">an</span> <span title="ki, N, place">ki-bi-ta</span> <span title="d&iacute;m, V, to create">ba-an-d&iacute;m-ma-ba</span> 
</div>
<div class="persephone">
<span class="beatrix">2</span> - <span title="ji6, N, night">ji6</span> <span title="re, PD, that">re-a-ta</span> <span title="ji6, N, night">ji6</span> <span title="an, N, heaven">an</span> <span title="ki, N, place">ki-bi-ta</span> <span title="d&iacute;m, V, to create">ba-an-d&iacute;m-ma-ba</span> 
</div>
<div class="persephone">
<span class="beatrix">3</span> - <span title="mu, N, year">mu</span> <span title="re, PD, that">re-a-ta</span> <span title="mu, N, year">mu</span> <span title="nam, N, destiny">nam</span> <span title="tar, V, to cut">ba-tar-ra-ba</span> 
</div>
<div class="persephone">
<span class="beatrix">4</span> - <span title="a-nun-na, N, Anuna">(d)a-nun-na-ke4-ne</span> <span title="tud, V, to give birth">ba-tu-ud-da-a-ba</span> 
</div>
<div class="persephone">
<span class="beatrix">5</span> - <span title="ama-inana, N, goddess">(d)ama-(d)inana</span> <span title="nam-NIR.PA, N, marriage">nam-NIR.PA-c&egrave;</span> <span title="tuku, V, to have">ba-tuku-a-ba</span> 
</div>
<div class="persephone">
<span class="beatrix">6</span> - <span title="ama-inana, N, goddess">(d)ama-(d)inana</span> <span title="an, N, heaven">an</span> <span title="ki, N, place">ki-a</span> <span title="hal, V, to divide out">ba-hal-hal-la-a-ba</span> 
</div>
<div class="persephone">
<span class="beatrix">7</span> - <span title="ama-inana, N, goddess">(d)ama-(d)inana</span> <span title=", , "></span> <span title="pec, V, to be thick">ba-a-pec</span> <span title="tud, V, to give birth">&ugrave;-tud-da-a-ba</span> 
</div>
<div class="persephone">
<span class="beatrix">8</span> - <span title="dijir, N, deity">dijir</span> <span title="kurum6, N, food ration">kurum6-ma-bi</span> <span title="A, , A">A</span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="&uacute;n&uacute;, N, (dining) hall">&uacute;n&uacute;-bi-c&egrave;</span> <span title="k&eacute;c&eacute;, V, to bind">ba-ab-k&eacute;c&eacute;-a-ba</span> 
</div>
<div class="persephone">
<span class="beatrix">9</span> - <span title="dijir, N, deity">dijir</span> <span title="c&aacute;r, V, to be numerous">c&aacute;r-c&aacute;r</span> <span title="k&iacute;j, N, work">k&iacute;j-j&aacute;</span> <span title="gub, V, to stand">al-s&uacute;g-ge-ec</span> <span title="dijir, N, deity">dijir</span> <span title="tur, V, to be small">tur-tur</span> <span title="du-lum, N, toil">d&uacute;-lum</span> <span title="&iacute;l, V, to raise">im-&iacute;l-&iacute;l-e-ne</span> 
</div>
<div class="persephone">
<span class="beatrix">10</span> - <span title="dijir, N, deity">dijir</span> <span title="&iacute;d, N, watercourse">&iacute;d</span> <span title="im, N, clay">im</span> <span title="dun, V, to dig">dun-dun-&ugrave;-ne</span> <span title="sahar, N, earth">sahar-bi</span> <span title="ha-ra-li, N, &#7722;arali">ha-ra-li</span> <span title="dub, V, to heap up">im-dub-dub-b&eacute;-ne</span> 
</div>
<div class="persephone">
<span class="beatrix">11</span> - <span title="dijir, N, deity">dijir</span> <span title="im, N, clay">im</span> <span title="&agrave;r-&agrave;r, V, to grind">&agrave;r-&agrave;r-re-ne</span> <span title="zi, N, life (breath)">zi-bi</span> <span title="inim, N, word">inim</span> <span title="jar, V, to place">&agrave;m-ma-jar-re-ne</span> 
</div>
</div><div id="t112.p2">
<div class="persephone">
<span class="beatrix">12</span> - <span title="ud, N, day(light)">ud-ba</span> <span title="j&eacute;ct&uacute;g, N, ear">j&eacute;ct&uacute;g</span> <span title="dajal, V, to be wide">dajal</span> <span title="mud, V, to create">mud</span> <span title="dijir, N, deity">dijir</span> <span title="c&aacute;r, V, to be numerous">c&aacute;r-c&aacute;r</span> <span title="j&aacute;l, V, to be (located)">j&aacute;l-j&aacute;l</span> 
</div>
<div class="persephone">
<span class="beatrix">13</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="engur, N, subterranean water">engur</span> <span title="b&ugrave;r&ugrave;, V, to penetrate">b&ugrave;r&ugrave;</span> <span title="a-sur-ra, N, subterranean water">a-sur-ra</span> <span title="ki, N, place">ki</span> <span title="dijir, N, deity">dijir</span> <span title="na-me, PD, any">na-me</span> <span title="cag4, N, heart">cag4-bi</span> <span title="u6, N, wonder">u6</span> <span title="dug4, V, to say">nu-um-me</span> 
</div>
<div class="persephone">
<span class="beatrix">14</span> - <span title="k&iacute;-n&uacute;, N, sleeping quarter">ki-n&uacute;-ni</span> <span title="n&uacute;, V, to lie down">&igrave;-n&uacute;</span> <span title="&ugrave;, N, sleep">&ugrave;</span> <span title="ku, V, to lay down">ku</span> <span title="z&igrave;g, V, to rise">nu-um-zi-zi</span> 
</div>
<div class="persephone">
<span class="beatrix">15</span> - <span title="dijir, N, deity">dijir</span> <span title="&eacute;r, N, tear">&eacute;r-ra</span> <span title="p&agrave;d, V, to find">im-pad-pad-ne</span> <span title="a-nir, N, lament">a-nir</span> <span title="j&aacute;l, V, to be (located)">j&aacute;l</span> <span title="ak, V, to do">&igrave;-ak</span> <span title="dug4, V, to say">im-me-ne</span> 
</div>
<div class="persephone">
<span class="beatrix">16</span> - <span title="l&uacute;, N, person">l&uacute;</span> <span title="ku, V, to lay down">ku-ra</span> <span title="n&uacute;, V, to lie down">&igrave;-n&uacute;-a-ra</span> <span title="k&iacute;-n&uacute;, N, sleeping quarter">ki-n&uacute;-bi</span> <span title="z&igrave;g, V, to rise">nu-um-zi-zi-ra</span> 
</div>
<div class="persephone">
<span class="beatrix">17</span> - <span title="namma, N, Namma">(d)namma-ke4</span> <span title="ama, N, mother">ama</span> <span title="palil, AJ, foremost">palil</span> <span title="tud, V, to give birth">&ugrave;-tud</span> <span title="dijir, N, deity">dijir</span> <span title="c&aacute;r, V, to be numerous">c&aacute;r-c&aacute;r-ra-ke4-ne</span> 
</div>
<div class="persephone">
<span class="beatrix">18</span> - <span title="&eacute;r, N, tear">&eacute;r-ra</span> <span title="dijir, N, deity">dijir-re-e-ne</span> <span title="dumu, N, child">dumu-ni-ir</span> <span title="de6, V, to carry">ba-ci-in-de6</span> 
</div>
<div class="persephone">
<span class="beatrix">19</span> - <span title="X, , X">X</span> <span title="n&uacute;, V, to lie down">mu-un-ci-n&uacute;-&ugrave;-nam</span> <span title="&ugrave;, N, sleep">&ugrave;</span> <span title="ku, V, to lay down">mu-un-ci-ku-ku-na-nam</span> 
</div>
<div class="persephone">
<span class="beatrix">20</span> - <span title="X, , X">X</span> <span title="TE, , TE">TE</span> <span title="BA, , BA">BA</span> <span title=", , "></span> <span title="z&igrave;g, V, to rise">nu-mu-un-zi-zi</span> 
</div>
<div class="persephone">
<span class="beatrix">21</span> - <span title="cu, N, hand">cu</span> <span title="d&iacute;m, V, to create">d&iacute;m-d&iacute;m-ma-zu</span> <span title="X, , X">X</span> <span title="g&uacute;, N, neck">g&uacute;-bi</span> <span title="tu11, V, to strike down">im-tu10-tu10-ne</span> 
</div>
<div class="persephone">
<span class="beatrix">22</span> - <span title="k&iacute;-n&uacute;, N, sleeping quarter">ki-n&uacute;-zu</span> <span title="z&igrave;g, V, to rise">z&igrave;g-ga</span> <span title="k&iacute;j, V, to seek">&ugrave;-mu-e-k&iacute;j-j&aacute;</span> 
</div>
<div class="persephone">
<span class="beatrix">23</span> - <span title="k&iacute;j-s&iacute;g, N, late afternoon meal">k&iacute;j-sig10</span> <span title="d&iacute;m, V, to create">&ugrave;-mu-e-d&iacute;m</span> <span title="du-lum, N, toil">d&uacute;-lum-bi</span> <span title="tu-lu, V, to be loose">ha-ba-tu-lu-ne</span> 
</div>
</div><div id="t112.p3">
<div class="persephone">
<span class="beatrix">24</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="inim, N, word">inim</span> <span title="ama, N, mother">ama-na</span> <span title="namma, N, Namma">(d)namma-ke4</span> <span title="k&iacute;-n&uacute;, N, sleeping quarter">ki-n&uacute;-na</span> <span title="z&igrave;g, V, to rise">ba-ta-z&igrave;g</span> 
</div>
<div class="persephone">
<span class="beatrix">25</span> - <span title="hal-an-kug, N, &#7722;al-an-kug">hal-an-kug</span> <span title="n&iacute;j&iacute;n, V, to go around">n&iacute;j&iacute;n</span> <span title="cag4, N, heart">cag4</span> <span title="k&uacute;c, V, to be tired">k&uacute;c-&ugrave;-da-na</span> <span title="h&aacute;c, N, thigh">hac</span> <span title="ra, V, to beat">im-mi-ni-ra</span> 
</div>
<div class="persephone">
<span class="beatrix">26</span> - <span title="j&eacute;ct&uacute;g, N, ear">j&eacute;ct&uacute;g</span> <span title="jizzal, N, hearing">jizzal</span> <span title=", , "></span> <span title="nam-kug-zu, N, wisdom">nam-kug-zu</span> <span title="mud, V, to create">mud</span> <span title="m&eacute;-d&iacute;m, N, articulation">me-d&iacute;m</span> <span title="n&iacute;j-n&aacute;m, PD, anything">n&iacute;j-nam-ma</span> <span title="SIG7-EN, N, birth goddess?">SIG7-EN</span> <span title="SIG7-HI, N, birth goddess?">SIG7-HI</span> <span title="&egrave;, V, to go out or in">im-ta-an-&egrave;</span> 
</div>
<div class="persephone">
<span class="beatrix">27</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="&aacute;, N, arm">&aacute;-ni</span> <span title="de6, V, to carry">ba-ci-in-de6</span> <span title="j&eacute;ct&uacute;g, N, ear">j&eacute;ct&uacute;g</span> <span title="n&iacute;j&iacute;n, V, to go around">&igrave;-ni10-ni10-e</span> 
</div>
<div class="persephone">
<span class="beatrix">28</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="mud, V, to create">mud</span> <span title="m&eacute;-d&iacute;m, N, articulation">me-d&iacute;m</span> <span title="n&iacute;-t&eacute;-&aacute;-n&iacute;, PD, himself, herself">n&iacute;-te-a-na</span> <span title="cag4, N, heart">cag4-bi</span> <span title="j&eacute;ct&uacute;g, N, ear">j&eacute;ct&uacute;g-ta</span> <span title="de5, V, to collect">&ugrave;-mu-ni-de5-ge</span> 
</div>
<div class="persephone">
<span class="beatrix">29</span> - <span title="ama, N, mother">ama-ni</span> <span title="namma, N, Namma">(d)namma-ra</span> <span title="g&ugrave;, N, voice">g&ugrave;</span> <span title="d&eacute;, V, to pour">mu-un-na-d&eacute;-e</span> 
</div>
<div class="persephone">
<span class="beatrix">30</span> - <span title="ama, N, mother">ama-ju10</span> <span title="mud, V, to create">mud</span> <span title="jar, V, to place">mu-jar-ra-zu</span> <span title="j&aacute;l, V, to be (located)">&igrave;-j&aacute;l-la-&agrave;m</span> <span title="dusu, N, earth-carrying basket">zub-s&igrave;g</span> <span title="dijir, N, deity">dijir-re-e-ne</span> <span title="k&eacute;c&eacute;, V, to bind">k&eacute;c&eacute;-&igrave;</span> 
</div>
<div class="persephone">
<span class="beatrix">31</span> - <span title="cag4, N, heart">cag4</span> <span title="im, N, clay">im</span> <span title="ugu, N, skull">ugu</span> <span title="abzu, N, underground water">abzu-ka</span> <span title="c&aacute;r, V, to mix">&ugrave;-mu-e-ni-in-c&aacute;r</span> 
</div>
<div class="persephone">
<span class="beatrix">32</span> - <span title="SIG7-EN, N, birth goddess?">SIG7-EN</span> <span title="SIG7-HI, N, birth goddess?">SIG7-HI</span> <span title="im, N, clay">im</span> <span title="k&igrave;r-k&igrave;r, V, to nip off">mu-e-k&igrave;r-k&igrave;r-re-ne</span> <span title="za, PD, you (sg.)">za-e</span> <span title="m&eacute;-d&iacute;m, N, articulation">me-d&iacute;m</span> <span title="j&aacute;l, V, to be (located)">&ugrave;-mu-e-ni-j&aacute;l</span> 
</div>
<div class="persephone">
<span class="beatrix">33</span> - <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah-e</span> <span title="an-ta, N, companion">an-ta-zu</span> <span title="ak, V, to do">h&eacute;-ak-e</span> 
</div>
<div class="persephone">
<span class="beatrix">34</span> - <span title="n&igrave;n-&igrave;mm&agrave;, N, Ninimma">(d)nin-&igrave;mm&agrave;</span> <span title="cu-zi-an-na, N, &#352;u-zi-ana">(d)cu-zi-an-na</span> <span title="nin-ma-da, N, Ninmada">(d)nin-ma-da</span> <span title="nin-barag, N, Ninbarag">(d)nin-barag</span> 
</div>
<div class="persephone">
<span class="beatrix">35</span> - <span title="nin-mug, N, Ninmug">(d)nin-mug</span> <span title="CAR.CAR.GABA, N, &#352;AR.&#352;AR.GABA">(d)CAR.CAR.GABA</span> <span title="n&igrave;n-g&ugrave;n-n&agrave;, N, Ninguna">(d)nin-g&ugrave;n-na</span> 
</div>
<div class="persephone">
<span class="beatrix">36</span> - <span title="tud, V, to give birth">tud-tud-a-zu</span> <span title="gub, V, to stand">ha-ra-gub-bu-ne</span> 
</div>
<div class="persephone">
<span class="beatrix">37</span> - <span title="ama, N, mother">ama-ju10</span> <span title="za, PD, you (sg.)">za-e</span> <span title="nam, N, destiny">nam-bi</span> <span title="tar, V, to cut">&ugrave;-mu-e-tar</span> <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah</span> <span title="dusu, N, earth-carrying basket">zub-s&igrave;g-bi</span> <span title="k&eacute;c&eacute;, V, to bind">h&eacute;-k&eacute;c&eacute;</span> 
</div>
<div class="persephone">
<span class="beatrix">38</span> - <span title=", , "></span> <span title="d&ugrave;, V, to erect">&igrave;-d&ugrave;</span> <span title="n&aacute;m-l&uacute;-&uacute;l&uacute;3n&agrave;m-l&ugrave;2-&ugrave;l&ugrave;, N, humanity">nam-l&uacute;-&ugrave;l&ugrave;</span> <span title=", , "></span> 
</div>
<div class="persephone">
<span class="beatrix">39</span> - <span title=", , ">-ke4</span> <span title="n&aacute;m-l&uacute;-&uacute;l&uacute;3n&agrave;m-l&ugrave;2-&ugrave;l&ugrave;, N, humanity">nam-l&uacute;-&ugrave;l&ugrave;</span> <span title=", V, ">&agrave;m-ma-</span> 
</div>
<div class="persephone">
<span class="beatrix">40</span> - <span title=", , "></span> <span title="HA, , &#7722;A">HA</span> <span title="saj, N, head">saj-e</span> <span title="saj, N, head">saj</span> <span title=", V, ">&agrave;m-ma-</span> 
</div>
<div class="persephone">
<span class="beatrix">41</span> - <span title=", , "></span> <span title="d&iacute;m, V, to create">d&iacute;m-zu</span> <span title="&uacute;n&uacute;, N, (dining) hall">unu6</span> <span title="RI, , RI">RI-zu</span> <span title="me, V, to be">ga-a-&agrave;m</span> 
</div>
<div class="persephone">
<span class="beatrix">42</span> - <span title=", , "></span> <span title="SAR, , SAR">SAR-e</span> <span title="jic-nu11, N, light">jic-nu11</span> <span title="&iacute;l, V, to raise">mi-ni-in-&iacute;l</span> <span title="n&aacute;m-l&uacute;-&uacute;l&uacute;3n&agrave;m-l&ugrave;2-&ugrave;l&ugrave;, N, humanity">nam-l&uacute;-&ugrave;l&ugrave;</span> <span title=", , "></span> 
</div>
<div class="persephone">
<span class="beatrix">43</span> - <span title=", , "></span> <span title="s&aacute;g, V, to scatter">s&aacute;g</span> <span title="n&uacute;m&uacute;n, N, alfalfa">n&uacute;m&uacute;n-e</span> <span title="ri, V, to direct">mi-ni-in-ri</span> <span title="tud, V, to give birth">&ugrave;-tud</span> <span title="na, N, smoke?">na-bi</span> <span title="de5, V, to collect">mu-de5</span> 
</div>
</div><div id="t112.p4">
<div class="persephone">
<span class="beatrix">44</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="k&iacute;j, N, work">k&iacute;j</span> <span title="n&iacute;j&iacute;n, V, to go around">ni10-ni10-da</span> <span title="X, , X">X</span> <span title="l&aacute;, V, to hang">mi-ni-in-l&aacute;</span> <span title="cag4, N, heart">cag4-bi</span> <span title="h&uacute;l, V, to be happy">ba-h&uacute;l</span> 
</div>
<div class="persephone">
<span class="beatrix">45</span> - <span title="ama, N, mother">ama-ni</span> <span title="namma, N, Namma">(d)namma</span> <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah-c&egrave;</span> <span title="jicbun, N, (cult) meal">jicbun</span> <span title="jar, V, to place">na-&agrave;m-ma-ni-in-jar</span> 
</div>
<div class="persephone">
<span class="beatrix">46</span> - <span title="g&uacute;, N, entirety">g&uacute;</span> <span title="SIG7-EN, N, birth goddess?">SIG7-EN</span> <span title="SIG7-HI, N, birth goddess?">SIG7-HI</span> <span title="nun, N, prince">nun-ne-ke4</span> <span title="nam-tar, N, destiny">nam-tar</span> <span title="gi, N, reed">gi</span> <span title="saj, N, head">saj</span> <span title="ninda, N, bread">ninda</span> <span title="gu7, V, to eat">i-im-gu7-e</span> 
</div>
<div class="persephone">
<span class="beatrix">47</span> - <span title="an, N, An">an-e</span> <span title="&eacute;n-l&iacute;l, N, Enlil">(d)en-l&iacute;l-bi</span> <span title="en, N, lord">en</span> <span title="n&uacute;-d&iacute;m-m&uacute;d, N, Nudimmud">(d)nu-d&iacute;m-mud-e</span> <span title="m&aacute;c, N, (kid) goat">mac</span> <span title="kug, AJ, shining">kug</span> <span title="cej6, V, to be hot">i-im-cej6-cej6</span> 
</div>
<div class="persephone">
<span class="beatrix">48</span> - <span title="dijir, N, deity">dijir</span> <span title="c&aacute;r, V, to be numerous">c&aacute;r-c&aacute;r-ra-ke4-e-ne</span> <span title="ka, N, mouth">ka</span> <span title="tar, V, to cut">tar</span> <span title="si-il, V, to split apart">i-im-si-il-le-ne</span> 
</div>
<div class="persephone">
<span class="beatrix">49</span> - <span title="en, N, lord">en</span> <span title="j&eacute;ct&uacute;g, N, ear">j&eacute;ct&uacute;g</span> <span title="dajal, V, to be wide">dajal-la</span> <span title="a-ba, PD, who">a-ba-a</span> <span title="j&eacute;ct&uacute;g, N, ear">j&eacute;ct&uacute;g</span> <span title="de5, V, to collect">&igrave;-de5-ge</span> 
</div>
<div class="persephone">
<span class="beatrix">50</span> - <span title="en, N, lord">en</span> <span title="gal, V, to be big">gal</span> <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="n&iacute;j, N, thing">n&iacute;j</span> <span title="ak, V, to do">ak-ak-zu-c&egrave;</span> <span title="a-ba, PD, who">a-ba-a</span> <span title="sig10, V, to place">&igrave;-sig10-ge</span> 
</div>
<div class="persephone">
<span class="beatrix">51</span> - <span title="a-a, N, father">a-a</span> <span title="tud, V, to give birth">tud-da-gin7</span> <span title="me, N, essence">me</span> <span title="nam, N, destiny">nam</span> <span title="tar, V, to cut">tar-tar-ra</span> <span title="me, N, essence">me</span> <span title="za, PD, you (sg.)">za-e</span> <span title="me, V, to be">al-me-en-na</span> 
</div>
</div><div id="t112.p5">
<div class="persephone">
<span class="beatrix">52</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah-e</span> <span title="kac, N, beer">kac</span> <span title="naj, V, to drink">im-na8-na8-ne</span> <span title="cag4, N, heart">cag4-bi</span> <span title="ul, V, to swell (with joy)">ul</span> <span title="te, V, to approach">mu-un-te</span> 
</div>
<div class="persephone">
<span class="beatrix">53</span> - <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah-e</span> <span title="en-ki, N, Enki">(d)en-ki-ra</span> <span title="g&ugrave;, N, voice">g&ugrave;</span> <span title="d&eacute;, V, to pour">mu-na-d&eacute;-e</span> 
</div>
<div class="persephone">
<span class="beatrix">54</span> - <span title="m&eacute;-d&iacute;m, N, articulation">me-d&iacute;m</span> <span title="sag9, V, to be good">sag9-ge</span> <span title="hul, V, to be bad">hul</span> 
</div>
<div class="persephone">
<span class="beatrix">55</span> - <span title="ki, N, place">ki</span> <span title="cag4, N, heart">cag4</span> <span title="gi4, V, to return">gi4-a-ju10</span> <span title="sig10, V, to place">b&iacute;-ib-sig10-ge</span> <span title="hul, V, to be bad">b&iacute;-ib-hul-e</span> 
</div>
</div><div id="t112.p6">
<div class="persephone">
<span class="beatrix">56</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah-e</span> <span title="gi4, V, to return">mu-na-ni-ib-gi4-gi4</span> 
</div>
<div class="persephone">
<span class="beatrix">57</span> - <span title="nam-tar, N, destiny">nam-tar</span> <span title="cag4, N, heart">cag4-ge</span> <span title="de6, V, to carry">de6-a-zu</span> <span title="sag9, V, to be good">sag9-ge</span> <span title="hul, V, to be bad">hul</span> <span title="l&aacute;, V, to hang">ga-&agrave;m-ci-&iacute;b-l&aacute;</span> 
</div>
<div class="persephone">
<span class="beatrix">58</span> - <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah-e</span> <span title="im, N, clay">im</span> <span title="ugu, N, skull">ugu</span> <span title="abzu, N, underground water">abzu-a</span> <span title="cu, N, hand">cu-ni</span> <span title="te, V, to approach">mu-ni-in-ti</span> 
</div>
<div class="persephone">
<span class="beatrix">59</span> - <span title="l&uacute;, N, person">l&uacute;</span> <span title="gi, NU, 1st">gi</span> <span title="cu, N, hand">cu</span> <span title="c&uacute;, V, to cover">c&uacute;-c&uacute;</span> <span title="s&aacute;, V, to equal">s&aacute;-s&aacute;-d&egrave;</span> <span title="gam, V, to bow down">nu-gam</span> <span title="l&uacute;, N, person">l&uacute;-&ugrave;</span> <span title="d&iacute;m, V, to create">&agrave;m-ma-ni-in-d&iacute;m</span> 
</div>
<div class="persephone">
<span class="beatrix">60</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="gi, NU, 1st">gi</span> <span title="cu, N, hand">cu</span> <span title="c&uacute;, V, to cover">c&uacute;-c&uacute;</span> <span title="s&aacute;, V, to equal">s&aacute;-s&aacute;-d&egrave;</span> <span title="gam, V, to bow down">nu-gam</span> <span title="igi, N, eye">igi</span> <span title="du8, V, to spread">du8-a-ni-ta</span> 
</div>
<div class="persephone">
<span class="beatrix">61</span> - <span title="nam, N, destiny">nam-bi</span> <span title="tar, V, to cut">i-ni-in-tar</span> <span title="saj, N, head">saj</span> <span title="lugal, N, king">lugal-la-ke4</span> <span title="gub, V, to stand">&agrave;m-ma-ni-in-gub</span> 
</div>
</div><div id="t112.p7">
<div class="persephone">
<span class="beatrix">62</span> - <span title="gi4-bi, NU, 2nd">gi4-bi</span> <span title="jic-nu11, N, light">jic-nu11</span> <span title="gi4, V, to return">gi4-gi4</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="u6, V, to overview">u6-e</span> <span title="d&iacute;m, V, to create">&agrave;m-ma-ni-in-d&iacute;m</span> 
</div>
<div class="persephone">
<span class="beatrix">63</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="jic-nu11, N, light">jic-nu11</span> <span title="gi4, V, to return">gi4-gi4</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="u6, V, to overview">u6-e</span> <span title="igi, N, eye">igi</span> <span title="du8, V, to spread">du8-a-ni-ta</span> 
</div>
<div class="persephone">
<span class="beatrix">64</span> - <span title="nam, N, destiny">nam-bi</span> <span title="tar, V, to cut">i-ni-in-tar</span> <span title="nam-nar, N, musician's craft">nam-nar</span> <span title="ba, V, to allot">mi-ni-in-ba</span> 
</div>
<div class="persephone">
<span class="beatrix">65</span> - <span title="X, , X">X</span> <span title="gal, V, to be big">gal</span> <span title="ucumgal, N, type of serpent">ucumgal-la</span> <span title="igi, N, eye">igi</span> <span title="lugal, N, king">lugal-la-ke4</span> <span title="gub, V, to stand">&agrave;m-ma-ni-in-gub</span> 
</div>
</div><div id="t112.p8">
<div class="persephone">
<span class="beatrix">66</span> - <span title="pec-bi, NU, 3rd">pec-bi</span> <span title="j&igrave;r&igrave;, N, foot">j&igrave;r&igrave;</span> <span title=", NU, 2"></span> <span title="hum, V, to snap off">hum</span> <span title="j&igrave;r&igrave;, N, foot">j&igrave;r&igrave;</span> <span title="dab5, V, to seize">dab5-ba-a</span> <span title="d&iacute;m, V, to create">&agrave;m-ma-ni-in-d&iacute;m</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="pec-bi, NU, 3rd">pec-bi</span> <span title="lil, N, fool">lil</span> <span title="tud, V, to give birth">&ugrave;-tud-bi</span> <span title="l&uacute;, N, person">l&uacute;-&ugrave;</span> <span title=", , ">&agrave;m-ma-</span> 
</div>
<div class="persephone">
<span class="beatrix">67</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="j&igrave;r&igrave;, N, foot">j&igrave;r&igrave;</span> <span title=", NU, 2"></span> <span title="hum, V, to snap off">hum</span> <span title="j&igrave;r&igrave;, N, foot">j&igrave;r&igrave;</span> <span title="dab5, V, to seize">dab5-ba</span> <span title="igi, N, eye">igi</span> <span title="du8, V, to spread">du8-a-ni-ta</span> <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="lil, N, fool">lil</span> <span title="tud, V, to give birth">&ugrave;-tud-bi</span> <span title="l&uacute;, N, person">l&uacute;-&ugrave;</span> <span title="igi, N, eye">igi</span> <span title="du8, V, to spread">du8-a-ni-ta</span> 
</div>
<div class="persephone">
<span class="beatrix">68</span> - <span title="k&iacute;j, N, work">k&iacute;j</span> <span title=", , "></span> <span title="k&uacute;g-b&aacute;bb&aacute;r-d&iacute;m, N, silversmith">kug-babbar-d&iacute;m</span> <span title="me-lem4, N, (awesome) radiance">me-lem4-ma-ni</span> <span title="X, , X">&agrave;m-ma-ni-in-X</span> <span title="nam, N, destiny">nam-bi</span> <span title="tar, V, to cut">i-ni-in-tar</span> <span title="saj, N, head">saj</span> <span title="lugal, N, king">lugal-la-ke4</span> <span title="gub, V, to stand">im-ma-ci-in-gub</span> 
</div>
</div><div id="t112.p9">
<div class="persephone">
<span class="beatrix">69</span> - <span title="pec-gi, NU, 4th">pec-gi</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="a, N, water">a</span> <span title="sur, V, to drip">sur-sur-ra</span> <span title="d&iacute;m, V, to create">&agrave;m-ma-ni-d&iacute;m</span> 
</div>
<div class="persephone">
<span class="beatrix">70</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="a, N, water">a</span> <span title="sur, V, to drip">sur-sur-ra</span> <span title="igi, N, eye">igi</span> <span title="du8, V, to spread">du8-a-ni-ta</span> 
</div>
<div class="persephone">
<span class="beatrix">71</span> - <span title="a, N, water">a</span> <span title="mu7-mu7, N, incantation">mu7-mu7</span> <span title="tu5, V, to wash">mi-ni-in-tu5</span> <span title="nam-tar, N, Namtar">nam-tar</span> <span title="su, N, flesh">su-bi</span> <span title="z&igrave;g, V, to rise">&agrave;m-ma-ni-in-z&igrave;g</span> 
</div>
</div><div id="t112.p10">
<div class="persephone">
<span class="beatrix">72</span> - <span title="pec-pec-gi, NU, 5th">pec-pec-gi</span> <span title="munus, N, woman">munus</span> <span title="tud, V, to give birth">nu-&ugrave;-tud</span> <span title="d&iacute;m, V, to create">&agrave;m-ma-ni-in-d&iacute;m</span> 
</div>
<div class="persephone">
<span class="beatrix">73</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="munus, N, woman">munus</span> <span title="tud, V, to give birth">nu-&ugrave;-tud</span> <span title="igi, N, eye">igi</span> <span title="du8, V, to spread">du8-a-ni-ta</span> 
</div>
<div class="persephone">
<span class="beatrix">74</span> - <span title="nam, N, destiny">nam-bi</span> <span title="tar, V, to cut">mi-ni-in-tar</span> <span title="&eacute;-m&iacute;, N, woman's estate">&eacute;-m&iacute;-a-ke4</span> <span title="d&ugrave;, V, to erect">&agrave;m-ma-ni-in-d&ugrave;</span> <span title="uc-bar, N, weaver">uc-bar</span> <span title="du8, V, to spread">mu-ni-in-du8</span> <span title="&eacute;-m&iacute;, N, woman's estate">&eacute;-m&iacute;-a-kam</span> <span title="d&iacute;m, V, to create">&agrave;m-ma-ci-in-d&iacute;m</span> 
</div>
</div><div id="t112.p11">
<div class="persephone">
<span class="beatrix">75</span> - <span title="pec-bal-gi, NU, 6th">pec-bal-gi</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="su, N, flesh">su-ba</span> <span title="j&igrave;c, N, penis">j&igrave;c</span> <span title="jar, V, to place">nu-jar</span> <span title="gal4-la, N, female genitals">gal4-la</span> <span title="jar, V, to place">nu-jar</span> <span title="d&iacute;m, V, to create">&agrave;m-ma-ni-d&iacute;m</span> 
</div>
<div class="persephone">
<span class="beatrix">76</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="su, N, flesh">su-ba</span> <span title="j&igrave;c, N, penis">j&igrave;c</span> <span title="jar, V, to place">nu-jar</span> <span title="gal4-la, N, female genitals">gal4-la</span> <span title="jar, V, to place">nu-jar</span> <span title="igi, N, eye">igi</span> <span title="du8, V, to spread">du8-a-ni-ta</span> 
</div>
<div class="persephone">
<span class="beatrix">77</span> - <span title="nibru, N, Nibru">(d)nibru(ki)</span> <span title="tiru, N, courtier">tiru(GAL.TE)-e</span> <span title="mu, N, name">mu-e</span> <span title="sa4, V, to call">mu-ni-in-sa4-a</span> 
</div>
<div class="persephone">
<span class="beatrix">78</span> - <span title="igi, N, eye">igi</span> <span title="lugal, N, king">lugal-la-ke4</span> <span title="gub, V, to stand">gub-bu-d&egrave;</span> <span title="nam, N, destiny">nam-bi</span> <span title="tar, V, to cut">a-ma-ni-in-tar</span> 
</div>
</div><div id="t112.p12">
<div class="persephone">
<span class="beatrix">79</span> - <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah-e</span> <span title="im, N, clay">im</span> <span title="n&iacute;j&iacute;n, V, to go around">n&iacute;j&iacute;n</span> <span title="cu, N, hand">cu-na</span> <span title="ki, N, place">ki-a</span> <span title="cub, V, to fall">mu-un-cub</span> <span title="lul, V, to be false">lul-ac</span> <span title="lib, N, (deathly) silence">lib</span> <span title="jar, V, to place">mu-un-jar</span> <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="im, N, clay">im</span> <span title="c&uacute;-n&iacute;j&iacute;n, N, total">cu-n&iacute;j&iacute;n-na</span> <span title="ki, N, place">ki-a</span> <span title="cub, V, to fall">in-cub</span> <span title="lul, V, to be false">lul-ac</span> <span title="gi4, V, to return">&igrave;-ni-gi</span> 
</div>
<div class="persephone">
<span class="beatrix">80</span> - <span title="en, N, lord">en</span> <span title="gal, V, to be big">gal</span> <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah-a-ra</span> <span title="g&ugrave;, N, voice">g&ugrave;</span> <span title="d&eacute;, V, to pour">mu-un-na-d&eacute;-e</span> 
</div>
<div class="persephone">
<span class="beatrix">81</span> - <span title="l&uacute;, N, person">l&uacute;</span> <span title="cu, N, hand">cu</span> <span title="d&iacute;m, V, to create">d&iacute;m-ma-zu-c&egrave;</span> <span title="nam, N, destiny">nam-bi</span> <span title="tar, V, to cut">i-ni-in-tar</span> <span title="ninda, N, bread">ninda</span> <span title="c&uacute;m, V, to give">i-ni-in-c&uacute;m</span> 
</div>
<div class="persephone">
<span class="beatrix">82</span> - <span title="j&eacute;6, PD, I">j&eacute;6-e</span> <span title="ga-na, I, directive expression">ga-na</span> <span title="d&iacute;m, V, to create">ga-mu-ra-ab-d&iacute;m</span> <span title="za, PD, you (sg.)">za-e</span> <span title="tud, V, to give birth">&ugrave;-tud-bi</span> <span title="nam, N, destiny">nam-bi</span> <span title="tar, V, to cut">tar-ra-ab</span> 
</div>
</div><div id="t112.p13">
<div class="persephone">
<span class="beatrix">83</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="m&eacute;-d&iacute;m, N, articulation">me-d&iacute;m</span> <span title="saj, N, head">saj-j&aacute;</span> <span title="X, , X">X-ga</span> <span title="ka, N, mouth">ka</span> <span title="cag4, N, heart">cag4-ba</span> <span title="d&iacute;m, V, to create">a-ma-ni-d&iacute;m</span> 
</div>
<div class="persephone">
<span class="beatrix">84</span> - <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah-a-ra</span> <span title="g&ugrave;, N, voice">g&ugrave;</span> <span title="d&eacute;, V, to pour">mu-un-na-d&eacute;-e</span> 
</div>
<div class="persephone">
<span class="beatrix">85</span> - <span title="a, N, water">a</span> <span title="j&igrave;c, N, penis">j&igrave;c</span> <span title="ak, V, to do">ak</span> <span title="cag4, N, heart">cag4</span> <span title="munus, N, woman">munus-a-ka</span> <span title="ri, V, to direct">ri-a</span> <span title="a, N, water">a</span> <span title="gan, AJ, (child)bearing">gan</span> <span title="cag4, N, heart">cag4</span> <span title="munus, N, woman">munus-a-ka</span> <span title="a, N, water">a</span> <span title="cag4, N, heart">cag4-ga-na</span> <span title="munus, N, woman">munus-bi</span> <span title="tud, V, to give birth">mu-un-&ugrave;-tud</span> 
</div>
<div class="persephone">
<span class="beatrix">86</span> - <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah</span> <span title=", , "></span> <span title="tud, V, to give birth">&ugrave;-tud-bi-c&egrave;</span> <span title="gub, V, to stand">&agrave;m-mi-ni-gub</span> 
</div>
<div class="persephone">
<span class="beatrix">87</span> - <span title="munus, N, woman">munus-bi</span> <span title="ud, N, day(light)">ud-bi</span> <span title=", , "></span> <span title="GA, , GA">GA</span> <span title="AC, , A&#352;">AC</span> <span title="X, , X">X</span> <span title="KA, , KA">KA</span> <span title="cag4, N, heart">cag4-ba</span> <span title="cub, V, to fall">i-in-cub</span> <span title="saj, N, head">saj-bi-ic</span> <span title="&egrave;, V, to go out or in">ba-ra-an-&egrave;</span> 
</div>
<div class="persephone">
<span class="beatrix">87A</span> - <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah</span> <span title=", , "></span> <span title="sig9, V, to put">&igrave;-si-ig</span> 
</div>
<div class="persephone">
<span class="beatrix">88</span> - <span title="gi4, V, to return">gi4-bi</span> <span title="u4-mu-ul, N, sickly creature">u4-mu-ul</span> <span title="a-za-ad, N, head">a-za-ad-bi</span> <span title="gig, V, to be ill">gig-ga</span> <span title="ki, N, place">ki</span> <span title="X, N, X">nam-X-bi</span> <span title="gig, V, to be ill">gig-ga</span> <span title="igi, N, eye">igi-bi</span> <span title="gig, V, to be ill">gig-ga</span> <span title="g&uacute;, N, neck">g&uacute;-bi</span> <span title="gig, V, to be ill">gig-ga</span> 
</div>
<div class="persephone">
<span class="beatrix">89</span> - <span title="zi, N, life (breath)">zi</span> <span title="til, V, to complete">til-til</span> <span title="ti, N, rib">ti</span> <span title="sur, V, to drip">sur-sur</span> <span title="mur, N, lung">mur</span> <span title="gig, V, to be ill">gig-ga</span> <span title="cag4, N, heart">cag4</span> <span title="gig, V, to be ill">gig-ga</span> <span title="lipic, N, inner body">lipic</span> <span title="gig, V, to be ill">gig-ga</span> 
</div>
<div class="persephone">
<span class="beatrix">90</span> - <span title="cu, N, hand">cu-bi</span> <span title="a-za-ad, N, head">a-za-ad</span> <span title="l&aacute;, V, to hang">l&aacute;-l&aacute;</span> <span title="ka, N, mouth">ka-bi-c&egrave;</span> <span title="ninda, N, bread">ninda</span> <span title="jar, V, to place">nu-jar</span> <span title="murgu, N, back">m&uacute;rg&uacute;</span> <span title="saj-du, N, head">saj-du</span> <span title="z&eacute;-&eacute;r, V, to tear out">z&eacute;-re</span> 
</div>
<div class="persephone">
<span class="beatrix">91</span> - <span title="zag-ce, N, shoulder">zag-ce</span> <span title="sur, V, to drip">sur</span> <span title="j&igrave;r&igrave;, N, foot">j&igrave;r&igrave;</span> <span title="sur, V, to drip">sur-sur</span> <span title="&agrave;-g&agrave;r, N, meadow">a-g&agrave;r</span> <span title="DU, V, DU">nu-DU</span> <span title="d&iacute;m, V, to create">&agrave;m-ma-ni-in-d&iacute;m</span> 
</div>
</div><div id="t112.p14">
<div class="persephone">
<span class="beatrix">92</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah-ra</span> <span title="g&ugrave;, N, voice">g&ugrave;</span> <span title="d&eacute;, V, to pour">mu-na-d&eacute;-e</span> 
</div>
<div class="persephone">
<span class="beatrix">93</span> - <span title="l&uacute;, N, person">l&uacute;</span> <span title="cu, N, hand">cu</span> <span title="d&iacute;m, V, to create">d&iacute;m-ma-zu</span> <span title="nam, N, destiny">nam</span> <span title="tar, V, to cut">i-ni-in-tar</span> <span title="ninda, N, bread">ninda</span> <span title="c&uacute;m, V, to give">mi-ni-c&uacute;m</span> 
</div>
<div class="persephone">
<span class="beatrix">94</span> - <span title="za, PD, you (sg.)">za-e</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="cu, N, hand">cu</span> <span title="d&iacute;m, V, to create">d&iacute;m-ju10-uc</span> <span title="nam, N, destiny">nam-bi</span> <span title="tar, V, to cut">tar-ra-ab</span> <span title="ninda, N, bread">ninda</span> <span title="c&uacute;m, V, to give">h&eacute;--c&uacute;m</span> 
</div>
<div class="persephone">
<span class="beatrix">95</span> - <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah-e</span> <span title="u4-mu-ul, N, sickly creature">u4-mu-ul</span> <span title="igi, N, eye">igi</span> <span title="du8, V, to spread">du8-a-ni-ta</span> <span title="e-ne, PD, he, she">e-ne-c&egrave;</span> <span title="gi4, V, to return">ba-e-gi4</span> 
</div>
<div class="persephone">
<span class="beatrix">96</span> - <span title="u4-mu-ul, N, sickly creature">u4-mu-ul</span> <span title="te, V, to approach">mu-na-te</span> <span title="dug4, V, to say">dug4-ga</span> <span title="zu, V, to know">nu-zu-e</span> 
</div>
<div class="persephone">
<span class="beatrix">97</span> - <span title="ninda, N, bread">ninda</span> <span title="gu7, V, to eat">gu7-a-ni-c&egrave;</span> <span title="de6, V, to carry">mu-na-ab-de6</span> <span title="cu, N, hand">cu</span> <span title="g&iacute;d, V, to be long">nu-mu-na-da-g&iacute;d-d&egrave;</span> 
</div>
<div class="persephone">
<span class="beatrix">98</span> - <span title="gur8-u6, N, wooden object">gur8-u6</span> <span title="cag4, N, heart">cag4</span> <span title="n&uacute;, V, to lie down">nu-mu-na-n&uacute;</span> <span title="j&aacute;l, V, to be (located)">nu-mu-da-an-j&aacute;l-j&aacute;l</span> 
</div>
<div class="persephone">
<span class="beatrix">99</span> - <span title="gub, V, to stand">gub</span> <span title="tuc, V, to sit">nu-mu-da-tuc</span> <span title="n&uacute;, V, to lie down">nu-mu-da-n&uacute;</span> <span title="&eacute;, N, house(hold)">&eacute;</span> <span title="X, , X">nu-mu-da-X</span> <span title="ninda, N, bread">ninda</span> <span title="gu7, V, to eat">nu-mu-da-gu7</span> 
</div>
<div class="persephone">
<span class="beatrix">100</span> - <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah-e</span> <span title="en-ki, N, Enki">(d)en-ki-ra</span> <span title="inim, N, word">inim-ma</span> <span title="gi4, V, to return">mu--gi4-gi4</span> 
</div>
<div class="persephone">
<span class="beatrix">101</span> - <span title="l&uacute;, N, person">l&uacute;</span> <span title="cu, N, hand">cu</span> <span title="d&iacute;m, V, to create">d&iacute;m-ma-zu</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="t&igrave;l, V, to live">t&igrave;l-la</span> <span title="me, V, to be">in-nu</span> <span title="l&uacute;, N, person">l&uacute;</span> <span title="&uacute;c, V, to die">ug5-ga</span> <span title="me, V, to be">in-nu</span> <span title="&iacute;l, V, to raise">&iacute;l-bi</span> <span title="me, V, to be">nu-mu-da</span> 
</div>
</div><div id="t112.p15">
<div class="persephone">
<span class="beatrix">102</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah-e</span> <span title="gi4, V, to return">mu-na-ni-ib-gi4-gi4</span> 
</div>
<div class="persephone">
<span class="beatrix">103</span> - <span title="l&uacute;, N, person">l&uacute;</span> <span title="gi, NU, 1st">gi</span> <span title="cu, N, hand">cu</span> <span title="sig, V, to be low">sig-ra</span> <span title="nam, N, destiny">nam</span> <span title="tar, V, to cut">mi-ni-tar</span> <span title="ninda, N, bread">ninda</span> <span title="c&uacute;m, V, to give">mi-ni-in-c&uacute;m</span> 
</div>
<div class="persephone">
<span class="beatrix">104</span> - <span title="l&uacute;, N, person">l&uacute;</span> <span title="jic-nu11, N, light">jic-nu11</span> <span title="gi4, V, to return">gi4-gi4-ra</span> <span title="nam, N, destiny">nam</span> <span title="tar, V, to cut">mi-ni-tar</span> <span title="ninda, N, bread">ninda</span> <span title="c&uacute;m, V, to give">mi-ni-in-c&uacute;m</span> 
</div>
<div class="persephone">
<span class="beatrix">105</span> - <span title="l&uacute;, N, person">l&uacute;</span> <span title="j&igrave;r&igrave;, N, foot">j&igrave;r&igrave;</span> <span title="hum, V, to snap off">hum</span> <span title="dab5, V, to seize">dab5-ra</span> <span title="nam, N, destiny">nam</span> <span title="tar, V, to cut">mi-ni-tar</span> <span title="ninda, N, bread">ninda</span> <span title="c&uacute;m, V, to give">mi-ni-in-c&uacute;m</span> 
</div>
<div class="persephone">
<span class="beatrix">106</span> - <span title="l&uacute;, N, person">l&uacute;</span> <span title="a, N, water">a</span> <span title="sur, V, to drip">sur-sur-ra</span> <span title="nam, N, destiny">nam</span> <span title="tar, V, to cut">mi-ni-tar</span> <span title="ninda, N, bread">ninda</span> <span title="c&uacute;m, V, to give">mi-ni-in-c&uacute;m</span> 
</div>
<div class="persephone">
<span class="beatrix">107</span> - <span title="munus, N, woman">munus</span> <span title="tud, V, to give birth">nu-&ugrave;-tud-ra</span> <span title="nam, N, destiny">nam</span> <span title="tar, V, to cut">mi-ni-tar</span> <span title="ninda, N, bread">ninda</span> <span title="c&uacute;m, V, to give">mi-ni-in-c&uacute;m</span> 
</div>
<div class="persephone">
<span class="beatrix">108</span> - <span title="l&uacute;, N, person">l&uacute;</span> <span title="su, N, flesh">su-ba</span> <span title="j&igrave;c, N, penis">j&igrave;c</span> <span title="jar, V, to place">nu-jar</span> <span title="gal4-la, N, female genitals">gal4-la</span> <span title="jar, V, to place">nu-jar-ra</span> <span title="nam, N, destiny">nam</span> <span title="tar, V, to cut">mi-ni-tar</span> <span title="ninda, N, bread">ninda</span> <span title="c&uacute;m, V, to give">mi-ni-in-c&uacute;m</span> 
</div>
<div class="persephone">
<span class="beatrix">109</span> - <span title="nin9, N, sister">nin9-ju10</span> <span title=", , "></span> 
</div>
<div class="persephone">
<span class="beatrix">110</span> - <span title=", , "></span> 
</div>
<div class="persephone">
<span class="beatrix">111</span> - <span title="A, , A">A</span> <span title=", , "></span> 
</div>
</div><div id="t112.p16">
<div class="persephone">
<span class="beatrix">112</span> - <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah-e</span> <span title="en-ki, N, Enki">(d)en-ki-ra</span> <span title="g&ugrave;, N, voice">g&ugrave;</span> <span title="d&eacute;, V, to pour">mu-na-d&eacute;-e</span> 
</div>
<div class="persephone">
<span class="beatrix">113</span> - <span title="&aacute;j, V, to measure">&aacute;j-j&aacute;</span> <span title=", , "></span> 
</div>
<div class="persephone">
<span class="beatrix">114</span> - <span title="&aacute;j, V, to measure">&aacute;j-j&aacute;</span> <span title=", , "></span> 
</div>
<div class="persephone">
<span class="beatrix">115</span> - <span title="MA, , MA">MA</span> <span title="A, , A">A</span> <span title=", , "></span> 
</div>
<div class="persephone">
<span class="beatrix">116</span> - <span title="&aacute;j, V, to measure">&aacute;j-j&aacute;</span> <span title=", , "></span> 
</div>
<div class="persephone">
<span class="beatrix">117</span> - <span title="&aacute;j, V, to measure">&aacute;j-j&aacute;</span> <span title=", , "></span> 
</div>
<div class="persephone">
<span class="beatrix">118</span> - <span title="&aacute;j, V, to measure">&aacute;j-j&aacute;</span> <span title="X, , X">X</span> <span title=", , "></span> 
</div>
<div class="persephone">
<span class="beatrix">119</span> - <span title=", , "></span> 
</div>
<div class="persephone">
<span class="beatrix">120</span> - <span title=", , "></span> 
</div>
<div class="persephone">
<span class="beatrix">121</span> - <span title=", , "></span> <span title="X, , X">X</span> <span title="X, , X">X</span> <span title="DU, , DU">DU</span> <span title=", , "></span> 
</div>
</div><div id="t112.p17">
<div class="persephone">
<span class="beatrix">122</span> - <span title=", , "></span> <span title="NI, , NI">NI</span> <span title="DU, , DU">DU</span> <span title="AJ, , A&#284;">AJ</span> <span title="TAG, , TAG">TAG-c&egrave;</span> <span title="kur9, V, to enter">mu-ni-in-kur9-re</span> 
</div>
<div class="persephone">
<span class="beatrix">123</span> - <span title="&aacute;-c&eacute;, AV, now">&aacute;-c&egrave;</span> <span title="an, N, heaven">an</span> <span title="tuc, V, to sit">nu-mu-e-tuc</span> <span title="ki, N, place">ki</span> <span title="tuc, V, to sit">nu-mu-e-tuc</span> <span title="&iacute;l, V, to raise">&iacute;l-la-zu</span> <span title="&egrave;, V, to go out or in">nu-&eacute;d-en</span> 
</div>
<div class="persephone">
<span class="beatrix">124</span> - <span title="ki, N, place">ki</span> <span title="za, PD, you (sg.)">za-e</span> <span title="tuc, V, to sit">nu-tuc-en</span> <span title="&eacute;, N, house(hold)">&eacute;-ju10</span> <span title="d&ugrave;, V, to erect">d&ugrave;-a</span> <span title="inim, N, word">inim-zu</span> <span title="jic, N, tree">jic</span> <span title="tuku, V, to have">nu-tuku</span> 
</div>
<div class="persephone">
<span class="beatrix">125</span> - <span title="ki, N, place">ki</span> <span title="za, PD, you (sg.)">za-e</span> <span title="t&igrave;l, V, to live">nu-t&igrave;l-en</span> <span title="iri, N, town">iri-ju10</span> <span title="d&ugrave;, V, to erect">d&ugrave;-a</span> <span title="n&iacute;j, N, thing">n&iacute;j-ju10</span> <span title="lib, N, (deathly) silence">lib</span> <span title="sig9, V, to put">ba-sig9-ge-en</span> 
</div>
<div class="persephone">
<span class="beatrix">126</span> - <span title="iri, N, town">iri-ju10</span> <span title="&eacute;, N, house(hold)">&eacute;-ju10</span> <span title="gul, V, to destroy">gul-la</span> <span title="dumu, N, child">dumu-ju10</span> <span title="cu, N, hand">cu</span> <span title="dab5, V, to seize">dab5-ba</span> 
</div>
<div class="persephone">
<span class="beatrix">127</span> - <span title="&eacute;-k&uacute;r, N, E-kur">&eacute;-kur-ta</span> <span title="&egrave;, V, to go out or in">&egrave;-a</span> 
</div>
<div class="persephone">
<span class="beatrix">128</span> - <span title="ud, N, day(light)">ud</span> <span title="n&iacute;j, N, thing">n&iacute;j-ju10</span> <span title="cu, N, hand">cu-zu-ta</span> <span title="cu, N, hand">cu</span> <span title="&egrave;, V, to go out or in">la-ba-ra-&egrave;</span> 
</div>
</div><div id="t112.p18">
<div class="persephone">
<span class="beatrix">129</span> - <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah-ra</span> <span title="gi4, V, to return">mu-na-ni-ib-gi4-gi4</span> 
</div>
<div class="persephone">
<span class="beatrix">130</span> - <span title="inim, N, word">inim</span> <span title="ka, N, mouth">ka-zu</span> <span title="&egrave;, V, to go out or in">&egrave;-a</span> <span title="a-ba, PD, who">a-ba-a</span> <span title="k&uacute;r, V, to be different">&igrave;-k&uacute;r-re</span> 
</div>
<div class="persephone">
<span class="beatrix">131</span> - <span title="u4-mu-ul, N, sickly creature">u4-mu-ul</span> <span title="X, , X">X</span> <span title="TU, , TU">TU</span> <span title="dab5, V, to seize">dab5-ba</span> <span title="&uacute;r, N, root">&uacute;r-zu-ta</span> <span title="cu, N, hand">cu</span> <span title="j&aacute;l, V, to be (located)">j&aacute;l-ab-ta</span> 
</div>
<div class="persephone">
<span class="beatrix">132</span> - <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah</span> <span title="k&iacute;j, N, work">k&iacute;j-j&aacute;-zu</span> <span title="l&aacute;, V, to hang">h&eacute;-b&iacute;-l&aacute;-l&aacute;</span> <span title="cu, N, hand">cu</span> <span title="du7, V, to be perfect">nu-du7</span> <span title="dab5, V, to seize">ma-dab5</span> <span title="a-ba, PD, who">a-ba-&agrave;m</span> <span title="saj, N, head">saj</span> <span title="jar, V, to place">mu-un-j&aacute;-j&aacute;</span> 
</div>
<div class="persephone">
<span class="beatrix">133</span> - <span title="l&uacute;, N, person">l&uacute;</span> <span title="m&eacute;-d&iacute;m, N, articulation">me-d&iacute;m-ju10</span> <span title="ejer, N, back">ejer-zu-c&egrave;</span> <span title="tuku, V, to have">tuku-a</span> <span title="ka, N, mouth">ka-bi</span> <span title="cu, N, hand">cu</span> <span title="j&aacute;l, V, to be (located)">h&eacute;-b&iacute;-j&aacute;l</span> 
</div>
<div class="persephone">
<span class="beatrix">134</span> - <span title="ud, N, day(light)">ud-da</span> <span title="j&igrave;c, N, penis">j&igrave;c-ju10</span> <span title="m&eacute;-t&eacute;c, N, praise">me-t&eacute;c</span> <span title="i, V, to bring out">ha-ba-i-i</span> <span title="j&eacute;ct&uacute;g, N, ear">j&eacute;ct&uacute;g</span> <span title="de5, V, to collect">de5-ge-zu</span> <span title="h&eacute;-j&aacute;l, N, plenty">h&eacute;-j&aacute;l</span> 
</div>
<div class="persephone">
<span class="beatrix">135</span> - <span title="enkum, N, type of temple official">enkum</span> <span title="ninkum, N, type of priest">ninkum</span> 
</div>
<div class="persephone">
<span class="beatrix">136</span> - <span title="ud, N, day(light)">ud</span> <span title="X, , X">X</span> <span title="j&igrave;r&igrave;, N, foot">j&igrave;r&igrave;</span> <span title="cub, V, to fall">cub-cub</span> <span title="g&uacute;, N, neck">g&uacute;</span> <span title=", , ">nam-bi-</span> <span title="ka, N, mouth">ka</span> <span title="tar, V, to cut">tar-zu</span> <span title="si-il, V, to split apart">h&eacute;-si-il-le-ne</span> 
</div>
<div class="persephone">
<span class="beatrix">137</span> - <span title="nin9, N, sister">nin9-ju10</span> <span title="&aacute;, N, arm">&aacute;</span> <span title="nam-ur-saj, N, heroism">nam-ur-saj-j&aacute;</span> <span title=", , "></span> <span title="DU, , DU">DU</span> 
</div>
<div class="persephone">
<span class="beatrix">138</span> - <span title="c&igrave;r, N, song">c&igrave;r</span> <span title=", , "></span> <span title="nam-dub, N, writing">nam-dub</span> <span title=", , "></span> 
</div>
<div class="persephone">
<span class="beatrix">139</span> - <span title="dijir, N, deity">dijir</span> <span title="jic, N, tree">jic</span> <span title="tuku, V, to have">tuku-a-bi</span> <span title="u4-mu-ul, N, sickly creature">u4-mu-ul</span> <span title="d&ugrave;, V, to erect">d&ugrave;</span> <span title=", , "></span> <span title="&eacute;, N, house(hold)">&eacute;-ju10</span> <span title="ak, V, to do">h&eacute;-ak-e</span> 
</div>
</div><div id="t112.p19">
<div class="persephone">
<span class="beatrix">140</span> - <span title="nin-mah, N, Ninma&#7723;">(d)nin-mah-e</span> <span title="en, N, lord">en</span> <span title="gal, V, to be big">gal</span> <span title="en-ki, N, Enki">(d)en-ki-ke4</span> <span title="zag, N, side">zag</span> <span title="s&aacute;, V, to equal">nu-mu-ni-in-ca4</span> 
</div>
<div class="persephone">
<span class="beatrix">141</span> - <span title="a-a, N, father">a-a</span> <span title="en-ki, N, Enki">(d)en-ki</span> <span title="z&aacute;3-m&iacute;z&agrave;-m&igrave;2, N, praise">z&agrave;-m&iacute;-zu</span> <span title="d&ugrave;g, V, to be good">d&ugrave;g-ga</span> 
</div>
</div>
