<table id="glossaryTable">
<tr>
<td valign="top" class="dicLemma">dub-saj</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">front (person)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en-ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enki</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&uacute;n&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(dining) hall</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&egrave;d</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go down or up</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an-zag</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">border of heaven</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an-ji6</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">eclipse</td>
</tr>
<tr>
<td valign="top" class="dicLemma">zu</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to know</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ama</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">mother</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tu6</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">incantation</td>
</tr>
<tr>
<td valign="top" class="dicLemma">zu</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to know</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jic-gi</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">reedbed</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tuku4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to shake</td>
</tr>
<tr>
<td valign="top" class="dicLemma">AN</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">AN</td>
</tr>
<tr>
<td valign="top" class="dicLemma">KAC4</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">KA&#352;</td>
</tr>
<tr>
<td valign="top" class="dicLemma">AN</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">AN</td>
</tr>
<tr>
<td valign="top" class="dicLemma">KAC4</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">KA&#352;</td>
</tr>
<tr>
<td valign="top" class="dicLemma">m&egrave;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">battle</td>
</tr>
<tr>
<td valign="top" class="dicLemma">mac-mac</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">sorcerer</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;r&iacute;m</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">enemy</td>
</tr>
<tr>
<td valign="top" class="dicLemma">k&uacute;r</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be different</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;r&igrave;-j&egrave;n-n&agrave;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">procedure</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en-ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enki</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&uacute;n&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(dining) hall</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&egrave;d</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go down or up</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">PU</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">PU</td>
</tr>
<tr>
<td valign="top" class="dicLemma">1-kam-ma</td><td valign="top" class="dicPos">
				numeral
			</td><td valign="top" class="dicLabel">1st</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dub-saj</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">front (person)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kaskal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(high)way</td>
</tr>
<tr>
<td valign="top" class="dicLemma">7</td><td valign="top" class="dicPos">
				numeral
			</td><td valign="top" class="dicLabel">7</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">li-li-a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Lilia</td>
</tr>
<tr>
<td valign="top" class="dicLemma">igi</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">eye</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">7</td><td valign="top" class="dicPos">
				numeral
			</td><td valign="top" class="dicLabel">7</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kur9</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to enter</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cul</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">young man</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">arm</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&aacute;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to hang</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(flax) thread</td>
</tr>
<tr>
<td valign="top" class="dicLemma">DI</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">DI</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sig10</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">CA</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">&#352;A</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;r&igrave;-j&egrave;n-n&agrave;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">procedure</td>
</tr>
<tr>
<td valign="top" class="dicLemma">li-li-a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Lilia</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">PU</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">PU</td>
</tr>
<tr>
<td valign="top" class="dicLemma">1-kam-ma</td><td valign="top" class="dicPos">
				numeral
			</td><td valign="top" class="dicLabel">1st</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;r&igrave;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">foot</td>
</tr>
<tr>
<td valign="top" class="dicLemma">IC</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">I&#352;</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">inim</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">word</td>
</tr>
<tr>
<td valign="top" class="dicLemma">zid</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">right</td>
</tr>
<tr>
<td valign="top" class="dicLemma">GA</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">GA</td>
</tr>
<tr>
<td valign="top" class="dicLemma">KAX</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">KAX</td>
</tr>
<tr>
<td valign="top" class="dicLemma">BA</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">BA</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;r&igrave;-j&egrave;n-n&agrave;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">procedure</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">p&agrave;d</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to find</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;r&igrave;-j&egrave;n-n&agrave;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">procedure</td>
</tr>
<tr>
<td valign="top" class="dicLemma">iri-bal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">rebel town</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&aacute;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">curse</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
</table>
