<table id="glossaryTable">
<tr>
<td valign="top" class="dicLemma">in-nin</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">mistress</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gur4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be thick</td>
</tr>
<tr>
<td valign="top" class="dicLemma">in-nin</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">mistress</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">essence</td>
</tr>
<tr>
<td valign="top" class="dicLemma">huc</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be reddish</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nin</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lady</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">essence</td>
</tr>
<tr>
<td valign="top" class="dicLemma">c&aacute;r</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be numerous</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">An</td>
</tr>
<tr>
<td valign="top" class="dicLemma">urac</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ura&#353;</td>
</tr>
<tr>
<td valign="top" class="dicLemma">in-nin</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">mistress</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">An</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">igi</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">eye</td>
</tr>
<tr>
<td valign="top" class="dicLemma">A</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">A</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a-nun-na</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Anuna</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">m&iacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(loving) care</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;j-d&uacute;7</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">propriety</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sud</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be distant</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">KAL</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">KAL</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">mu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">name</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;j-&uacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">distant time</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">NIM</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">NIM</td>
</tr>
<tr>
<td valign="top" class="dicLemma">g&ugrave;r&ugrave;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to bear</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">RA</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">RA</td>
</tr>
<tr>
<td valign="top" class="dicLemma">br</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">br</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">Xbr</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">Xbr</td>
</tr>
<tr>
<td valign="top" class="dicLemma"></td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel"></td>
</tr>
<tr>
<td valign="top" class="dicLemma">BA</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">BA</td>
</tr>
<tr>
<td valign="top" class="dicLemma">UD</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">UD</td>
</tr>
<tr>
<td valign="top" class="dicLemma">AC</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">A&#352;</td>
</tr>
<tr>
<td valign="top" class="dicLemma">GI</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">GI</td>
</tr>
<tr>
<td valign="top" class="dicLemma">CU</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">&#352;U</td>
</tr>
<tr>
<td valign="top" class="dicLemma">A</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">A</td>
</tr>
<tr>
<td valign="top" class="dicLemma">KAM</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">KAM</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">re</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">that</td>
</tr>
<tr>
<td valign="top" class="dicLemma">curuppag</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">&#352;uruppag</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">re</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">that</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;j-&uacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">distant time</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&uacute;l-l&eacute;-&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">distant time</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">zal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to pass</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud-ul-ur11-ru</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ud-ul-uru</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dumu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">child</td>
</tr>
<tr>
<td valign="top" class="dicLemma">na</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">advice</td>
</tr>
<tr>
<td valign="top" class="dicLemma">de5</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to collect</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&uacute;l-l&eacute;-&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">distant time</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dijir</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">deity</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kalam</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">the Land</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">re</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">that</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nam</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">destiny</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to cut</td>
</tr>
<tr>
<td valign="top" class="dicLemma">10</td><td valign="top" class="dicPos">
				numeral
			</td><td valign="top" class="dicLabel">10</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&ugrave;-n&agrave;-&agrave;-d&ugrave;g4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">letter</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cul-gi</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">&#352;ulgi</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cu-suen</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">&#352;u-Suen</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">Xbr</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">Xbr</td>
</tr>
<tr>
<td valign="top" class="dicLemma">mah</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be majestic</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">su-mu-la-el</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Sumulael</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma"></td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel"></td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">A</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">A</td>
</tr>
<tr>
<td valign="top" class="dicLemma"></td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel"></td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">A</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">A</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma"></td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel"></td>
</tr>
<tr>
<td valign="top" class="dicLemma">am-si</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">elephant</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;-t&eacute;-&aacute;-n&iacute;</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">himself, herself</td>
</tr>
<tr>
<td valign="top" class="dicLemma"></td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel"></td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma"></td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel"></td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&iacute;c-g&iacute;d-d&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">type of spear?</td>
</tr>
<tr>
<td valign="top" class="dicLemma">BU</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">BU</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">BI</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">BI</td>
</tr>
<tr>
<td valign="top" class="dicLemma"></td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel"></td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma"></td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel"></td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">BA</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">BA</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma"></td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel"></td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">IN</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">IN</td>
</tr>
<tr>
<td valign="top" class="dicLemma">AN</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">AN</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">BI</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">BI</td>
</tr>
</table>
