<table id="glossaryTable">
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">m&iacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(loving) care</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;j-d&uacute;7</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">propriety</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nin</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lady</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">essence</td>
</tr>
<tr>
<td valign="top" class="dicLemma">c&aacute;r</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be numerous</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sud</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be distant</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&aacute;m</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nun</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">prince</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">re</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">that</td>
</tr>
<tr>
<td valign="top" class="dicLemma">in-nin</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">mistress</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">essence</td>
</tr>
<tr>
<td valign="top" class="dicLemma">huc</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be reddish</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">house(hold)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">storm</td>
</tr>
<tr>
<td valign="top" class="dicLemma">huc</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be reddish</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heaven</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kur</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(mountain) land</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">t&igrave;l</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to live</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cul</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">young man</td>
</tr>
<tr>
<td valign="top" class="dicLemma">m&egrave;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">battle</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;-k&iacute;j-g&iacute;4-&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">messenger</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ag-ga</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Aga</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gud-dam</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Gudam</td>
</tr>
<tr>
<td valign="top" class="dicLemma">iri</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">town</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&igrave;-&agrave;</td><td valign="top" class="dicPos">
				interj
			</td><td valign="top" class="dicLabel">type of exclamation</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lum</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to thrive</td>
</tr>
<tr>
<td valign="top" class="dicLemma">bur-cu-um</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">old woman</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ku6</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">fish</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">house(hold)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">d&ugrave;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to erect</td>
</tr>
<tr>
<td valign="top" class="dicLemma">hur-saj</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">mountain (range)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heaven</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">saj-ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">forehead</td>
</tr>
<tr>
<td valign="top" class="dicLemma">g&iacute;d</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be long</td>
</tr>
<tr>
<td valign="top" class="dicLemma">edin</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">open country</td>
</tr>
<tr>
<td valign="top" class="dicLemma">i-lu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(sad) song</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">re</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">that</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">re</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">that</td>
</tr>
<tr>
<td valign="top" class="dicLemma">iri</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">town</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nin</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lady</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">essence</td>
</tr>
<tr>
<td valign="top" class="dicLemma">zid</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">right</td>
</tr>
<tr>
<td valign="top" class="dicLemma">iri</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">town</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">e</td><td valign="top" class="dicPos">
				interj
			</td><td valign="top" class="dicLabel">vocative expression</td>
</tr>
<tr>
<td valign="top" class="dicLemma">al</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">hoe</td>
</tr>
<tr>
<td valign="top" class="dicLemma">al</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">hoe</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">mu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">name</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;j-&uacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">distant time</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ul</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">distant time</td>
</tr>
<tr>
<td valign="top" class="dicLemma">re</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">that</td>
</tr>
<tr>
<td valign="top" class="dicLemma">k&igrave;-&ugrave;r</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">foundation</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">An</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&aacute;m-n&iacute;r-j&aacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">authority</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jic-gi</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">reedbed</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a-na</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">what</td>
</tr>
<tr>
<td valign="top" class="dicLemma">g&ugrave;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">voice</td>
</tr>
<tr>
<td valign="top" class="dicLemma">d&eacute;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to pour</td>
</tr>
<tr>
<td valign="top" class="dicLemma">u5</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">pelican?</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jic-gi</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">reedbed</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kug</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">t&ugrave;r</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">animal stall</td>
</tr>
<tr>
<td valign="top" class="dicLemma">t&ugrave;r</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">animal stall</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">essence</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nun</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">prince</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">hand</td>
</tr>
<tr>
<td valign="top" class="dicLemma">bal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to turn over</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ak</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to do</td>
</tr>
<tr>
<td valign="top" class="dicLemma">iri</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">town</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">essence</td>
</tr>
<tr>
<td valign="top" class="dicLemma">zid</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">right</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">storm</td>
</tr>
<tr>
<td valign="top" class="dicLemma">huc</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be reddish</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki-en-gi</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Sumer</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">storm</td>
</tr>
<tr>
<td valign="top" class="dicLemma">huc</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be reddish</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&aacute;n-&uacute;r</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">horizon</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ul</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">distant time</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heaven</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&ugrave;g&agrave;l-b&agrave;n-d&agrave;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Lugalbanda</td>
</tr>
<tr>
<td valign="top" class="dicLemma">c&eacute;g1</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">brick(work)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kur</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(mountain) land</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cuba</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heaven</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">mah-di</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">illustrious</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heaven</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&egrave;n-b&agrave;r</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">marsh reed</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gurun</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">fruit</td>
</tr>
<tr>
<td valign="top" class="dicLemma">in-nin</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">mistress</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">essence</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">pirij</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lion</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heaven</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">men</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">diadem</td>
</tr>
<tr>
<td valign="top" class="dicLemma">g&ugrave;r&ugrave;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to bear</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kul-aba</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Kulaba</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&aacute;m</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nun</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">prince</td>
</tr>
<tr>
<td valign="top" class="dicLemma">iri</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">town</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">bull</td>
</tr>
<tr>
<td valign="top" class="dicLemma">huc</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be reddish</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;-&uacute;6-n&iacute;r</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">E-unir</td>
</tr>
<tr>
<td valign="top" class="dicLemma">m&egrave;-c&egrave;</td><td valign="top" class="dicPos">
				adv
			</td><td valign="top" class="dicLabel">where</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ga-na</td><td valign="top" class="dicPos">
				interj
			</td><td valign="top" class="dicLabel">directive expression</td>
</tr>
<tr>
<td valign="top" class="dicLemma">s&aacute;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to equal</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud-ul-ur11-ru</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ud-ul-uru</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me-ta</td><td valign="top" class="dicPos">
				adv
			</td><td valign="top" class="dicLabel">type of time and place adverbial</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me-ta</td><td valign="top" class="dicPos">
				adv
			</td><td valign="top" class="dicLabel">type of time and place adverbial</td>
</tr>
<tr>
<td valign="top" class="dicLemma">eme-gir15</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Sumerian language</td>
</tr>
<tr>
<td valign="top" class="dicLemma">zu</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to know</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a-na</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">what</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">arm</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&aacute;j</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to measure</td>
</tr>
<tr>
<td valign="top" class="dicLemma">di4-di4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be small</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ejer</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">back</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dub</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">tablet</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">ghost</td>
</tr>
<tr>
<td valign="top" class="dicLemma">d&iacute;m-m&aacute;-n&iacute;-&uacute;s-&aacute;-n&iacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Dimani-usani</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">d&ugrave;g</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be good</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ur</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">dog</td>
</tr>
</table>
