<table id="glossaryTable">
<tr>
<td valign="top" class="dicLemma">iri</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">town</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">iri</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">town</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tuc</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to sit</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nibru</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Nibru</td>
</tr>
<tr>
<td valign="top" class="dicLemma">iri</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">town</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tuc</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to sit</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dur-jicnimbar</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Dur-&#285;i&#353;nimbar</td>
</tr>
<tr>
<td valign="top" class="dicLemma">iri</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">town</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tuc</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to sit</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d-s&aacute;l-l&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Id-sala</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">watercourse</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kug</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kar-jectin-na</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Kar-&#285;e&#353;tina</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kar</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">quay</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kar-a-sar</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Kar-asar</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kar</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">quay</td>
</tr>
<tr>
<td valign="top" class="dicLemma">m&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">boat</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&uacute;s</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be adjacent</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">p&uacute;-l&aacute;l3p&ugrave;2-l&agrave;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Pu-lal</td>
</tr>
<tr>
<td valign="top" class="dicLemma">p&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(water) hole</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">d&ugrave;g</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be good</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d-n&uacute;n-b&iacute;-&iacute;r-t&uacute;m</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Id-nunbir-tum</td>
</tr>
<tr>
<td valign="top" class="dicLemma">pa5</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">canal</td>
</tr>
<tr>
<td valign="top" class="dicLemma">mul</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to radiate</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">g&iacute;d</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be long</td>
</tr>
<tr>
<td valign="top" class="dicLemma">50</td><td valign="top" class="dicPos">
				numeral
			</td><td valign="top" class="dicLabel">50</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sar</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">area measure</td>
</tr>
<tr>
<td valign="top" class="dicLemma">g&aacute;n&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">field</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">juruc</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">young man</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tur</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be small</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ninlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki-sikil</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">young woman</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tur</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be small</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nun-bar-ce-gu-nu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Nun-bar-&#353;e-gunu</td>
</tr>
<tr>
<td valign="top" class="dicLemma">um-ma</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">experienced woman</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki-sikil</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">young woman</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ama</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">mother</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ugu</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to give birth</td>
</tr>
<tr>
<td valign="top" class="dicLemma">de5</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to collect</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ninlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nun-bar-ce-gu-nu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Nun-bar-&#353;e-gunu</td>
</tr>
<tr>
<td valign="top" class="dicLemma">de5</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to collect</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">watercourse</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kug</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">watercourse</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kug</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tu5</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to wash</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ninlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">g&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">neck</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d-n&uacute;n-b&iacute;-&iacute;r-t&uacute;m</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Id-nunbir-tum</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kug</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kug</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">bar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to set aside</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kur</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(mountain) land</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a-a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">father</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kug</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">bar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to set aside</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sipad</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">shepherd</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to cut</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kug</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">bar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to set aside</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a-da-al</td><td valign="top" class="dicPos">
				adv
			</td><td valign="top" class="dicLabel">now</td>
</tr>
<tr>
<td valign="top" class="dicLemma">i</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to bring out</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">h&uacute;l</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be happy</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">hi-li</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">attractiveness</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">si</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to fill</td>
</tr>
<tr>
<td valign="top" class="dicLemma">taka4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to leave behind</td>
</tr>
<tr>
<td valign="top" class="dicLemma">na</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">advice</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">X</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">X</td>
</tr>
<tr>
<td valign="top" class="dicLemma">de5</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to collect</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&eacute;ct&uacute;g</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">ear</td>
</tr>
<tr>
<td valign="top" class="dicLemma">c&uacute;m</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to give</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">watercourse</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kug</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">munus</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">woman</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">watercourse</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kug</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tu5</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to wash</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ninlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">g&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">neck</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d-n&uacute;n-b&iacute;-&iacute;r-t&uacute;m</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Id-nunbir-tum</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">igi</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">eye</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kug</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">igi</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">eye</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kug</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">igi</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">eye</td>
</tr>
<tr>
<td valign="top" class="dicLemma">bar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to set aside</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kur</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(mountain) land</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a-a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">father</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">igi</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">eye</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kug</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">igi</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">eye</td>
</tr>
<tr>
<td valign="top" class="dicLemma">bar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to set aside</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sipad</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">shepherd</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to cut</td>
</tr>
<tr>
<td valign="top" class="dicLemma">igi</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">eye</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kug</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">igi</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">eye</td>
</tr>
<tr>
<td valign="top" class="dicLemma">bar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to set aside</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">penis</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ce</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to agree</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ce</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to agree</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal4-la</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">female genitals</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tur</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be small</td>
</tr>
<tr>
<td valign="top" class="dicLemma">pec</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be thick</td>
</tr>
<tr>
<td valign="top" class="dicLemma">zu</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to know</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tur</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be small</td>
</tr>
<tr>
<td valign="top" class="dicLemma">zu</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to know</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ama</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">mother</td>
</tr>
<tr>
<td valign="top" class="dicLemma">zu</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to know</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">hand</td>
</tr>
<tr>
<td valign="top" class="dicLemma">s&agrave;g</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to beat</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ad-da</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">father</td>
</tr>
<tr>
<td valign="top" class="dicLemma">zu</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to know</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">hand</td>
</tr>
<tr>
<td valign="top" class="dicLemma">s&aacute;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to equal</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a-da-al</td><td valign="top" class="dicPos">
				adv
			</td><td valign="top" class="dicLabel">now</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ma-la</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">girlfriend</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">silig</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to cease</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sukkal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">minister</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nuska</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Nuska</td>
</tr>
<tr>
<td valign="top" class="dicLemma">g&ugrave;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">voice</td>
</tr>
<tr>
<td valign="top" class="dicLemma">d&eacute;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to pour</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sukkal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">minister</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nuska</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Nuska</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud-ul</td><td valign="top" class="dicPos">
				adv
			</td><td valign="top" class="dicLabel">always</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a-ra-zu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">supplication</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cidim</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">builder</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;-k&uacute;r</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">E-kur</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud-ul</td><td valign="top" class="dicPos">
				adv
			</td><td valign="top" class="dicLabel">always</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki-sikil</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">young woman</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ne-en</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">this</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sag9</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be good</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ne-en</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">this</td>
</tr>
<tr>
<td valign="top" class="dicLemma">mul</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to radiate</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ninlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ne-en</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">this</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sag9</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be good</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ne-en</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">this</td>
</tr>
<tr>
<td valign="top" class="dicLemma">mul</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to radiate</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">penis</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sukkal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">minister</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">m&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">boat</td>
</tr>
<tr>
<td valign="top" class="dicLemma">de6</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to carry</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">rope</td>
</tr>
<tr>
<td valign="top" class="dicLemma">m&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">boat</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tur</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be small</td>
</tr>
<tr>
<td valign="top" class="dicLemma">de6</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to carry</td>
</tr>
<tr>
<td valign="top" class="dicLemma">m&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">boat</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">de6</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to carry</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">MU.MES-ga</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">meaning unknown</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dirig</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be superior</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">penis</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a-a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">father</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">MU.MES-ga</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">meaning unknown</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dirig</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be superior</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">penis</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">k&iacute;j</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to seek</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">hand</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dab5</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to seize</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">penis</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">KU</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">KU</td>
</tr>
<tr>
<td valign="top" class="dicLemma">pec10</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">bank</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tur</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be small</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&uacute;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to lie down</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">penis</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">penis</td>
</tr>
<tr>
<td valign="top" class="dicLemma">1</td><td valign="top" class="dicPos">
				numeral
			</td><td valign="top" class="dicLabel">1</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">s&uacute;&eacute;n-&aacute;c-&iacute;m-b&aacute;bb&aacute;r</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Suen-A&#353;imbabbar</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ri</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to direct</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">k&igrave;-&ugrave;r</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ki-ur</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dib</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to pass</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">k&igrave;-&ugrave;r</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ki-ur</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dib</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to pass</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dijir</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">deity</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">50</td><td valign="top" class="dicPos">
				numeral
			</td><td valign="top" class="dicLabel">50</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dijir</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">deity</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nam</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">destiny</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to cut</td>
</tr>
<tr>
<td valign="top" class="dicLemma">7</td><td valign="top" class="dicPos">
				numeral
			</td><td valign="top" class="dicLabel">7</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">k&igrave;-&ugrave;r</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ki-ur</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dab5</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to seize</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&uacute;-z&uacute;g4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">polluter</td>
</tr>
<tr>
<td valign="top" class="dicLemma">iri</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">town</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&egrave;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go out or in</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&egrave;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go out or in</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nu-nam-nir</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Nunamnir</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&uacute;-z&uacute;g4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">polluter</td>
</tr>
<tr>
<td valign="top" class="dicLemma">iri</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">town</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&egrave;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go out or in</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&egrave;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go out or in</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;j-n&aacute;m</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">anything</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nam</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">destiny</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to cut</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nu-nam-nir</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Nunamnir</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;j-n&aacute;m</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">anything</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nam</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">destiny</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to cut</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ninlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&uacute;s</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be adjacent</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nu-nam-nir</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Nunamnir</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki-sikil</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">young woman</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to run</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">abula</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(city) gate</td>
</tr>
<tr>
<td valign="top" class="dicLemma">g&ugrave;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">voice</td>
</tr>
<tr>
<td valign="top" class="dicLemma">d&eacute;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to pour</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">abula</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(city) gate</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">si-jar</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">clamp</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">suhub4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">door bolt</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">si-jar</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">clamp</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kug</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nin</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lady</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ninlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">za</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">you (sg.)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">p&agrave;d</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to find</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ninlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">abula</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(city) gate</td>
</tr>
<tr>
<td valign="top" class="dicLemma">g&ugrave;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">voice</td>
</tr>
<tr>
<td valign="top" class="dicLemma">d&eacute;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to pour</td>
</tr>
<tr>
<td valign="top" class="dicLemma">abula</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(city) gate</td>
</tr>
<tr>
<td valign="top" class="dicLemma">si-jar</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">clamp</td>
</tr>
<tr>
<td valign="top" class="dicLemma">suhub4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">door bolt</td>
</tr>
<tr>
<td valign="top" class="dicLemma">si-jar</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">clamp</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kug</td><td valign="top" class="dicPos">
				adj
			</td><td valign="top" class="dicLabel">shining</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me-ta</td><td valign="top" class="dicPos">
				adv
			</td><td valign="top" class="dicLabel">type of time and place adverbial</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">e-ne</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">he, she</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">abula</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(city) gate</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gi4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to return</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sag9</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be good</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sag9</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be good</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">umuc</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(fore)thought</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to cut</td>
</tr>
<tr>
<td valign="top" class="dicLemma">inim</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">word</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sig10</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be empty</td>
</tr>
<tr>
<td valign="top" class="dicLemma">si</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to fill</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kur</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(mountain) land</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&eacute;6</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">I</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">penis</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&ugrave;</td><td valign="top" class="dicPos">
				conj
			</td><td valign="top" class="dicLabel">and</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nin</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lady</td>
</tr>
<tr>
<td valign="top" class="dicLemma">NE.CE</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">part of body</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">hand</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tag</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to touch</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dadag</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be bright</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&aacute;l</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be (located)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">suen</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Suen</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dadag</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be bright</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&aacute;l</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be (located)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heaven</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nam</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">destiny</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">abula</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(city) gate</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dagan</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(sleeping) chamber</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&uacute;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to lie down</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">penis</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">penis</td>
</tr>
<tr>
<td valign="top" class="dicLemma">1</td><td valign="top" class="dicPos">
				numeral
			</td><td valign="top" class="dicLabel">1</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&egrave;rg&agrave;lx-m&egrave;c-l&agrave;m-t&agrave;-&egrave;-&agrave;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Nergal-Me&#353;lamta-ea</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ri</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to direct</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ninlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&uacute;s</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be adjacent</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nu-nam-nir</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Nunamnir</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki-sikil</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">young woman</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to run</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d-k&uacute;r-r&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Id-kura</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">watercourse</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gu7</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to eat</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">te</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to approach</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d-k&uacute;r-r&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Id-kura</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">watercourse</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gu7</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to eat</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nin</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lady</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ninlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">za</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">you (sg.)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">p&agrave;d</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to find</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d-k&uacute;r-r&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Id-kura</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">watercourse</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gu7</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to eat</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ninlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">te</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to approach</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d-k&uacute;r-r&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Id-kura</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">watercourse</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gu7</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to eat</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me-ta</td><td valign="top" class="dicPos">
				adv
			</td><td valign="top" class="dicLabel">type of time and place adverbial</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">e-ne</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">he, she</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nam</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">destiny</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d-k&uacute;r-r&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Id-kura</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gi4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to return</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sag9</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be good</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sag9</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be good</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">umuc</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(fore)thought</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to cut</td>
</tr>
<tr>
<td valign="top" class="dicLemma">inim</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">word</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sig10</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be empty</td>
</tr>
<tr>
<td valign="top" class="dicLemma">si</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to fill</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kur</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(mountain) land</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&eacute;6</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">I</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">penis</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&ugrave;</td><td valign="top" class="dicPos">
				conj
			</td><td valign="top" class="dicLabel">and</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&eacute;6</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">I</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nin</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lady</td>
</tr>
<tr>
<td valign="top" class="dicLemma">NE.CE</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">part of body</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">hand</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tag</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to touch</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dadag</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be bright</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&aacute;l</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be (located)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">suen</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Suen</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dadag</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be bright</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&aacute;l</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be (located)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heaven</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d-k&uacute;r-r&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Id-kura</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dagan</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(sleeping) chamber</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&uacute;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to lie down</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">penis</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">penis</td>
</tr>
<tr>
<td valign="top" class="dicLemma">1</td><td valign="top" class="dicPos">
				numeral
			</td><td valign="top" class="dicLabel">1</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nin-a-zu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ninazu</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;c-g&aacute;n&aacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">measuring line</td>
</tr>
<tr>
<td valign="top" class="dicLemma">g&iacute;d</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be long</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ri</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to direct</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ninlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&uacute;s</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be adjacent</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nu-nam-nir</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Nunamnir</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki-sikil</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">young woman</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to run</td>
</tr>
<tr>
<td valign="top" class="dicLemma">SI.LU.IGI</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">SI.LU.IGI</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">m&aacute;-&aacute;dd&iacute;r</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">ferryboat</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">te</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to approach</td>
</tr>
<tr>
<td valign="top" class="dicLemma">SI.LU.IGI</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">SI.LU.IGI</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">m&aacute;-&aacute;dd&iacute;r</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">ferryboat</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nin</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lady</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ninlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">za</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">you (sg.)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">p&agrave;d</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to find</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">m&aacute;-&aacute;dd&iacute;r</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">ferryboat</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ninlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">te</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to approach</td>
</tr>
<tr>
<td valign="top" class="dicLemma">l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">person</td>
</tr>
<tr>
<td valign="top" class="dicLemma">m&aacute;-&aacute;dd&iacute;r</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">ferryboat</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me-ta</td><td valign="top" class="dicPos">
				adv
			</td><td valign="top" class="dicLabel">type of time and place adverbial</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">e-ne</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">he, she</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">SI.LU.IGI</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">SI.LU.IGI</td>
</tr>
<tr>
<td valign="top" class="dicLemma">inim</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">word</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gi4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to return</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sag9</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be good</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sag9</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be good</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">umuc</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(fore)thought</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tar</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to cut</td>
</tr>
<tr>
<td valign="top" class="dicLemma">inim</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">word</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sig10</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">sug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be empty</td>
</tr>
<tr>
<td valign="top" class="dicLemma">si</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to fill</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kur</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(mountain) land</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&eacute;6</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">I</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">penis</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">me</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&ugrave;</td><td valign="top" class="dicPos">
				conj
			</td><td valign="top" class="dicLabel">and</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&eacute;6</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">I</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ud</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">day(light)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nin</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lady</td>
</tr>
<tr>
<td valign="top" class="dicLemma">NE.CE</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">part of body</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">hand</td>
</tr>
<tr>
<td valign="top" class="dicLemma">tag</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to touch</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dadag</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be bright</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&aacute;l</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be (located)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">suen</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Suen</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dadag</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be bright</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&aacute;l</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be (located)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heaven</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">jen</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to go</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nam</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">destiny</td>
</tr>
<tr>
<td valign="top" class="dicLemma">SI.LU.IGI</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">SI.LU.IGI</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dagan</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(sleeping) chamber</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&uacute;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to lie down</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">penis</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">j&igrave;c</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">penis</td>
</tr>
<tr>
<td valign="top" class="dicLemma">1</td><td valign="top" class="dicPos">
				numeral
			</td><td valign="top" class="dicLabel">1</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">water</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-b&iacute;-l&uacute;-l&uacute;</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enbilulu</td>
</tr>
<tr>
<td valign="top" class="dicLemma">k&uacute;3-j&aacute;lk&ugrave;-j&agrave;l2</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">canal inspector</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&iacute;d</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">watercourse</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cag4</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heart</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ri</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to direct</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">za</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">you (sg.)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">za</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">you (sg.)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">za</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">you (sg.)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">za</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">you (sg.)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">nu-nam-nir</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Nunamnir</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">za</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">you (sg.)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">za</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">you (sg.)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">JIRI</td><td valign="top" class="dicPos"></td><td valign="top" class="dicLabel">&#284;IRI</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">uru16</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be towering</td>
</tr>
<tr>
<td valign="top" class="dicLemma">za</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">you (sg.)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(flax) thread</td>
</tr>
<tr>
<td valign="top" class="dicLemma">m&uacute;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to grow</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ce</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">barley</td>
</tr>
<tr>
<td valign="top" class="dicLemma">m&uacute;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to grow</td>
</tr>
<tr>
<td valign="top" class="dicLemma">za</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">you (sg.)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heaven</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">h&eacute;-j&aacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">plenty</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">za</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">you (sg.)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ki</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">place</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">h&eacute;-j&aacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">plenty</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heaven</td>
</tr>
<tr>
<td valign="top" class="dicLemma">za</td><td valign="top" class="dicPos">
				pronoun
			</td><td valign="top" class="dicLabel">you (sg.)</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">an</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">heaven</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">lugal</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">king</td>
</tr>
<tr>
<td valign="top" class="dicLemma">en</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">lord</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;j</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">thing</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ka</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">mouth</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ba</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to allot</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;j</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">thing</td>
</tr>
<tr>
<td valign="top" class="dicLemma">k&uacute;r</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be different</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">saj</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">head</td>
</tr>
<tr>
<td valign="top" class="dicLemma">d&ugrave;</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to erect</td>
</tr>
<tr>
<td valign="top" class="dicLemma">cu</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">hand</td>
</tr>
<tr>
<td valign="top" class="dicLemma">bal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to turn over</td>
</tr>
<tr>
<td valign="top" class="dicLemma">z&aacute;3-m&iacute;z&agrave;-m&igrave;2</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">praise</td>
</tr>
<tr>
<td valign="top" class="dicLemma">dug4</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to say</td>
</tr>
<tr>
<td valign="top" class="dicLemma">ama</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">mother</td>
</tr>
<tr>
<td valign="top" class="dicLemma">n&iacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Ninlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">kur</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">(mountain) land</td>
</tr>
<tr>
<td valign="top" class="dicLemma">gal</td><td valign="top" class="dicPos">
				verb
			</td><td valign="top" class="dicLabel">to be big</td>
</tr>
<tr>
<td valign="top" class="dicLemma">a-a</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">father</td>
</tr>
<tr>
<td valign="top" class="dicLemma">&eacute;n-l&iacute;l</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">Enlil</td>
</tr>
<tr>
<td valign="top" class="dicLemma">z&aacute;3-m&iacute;z&agrave;-m&igrave;2</td><td valign="top" class="dicPos">
				noun
			</td><td valign="top" class="dicLabel">praise</td>
</tr>
</table>
