                     <div id="desktopBodyBox">
                        <div id="iscrollBody">
                           <div id="site_content">
                              <div class="dmRespRow dmRespRowStable dmRespRowNoPadding dmPageTitleRow dmInnerBarRow">
                                 <div class="dmRespColsWrapper">
                                    <div class="large-12 dmRespCol">
                                       <div id="innerBar" class="innerBar lineInnerBar dmDisplay_None">
                                          <div class="titleLine display_None">
                                             <hr>
                                          </div>
                                          <!-- Page title is hidden in css for new responsive sites. It is left here only so we don't break old sites. Don't copy it to new layouts --> 
                                          <div id="pageTitleText"></div>
                                          <div class="titleLine display_None">
                                             <hr>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div dmwrapped="true" id="dmFirstContainer" class="dmBody u_dmStyle_template_home dm-home-page" themewaschanged="true">
                                 <div id="allWrapper" class="allWrapper">
                                    <!-- navigation placeholders --> 
                                    <div id="dm_content" class="dmContent">
                                       <div dm:templateorder="116" class="dmFullRowRespTmpl mainBorder dmRespRowsWrapper dmRespRowsWrapperSize1" id="1469484075" style="min-height: 77.25px;">
                                          <div class="u_1133913978 dmRespRow" style="text-align: center;" id="1133913978">
                                             <div class="dmRespColsWrapper" id="1946922011">
                                                <div class="dmRespCol small-12 medium-12 large-12 content-removed" id="1222163819">
                                                   <div class="dmNewParagraph" data-dmtmpl="true" id="1455193564" style="">
                                                      <div></div>
                                                      <div style="text-align: center;"><span class="m-size-36 lh-1 size-55"><font style="color: rgb(45, 2, 2);">Farmers Place is your place for fresh meat and award winning products!</font></span></div>
                                                   </div>
                                                   <a class="u_1769880056 dmPageLink dmWidget dmButtonLink dmHomeDefaultBtn hide-for-small" href="/contact" id="1769880056" file="false" dm_dont_rewrite_url="false" data-element-type="dPageLinkId"> <span class="iconBg" id="1488578659"> <span class="icon hasFontIcon icon-external-link" id="1110324101"></span> 
                                                   </span> 
                                                   <span class="text" id="1676918135">Contact Us</span> 
                                                   </a> 
                                                </div>
                                             </div>
                                          </div>
                                          <div class="u_1129311768 dmRespRow" style="text-align: center;" id="1129311768">
                                             <div class="dmRespColsWrapper" id="1967726406">
                                                <div class="dmRespCol small-12 medium-4 large-4" id="1023161908">
                                                   <span style="clear:both;display:block" id="1292303141"></span> 
                                                   <h1 style="width: 960px; height: 43px;" class="u_1861944736 dmNewParagraph noneDroppableArea" id="1861944736" data-uialign="left"><span style="font-weight: 400;"><font style="color: rgb(45, 2, 2);">We have the freshest meat in town - call us in South Edmeston, NY</font></span><br></h1>
                                                   <div style="" class="u_1667445420 dmNewParagraph alignedLeft" data-dmtmpl="true" id="1667445420" data-uialign="left">
                                                      Meat
                                                      lovers, you have just found the best place in town for fresh beef, 
                                                      chicken,&nbsp; and pork. Visit us in&nbsp; South Edmeston to place your 
                                                      order or call for more information.<br>
                                                      <div>
                                                         <div class="size-20 m-size-20" style=";text-align:center;"></div>
                                                         <div class="size-20 m-size-20" style=";text-align:center;"></div>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="dmRespCol small-12 medium-8 large-8 emptyColumn" id="1323119659">
                                                   <span id="1172164879"></span> 
                                                   <div class="u_1891662713 flex-container dmImageSlider dmNoMargin dmNoMark" id="1891662713" data-element-type="dSliderId" editablewidget="true" data-widget-type="imageSlider">
                                                      <div class="flexslider ed-version" sliderscriptparams="{'stretch':true,'animation':true,'randomize':false,'directionNav':true,'isAutoPlay':true,'isFade':false,'controlNav':false,'slideshowSpeed':7000,'animationDuration':600,'pausePlay':true}" id="1365004036">
                                                         <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                                            <ul class="slides" id="1194512383" style="width: 600%; transition-duration: 0.6s; transform: translate3d(-626px, 0px, 0px);">
                                                               <li index="9" id="1486066251" class="dmCoverImgContainer" style="background-image: url(&quot;https://irp-cdn.multiscreensite.com/6e445c5b/dms3rep/multi/desktop/image%201%20Farmers%20Place-2592x1936.jpeg&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center; margin-right: 0px; opacity: 1; width: 626px; float: left; display: block;"><img dm="true" src="Farmers%20Place%20|%20Venison%20|%20Edmeston,%20NY_files/image%25201%2520Farmers%2520Place-2592x1936.jpeg" irh="120" irw="160" id="1335319965" onerror="handleImageLoadError(this)" style="display: none;" draggable="false"></li>
                                                               <li index="10" id="1636266178" class="dmCoverImgContainer flex-active-slide" style="background-image: url(&quot;https://irp-cdn.multiscreensite.com/6e445c5b/dms3rep/multi/desktop/image%202%20Famers%20Place-2592x1936.jpeg&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center; margin-right: 0px; opacity: 1; width: 626px; float: left; display: block;"><img dm="true" src="Farmers%20Place%20|%20Venison%20|%20Edmeston,%20NY_files/image%25202%2520Famers%2520Place-2592x1936.jpeg" irh="120" irw="160" id="1250529627" onerror="handleImageLoadError(this)" style="display: none;" draggable="false"></li>
                                                               <li index="14" id="1879639301" class="dmCoverImgContainer" style="background-image: url(&quot;https://irp-cdn.multiscreensite.com/6e445c5b/dms3rep/multi/desktop/image%206%20farmers%20place-2592x1936.jpeg&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center; margin-right: 0px; opacity: 1; width: 626px; float: left; display: block;"><img dm="true" src="Farmers%20Place%20|%20Venison%20|%20Edmeston,%20NY_files/image%25206%2520farmers%2520place-2592x1936.jpeg" irh="120" irw="160" id="1403694095" onerror="handleImageLoadError(this)" style="display: none;" draggable="false"></li>
                                                            </ul>
                                                         </div>
                                                         <ul class="flex-direction-nav">
                                                            <li><a class="flex-prev" href="">Previous</a></li>
                                                            <li><a class="flex-next" href="">Next</a></li>
                                                         </ul>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="u_1305992709 dmRespRow" style="text-align: center;" id="1305992709">
                                             <div class="dmRespColsWrapper" id="1690711522">
                                                <div class="dmRespCol small-12 medium-4 large-4" id="1447300371">
                                                   <h3 style="" class="dmNewParagraph u_1386238390" id="1386238390"> <span class="icon hasFontIcon  icon-comments" id="1415960042"></span> 
                                                      &nbsp;Welcome
                                                   </h3>
                                                   <div style="" class="dmNewParagraph u_1995392346" data-dmtmpl="true" id="1995392346" data-uialign="left">Welcome to Farmers Place...your place for the best in fresh meats, custom cuts, and award winning products.&nbsp;<br><br>Established
                                                      have been proudly serving the Upstate New York region and beyond since 
                                                      1983, and have many satisfied customers to show for it.<br><br>For your safety, we are licensed to handle all traditional and exotic meat products.<br>
                                                   </div>
                                                </div>
                                                <div class="dmRespCol small-12 medium-4 large-4" id="1765329518">
                                                   <span id="1012563173"></span> 
                                                   <h3 style="" class="dmNewParagraph  u_1287620860" id="1287620860"> <span class="icon hasFontIcon icon-food" id="1504024437"></span> 
                                                      &nbsp;Services
                                                   </h3>
                                                   <div style="" class="dmNewParagraph u_1108469243" data-dmtmpl="true" id="1108469243">Farmers
                                                      Place is your one-stop-shop for delicious, fresh meats. We specialize 
                                                      in &nbsp;a wide range of meats, from beef, chicken and pork. If you need
                                                      something special, we are happy to deliver it to you with custom cuts 
                                                      of beef and pork.<br><br>
                                                   </div>
                                                </div>
                                                <div class="dmRespCol small-12 small-12 medium-4 large-4" id="1457431942">
                                                   <span id="1944376354"></span> 
                                                   <h3 style="" class="dmNewParagraph  u_1921121759" id="1921121759"> <span class="icon hasFontIcon  icon-certificate" id="1713836110"></span> 
                                                      &nbsp;Awards<br id="1601312241">
                                                   </h3>
                                                   <div style="" class="dmNewParagraph u_1988432257" data-dmtmpl="true" id="1988432257" data-uialign="right">Farmers
                                                      Place is the only World Cup Winner coming from the U.S.&nbsp; In 2004, 
                                                      our owner Joe took all of his products to compete for international 
                                                      prestige. He won 30 medals from silver to gold. Due to the number of 
                                                      medals won, the association had no choice but to award him the World Cup
                                                      Winner. &nbsp;This is a feat that no American had accomplished before 
                                                      or since.
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="dmFooterContainer">
                                 <div id="fcontainer" class="f_hcontainer dmFooter p_hfcontainer">
                                    <div dm:templateorder="14" class="dmFooterResp dmFullFooterResp" id="1391315533">
                                       <div class="dmRespRow dmDividerRow" id="1416614114">
                                          <div class="dmRespColsWrapper" id="1625149802">
                                             <div class="large-12 medium-12 small-12 dmRespCol" id="1099077094">
                                                <div class="dmDividerWrapper clearfix" id="1063182962" data-element-type="dDividerId">
                                                   <hr class="dmDivider defaultDivider" id="1261088612">
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="u_1664516665 dmRespRow dmFooterContent" id="1664516665">
                                          <div class="dmRespColsWrapper" id="1169447013">
                                             <div class="dmRespCol large-12 medium-12 small-12 dmFooterCol" id="1362232395">
                                                <h3 class="dmFooterDefaultH3" id="1045679147">Follow Us</h3>
                                                <div class="dmNewParagraph u_1028206292" data-dmtmpl="true" id="1028206292" style="" data-uialign="center">
                                                   <div style="">
                                                      <div style="text-align: center;"><span style="line-height: 1.5;" class="size-25 lh-1"><b>Farmers Place</b></span></div>
                                                      <div style="text-align: center;"><span style="line-height: 1.5;">256 County Hwy 20</span></div>
                                                   </div>
                                                   <div style="text-align: center; ">South Edmeston, NY 13411</div>
                                                   <div style=";text-align: center; ;">(607) 847-8234</div>
                                                   <div style=";text-align: center; ;"><a href="mailto:deerman25622@yahoo.com" style="line-height: 1.5; font-size: 1em; margin-left: 0px; text-decoration: none;"><font style="color: rgb(255, 255, 255);">deerman25622@yahoo.com</font></a></div>
                                                </div>
                                                <div class="dmSocialHome dmSocialHub" id="1879250773" dmle_extension="social_hub" data-element-type="social_hub" wr="false" data-dmtmpl="true" icon="true" surround="false">
                                                   <div class="socialHubWrapper">
                                                      <div class="socialHubInnerDiv vertical"> <a href="https://www.facebook.com/pages/Farmers-Place/348880675150773" target="_blank" dmle_dont_remove="target" dm_dont_rewrite_url="true"> <span class="dmSocialFacebook dm-icon-facebook oneIcon socialHubIcon style3" data-hover-effect=""></span> 
                                                         </a> 
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="dmCustomHtml" id="1574560770" data-element-type="html">
                                                   <style type="text/css">vfontw {
                                                      color: #FFF;
                                                      }
                                                      .vfontw {
                                                      color: #FFF;
                                                      }
                                                   </style>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div id="1004953624" dmle_extension="powered_by" data-element-type="powered_by" wr="false" icon="true" surround="false" data-dmtmpl="true"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
