

<div id="desktopBodyBox">
   <div id="iscrollBody">
      <div id="site_content">
         <div class="dmRespRow dmRespRowStable dmRespRowNoPadding dmPageTitleRow dmInnerBarRow">
            <div class="dmRespColsWrapper">
               <div class="large-12 dmRespCol">
                  <div id="innerBar" class="innerBar lineInnerBar">
                     <div class="titleLine display_None">
                        <hr>
                     </div>
                     <!-- Page title is hidden in css for new responsive sites. It is left here only so we don't break old sites. Don't copy it to new layouts --> 
                     <div id="pageTitleText">
                        <div class="innerPageTitle">Services</div>
                     </div>
                     <div class="titleLine display_None">
                        <hr>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div dmwrapped="true" id="dmFirstContainer" themewaschanged="true" class="dmBody u_dmStyle_template_services">
            <div id="allWrapper" class="allWrapper">
               <!-- navigation placeholders --> 
               <div id="dm_content" class="dmContent">
                  <div dm:templateorder="112" class="dmDefaultRespTmpl mainBorder" id="1145268739">
                     <div class="innerPageTmplBox dmDefaultPage dmAboutListPage dmRespRowsWrapper dmRespRowsWrapperSize1" id="1426241970" style="min-height: 77px;">
                        <div class="u_1570182619 dmRespRow" style="text-align: center;" id="1570182619">
                           <div class="dmRespColsWrapper" id="1756230417">
                              <div class="dmRespCol small-12 medium-12 large-12 content-removed" id="1693806424">
                                 <h1 style="" class="dmNewParagraph u_1268482345" id="1268482345">
                                    <div style="text-align: center;"><span><font style="color: rgb(45, 2, 2);">Custom-cut beef and more in South Edmeston, NY&nbsp;</font></span></div>
                                 </h1>
                                 <div style="display: block;" class="dmNewParagraph u_1692950911 alignedLeft" data-dmtmpl="true" id="1692950911">
                                    <div style="text-align: center;"><span style="line-height: 1.5;">Farmers
                                       Place is well-known in the Upstate New York region and beyond for fresh
                                       meat products, custom cuts, BBQ, and party platters. We invite you to 
                                       try any of our products. We're sure you'll love them and come back for 
                                       more.</span>
                                    </div>
                                    <div class="size-20 m-size-20" style=";text-align:center;"></div>
                                    <div class="size-20 m-size-20" style=";text-align:center;"></div>
                                 </div>
                                 <a class="u_1662573575 dmPageLink dmWidget dmButtonLink dmHomeDefaultBtn hide-for-small" href="/contact" id="1662573575" dm_dont_rewrite_url="false" file="false" data-element-type="dPageLinkId"> <span class="iconBg" id="1056708103"> <span class="icon hasFontIcon icon-external-link" id="1219246538"></span> 
                                 </span> 
                                 <span class="text" id="1368219071">Contact Us</span> 
                                 </a> 
                              </div>
                           </div>
                        </div>
                        <div class="u_1275699341 dmRespRow dmDefaultListContentRow" id="1275699341">
                           <div class="dmRespColsWrapper" id="1177614629">
                              <div class="large-4 medium-4 small-12 dmRespCol emptyColumn" id="1735420678">
                                 <div class="flex-container dmImageSlider dmNoMargin dmNoMark" editablewidget="true" data-widget-type="imageSlider" id="1531007290" data-element-type="dSliderId">
                                    <div class="flexslider ed-version" sliderscriptparams="{'stretch':true,'animation':true,'randomize':false,'directionNav':true,'isAutoPlay':true,'isFade':false,'controlNav':false,'slideshowSpeed':7000,'animationDuration':600,'pausePlay':true}" id="1743733735">
                                       <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                          <ul class="slides" id="1551354558" style="width: 800%; transition-duration: 0.6s; transform: translate3d(-306px, 0px, 0px);">
                                             <li index="0" id="1257220892" class="dmCoverImgContainer" style="background-image: url(&quot;https://irp-cdn.multiscreensite.com/6e445c5b/dms3rep/multi/desktop/image8-2056x1536.jpeg&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center; margin-right: 0px; opacity: 1; width: 306px; float: left; display: block;"><img dm="true" src="Beef%20|%20Edmeston,%20NY%20|%20Farmers%20Place_files/image8-2056x1536.jpeg" irh="120" irw="160" id="1202601156" onerror="handleImageLoadError(this)" style="display: none;" draggable="false"></li>
                                             <li index="4" id="1813291899" class="dmCoverImgContainer flex-active-slide" style="background-image: url(&quot;https://irp-cdn.multiscreensite.com/6e445c5b/dms3rep/multi/desktop/image6-2592x1936.jpeg&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center; margin-right: 0px; opacity: 1; width: 306px; float: left; display: block;"><img dm="true" src="Beef%20|%20Edmeston,%20NY%20|%20Farmers%20Place_files/image6-2592x1936.jpeg" irh="120" irw="160" id="1386627947" onerror="handleImageLoadError(this)" style="display: none;" draggable="false"></li>
                                             <li index="5" id="1663313940" class="dmCoverImgContainer" style="background-image: url(&quot;https://irp-cdn.multiscreensite.com/6e445c5b/dms3rep/multi/desktop/image5-2056x1536.jpeg&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center; margin-right: 0px; opacity: 1; width: 306px; float: left; display: block;"><img dm="true" src="Beef%20|%20Edmeston,%20NY%20|%20Farmers%20Place_files/image5-2056x1536.jpeg" irh="120" irw="160" id="1363171763" onerror="handleImageLoadError(this)" style="display: none;" draggable="false"></li>
                                             <li index="8" id="1697260556" class="dmCoverImgContainer" style="background-image: url(&quot;https://irp-cdn.multiscreensite.com/6e445c5b/dms3rep/multi/desktop/image3-2056x1536.jpeg&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center; margin-right: 0px; opacity: 1; width: 306px; float: left; display: block;"><img dm="true" src="Beef%20|%20Edmeston,%20NY%20|%20Farmers%20Place_files/image3-2056x1536.jpeg" irh="120" irw="160" id="1760283037" onerror="handleImageLoadError(this)" style="display: none;" draggable="false"></li>
                                          </ul>
                                       </div>
                                       <ul class="flex-direction-nav">
                                          <li><a class="flex-prev" href="">Previous</a></li>
                                          <li><a class="flex-next" href="">Next</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="large-8 medium-8 small-12 dmRespCol dmTxtCol" id="1387710444">
                                 <div data-dmtmpl="true" class="dmDefaultDivContainer" id="1869862980" style="">
                                    <h3 style="" class="dmDefaultH3" id="1278289096">Fresh Meat<br></h3>
                                 </div>
                                 <div class="dmDefaulDivContent dmBlockElement u_1691671799" id="1691671799" style="display: block; opacity: 0.685847003072212;" data-uialign="left">
                                    When
                                    it comes to fresh, high-quality meats, you'll find there is no better 
                                    place in Upstate New York. We carry a full range of products including, 
                                    fresh pork, chicken and beef products as well as processed product such 
                                    as: Kielbasa, Summer Sausage, Polish sausage, various rings with flavors
                                    including: Nacho Jalapeno, Andoullie, Chorizo, Honey BBQ, Polish, 
                                    Pennsylvania and German Bologna. We also have items like whole smoked 
                                    hams, bacon, pork sausage, bratwurst and various other specialty 
                                    products that are hand-made in our plant and made in-house to provide 
                                    you a taste like no other!&nbsp;<br><br>With our wide assortment of 
                                    products you're sure to find what you're looking for. If you're looking 
                                    to have your farm-raised animals processed, we can help with that as 
                                    well.&nbsp;
                                    <div>&nbsp;</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="u_1328916801 dmRespRow dmDefaultListContentRow" id="1328916801">
                           <div class="dmRespColsWrapper" id="1058114657">
                              <div class="large-4 medium-4 small-12 dmRespCol" id="1509402284">
                                 <div class="u_1374405667 imageWidget" id="1374405667" data-element-type="image" editablewidget="true" data-widget-type="image"><img src="/img/deerman/PartyPlatter.jpg" id="1917882790" dm_changed="true" class="u_1917882790" alt="Meat party platter" onerror="handleImageLoadError(this)"></div>
                              </div>
                              <div class="large-8 medium-8 small-12 dmRespCol dmTxtCol" id="1890159631">
                                 <div data-dmtmpl="true" class="dmDefaultDivContainer" id="1645151941">
                                    <h3 style="" class="u_1535140629 dmDefaultH3" id="1535140629">Party Platters<br></h3>
                                    <div style="" class="dmDefaulDivContent dmBlockElement u_1740931180" id="1740931180">
                                       Having
                                       a party and don't want to cook? Or perhaps you want to spend time with 
                                       your guests and not on prep work? At the Farmer's Place we can take the 
                                       worry and stress out of your event! Providing a full array of platters 
                                       that are sure to please your guests, we can ensure that your guests will
                                       be coming back for more!
                                       <div><br></div>
                                       <div>
                                          &nbsp;Our platters include but are not limited to
                                          &nbsp;<span style="line-height: 1.5;">Deli Meat and Cheese: your choice 
                                          of 3 meats, thin sliced and paired with your choice of 3 cheeses, 
                                          arranged on a small or extra large platter, with garnish. For an 
                                          additional charge, we can include party rolls, condiments and toppings 
                                          to satisfy your guests. &nbsp;</span><span style="line-height: 1.5;">Snack
                                          Stick Tray: Your choice of 3 of our delicious snack sticks and 3 
                                          cheeses, cut into bite sized pieces and served with garnish.&nbsp;</span>
                                          <div><span style="line-height: 1.5;"><br></span></div>
                                          <div>
                                             <span style="line-height: 1.5;">Whether
                                             you choose one of our spicy sticks, such as Jalapeno or Hot Sticks, or a
                                             savory stick like Honey BBQ, Classic BBQ or Pepperoni,  it will pair 
                                             well with our assortment of specialty cheeses like: Chipotle Habanero, 
                                             Peppadew Cheddar or Aged Sharp Cheddar. &nbsp;</span>
                                             <div><br></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="dmFooterContainer">
            <div id="fcontainer" class="f_hcontainer dmFooter p_hfcontainer">
               <div dm:templateorder="14" class="dmFooterResp dmFullFooterResp" id="1391315533">
                  <div class="dmRespRow dmDividerRow" id="1416614114">
                     <div class="dmRespColsWrapper" id="1625149802">
                        <div class="large-12 medium-12 small-12 dmRespCol" id="1099077094">
                           <div class="dmDividerWrapper clearfix" id="1063182962" data-element-type="dDividerId">
                              <hr class="dmDivider defaultDivider" id="1261088612">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="u_1664516665 dmRespRow dmFooterContent" id="1664516665">
                     <div class="dmRespColsWrapper" id="1169447013">
                        <div class="dmRespCol large-12 medium-12 small-12 dmFooterCol" id="1362232395">
                           <h3 class="dmFooterDefaultH3" id="1045679147">Follow Us</h3>
                           <div class="dmNewParagraph u_1028206292" data-dmtmpl="true" id="1028206292" style="" data-uialign="center">
                              <div style="">
                                 <div style="text-align: center;"><span style="line-height: 1.5;" class="size-25 lh-1"><b>Farmers Place</b></span></div>
                                 <div style="text-align: center;"><span style="line-height: 1.5;">256 County Hwy 20</span></div>
                              </div>
                              <div style="text-align: center; ">South Edmeston, NY 13411</div>
                              <div style=";text-align: center; ;">(607) 847-8234</div>
                              <div style=";text-align: center; ;"><a href="mailto:deerman25622@yahoo.com" style="line-height: 1.5; font-size: 1em; margin-left: 0px; text-decoration: none;"><font style="color: rgb(255, 255, 255);">deerman25622@yahoo.com</font></a></div>
                           </div>
                           <div class="dmSocialHome dmSocialHub" id="1879250773" dmle_extension="social_hub" data-element-type="social_hub" wr="false" data-dmtmpl="true" icon="true" surround="false">
                              <div class="socialHubWrapper">
                                 <div class="socialHubInnerDiv vertical"> <a href="https://www.facebook.com/pages/Farmers-Place/348880675150773" target="_blank" dmle_dont_remove="target" dm_dont_rewrite_url="true"> <span class="dmSocialFacebook dm-icon-facebook oneIcon socialHubIcon style3" data-hover-effect=""></span> 
                                    </a> 
                                 </div>
                              </div>
                           </div>
                           <div class="dmCustomHtml" id="1574560770" data-element-type="html">
                              <style type="text/css">vfontw {
                                 color: #FFF;
                                 }
                                 .vfontw {
                                 color: #FFF;
                                 }
                              </style>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div id="1004953624" dmle_extension="powered_by" data-element-type="powered_by" wr="false" icon="true" surround="false" data-dmtmpl="true"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

