

<div id="desktopBodyBox">
   <div id="iscrollBody">
      <div id="site_content">
         <div class="dmRespRow dmRespRowStable dmRespRowNoPadding dmPageTitleRow dmInnerBarRow">
            <div class="dmRespColsWrapper">
               <div class="large-12 dmRespCol">
                  <div id="innerBar" class="innerBar lineInnerBar">
                     <div class="titleLine display_None">
                        <hr>
                     </div>
                     <!-- Page title is hidden in css for new responsive sites. It is left here only so we don't break old sites. Don't copy it to new layouts --> 
                     <div id="pageTitleText">
                        <div class="innerPageTitle">World Cup</div>
                     </div>
                     <div class="titleLine display_None">
                        <hr>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div dmwrapped="true" id="dmFirstContainer" class="dmBody u_dmStyle_template_world-cup">
            <div id="allWrapper" class="allWrapper">
               <!-- navigation placeholders --> 
               <div id="dm_content" class="dmContent">
                  <div dm:templateorder="108" class="dmDefaultRespTmpl mainBorder" id="1546182083">
                     <div class="innerPageTmplBox dmDefaultPage dmComplexPage dmRespRowsWrapper dmRespRowsWrapperSize1" id="1127115476" style="min-height: 77px;">
                        <div class="dmRespRow dmDefaultPageTopRow u_1368744371" id="1368744371">
                           <div class="dmRespColsWrapper" id="1569895045">
                              <div class="dmRespCol large-6 medium-6 small-12 dmComplexPageLeftCol" id="1990842128">
                                 <div class="dmImgCoverWrapper imageWidget u_1886635265" dm_dont_rewrite_url="true" id="1886635265" data-element-type="image" editablewidget="true" data-widget-type="image"><img src="/img/deerman/worldcup/AAMP.png" id="1035753612" class="" data-dm-image-path="https://irp-cdn.multiscreensite.com/6e445c5b/dms3rep/multi/AAMP.png" alt="AAMP" onerror="handleImageLoadError(this)"></div>
                              </div>
                              <div class="dmRespCol large-6 medium-6 small-12 dmComplexPageRightCol" id="1915576921">
                                 <h3 class="defaultH3" id="1174162098" data-uialign="center">PRESS RELEASE<br></h3>
                                 <div class="dmNewParagraph" id="1730857234" data-uialign="center">FOR IMMEDIATE RELEASE<br><br>Contact: Diana Dietz<br>Communications Manager<br>PH: (877)877-0168<br><a href="mailto:diana@aamp.com" runtime_url="mailto:diana@aamp.com">diana@aamp.com</a><br><br>FARMERS PLACE WINS AT INTERNATIONALLY RECOGNIZED MEAT COMPETITION<br><br></div>
                              </div>
                           </div>
                        </div>
                        <div class="dmRespRow u_1623030264" style="text-align: center;" id="1623030264">
                           <div class="dmRespColsWrapper" id="1277684593">
                              <div class="dmRespCol small-12 medium-12 large-12" id="1393650381">
                                 <div class="dmNewParagraph u_1005137228" data-dmtmpl="true" id="1005137228" data-uialign="center" style="display: block;">FARMERS
                                    PLACE, SOUTH EDMESTON, NY, won international recognition at the 
                                    ‘DFV-AAMP Quality Competition for Sausage and Ham’, held Jan. 11-13, 
                                    2016, at the University of Wisconsin-Madison. The IFFA Quality 
                                    Competition was the first event of its kind held in the United States.<br><br>IFFA
                                    is the leading international trade fair for processing, packaging and 
                                    sales in the meat industry, and hosts an international meat competition 
                                    every three years in Frankfurt, Germany. The German Butchers’ 
                                    Association (Deutscher Fleischer-Verban) formed a partnership with the 
                                    American Association of Meat Processors (AAMP) to host the “satellite 
                                    contest” in the U.S. The results from the U.S. competition will be 
                                    included with those from Germany and acknowledged as being a part of the
                                    international show.<br><br>FARMERS PLACE was awarded with:<br><br>- 24 
                                    Gold Medals: FRANKS, JALEPENO SNACK STICK, HOT SOPRESATTA, ANDOILLE 
                                    SAUSAGE, SWEET SOPRESATTA, CHILI FRANKS, PATE SPECIAL, TRADITIONAL HAM, 
                                    TURKEY HAM, APPLE HAM, BONE IN HAM, HOT SNACK STICK, HOT FRUIT 
                                    SOPRESATTA, AGED12MONTH BONE IN HAME, SUGER CURED BACON, MUSCLE PRIME 
                                    RIB JERKY, MUSCLE CRACKED PEPPER JERKY, HILLBILLY JERKY, BEEF BACON, 
                                    PEPPERONI, PICKLED POLISH JAR, PEPPERONI SNACK STICK, HAM SALAD.<br>- 5 Silver Medals: PEPPERONI, APPLE MAPLE BACON, GENOA SALAMI, COMMERCIAL HAM, RING BOLOGNA.<br>-
                                    12 Bronze Medals: BRAUNSWIEGER, COUNTRY HAM, BONE IN HAM, HONEY RING 
                                    BOLOGNA, HONEY SNACK STICK, SUMMER SAUSAGE, SALAMI, FRANKS, BACON, 
                                    JERKY.<br><br>To make the event identical to the show in Frankfurt, 
                                    organizers sent judges from Germany to conduct the competition. All 
                                    entries were graded on appearance, consistency, smell, and taste. The 
                                    competition received more than 300 entries from 15 states.<br><br>AAMP 
                                    Executive Director Chris Young said, “With an award from the German 
                                    Butchers’ Association, our members demonstrate the international 
                                    competitiveness and quality of their products. On behalf of AAMP and our
                                    members, we congratulate FARMERS PLACE for their outstanding 
                                    achievements.”<br><br>FARMERS PLACE were invited by the German Butchers’
                                    Association to attend a ceremony at the IFFA in Frankfurt on May 10, 
                                    2016, where they were awarded their certificates and medals and two GOLD
                                    CUPS, BEST IN HAM AND BEST OVERALL!<br><br>1 Meating Place<br>Elizabethtown, Pennsylvania 17022<br>(877) 877-0168<br>Fax (717) 367-9096<br><a runtime_url="http://www.aamp.com" href="http://www.aamp.com/" target="_blank">www.aamp.com</a><br>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="dmRespRow dmDividerRow" id="1662797992">
                           <div class="dmRespColsWrapper" id="1536980713">
                              <div class="large-12 medium-12 small-12 dmRespCol" id="1883576210">
                                 <div class="u_1835587931 dmDividerWrapper clearfix" id="1835587931" layout="divider-style-1" data-element-type="dDividerId">
                                    <hr class="dmDivider defaultDivider" id="1404475522">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="dmRespRow u_1641055374" style="text-align: center;" id="1641055374">
                           <div class="dmRespColsWrapper" id="1005009681">
                              <div class="u_1888732873 dmRespCol small-12 large-6 medium-6" id="1888732873">
                                 <span id="1592169242"></span> 
                                 <h3 class="defaultH3 u_1825386941" id="1825386941" data-uialign="center" style="">FARMERS PLACE WINS WORLD CUPS</h3>
                                 <div class="dmNewParagraph u_1709175816" data-dmtmpl="true" id="1709175816" data-uialign="left" style="display: block;">From the Daily Star of Oneonta<br><br>Farmers Place is proud to represent Otsego County, New York State and the United States of America!<br><br>Joseph Leonard<br>Only Processor in America to Win Three Gold Cups<br><br>Farmers Place<br>Trophy Awarded for Best All Around Product<br>Trophy Awarded for Best Ham<br><br>Smoking Done on Premises<br>256 Co. Hwy. 20, Somewhere Downtown,<br>South Edmeston, NY 13411<br><br>607-847-8234<br><a href="mailto:deerman25622@yahoo.com" runtime_url="mailto:deerman25622@yahoo.com">deerman25622@yahoo.com</a><br></div>
                              </div>
                              <div class="u_1019654944 dmRespCol small-12 large-6 medium-6" id="1019654944">
                                 <span id="1482395321"></span> 
                                 <div class="u_1623584415 imageWidget align-center" editablewidget="true" data-widget-type="image" id="1623584415" data-element-type="image"><img src="/img/deerman/worldcup/Trophies.png" id="1888138156" class="" data-dm-image-path="https://irp-cdn.multiscreensite.com/6e445c5b/dms3rep/multi/Trophies-73d3b5b9.png" onerror="handleImageLoadError(this)"></div>
                              </div>
                           </div>
                        </div>
                        <div class="dmRespRow dmDefaultPageBottomRow u_1427179271" id="1427179271">
                           <div class="dmRespColsWrapper" id="1166017025">
                              <div class="u_1506934318 dmRespCol small-12 large-2 medium-2 emptyColumn" id="1506934318">
                                 <div class="imageWidget align-center u_1034325137" editablewidget="true" data-widget-type="image" id="1034325137" data-element-type="image"><img src="/img/deerman/worldcup/Joe.png" id="1744701631" class="" data-dm-image-path="https://irp-cdn.multiscreensite.com/6e445c5b/dms3rep/multi/Joe.png" onerror="handleImageLoadError(this)"></div>
                              </div>
                              <div class="u_1690020072 dmRespCol small-12 large-10 medium-10" id="1690020072">
                                 <span id="1332353361"></span> 
                                 <div class="dmNewParagraph u_1729905787" id="1729905787" data-uialign="left" style="display: block;">Farmers Place was awarded with:<br>24
                                    Gold Medals: FRANKS, JALEPENO SNACK STICK, HOT SOPRESATTA, ANDOILLE 
                                    SAUSAGE, SWEET SOPRESATTA, CHILI FRANKS, PATE SPECIAL, TRADITIONAL HAM, 
                                    TURKEY HAM, APPLE HAM, BONE IN HAM, HOT SNACK STICK, HOT FRUIT 
                                    SOPRESATTA, AGED12MONTH BONE IN HAME, SUGER CURED BACON, MUSCLE PRIME 
                                    RIB JERKY, MUSCLE CRACKED PEPPER JERKY, HILLBILLY JERKY, BEEF BACON, 
                                    PEPPERONI, PICKLED POLISH JAR, PEPPERONI SNACK STICK, HAM SALAD.<br><br>5 Silver Medals: PEPPERONI, APPLE MAPLE BACON, GENOA SALAMI, COMMERCIAL HAM, RING BOLOGNA.<br><br>12
                                    Bronze Medals: BRAUNSWIEGER, COUNTRY HAM, BONE IN HAM, HONEY RING 
                                    BOLOGNA, HONEY SNACK STICK, SUMMER SAUSAGE, SALAMI, FRANKS, BACON, 
                                    JERKY.<br><br>Farmers Place products competed with over 100 countries and 50 nations to win these medals and trophies!
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="dmFooterContainer">
            <div id="fcontainer" class="f_hcontainer dmFooter p_hfcontainer">
               <div dm:templateorder="14" class="dmFooterResp dmFullFooterResp" id="1391315533">
                  <div class="dmRespRow dmDividerRow" id="1416614114">
                     <div class="dmRespColsWrapper" id="1625149802">
                        <div class="large-12 medium-12 small-12 dmRespCol" id="1099077094">
                           <div class="dmDividerWrapper clearfix" id="1063182962" data-element-type="dDividerId">
                              <hr class="dmDivider defaultDivider" id="1261088612">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="u_1664516665 dmRespRow dmFooterContent" id="1664516665">
                     <div class="dmRespColsWrapper" id="1169447013">
                        <div class="dmRespCol large-12 medium-12 small-12 dmFooterCol" id="1362232395">
                           <h3 class="dmFooterDefaultH3" id="1045679147">Follow Us</h3>
                           <div class="dmNewParagraph u_1028206292" data-dmtmpl="true" id="1028206292" style="" data-uialign="center">
                              <div style="">
                                 <div style="text-align: center;"><span style="line-height: 1.5;" class="size-25 lh-1"><b>Farmers Place</b></span></div>
                                 <div style="text-align: center;"><span style="line-height: 1.5;">256 County Hwy 20</span></div>
                              </div>
                              <div style="text-align: center; ">South Edmeston, NY 13411</div>
                              <div style=";text-align: center; ;">(607) 847-8234</div>
                              <div style=";text-align: center; ;"><a href="mailto:deerman25622@yahoo.com" style="line-height: 1.5; font-size: 1em; margin-left: 0px; text-decoration: none;"><font style="color: rgb(255, 255, 255);">deerman25622@yahoo.com</font></a></div>
                           </div>
                           <div class="dmSocialHome dmSocialHub" id="1879250773" dmle_extension="social_hub" data-element-type="social_hub" wr="false" data-dmtmpl="true" icon="true" surround="false">
                              <div class="socialHubWrapper">
                                 <div class="socialHubInnerDiv vertical"> <a href="https://www.facebook.com/pages/Farmers-Place/348880675150773" target="_blank" dmle_dont_remove="target" dm_dont_rewrite_url="true"> <span class="dmSocialFacebook dm-icon-facebook oneIcon socialHubIcon style3" data-hover-effect=""></span> 
                                    </a> 
                                 </div>
                              </div>
                           </div>
                           <div class="dmCustomHtml" id="1574560770" data-element-type="html">
                              <style type="text/css">vfontw {
                                 color: #FFF;
                                 }
                                 .vfontw {
                                 color: #FFF;
                                 }
                              </style>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div id="1004953624" dmle_extension="powered_by" data-element-type="powered_by" wr="false" icon="true" surround="false" data-dmtmpl="true"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

