

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" class="dm-svg dm-flexbox dm-flexboxlegacy dm-no-flexboxtweener dm-flexwrap dm-supports dm-cssvwunit dm-passiveeventlisteners pointer">
   <head>
      <!-- ========= Meta Tags ========= -->
      <script type="text/javascript" defer="" async="" src="http://spotzerpiwik.com/berry//piwik.js"></script><script async="" src="//d32hwlnfiv2gyn.cloudfront.net/sp-2.0.0-dm-0.1.min.js"></script><script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script>
       handleImageLoadError = function(hiManny) {}
       
            try {
         if(navigator.serviceWorker && navigator.serviceWorker.getRegistrations && location.protocol === 'https:') {
         // remove all service workers
         navigator.serviceWorker.getRegistrations().then(function(registrations) {
             if(registrations && registrations.length) {
                 console.log('unregistering service workers')
                 registrations.forEach(function(registration) {
                     registration.unregister();
                 });
             }
          });
         // clear caches
         if(caches) {
             caches.keys().then(function(keyList) {
                 if(keyList && keyList.length) {
                     console.log('deleting caches')
                     keyList.forEach(function(key) {
                         if (key && key.indexOf('druntime') === 0) {
                             caches.delete(key);
                         }
                     });
                 }
               })
         }
         }
         } catch (err) {
         // not a secured location
         }
      </script>
      <meta http-equiv="Content-type" content="text/html;charset=utf-8">
      <meta charset="utf-8">
      <link rel="canonical" href="/">
      <meta id="view" name="viewport" content=", initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <!--Add favorites icons-->
      <link rel="icon" type="image/x-icon" href="/favicon_d1_res.ico">
      <!-- End favorite icons -->

       <!-- ========= CSS Section ========= -->
<!-- Foundation CSS -->
<link rel="stylesheet" type="text/css" href="/css/deerman/d-css-foundation.css">
<!-- Google Fonts Include -->
<link rel="stylesheet" type="text/css" href="/css/deerman/css.css">
<link rel="stylesheet" type="text/css" href="/css/deerman/additional-fonts.css">
<link rel="stylesheet" type="text/css" href="/css/deerman/css-font-package.css">
<!-- RT CSS Include d-css-runtime-desktop-one-package-->
<link rel="stylesheet" type="text/css" href="/css/deerman/d-css-runtime-desktop-one-package.css">
<!-- End of RT CSS Include -->
<!-- Site CSS -->
<link type="text/css" rel="stylesheet" href="/css/deerman/6e445c5b_1.css">
<style id="customWidgetStyle" type="text/css">
</style>
<style id="innerPagesStyle" type="text/css">
</style>
<style id="additionalGlobalCss" type="text/css"></style>
<!-- Page CSS -->
<link id="homeCssLink" type="text/css" rel="stylesheet" href="/css/deerman/6e445c5b_home_1.css">
<style id="pagestyle" type="text/css">
</style>
<style id="pagestyleDevice" type="text/css">
</style>

       <!-- render the required CSS and JS in the head section -->
      <style id="criticalCss">
         div.dmInner,html{font-family:Source Sans Pro}.pswp,html{-webkit-text-size-adjust:100%}[class*=" dm-social-icon-"],[class*=" dm-icon-"]{speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.clearfix:after,.dmRespRow:after,.dmSocialHub,DIV.dmBody{clear:both}.pswp,.pswp__bg,.pswp__caption,.pswp__container,.pswp__share-modal,.pswp__share-tooltip,.pswp__top-bar{-webkit-backface-visibility:hidden}nav{display:block}html{-ms-text-size-adjust:100%}hr{box-sizing:content-box;height:0}*,.dmPopup,:after,:before{box-sizing:border-box}img{border:0;max-width:100%;-ms-interpolation-mode:bicubic;display:inline-block}svg:not(:root){overflow:hidden}button{font-family:inherit;font-size:100%;margin:0;line-height:normal;text-transform:none;-webkit-appearance:button}.dmRespRow,.dmRespRow .dmRespColsWrapper{max-width:960px;margin:0 auto;width:100%;position:relative}button::-moz-focus-inner{border:0;padding:0}.dmRespRow.dmRespRowNoPadding{padding:0}.dmRespRow{padding-top:15px;padding-bottom:15px}.dmRespRow:after,.dmRespRow:before{content:" ";display:table}.dmRespRow .dmRespCol{position:relative;width:100%;display:inline-block;vertical-align:top;float:left}.dmRespRow .dmRespCol>*{max-width:100%}.dmDesktopBody .dmRespRow .large-2{position:relative;width:16.66667%}.dmDesktopBody .dmRespRow .large-8{position:relative;width:66.66667%}.dmDesktopBody .dmRespRow .large-12{position:relative;width:100%}@font-face{font-family:Lato;font-style:normal;font-weight:100;src:local('Lato Hairline'),local('Lato-Hairline'),url(https://fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHh30AUi-qJCY.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:Lato;font-style:normal;font-weight:100;src:local('Lato Hairline'),local('Lato-Hairline'),url(https://fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHh30AXC-q.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:Lato;font-style:normal;font-weight:300;src:local('Lato Light'),local('Lato-Light'),url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:Lato;font-style:normal;font-weight:300;src:local('Lato Light'),local('Lato-Light'),url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:Lato;font-style:normal;font-weight:400;src:local('Lato Regular'),local('Lato-Regular'),url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:Lato;font-style:normal;font-weight:400;src:local('Lato Regular'),local('Lato-Regular'),url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:Lato;font-style:normal;font-weight:700;src:local('Lato Bold'),local('Lato-Bold'),url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:Lato;font-style:normal;font-weight:700;src:local('Lato Bold'),local('Lato-Bold'),url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:Lato;font-style:normal;font-weight:900;src:local('Lato Black'),local('Lato-Black'),url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:Lato;font-style:normal;font-weight:900;src:local('Lato Black'),local('Lato-Black'),url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPGQ.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:200;src:local('Source Sans Pro ExtraLight'),local('SourceSansPro-ExtraLight'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wmhduz8A.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:200;src:local('Source Sans Pro ExtraLight'),local('SourceSansPro-ExtraLight'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wkxduz8A.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:200;src:local('Source Sans Pro ExtraLight'),local('SourceSansPro-ExtraLight'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wmxduz8A.woff2) format('woff2');unicode-range:U+1F00-1FFF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:200;src:local('Source Sans Pro ExtraLight'),local('SourceSansPro-ExtraLight'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlBduz8A.woff2) format('woff2');unicode-range:U+0370-03FF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:200;src:local('Source Sans Pro ExtraLight'),local('SourceSansPro-ExtraLight'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wmBduz8A.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:200;src:local('Source Sans Pro ExtraLight'),local('SourceSansPro-ExtraLight'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wmRduz8A.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:200;src:local('Source Sans Pro ExtraLight'),local('SourceSansPro-ExtraLight'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdu.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:300;src:local('Source Sans Pro Light'),local('SourceSansPro-Light'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwmhduz8A.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:300;src:local('Source Sans Pro Light'),local('SourceSansPro-Light'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwkxduz8A.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:300;src:local('Source Sans Pro Light'),local('SourceSansPro-Light'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwmxduz8A.woff2) format('woff2');unicode-range:U+1F00-1FFF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:300;src:local('Source Sans Pro Light'),local('SourceSansPro-Light'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlBduz8A.woff2) format('woff2');unicode-range:U+0370-03FF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:300;src:local('Source Sans Pro Light'),local('SourceSansPro-Light'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwmBduz8A.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:300;src:local('Source Sans Pro Light'),local('SourceSansPro-Light'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwmRduz8A.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:300;src:local('Source Sans Pro Light'),local('SourceSansPro-Light'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:local('Source Sans Pro Regular'),local('SourceSansPro-Regular'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lqDY.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:local('Source Sans Pro Regular'),local('SourceSansPro-Regular'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPK7lqDY.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:local('Source Sans Pro Regular'),local('SourceSansPro-Regular'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNK7lqDY.woff2) format('woff2');unicode-range:U+1F00-1FFF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:local('Source Sans Pro Regular'),local('SourceSansPro-Regular'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lqDY.woff2) format('woff2');unicode-range:U+0370-03FF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:local('Source Sans Pro Regular'),local('SourceSansPro-Regular'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qN67lqDY.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:local('Source Sans Pro Regular'),local('SourceSansPro-Regular'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:local('Source Sans Pro Regular'),local('SourceSansPro-Regular'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:local('Source Sans Pro SemiBold'),local('SourceSansPro-SemiBold'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmhduz8A.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:local('Source Sans Pro SemiBold'),local('SourceSansPro-SemiBold'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwkxduz8A.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:local('Source Sans Pro SemiBold'),local('SourceSansPro-SemiBold'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmxduz8A.woff2) format('woff2');unicode-range:U+1F00-1FFF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:local('Source Sans Pro SemiBold'),local('SourceSansPro-SemiBold'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlBduz8A.woff2) format('woff2');unicode-range:U+0370-03FF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:local('Source Sans Pro SemiBold'),local('SourceSansPro-SemiBold'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmBduz8A.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:local('Source Sans Pro SemiBold'),local('SourceSansPro-SemiBold'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmRduz8A.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:local('Source Sans Pro SemiBold'),local('SourceSansPro-SemiBold'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:local('Source Sans Pro Bold'),local('SourceSansPro-Bold'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmhduz8A.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:local('Source Sans Pro Bold'),local('SourceSansPro-Bold'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwkxduz8A.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:local('Source Sans Pro Bold'),local('SourceSansPro-Bold'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmxduz8A.woff2) format('woff2');unicode-range:U+1F00-1FFF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:local('Source Sans Pro Bold'),local('SourceSansPro-Bold'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlBduz8A.woff2) format('woff2');unicode-range:U+0370-03FF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:local('Source Sans Pro Bold'),local('SourceSansPro-Bold'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmBduz8A.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:local('Source Sans Pro Bold'),local('SourceSansPro-Bold'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmRduz8A.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:local('Source Sans Pro Bold'),local('SourceSansPro-Bold'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:900;src:local('Source Sans Pro Black'),local('SourceSansPro-Black'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwmhduz8A.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:900;src:local('Source Sans Pro Black'),local('SourceSansPro-Black'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwkxduz8A.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:900;src:local('Source Sans Pro Black'),local('SourceSansPro-Black'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwmxduz8A.woff2) format('woff2');unicode-range:U+1F00-1FFF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:900;src:local('Source Sans Pro Black'),local('SourceSansPro-Black'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlBduz8A.woff2) format('woff2');unicode-range:U+0370-03FF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:900;src:local('Source Sans Pro Black'),local('SourceSansPro-Black'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwmBduz8A.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:900;src:local('Source Sans Pro Black'),local('SourceSansPro-Black'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwmRduz8A.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:900;src:local('Source Sans Pro Black'),local('SourceSansPro-Black'),url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdu.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:FontAwesome;src:url(/fonts/fontawesome-webfont.eot?v=6);src:url(/fonts/fontawesome-webfont.eot?#iefix&v=6) format("embedded-opentype"),url(/fonts/fontawesome-webfont.woff?v=6) format("woff"),url(/fonts/fontawesome-webfont.ttf?v=6) format("truetype"),url(/fonts/fontawesome-webfont.svg#fontawesomeregular?v=6) format("svg");font-weight:400;font-style:normal}#dm div.dmContent [class*=" icon-"],[class*=" icon-"]{font-family:FontAwesome!important;font-weight:400;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased}[class*=" icon-"]:before{text-decoration:none;display:inline-block;speak:none}a [class*=" icon-"]{display:inline}[class*=" icon-"]{display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0 0;background-repeat:repeat;margin-top:0}.icon-star:before{content:"\f005"}.icon-external-link:before{content:"\f08e"}.icon-phone:before{content:"\f095"}.icon-angle-down:before{content:"\f107"}@font-face{font-family:dm-social-font;src:url(/fonts/dm-social-font/fonts/dm-social-font.eot?mxo7pn);src:url(/fonts/dm-social-font/fonts/dm-social-font.eot?mxo7pn#iefix) format("embedded-opentype"),url(/fonts/dm-social-font/fonts/dm-social-font.ttf?mxo7pn) format("truetype"),url(/fonts/dm-social-font/fonts/dm-social-font.woff?mxo7pn) format("woff"),url(/fonts/dm-social-font/fonts/dm-social-font.svg?mxo7pn#dm-font) format("svg");font-weight:400;font-style:normal}[class*=" dm-social-icon-"]{font-family:dm-social-font!important}.dm-social-icon-email:before{content:"\e900"}@font-face{font-family:dm-font;src:url(/fonts/dm-font.eot?v=12);src:url(/fonts/dm-font.eot?v=12#iefix-ss0txf) format("embedded-opentype"),url(/fonts/dm-font.ttf?v=12) format("truetype"),url(juk
         visibility: hidden;
         }
      </style>
      <!-- End render the required css and JS in the head section -->
      <title>
         Farmers Place | Venison | Edmeston, NY
      </title>
      <meta name="keywords" content="Venison, beef, bbq catering, bbq rentals, barbecue rentals, barbecue equipment rentals, custom cut meat, fresh beef cuts, meat party platters, farmers place, edmeston, ny">
      <meta name="description" content="For the freshest and tastiest venison you’ll find anywhere in Upstate New York, contact the friendly team at our store in Edmeston, NY at (607) 847-8234.">
      <meta name="google-site-verification" content="4EgbY4anrjGZwFX5H7mPPejWVm8lW7YEzJF9U4_CcAk">
      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="Farmers Place | Venison | Edmeston, NY">
      <meta name="twitter:description" content="For the freshest and tastiest venison you’ll find anywhere in Upstate New York, contact the friendly team at our store in Edmeston, NY at (607) 847-8234.">
      <meta property="og:description" content="For the freshest and tastiest venison you’ll find anywhere in Upstate New York, contact the friendly team at our store in Edmeston, NY at (607) 847-8234.">
      <meta property="og:title" content="Farmers Place | Venison | Edmeston, NY">
      <style type="text/css">.dmDesktopBody .dmPhotoGallery:not(.newPhotoGallery) .photoGalleryViewAll, .dmTabletBody .dmPhotoGallery:not(.newPhotoGallery) .photoGalleryViewAll {
         background: none;
         border: none;
         padding: 3px 0;
         font-size: 16px;
         font-weight: bold;
         width: auto;
         height: auto;
         color: #4d4d4d;
         line-height: normal;
         box-shadow: 0 -2px 0 0;
         display: block;
         margin: 40px 0;
         text-align: left; }
         .dmDesktopBody .dmPhotoGallery:not(.newPhotoGallery) .photoGalleryViewAll span, .dmTabletBody .dmPhotoGallery:not(.newPhotoGallery) .photoGalleryViewAll span {
         font-size: 20px;
         vertical-align: sub; }
         .dmMobileBody .dmPhotoGallery:not(.newPhotoGallery) .photoGalleryViewAll {
         display: none;
         font-size: 14px;
         font-weight: bold;
         cursor: pointer;
         width: 160px;
         text-align: center;
         padding: 6px 0;
         margin: 5px auto;
         border: 1px solid #c9c9c9;
         color: #4d4d4d;
         background: #EEE;
         background: linear-gradient(to bottom, #EEE 0%, #DDD 100%);
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); }
         .dmPhotoGallery.newPhotoGallery .photoGalleryThumbs .caption-container .caption-inner h3,
         .dmPhotoGallery.newPhotoGallery .photoGalleryThumbs .caption-container .caption-inner p {
         margin: 0;
         line-height: normal;
         text-align: center; }
         .dmPhotoGallery.newPhotoGallery .photoGalleryThumbs .caption-container .caption-inner h3 {
         font-size: 21px; }
         .dmPhotoGallery.newPhotoGallery .photoGalleryThumbs .caption-container .caption-inner p {
         font-size: 14px; }
         .dmPhotoGallery.newPhotoGallery .photoGalleryThumbs .caption-container .caption-inner .caption-title, .dmPhotoGallery.newPhotoGallery .photoGalleryThumbs .caption-container .caption-inner .caption-text {
         max-width: 100%; }
         #dm .dmPhotoGallery.newPhotoGallery.hasShadow .thumbnailInnerWrapper {
         box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0px !important; }
         #dm .dmPhotoGallery.newPhotoGallery.animateVisibility {
         opacity: 1;
         transition: all .2s ease-out !important; }
         #dm .dmPhotoGallery.newPhotoGallery.visibilityHidden {
         opacity: 0; }
         #dm .dmPhotoGallery.newPhotoGallery li {
         list-style: none; }
         #dm .dmPhotoGallery.newPhotoGallery li.transparent {
         opacity: 0; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-top_left li.photoGalleryThumbs .caption-container .caption-inner {
         -ms-flex-pack: start;
         justify-content: flex-start;
         -ms-flex-align: start;
         align-items: flex-start; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-top_left li.photoGalleryThumbs .caption-container .caption-inner h3, #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-top_left li.photoGalleryThumbs .caption-container .caption-inner p {
         text-align: left; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-top_left li.photoGalleryThumbs .caption-container .caption-inner .caption-button {
         margin: 10px 0; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-top_center li.photoGalleryThumbs .caption-container .caption-inner {
         -ms-flex-pack: start;
         justify-content: flex-start;
         -ms-flex-align: center;
         align-items: center; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-top_center li.photoGalleryThumbs .caption-container .caption-inner h3, #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-top_center li.photoGalleryThumbs .caption-container .caption-inner p {
         text-align: center; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-top_center li.photoGalleryThumbs .caption-container .caption-inner .caption-button {
         margin: 10px auto; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-top_right li.photoGalleryThumbs .caption-container .caption-inner {
         -ms-flex-pack: start;
         justify-content: flex-start;
         -ms-flex-align: end;
         align-items: flex-end; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-top_right li.photoGalleryThumbs .caption-container .caption-inner h3, #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-top_right li.photoGalleryThumbs .caption-container .caption-inner p {
         text-align: right; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-top_right li.photoGalleryThumbs .caption-container .caption-inner .caption-button {
         margin: 10px 0; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-center_left li.photoGalleryThumbs .caption-container .caption-inner {
         -ms-flex-pack: center;
         justify-content: center;
         -ms-flex-align: start;
         align-items: flex-start; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-center_left li.photoGalleryThumbs .caption-container .caption-inner h3, #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-center_left li.photoGalleryThumbs .caption-container .caption-inner p {
         text-align: left; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-center_left li.photoGalleryThumbs .caption-container .caption-inner .caption-button {
         margin: 10px 0; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-center_center li.photoGalleryThumbs .caption-container .caption-inner {
         -ms-flex-pack: center;
         justify-content: center;
         -ms-flex-align: center;
         align-items: center; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-center_center li.photoGalleryThumbs .caption-container .caption-inner h3, #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-center_center li.photoGalleryThumbs .caption-container .caption-inner p {
         text-align: center; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-center_center li.photoGalleryThumbs .caption-container .caption-inner .caption-button {
         margin: 10px auto; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-center_right li.photoGalleryThumbs .caption-container .caption-inner {
         -ms-flex-pack: center;
         justify-content: center;
         -ms-flex-align: end;
         align-items: flex-end; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-center_right li.photoGalleryThumbs .caption-container .caption-inner h3, #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-center_right li.photoGalleryThumbs .caption-container .caption-inner p {
         text-align: right; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-center_right li.photoGalleryThumbs .caption-container .caption-inner .caption-button {
         margin: 10px 0; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-bottom_left li.photoGalleryThumbs .caption-container .caption-inner {
         -ms-flex-pack: end;
         justify-content: flex-end;
         -ms-flex-align: start;
         align-items: flex-start; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-bottom_left li.photoGalleryThumbs .caption-container .caption-inner h3, #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-bottom_left li.photoGalleryThumbs .caption-container .caption-inner p {
         text-align: left; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-bottom_left li.photoGalleryThumbs .caption-container .caption-inner .caption-button {
         margin: 10px 0; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-bottom_center li.photoGalleryThumbs .caption-container .caption-inner {
         -ms-flex-pack: end;
         justify-content: flex-end;
         -ms-flex-align: center;
         align-items: center; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-bottom_center li.photoGalleryThumbs .caption-container .caption-inner h3, #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-bottom_center li.photoGalleryThumbs .caption-container .caption-inner p {
         text-align: center; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-bottom_center li.photoGalleryThumbs .caption-container .caption-inner .caption-button {
         margin: 10px auto; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-bottom_right li.photoGalleryThumbs .caption-container .caption-inner {
         -ms-flex-pack: end;
         justify-content: flex-end;
         -ms-flex-align: end;
         align-items: flex-end; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-bottom_right li.photoGalleryThumbs .caption-container .caption-inner h3, #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-bottom_right li.photoGalleryThumbs .caption-container .caption-inner p {
         text-align: right; }
         #dm .dmPhotoGallery.newPhotoGallery.captionAlignment-bottom_right li.photoGalleryThumbs .caption-container .caption-inner .caption-button {
         margin: 10px 0; }
         #dm .dmPhotoGallery.newPhotoGallery li.photoGalleryThumbs .caption-container .caption-inner {
         -ms-flex-pack: center;
         justify-content: center;
         -ms-flex-align: center;
         align-items: center; }
         #dm .dmPhotoGallery.newPhotoGallery li.photoGalleryThumbs .caption-container .caption-inner h3, #dm .dmPhotoGallery.newPhotoGallery li.photoGalleryThumbs .caption-container .caption-inner p {
         text-align: center; }
         #dm .dmPhotoGallery.newPhotoGallery li.photoGalleryThumbs .caption-container .caption-inner .caption-button {
         margin: 10px 0; }
         #dm .dmPhotoGallery.newPhotoGallery .photoGalleryViewAll {
         box-shadow: 0 0 0 0 !important;
         font-size: inherit !important;
         margin: 0 !important;
         cursor: pointer; }
         #dm .dmPhotoGallery.newPhotoGallery .dmPhotoGalleryHolder {
         width: 100%;
         padding: 0;
         display: none; }
         #dm .dmPhotoGallery.newPhotoGallery .photogallery-row {
         display: -ms-flexbox;
         display: flex; }
         #dm .dmPhotoGallery.newPhotoGallery .photogallery-row.photogallery-hidden-row {
         display: none; }
         #dm .dmPhotoGallery.newPhotoGallery .flex-reverse {
         -ms-flex-direction: row-reverse;
         flex-direction: row-reverse; }
         #dm .dmPhotoGallery.newPhotoGallery .flex {
         display: -ms-flexbox;
         display: flex; }
         #dm .dmPhotoGallery.newPhotoGallery .column {
         padding: 0;
         -ms-flex-direction: column;
         flex-direction: column; }
         #dm .dmPhotoGallery.newPhotoGallery .width-50 {
         width: 50%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container.square {
         display: -ms-flexbox;
         display: flex;
         width: 100%;
         -ms-flex-direction: column;
         flex-direction: column; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container.classic-rounded {
         display: -ms-flexbox;
         display: flex;
         width: 100%;
         -ms-flex-direction: column;
         flex-direction: column; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container.classic-rounded .photoGalleryThumbs .image-container {
         border-radius: 100%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container.classic-drops {
         display: -ms-flexbox;
         display: flex;
         width: 100%;
         -ms-flex-direction: column;
         flex-direction: column; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container.classic-drops .photoGalleryThumbs .image-container {
         border-bottom-left-radius: 100%;
         border-bottom-right-radius: 100%;
         border-top-right-radius: 100%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container.pinterest-rounded .photoGalleryThumbs .image-container {
         border-radius: 20%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container.vertical-rounded .photoGalleryThumbs .image-container {
         border-bottom-right-radius: 10%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column {
         display: -ms-flexbox;
         display: flex;
         -ms-flex-direction: column;
         flex-direction: column;
         padding: 0;
         width: 100%;
         margin: 0; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column.row-direction {
         -ms-flex-direction: row;
         flex-direction: row;
         -ms-flex-wrap: wrap;
         flex-wrap: wrap; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column.column-1 {
         width: 100%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column.column-2 {
         width: 50%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column.column-3 {
         width: 33.333%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column.column-4 {
         width: 25%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column.column-5 {
         width: 20%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column.column-6 {
         width: 16.66667%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column .photoGalleryThumbs {
         position: relative;
         overflow: hidden; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column .photoGalleryThumbs .image-container {
         width: 100%;
         overflow: hidden;
         background: url("https://dd-cdn.multiscreensite.com/runtime-img/galleryLoader.gif") no-repeat center; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column .photoGalleryThumbs .image-container.revealed {
         background: none; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column .photoGalleryThumbs .image-container a {
         display: -ms-flexbox;
         display: flex;
         -ms-flex-direction: column;
         flex-direction: column;
         background-size: cover;
         padding-top: 100%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column .photoGalleryThumbs .image-container a img {
         display: none; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column .photoGalleryThumbs.asymetric3-long-image .image-container {
         width: 100%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column .photoGalleryThumbs.asymetric3-long-image .image-container a {
         padding-top: 50%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column .photoGalleryThumbs.pinterest-high .image-container a {
         padding-top: 125%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column .photoGalleryThumbs.pinterest-low .image-container a {
         padding-top: 75%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column .photoGalleryThumbs.panoramic-height .image-container a {
         padding-top: 25%; }
         #dm .dmPhotoGallery.newPhotoGallery .layout-container .photogallery-column .photoGalleryThumbs.vertical-height .image-container a {
         padding-top: 200%; }
         #dm .dmPhotoGallery.newPhotoGallery li.photoGalleryThumbs {
         position: relative; }
         #dm .dmPhotoGallery.newPhotoGallery li.photoGalleryThumbs .thumbnailInnerWrapper {
         overflow: hidden;
         transform: translateZ(0); }
         #dm .dmPhotoGallery.newPhotoGallery li.photoGalleryThumbs .image-container {
         overflow: hidden; }
         #dm .dmPhotoGallery.newPhotoGallery li.photoGalleryThumbs .image-container a {
         background-repeat: no-repeat;
         background-position: center; }
         #dm .dmPhotoGallery.newPhotoGallery li.photoGalleryThumbs .caption-container .caption-inner {
         display: -ms-flexbox;
         display: flex;
         -ms-flex-direction: column;
         flex-direction: column;
         -ms-flex-pack: center;
         justify-content: center;
         position: relative;
         overflow: hidden;
         z-index: 1;
         background-color: rgba(255, 255, 255, 0.9);
         color: #333;
         padding: 15px;
         height: 100%;
         box-sizing: border-box; }
         #dm .dmPhotoGallery.newPhotoGallery li.photoGalleryThumbs .caption-container .caption-inner .rteBlock {
         font-size: 14px; }
         #dm .dmPhotoGallery.newPhotoGallery li.photoGalleryThumbs .caption-container .caption-inner .caption-button {
         margin: 10px auto;
         pointer-events: all;
         max-width: 100%; }
         #dm .dmPhotoGallery.newPhotoGallery li.photoGalleryThumbs .caption-container .caption-inner .caption-button .text {
         padding: 10px 20px !important; }
         #dm .dmPhotoGallery.newPhotoGallery li.photoGalleryThumbs .caption-container .caption-inner .caption-button.displayNone {
         display: none; }
         #dm .dmPhotoGallery.newPhotoGallery.text-layout-fixed li.photoGalleryThumbs .caption-container {
         position: absolute;
         left: 0;
         pointer-events: none;
         right: 0;
         top: 0;
         bottom: 0;
         margin: auto; }
         #dm .dmPhotoGallery.newPhotoGallery.text-layout-fixed li.photoGalleryThumbs .caption-container .caption-inner {
         background-color: rgba(255, 255, 255, 0.5); }
         #dm .dmPhotoGallery.newPhotoGallery.text-layout-over .photogalleryPaddingThumbnails li.photoGalleryThumbs {
         margin-bottom: 10px; }
         #dm .dmPhotoGallery.newPhotoGallery.text-layout-over .photogalleryPaddingThumbnails li.photoGalleryThumbs .caption-container {
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         overflow: hidden;
         padding: inherit; }
         #dm .dmPhotoGallery.newPhotoGallery.text-layout-over li.photoGalleryThumbs .caption-container {
         height: 100%;
         width: 100%;
         position: absolute;
         top: 0;
         left: 0;
         pointer-events: none;
         padding: inherit; }
         #dm .dmPhotoGallery.newPhotoGallery.text-layout-over li.photoGalleryThumbs .caption-inner {
         display: -ms-flexbox;
         display: flex;
         -ms-flex-direction: column;
         flex-direction: column;
         -ms-flex-pack: center;
         justify-content: center;
         box-sizing: border-box;
         min-height: 0 !important;
         padding: 10px;
         -ms-transform: scale(1.05);
         transform: scale(1.05);
         opacity: 0;
         filter: alpha(opacity=0);
         transition: all 0.3s ease-out; }
         #dm .dmPhotoGallery.newPhotoGallery.text-layout-over li.photoGalleryThumbs.hover .caption-inner, #dm .dmPhotoGallery.newPhotoGallery.text-layout-over li.photoGalleryThumbs:hover .caption-inner {
         -ms-transform: scale(1);
         transform: scale(1);
         opacity: 1;
         filter: alpha(opacity=100); }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="zoomout"] .photoGalleryThumbs .image-container {
         -webkit-mask-image: -webkit-radial-gradient(white, black); }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="zoomout"] .photoGalleryThumbs .image-container a {
         transition: all 0.2s ease-out; }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="zoomout"] .photoGalleryThumbs:hover .image-container a {
         -ms-transform: scale(1.06);
         transform: scale(1.06); }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="grayscale"] .photoGalleryThumbs .image-container a {
         filter: grayscale(0%);
         transition: .2s ease-in-out; }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="grayscale"] .photoGalleryThumbs:hover .image-container a {
         filter: grayscale(100%); }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="reverse-grayscale"] .photoGalleryThumbs .image-container a {
         filter: grayscale(100%);
         filter: gray;
         transition: .2s ease-in-out; }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="reverse-grayscale"] .photoGalleryThumbs:hover .image-container a {
         filter: grayscale(0%); }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="blur"] .photoGalleryThumbs .image-container a {
         filter: blur(0);
         transition: .2s ease-in-out; }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="blur"] .photoGalleryThumbs:hover .image-container a {
         filter: blur(3px); }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="grayscale-blur"] .photoGalleryThumbs .image-container a {
         filter: grayscale(0%) blur(0);
         transition: .2s ease-in-out; }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="grayscale-blur"] .photoGalleryThumbs:hover .image-container a {
         filter: grayscale(100%) blur(3px); }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="opacity"] .photoGalleryThumbs .image-container a {
         transition: .2s ease-in-out;
         opacity: 1; }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="opacity"] .photoGalleryThumbs:hover .image-container a {
         opacity: .7; }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="shine"] .photoGalleryThumbs .image-container a {
         position: relative; }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="shine"] .photoGalleryThumbs:hover .image-container a::after {
         opacity: 1;
         -ms-transform: translate(0);
         transform: translate(0); }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="shine"] .photoGalleryThumbs:active .image-container a::after {
         opacity: 0; }
         #dm .dmPhotoGallery.newPhotoGallery[data-image-hover-effect="shine"] .photoGalleryThumbs .image-container a::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 200%;
         height: 200%;
         opacity: 0;
         transition-property: transform;
         transition-duration: 0.4s;
         transition-timing-function: ease;
         -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
         background: rgba(255, 255, 255, 0.13);
         background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 48%, rgba(255, 255, 255, 0.5) 57%, rgba(255, 255, 255, 0) 64%, rgba(255, 255, 255, 0) 100%); }
         #dm .dmPhotoGallery.newPhotoGallery[data-link-gallery="true"] .image-container a {
         cursor: default; }
         #dm .dmPhotoGallery.newPhotoGallery[data-link-gallery="true"] .image-container a.has-link {
         cursor: pointer;
         z-index: 1px; }
         #dm .dmPhotoGallery.newPhotoGallery .galleryColumn {
         padding: 0 5px; }
         #dm .dmPhotoGallery.newPhotoGallery .galleryColumn .photoGalleryThumbs {
         padding: 0;
         background-clip: content-box;
         margin-bottom: 10px; }
         #dm .dmPhotoGallery.newPhotoGallery .rteBlock li {
         list-style-type: inherit; }
      </style>
   </head>
   <body id="dmRoot" class="supportsFontIcons supportsFontIcons dmRoot dmDesktopBody fix-mobile-scrolling dmResellerSite mac dmLargeBody  d1SiteBody dmBodyNoIscroll fullyLoaded" style="padding: 0px; margin: 0px; min-width: 1194px;">


<div id="disabledImageZone" style="display:none;z-index:-1">
   <style type="text/css">
      #imageZone {
      position: absolute;
      margin: auto;
      }
      .coloumns {
      border-radius: 3px;
      background-color: rgb(249, 152, 13); /*border:1px solid #999;*/
      height: 18px;
      width: 6px;
      -webkit-animation-name: loader;
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-direction: linear;
      -moz-animation-name: loader;
      -moz-animation-duration: 1s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-direction: linear;
      opacity: .25;
      -webkit-transform: scale(0.7);
      -webkit-transform-origin: 50% 180%;
      -moz-transform: scale(0.7);
      -moz-transform-origin: 50% 180%;
      position: absolute;
      }
      #coloumn1 {
      -webkit-transform: rotate(0deg);
      -webkit-animation-delay: -.914s;
      -moz-transform: rotate(0deg);
      -moz-animation-delay: -.914s;
      }
      #coloumn2 {
      -webkit-transform: rotate(30deg);
      -webkit-animation-delay: -.831s;
      -moz-transform: rotate(30deg);
      -moz-animation-delay: -.831s;
      }
      #coloumn3 {
      -webkit-transform: rotate(60deg);
      -webkit-animation-delay: -.747s;
      -moz-transform: rotate(60deg);
      -moz-animation-delay: -.747s;
      }
      #coloumn4 {
      -webkit-transform: rotate(90deg);
      -webkit-animation-delay: -.664s;
      -moz-transform: rotate(90deg);
      -moz-animation-delay: -.664s;
      }
      #coloumn5 {
      -webkit-transform: rotate(120deg);
      -webkit-animation-delay: -.581s;
      -moz-transform: rotate(120deg);
      -moz-animation-delay: -.581s;
      }
      #coloumn6 {
      -webkit-transform: rotate(150deg);
      -webkit-animation-delay: -.498s;
      -moz-transform: rotate(150deg);
      -moz-animation-delay: -.498s;
      }
      #coloumn7 {
      -webkit-transform: rotate(180deg);
      -webkit-animation-delay: -.415s;
      -moz-transform: rotate(180deg);
      -moz-animation-delay: -.415s;
      }
      #coloumn8 {
      -webkit-transform: rotate(210deg);
      -webkit-animation-delay: -.332s;
      -moz-transform: rotate(210deg);
      -moz-animation-delay: -.332s;
      }
      #coloumn9 {
      -webkit-transform: rotate(240deg);
      -webkit-animation-delay: -.249s;
      -moz-transform: rotate(240deg);
      -moz-animation-delay: -.249s;
      }
      #coloumn10 {
      -webkit-transform: rotate(270deg);
      -webkit-animation-delay: -.166s;
      -moz-transform: rotate(270deg);
      -moz-animation-delay: -.166s;
      }
      #coloumn11 {
      -webkit-transform: rotate(300deg);
      -webkit-animation-delay: -.083s;
      -moz-transform: rotate(300deg);
      -moz-animation-delay: -.083s;
      }
      #coloumn12 {
      -webkit-transform: rotate(330deg);
      -moz-transform: rotate(330deg);
      }
      @-webkit-keyframes loader {
      0% {
      opacity: 1;
      }
      100% {
      opacity: .25;
      }
      }
      @-moz-keyframes loader {
      0% {
      opacity: 1;
      }
      100% {
      opacity: .25;
      }
      }
   </style>
   <div id="imageZone">
      <div id="coloumn1" class="coloumns"></div>
      <div id="coloumn2" class="coloumns"></div>
      <div id="coloumn3" class="coloumns"></div>
      <div id="coloumn4" class="coloumns"></div>
      <div id="coloumn5" class="coloumns"></div>
      <div id="coloumn6" class="coloumns"></div>
      <div id="coloumn7" class="coloumns"></div>
      <div id="coloumn8" class="coloumns"></div>
      <div id="coloumn9" class="coloumns"></div>
      <div id="coloumn10" class="coloumns"></div>
      <div id="coloumn11" class="coloumns"></div>
      <div id="coloumn12" class="coloumns"></div>
   </div>
</div>
<!-- ========= Site Content ========= -->
<div id="dm" class="dmwr">
   <div class="dm_wrapper standard-var5 widgetStyle-3 standard">
      <div dmwrapped="true" id="1121032592" class="dm-home-page" themewaschanged="true">
         <div dmtemplateid="skinnyHeaderLayout" class="skinnyHeaderLayout dm-bfs dm-layout-home dmPageBody dmFreeHeader d-page-1469484075 runtime-module-container" id="dm-outer-wrapper" data-page-class="1469484075" data-buttonstyle="FLAT_SOFT" data-soch="true" data-background-image="url(https://dd-cdn.multiscreensite.com/themes/breakfast/breakfast-hp.jpg)" data-background-hide-inner="true" data-background-fullbleed="false">
            <div id="dmStyle_outerContainer" class="dmOuter">
               <div id="dmStyle_innerContainer" class="dmInner" style="min-height: 612px;">
                  <div class="dmLayoutWrapper standard-var dmStandardDesktop">
                     <ul class="dmn dmLayoutNav hiddenNavPlaceHolder navPlaceHolder dmDisplay_None"></ul>
                     <div class="dmHeaderContainer fHeader d-header-wrapper">
                        <div id="hcontainer" class="u_hcontainer dmHeader p_hfcontainer" freeheader="true" headerlayout="b58ba5b5703b4cd7b5f5f7951565dc87===horizontal-layout-11">
                           <div dm:templateorder="76" class="dmHeaderResp" id="1830053871">
                              <div class="dmRespRow dmDefaultListContentRow u_1695244004 fullBleedChanged fullBleedMode" style="text-align:center" id="1695244004">
                                 <div class="dmRespColsWrapper" id="1953557037">
                                    <div class="u_1999725292 small-12 dmRespCol large-2 medium-2" id="1999725292">
                                       <span id="1788105263"></span> 
                                       <div class="u_1452696312 align-center text-align-center dmSocialHub" id="1452696312" dmle_extension="social_hub" data-element-type="social_hub" wr="true" networks="" icon="true" surround="true" adwords="">
                                          <div class="socialHubWrapper">
                                             <div class="socialHubInnerDiv "> <a href="https://facebook.com/274157899270001" target="_blank" dmle_dont_remove="target" dm_dont_rewrite_url="true"> <span class="dmSocialFacebook dm-icon-facebook oneIcon socialHubIcon style5" data-hover-effect=""></span> 
                                                </a> 
                                                <a href="mailto:deerman25622@yahoo.com" dmle_dont_remove="target" dm_dont_rewrite_url="true"> <span class="dmSocialEmail dm-social-icon-email oneIcon socialHubIcon style5" data-hover-effect=""></span> 
                                                </a> 
                                             </div>
                                          </div>
                                       </div>
                                       <a data-display-type="block" class="u_1264842797 align-center dmButtonLink dmWidget dmWwr default dmOnlyButton dmDefaultGradient" file="true" href="https://irp-cdn.multiscreensite.com/6e445c5b/files/uploaded/OrderForm.pdf" id="1264842797" dm_dont_rewrite_url="false" target="_blank" data-buttonstyle="BORDER_SHORT" data-element-type="dButtonLinkId"> <span class="iconBg" id="1722288456"> <span class="icon hasFontIcon icon-star" id="1060111868"></span> 
                                       </span> 
                                       <span class="text" id="1395204123">Download Our Order Form</span> 
                                       </a> 
                                       <div class="u_1058311903 graphicWidget hide-for-medium" editablewidget="true" data-widget-type="graphic" id="1058311903" data-element-type="graphic">
                                          <a href="https://irp-cdn.multiscreensite.com/6e445c5b/files/uploaded/OrderForm.pdf" id="1811595441" dm_dont_rewrite_url="false" file="true" target="_blank">
                                             <svg version="1.1" id="1736251977" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve" class="svg u_1736251977" data-icon-custom="true" data-icon-name="food.svg">
                                                <g id="1260265234">
                                                   <path d="M427.5,404.699c-1.695,0.133-4.076,0.241-7.043,0.241c-8.557,0-53.353-1.118-94.998-23.13
                                                      c-73.561-38.883-138.282-56.996-203.688-56.996c-3.933,0-7.88,0.064-11.853,0.197c-6.088,0.205-12.094,0.313-17.964,0.313
                                                      c-18.038,0-55.257-0.002-82.758-13.465l0.118,47.241c0.018,8.716,4.777,16.766,12.4,20.987
                                                      c17.498,9.682,50.787,12.03,87.102,10.816c83.482-2.792,158.199,21.565,232.033,60.598c34.898,18.446,74.943,19.886,84.078,19.169
                                                      c19.17-1.528,50.08-4.285,69.686-20.915c5.369-4.575,8.474-11.282,8.474-18.342v-66.378
                                                      C483.609,388.22,457.127,402.341,427.5,404.699z" id="1115063585"></path>
                                                   <path d="M91.954,292.389c5.517,0,11.153-0.104,16.862-0.293c4.342-0.145,8.66-0.217,12.954-0.217
                                                      c78.296,0,149.081,23.813,219.079,60.814c30.781,16.267,65.56,19.311,79.607,19.311c1.881,0,3.393-0.057,4.471-0.141
                                                      c75.57-6.015,103.955-115.125,55.516-199.637c-23.367-40.776-84.045-106.568-153.682-113.21c-3.297-0.313-7.205-0.551-11.547-0.551
                                                      c-18.357,0-44.652,4.229-67.03,24.795c-12.722,11.667-69.989,47.322-85.687,50.988C66.054,156.788-2.521,216.188,9.332,266.918
                                                      C13.85,286.193,49.16,292.389,91.954,292.389z M91.689,218.271c5.355-0.934,104.871-18.213,171.371-28.651
                                                      c16.066-2.525,28.369-15.592,29.865-31.793l3.473-37.73c1.109-12.038,11.869-20.842,23.77-19.749
                                                      c12.014,1.109,20.859,11.748,19.749,23.761l-3.394,36.747c-1.864,20.24,5.371,40.263,19.734,54.631l55.032,55.034
                                                      c8.539,8.532,8.539,22.37,0,30.894c-4.262,4.271-9.859,6.401-15.456,6.401c-5.58,0-11.176-2.131-15.438-6.401l-67.898-67.892
                                                      c-7.978-7.984-19.348-11.699-30.51-9.995c-65.744,10.059-182.661,30.362-184.059,30.613c-1.063,0.185-2.108,0.273-3.152,0.273
                                                      c-8.669,0-16.373-6.24-17.901-15.085C75.155,229.423,81.782,219.992,91.689,218.271z" id="1847201951"></path>
                                                </g>
                                             </svg>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="u_1727178835 dmRespCol small-12 large-8 medium-8" id="1727178835">
                                       <span id="1413690637"></span> 
                                       <nav class="u_1789649137 effect-top-bottom main-navigation unifiednav dmLinksMenu" role="navigation" layout-main="horizontal_nav_layout_3" layout-sub="submenu_horizontal_1" data-show-vertical-sub-items="HOVER" id="1789649137" dmle_extension="onelinksmenu" data-element-type="onelinksmenu" wr="true" data-logo-src="https://irp-cdn.multiscreensite.com/6e445c5b/dms3rep/multi/JoesLogo.png" data-nav-structure="SPLIT" icon="true" surround="true" adwords="" data-from-nav="false" data-sub-nav="true" data-items="-1" custom-li-class="" custom-ul-class="" custom-a-class="" custom-inner-ul-class="" custom-nested-inner-ul-class="" custom-span-class="" navigation-id="unifiedNav" data-links-level="0" is-build-your-own="false">
                                          <ul class="unifiednav__container left_nav ">
                                             <li class="unifiednav__item-wrap"> <a href="/deerman" class="unifiednav__item   dmUDNavigationItem_00 currentPage dmNavItemSelected" target="" data-target-page-alias=""> <span class="nav-item-text " data-link-text="
                                                Home
                                                ">Home<span class="icon icon-angle-down"></span> 
                                                </span> 
                                                </a> 
                                             </li>
                                             <li class="unifiednav__item-wrap"> <a href="/deerman/services" class="unifiednav__item  dmUDNavigationItem_010101404124" target="" data-target-page-alias=""> <span class="nav-item-text " data-link-text="
                                                Services
                                                ">Services<span class="icon icon-angle-down"></span> 
                                                </span> 
                                                </a> 
                                             </li>
                                          </ul>
                                          <a class="middleLogoLink" href="/deerman"><img class="navLogo" id="navLogo" src="/img/deerman/JoesLogo.png" alt="" onerror="handleImageLoadError(this)"></a> 
                                          <ul class="unifiednav__container right_nav ">
                                             <li class="unifiednav__item-wrap"> <a href="/deerman/world-cup" class="unifiednav__item  dmUDNavigationItem_010101118640" target="" data-target-page-alias=""> <span class="nav-item-text " data-link-text="
                                                World Cup
                                                ">World Cup<span class="icon icon-angle-down"></span> 
                                                </span> 
                                                </a> 
                                             </li>
                                             <li class="unifiednav__item-wrap"> <a href="/deerman/contact" class="unifiednav__item  dmUDNavigationItem_03" target="" data-target-page-alias=""> <span class="nav-item-text " data-link-text="
                                                Contact
                                                ">Contact<span class="icon icon-angle-down"></span> 
                                                </span> 
                                                </a> 
                                             </li>
                                          </ul>
                                       </nav>
                                    </div>
                                    <div class="u_1834507362 dmRespCol small-12 large-2 medium-2" id="1834507362">
                                       <span id="1102227963"></span> 
                                       <a class="u_1493936212 default dmDefaultGradient align-center dmCall voipReplacement dmWidget dmNoMark dmWwr" href="#" onclick=";return dm_gaq_push_event('ClickToCall', 'Call',null,'6e445c5b', this);" dm_dont_rewrite_url="true" id="1493936212" dmle_extension="clicktocall" data-element-type="clicktocall" wr="true" data-buttonstyle="FLAT_ROUND_ICON" data-display-type="block" localization_key_description="googleTranslate.16" icon="true" surround="true" description="(607) 847-8234" adwords="" icon-name="icon-phone" phone="6078478234" text="" image="" contenteditable="false"> <span class="iconBg"> <span class="icon hasFontIcon icon-phone"></span> 
                                       </span> 
                                       <span class="text" dmle_select_parent="1">(607) 847-8234</span> 
                                       <span class="text phoneNumHolder">6078478234</span></a> 
                                       <div class="dmNewParagraph" data-dmtmpl="true" id="1356947847" data-uialign="center" style="transition: opacity 1s ease-in-out 0s;"><font class="lh-1 font-size-12" style="color: rgb(255, 255, 255);"><span class="lh-1"></span><font class="lh-1 font-size-12">To better serve existing and future customers we now acccept EBT and the SNAP program</font></font></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
      {{{body}}}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--  Add full CSS and Javascript before the close tag of the body if needed -->
<!--[if IE 7]>
<style>.fw-head.fw-logo img{max-width: 290px;}.dm_header .logo-div img{max-width: 290px;}</style>
<![endif]-->
<!--[if IE 8]>
<style>.fw-head .fw-logo img{max-width: 290px;}.dm_header .logo-div img{max-width: 290px;}*#dm div.dmHeader{_height:90px;min-height:0px;}</style>
<![endif]-->
<!-- ========= JS Section ========= -->
<!-- Modernizr -->
<script>
   /* THIS FILE IS AUTO-GENERATED. SEE build/build-modernizr */
   
   /*! modernizr 3.5.0 (Custom Build) | MIT *
   * https://modernizr.com/download/?-cssvwunit-flexbox-flexboxlegacy-flexboxtweener-flexwrap-passiveeventlisteners-supports-svg-setclasses-cssclassprefix:dm- !*/
   !function(e,t,n){function r(e,t){return typeof e===t}function s(){var e,t,n,s,o,i,a;for(var l in w)if(w.hasOwnProperty(l)){if(e=[],t=w[l],t.name&&(e.push(t.name.toLowerCase()),t.options&&t.options.aliases&&t.options.aliases.length))for(n=0;n<t.options.aliases.length;n++)e.push(t.options.aliases[n].toLowerCase());for(s=r(t.fn,"function")?t.fn():t.fn,o=0;o<e.length;o++)i=e[o],a=i.split("."),1===a.length?Modernizr[a[0]]=s:(!Modernizr[a[0]]||Modernizr[a[0]]instanceof Boolean||(Modernizr[a[0]]=new Boolean(Modernizr[a[0]])),Modernizr[a[0]][a[1]]=s),C.push((s?"":"no-")+a.join("-"))}}function o(e){var t=x.className,n=Modernizr._config.classPrefix||"";if(b&&(t=t.baseVal),Modernizr._config.enableJSClass){var r=new RegExp("(^|\\s)"+n+"no-js(\\s|$)");t=t.replace(r,"$1"+n+"js$2")}Modernizr._config.enableClasses&&(t+=" "+n+e.join(" "+n),b?x.className.baseVal=t:x.className=t)}function i(e,t){return!!~(""+e).indexOf(t)}function a(){return"function"!=typeof t.createElement?t.createElement(arguments[0]):b?t.createElementNS.call(t,"http://www.w3.org/2000/svg",arguments[0]):t.createElement.apply(t,arguments)}function l(){var e=t.body;return e||(e=a(b?"svg":"body"),e.fake=!0),e}function f(e,n,r,s){var o,i,f,u,d="modernizr",p=a("div"),c=l();if(parseInt(r,10))for(;r--;)f=a("div"),f.id=s?s[r]:d+(r+1),p.appendChild(f);return o=a("style"),o.type="text/css",o.id="s"+d,(c.fake?c:p).appendChild(o),c.appendChild(p),o.styleSheet?o.styleSheet.cssText=e:o.appendChild(t.createTextNode(e)),p.id=d,c.fake&&(c.style.background="",c.style.overflow="hidden",u=x.style.overflow,x.style.overflow="hidden",x.appendChild(c)),i=n(p,e),c.fake?(c.parentNode.removeChild(c),x.style.overflow=u,x.offsetHeight):p.parentNode.removeChild(p),!!i}function u(e){return e.replace(/([A-Z])/g,function(e,t){return"-"+t.toLowerCase()}).replace(/^ms-/,"-ms-")}function d(t,n,r){var s;if("getComputedStyle"in e){s=getComputedStyle.call(e,t,n);var o=e.console;if(null!==s)r&&(s=s.getPropertyValue(r));else if(o){var i=o.error?"error":"log";o[i].call(o,"getComputedStyle returning null, its possible modernizr test results are inaccurate")}}else s=!n&&t.currentStyle&&t.currentStyle[r];return s}function p(t,r){var s=t.length;if("CSS"in e&&"supports"in e.CSS){for(;s--;)if(e.CSS.supports(u(t[s]),r))return!0;return!1}if("CSSSupportsRule"in e){for(var o=[];s--;)o.push("("+u(t[s])+":"+r+")");return o=o.join(" or "),f("@supports ("+o+") { #modernizr { position: absolute; } }",function(e){return"absolute"==d(e,null,"position")})}return n}function c(e){return e.replace(/([a-z])-([a-z])/g,function(e,t,n){return t+n.toUpperCase()}).replace(/^-/,"")}function v(e,t,s,o){function l(){u&&(delete P.style,delete P.modElem)}if(o=r(o,"undefined")?!1:o,!r(s,"undefined")){var f=p(e,s);if(!r(f,"undefined"))return f}for(var u,d,v,m,g,y=["modernizr","tspan","samp"];!P.style&&y.length;)u=!0,P.modElem=a(y.shift()),P.style=P.modElem.style;for(v=e.length,d=0;v>d;d++)if(m=e[d],g=P.style[m],i(m,"-")&&(m=c(m)),P.style[m]!==n){if(o||r(s,"undefined"))return l(),"pfx"==t?m:!0;try{P.style[m]=s}catch(h){}if(P.style[m]!=g)return l(),"pfx"==t?m:!0}return l(),!1}function m(e,t){return function(){return e.apply(t,arguments)}}function g(e,t,n){var s;for(var o in e)if(e[o]in t)return n===!1?e[o]:(s=t[e[o]],r(s,"function")?m(s,n||t):s);return!1}function y(e,t,n,s,o){var i=e.charAt(0).toUpperCase()+e.slice(1),a=(e+" "+T.join(i+" ")+i).split(" ");return r(t,"string")||r(t,"undefined")?v(a,t,s,o):(a=(e+" "+z.join(i+" ")+i).split(" "),g(a,t,n))}function h(e,t,r){return y(e,n,n,t,r)}var w=[],S={_version:"3.5.0",_config:{classPrefix:"dm-",enableClasses:!0,enableJSClass:!0,usePrefixes:!0},_q:[],on:function(e,t){var n=this;setTimeout(function(){t(n[e])},0)},addTest:function(e,t,n){w.push({name:e,fn:t,options:n})},addAsyncTest:function(e){w.push({name:null,fn:e})}},Modernizr=function(){};Modernizr.prototype=S,Modernizr=new Modernizr;var C=[],x=t.documentElement,b="svg"===x.nodeName.toLowerCase();Modernizr.addTest("svg",!!t.createElementNS&&!!t.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect);var _="Moz O ms Webkit",T=S._config.usePrefixes?_.split(" "):[];S._cssomPrefixes=T;var E={elem:a("modernizr")};Modernizr._q.push(function(){delete E.elem});var P={style:E.elem.style};Modernizr._q.unshift(function(){delete P.style});var z=S._config.usePrefixes?_.toLowerCase().split(" "):[];S._domPrefixes=z,S.testAllProps=y,S.testAllProps=h,Modernizr.addTest("flexbox",h("flexBasis","1px",!0)),Modernizr.addTest("flexboxlegacy",h("boxDirection","reverse",!0)),Modernizr.addTest("flexboxtweener",h("flexAlign","end",!0)),Modernizr.addTest("flexwrap",h("flexWrap","wrap",!0));var N="CSS"in e&&"supports"in e.CSS,j="supportsCSS"in e;Modernizr.addTest("supports",N||j);var A=S.testStyles=f;A("#modernizr { width: 50vw; }",function(t){var n=parseInt(e.innerWidth/2,10),r=parseInt(d(t,null,"width"),10);Modernizr.addTest("cssvwunit",r==n)}),Modernizr.addTest("passiveeventlisteners",function(){var t=!1;try{var n=Object.defineProperty({},"passive",{get:function(){t=!0}});e.addEventListener("test",null,n)}catch(r){}return t}),s(),o(C),delete S.addTest,delete S.addAsyncTest;for(var k=0;k<Modernizr._q.length;k++)Modernizr._q[k]();e.Modernizr=Modernizr}(window,document);
</script>
<script>
   var isWLR = true;
</script>
<!-- Custom Widgets js functions map -->
<script>
   window.customWidgetsFunctions = {};
   window.customWidgetsStrings = {};
</script>
<script type="text/javascript">
   var version = "3.6.9";
   var build = "2018-11-07T15_20_38";
   
   function buildEditorParent() {
       window.isMultiScreen = true;
       window.editorParent = {};
       window.previewParent = {};
       window.assetsCacheQueryParam = "?version=2018-11-07T15_20_38";
       try {
           var _p = window.parent;
           if (_p && _p.document && _p.$ && _p.$.dmfw) {
               window.editorParent = _p;
           }
           else if (_p.isSitePreview) {
               window.previewParent = _p;
           }
       } catch (e) {
   
       }
   }
   
   buildEditorParent();
   
   
</script>
<!-- Load jQuery -->
<script type="text/javascript" src="/js/deerman/jquery.js"></script>
<!-- End Load jQuery --><script>
   window.cookiesNotificationMarkupPreview = 'null';
</script>
<!-- HEAD RT JS Include -->
<script>
   window.INSITE = window.INSITE || {};
   window.INSITE.device = "desktop";
   window.rtCommonProps = {};
   rtCommonProps["rt.ajax.ajaxScriptsFix"] =true;
   rtCommonProps["rt.pushnotifs.sslframe.encoded"] = 'aHR0cHM6Ly97c3ViZG9tYWlufS5wdXNoLW5vdGlmcy5jb20=';
   rtCommonProps["facebook.accessToken"] = '126515034112906|8vv7JhnEegS8qz43fIOZjxGZReA';
   rtCommonProps["performance.tabletPreview.removeScroll"] = 'false';
   rtCommonProps["inlineEditGrid.snap"] =true;
   rtCommonProps["popup.insite.cookie.ttl"] = '0.0';
   rtCommonProps["rt.pushnotifs.force.button"] =true;
   rtCommonProps["google.places.key"] = 'AIzaSyBAwUOqPUB1CU31yDztoZYaUE7sPv4ktEI';
   rtCommonProps["common.mapbox.token"] = 'pk.eyJ1IjoiZGFubnliMTIzIiwiYSI6ImNqMGljZ256dzAwMDAycXBkdWxwbDgzeXYifQ.Ck5P-0NKPVKAZ6SH98gxxw';
   rtCommonProps["common.mapbox.js.override"] =false;
   rtCommonProps["common.opencage.token"] = '319e14f32bcce967ba55cd263478796d';
   rtCommonProps["common.here.appId"] = 'iYvDjIQ2quyEu0rg0hLo';
   rtCommonProps["common.here.appCode"] = '1hcIxLJcbybmtBYTD9Z1UA';
   rtCommonProps["isCoverage.test"] =false;
   rtCommonProps["ecommerce.ecwid.script"] = 'https://app.multiscreenstore.com/script.js';
   
   rtCommonProps["common.mapsProvider"] = 'mapbox';
   rtCommonProps["common.geocodeProvider"] = 'here';
   rtCommonProps['common.map.defaults.radiusSize'] = '1500';
   rtCommonProps['common.map.defaults.radiusBg'] = 'rgba(255, 255, 255, 0.4)';
   rtCommonProps['common.map.defaults.strokeColor'] = 'rgba(255, 255, 255, 1)';
   rtCommonProps['common.map.defaults.strokeSize'] = '2';
</script>
<script src="/js/deerman/d-js-runtime-one-package.js"></script>
<!-- End of HEAD RT JS Include -->
<script src="/js/deerman/d-js-one-runtime-layouts-package.js"></script>
<script src="/js/deerman/d-js-one-runtime-layouts-desktop.js"></script>
<script>jQuery.DM.updateWidthAndHeight();
   $(window).resize(function () {
       jQuery.DM.updateWidth();
       
   });
   $(window).bind("orientationchange", function (e) {
       jQuery.DM.updateWidth();
       jQuery.layoutManager.initLayout();
       
   });
   $(document).resize(function () {
       jQuery.DM.updateWidth();
       
   });
</script>
<script type="text/javascript">
   (function() {
    	var campaign = (/utm_campaign=([^&]*)/).exec(window.location.search);
    	
    	if (campaign && campaign != null && campaign.length > 1) {
    		campaign = campaign[1]; 		
    		document.cookie = "_dm_rt_campaign=" + campaign + ";expires=" + new Date().getTime() + 24*60*60*1000 + ";domain=" + window.location.hostname + ";path=/";
    	}
   }());
</script>
<script type="text/javascript">
   var _dm_gaq = {};
   var _gaq = _gaq || [];
   var _dm_insite = [];
   
   
   _dm_gaq.siteAlias = '6e445c5b';
   _dm_gaq.systemAggregatedGaqID = 'UA-7265702-9';
   _dm_gaq.externalGaqID = '';
   
   _gaq.push(['_gat._forceSSL']);
   
   if(_dm_gaq.systemAggregatedGaqID && (_dm_gaq.systemAggregatedGaqID != _dm_gaq.systemGaqID)){
      // track aggregated account
     _gaq.push(['b._setAccount', _dm_gaq.systemAggregatedGaqID]);
     _gaq.push(['b._setAllowLinker', true]);
     _gaq.push(['b._setVar', _dm_gaq.siteAlias]);
     
     _gaq.push (['b._gat._anonymizeIp']);
     
     _gaq.push(['b._setCustomVar', 1, 'product', 'DM_DIRECT',  2 ]);
     _gaq.push(['b._setCustomVar', 2, 'plan', 'BUSINESS_PLUS',  2 ]);
     _gaq.push(['b._setCustomVar', 3, 'dfooter', 'false',  2 ]);
     _gaq.push(['b._setCustomVar', 4, 'sitetype', '1',  2 ]);
     _gaq.push(['b._setCustomVar', 5, 'pwaEnabled', 'false',  2 ]);
   
       _gaq.push(['b._trackPageview' ]);
     pushInsiteImpressions('b._trackEvent');
    }
        
    if(_dm_gaq.externalGaqID && _dm_gaq.externalGaqID!= '') {    	    	
      _gaq.push(['c._setAccount', _dm_gaq.externalGaqID]);                      
      _gaq.push(['c._setVar', _dm_gaq.siteAlias]);
      _gaq.push(['c._setDomainName', 'joesfarmersplace.net']);
      _gaq.push(['c._setAllowLinker', true]);
      _gaq.push(['c._trackPageview' ]);
      pushInsiteImpressions('c._trackEvent');
    }
   
    function pushInsiteImpressions(category) {
    	$.each(_dm_insite, function(idx, rule) {
    		_gaq.push([ category, 'insite_impression' , _dm_gaq.siteAlias, rule.ruleType + '__' + rule.ruleId, ]);
    	});
    }
   (function() {
   var ga = document.createElement('script');
   ga.type = 'text/javascript';
   ga.async = true;
   
   ga.src = 'https://ssl.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0];
   s.parentNode.insertBefore(ga, s);
   })();
   	
   ;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
   p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
   };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
   n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script","//d32hwlnfiv2gyn.cloudfront.net/sp-2.0.0-dm-0.1.min.js","snowplow"));
   window.dmsnowplow  = window.snowplow;
   
   dmsnowplow('newTracker', 'cf', 'd32hwlnfiv2gyn.cloudfront.net', { // Initialise a tracker
   appId: '6e445c5b'
   });
   
   dmsnowplow('trackPageView')
   $.each(_dm_insite, function(idx, rule) {
   //('trackStructEvent', 'category','action','label','property','value');
   	// Specifically in popup only the client knows if it is shown or not so we don't always want to track its impression here
          // the tracking is in popup.js
   	if (rule.actionName !== "popup") {
                 dmsnowplow('trackStructEvent', 'insite', 'impression', rule.ruleType, rule.ruleId);
             }
   		$(document).ready(function(){
   			$.DM.events.trigger('event-ruleTriggered', {value: rule})}
   		);
   	});
    <!-- Piwik --> 
      var _paq = _paq || [];
      (function(){ var u=(("https:" == document.location.protocol) ? "https://spotzerpiwik.com/berry//" : "http://spotzerpiwik.com/berry//");
      _paq.push(['setSiteId', 8546]);
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setCustomVariable','1','rendering','website', 'visit']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript'; g.defer=true; g.async=true; g.src=u+'piwik.js';
      s.parentNode.insertBefore(g,s); })();
      <!-- End Piwik Code -->
      
      
</script>
<div style="display:none;" id="P6iryBW0Wu"></div>
<!-- photoswipe markup -->
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
   <!-- Background of PhotoSwipe. 
      It's a separate element as animating opacity is faster than rgba(). -->
   <div class="pswp__bg"></div>
   <!-- Slides wrapper with overflow:hidden. -->
   <div class="pswp__scroll-wrap">
      <!-- Container that holds slides. 
         PhotoSwipe keeps only 3 of them in the DOM to save memory.
         Don't modify these 3 pswp__item elements, data is added later on. -->
      <div class="pswp__container">
         <div class="pswp__item"></div>
         <div class="pswp__item"></div>
         <div class="pswp__item"></div>
      </div>
      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">
         <div class="pswp__top-bar">
            <!--  Controls are self-explanatory. Order can be changed. -->
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
               <div class="pswp__preloader__icn">
                  <div class="pswp__preloader__cut">
                     <div class="pswp__preloader__donut"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
         </div>
         <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
         </button>
         <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
         </button>
         <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
         </div>
      </div>
   </div>
</div>
<!-- note these also must be called after ajax -->
<script>
   var dmForceShare = false;
   if (dmForceShare || $("#shareSection").length > 0 || $(".dmShare").length > 0) {
       dmLoadShare();
   }
   
   function dmLoadShare() {
       /* google plus shares */
       $.ajax({
           url: "https://apis.google.com/js/plusone.js", dataType: "script", success: function () {
           }
       });
       /* linked in shares */
       $.ajax({
           url: "https://platform.linkedin.com/in.js", dataType: "script", success: function () {
           }
       });
       /* Twitter Shares */
       $.ajax({
           url: "https://platform.twitter.com/widgets.js", dataType: "script", success: function () {
           }
       });
   }
</script>
<div id="fb-root" data-locale="en"></div>
<!-- Alias: 6e445c5b -->
<div class="dmPopupMask" id="dmPopupMask"></div>
<div id="dmPopup" class="dmPopup">
   <div class="dmPopupCloseWrapper">
      <div class="dmPopupClose dm-icon-x_close_popup oneIcon" onclick="dmHidePopup(event);"></div>
   </div>
   <div class="dmPopupTitle"> <span></span> Share by:</div>
   <div class="data"></div>
</div>
<script>
   // Collects client data and updates cookies used by smart sites
   var expireDays = 365,visitLength = 30 * 60000;
   $.setCookie("dm_timezone_offset", (new Date()).getTimezoneOffset(), expireDays);
   function setSmartSiteCookies() {
   	setSmartSiteCookiesInternal("dm_this_page_view","dm_last_page_view","dm_total_visits","dm_last_visit");
   }
   $.DM.events.on("afterAjax", setSmartSiteCookies);
   setSmartSiteCookies();
</script>
<script type="text/javascript">
   $.extend(Parameters,{
       AjaxContainer : "div.dmBody",
       WrappingContainer : "div.dmOuter",
       HomeUrl : "/",
       AccountUUID: "11eb3ad5ac074038a4576482515428bc",
       SiteAlias : "6e445c5b",
       SiteId : "779785",
       SiteType : eval(Base64.decode("J0RVREFPTkUn")),
       ExternalUid: '1626578',
       IsSEOFriendlyLinks : true,
       IsSiteMultilingual: false,
       InitialPostAlias: '', 
       InitialPageAlias : "home",
       InitialEncodedPageAlias : "aG9tZQ",
       IsFromScratch : "false",
       CurrentPageUrl : "null",
       IsCurrentHomePage : true,
       classicLink : "",
        AllowAjax : false,
       AfterAjaxCommand : null,
       HomeLinkText:"Back To Home",
       UseGalleryModule : false,
       CurrentThemeName : "Layout Theme",
       ThemeVersion : "490",
       DefaultPageAlias : "",
       RemoveDID : true,
        LayoutVariationID : {desktop : 5},
   LayoutID : {desktop : 9},
   WidgetStyleID : null,
   IsHeaderFixed: false,
   IsHeaderSkinny: false,
   IsBfs: true,
   LayoutParams : {_manifestId : 10002,_device : "desktop"},
   		StorePageAlias: "null",
       StorePath: "",
       StoreId: "null",
       StoreVersion: 0,
   		StoreBaseUrl: "",
       StoreCleanUrl:true,
   		StoreDisableScrolling: true,
   		NotificationSubDomain: "joesfarmersplace",
       HasCustomDomain: true,
   		showCookieNotification: false,
   cookiesNotificationMarkup: 'null',
       translatedPageUrl: '',
       isFastMigrationSite: false,
       sidebarPosition: 'NA',
       currentLanguage: "null",
       NavItems: "W3sidGl0bGUiOiJIb21lIiwiYWxpYXMiOiJob21lIiwicGF0aCI6Ii8iLCJpbk5hdmlnYXRpb24iOnRydWUsInN1Yk5hdiI6W119LHsidGl0bGUiOiJTZXJ2aWNlcyIsImFsaWFzIjoic2VydmljZXMiLCJwYXRoIjoiL3NlcnZpY2VzIiwiaW5OYXZpZ2F0aW9uIjp0cnVlLCJzdWJOYXYiOltdfSx7InRpdGxlIjoiV29ybGQgQ3VwIiwiYWxpYXMiOiJ3b3JsZC1jdXAiLCJwYXRoIjoiL3dvcmxkLWN1cCIsImluTmF2aWdhdGlvbiI6dHJ1ZSwic3ViTmF2IjpbXX0seyJ0aXRsZSI6IkNvbnRhY3QiLCJhbGlhcyI6ImNvbnRhY3QiLCJwYXRoIjoiL2NvbnRhY3QiLCJpbk5hdmlnYXRpb24iOnRydWUsInN1Yk5hdiI6W119XQ==",
   errors: {
   general: 'There was an error connecting to the page.<br/> Make sure you are not offline.',
   password: 'Incorrect name/password combination',
   tryAgain: 'Try again'
   }
   });
   $.extend(Parameters.NavigationAreaParams,{
       ShowBackToHomeOnInnerPages : true,
       NavbarSize : -1,
       NavbarLiveHomePage : "/",
       BlockContainerSelector : ".dmBody",
       NavbarSelector : "#dmNav:has(a)",
       SubNavbarSelector : "#subnav_main"
   });
   $.extend(Parameters.LayoutParams, {_navigationAnimationStyle : 'slide'});
   
   Parameters.NavigationAreaParams.MoreButtonText = 'More';
   
   Parameters.NavigationAreaParams.LessButtonText = 'Less';
   Parameters.HomeLinkText = 'Home';
</script>
<script>
   jQuery(window).load(function () {
       try {
           jQuery.DM.updateIOSHeight();
       } catch(e){};
   });
</script>
<!--  End Script tags -->
   </body>
</html>

