<!doctype html>
<html>
<head>
	<title>Welcome to Manfredd's Airport</title>
    <link rel="Shortcut Icon" href="/img/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/css/myrkridian.css">
	{{{_sections.cssLinks}}}
</head>
<body>
	{{{body}}}
	<script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous">
	</script>
	{{{_sections.jsLinks}}}
</body>