<div class="sirine">
	<p>Table of Contents</p>
	<a href="#">Literary letters and letter-prayers</a>
	<a href="#">Ancient literary catalogues</a>
	<a href="#">Narrative and mythological compositions</a>
	<a href="#">Compositions with a historical background & Royal praise poetry</a>
	<a href="#">Literary letters and letter-prayers</a>
	<a href="#">Hymns and cult songs</a>
	<a href="#">Other literature</a>
	<a href="#">Proverb collections</a>
</div>
