    <div class="greenSlaad">
        <p>Literary letters and letter-prayers<a href='#' class='closeGreenSlaad'>x</a></p>
		<div class="belashyrra">
			<div class="pernicon">
				<a href='/sumer/3.1.01'>Letter from Arad&#285;u to &Scaron;ulgi about Apilla&scaron;a</a>
				<a href='/sumer/3.1.02'>Letter from &Scaron;ulgi to Arad&#285;u about Apilla&scaron;a</a>
				<a href='/sumer/3.1.03'>Letter from Arad&#285;u to &Scaron;ulgi about irrigation work</a>
				<a href='/sumer/3.1.04'>Letter from Arad&#285;u to &Scaron;ulgi about the country</a>
				<a href='/sumer/3.1.05'>Letter from Arad&#285;u to &Scaron;ulgi about Aba-indasa's missing troops</a>
				<a href='/sumer/3.1.06.1'>Letter from &Scaron;ulgi to Arad&#285;u about Aba-indasa's letter</a>
				<a href='/sumer/3.1.06'>Letter from Arad&#285;u to &Scaron;ulgi about the fortress Igi-&#7723;ursa&#285;a</a>
				<a href='/sumer/3.1.07'>Letter from Puzur-&Scaron;ulgi to &Scaron;ulgi about the advance of the enemy</a>
				<a href='/sumer/3.1.08'>Letter from &Scaron;ulgi to Puzur-&Scaron;ulgi about the fortress Igi-&#7723;ursa&#285;a</a>
				<a href='/sumer/3.1.10'>Letter from &Scaron;ulgi to Puzur-&Scaron;ulgi about waterways</a>
				<a href='/sumer/3.1.11.1'>Letter from Ur-DUN to &Scaron;ulgi about Apilla&scaron;a</a>
				<a href='/sumer/3.1.11'>Letter from Arad&#285;u (?) to &Scaron;ulgi about bandits and Apilla&scaron;a</a>
				<a href='/sumer/3.1.13.1'>Letter from &Scaron;ulgi (?) to Arad&#285;u about troops</a>
				<a href='/sumer/3.1.13.2'>Letter from &Scaron;ulgi to I&scaron;bi-Erra about the purchase of grain</a>
				<a href='/sumer/3.1.15'>Letter from &Scaron;arrum-bni to &Scaron;u-Suen about keeping the Martu at bay</a>
				<a href='/sumer/3.1.16'>Letter from &Scaron;u-Suen to &Scaron;arrum-bni about digging a trench</a>
				<a href='/sumer/3.1.17'>Letter from I&scaron;bi-Erra to Ibbi-Suen about the purchase of grain</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/3.1.18'>Letter from Ibbi-Suen to I&scaron;bi-Erra about his bad conduct</a>
				<a href='/sumer/3.1.19'>Letter from Puzur-&Scaron;ulgi to Ibbi-Suen about I&scaron;bi-Erra's claim on Isin</a>
				<a href='/sumer/3.1.20'>Letter from Ibbi-Suen to Puzur-&Scaron;ulgi hoping for I&scaron;bi-Erra's downfall</a>
				<a href='/sumer/3.1.21'>Letter from Aba-indasa to &Scaron;ulgi about his neglect</a>
				<a href='/sumer/3.2.01'>Letter from Sn-illat to Iddin-Dagan about confronting the Martu</a>
				<a href='/sumer/3.2.02'>Letter from Iddin-Dagan to Sn-illat about the troops</a>
				<a href='/sumer/3.2.03'>Letter from Nanna-ki-a&#285; to Lipit-E&scaron;tar about Gungunum's troops</a>
				<a href='/sumer/3.2.04'>Letter from Lipit-E&scaron;tar to Nanna-ki-a&#285; about driving away the enemy</a>
				<a href='/sumer/3.2.05'>Letter from Sn-iddinam to the god Utu</a>
				<a href='/sumer/3.3.01'>Letter from Ur-saga to a king fearing the loss of his father's household</a>
				<a href='/sumer/3.3.02'>Letter from Lugal-nesa&#285;e to a king radiant as the moon</a>
				<a href='/sumer/3.3.03'>Letter from Lugal-nesa&#285;e to a king radiant as the sun</a>
				<a href='/sumer/3.3.04'>Letter from Ur-Enlila to a governor and temple administrator</a>
				<a href='/sumer/3.3.05'>Letter from a governor and temple administrator to a king</a>
				<a href='/sumer/3.3.06'>Letter from Aba-ta&#7723;-lugal&#285;a to his brothers</a>
				<a href='/sumer/3.3.07'>Letter from Ugubi to his mother</a>
				<a href='/sumer/3.3.08'>Letter from &Scaron;ama&scaron;-b to Ilak-niid</a>
				<a href='/sumer/3.3.09'>Letter from Lugal-nesa&#285;e to Enlil-massu</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/3.3.10'>Letter from Inanaka to the goddess Nintinuga</a>
				<a href='/sumer/3.3.11'>Letter from Inim-Inana to Enlil-massu</a>
				<a href='/sumer/3.3.12'>Letter from Inim-Inana to Lugal-ibila</a>
				<a href='/sumer/3.3.20'>Letter from Gudea to his personal deity</a>
				<a href='/sumer/3.3.21'>Letter from the scribe Nanna-man&scaron;um to the goddess Ninisina</a>
				<a href='/sumer/3.3.22'>Letter from X to the god Nanna</a>
				<a href='/sumer/3.3.27'>Letter from Inim-Enlila to a king</a>
				<a href='/sumer/3.3.39'>Letter from Kug-Nanna to the god Nin&scaron;ubur</a>
			</div>
		</div>
	</div>
    <div class="greenSlaad">
        <p>Ancient literary catalogues<a href='#' class='closeGreenSlaad'>x</a></p>
		<div class="belashyrra">
			<div class="pernicon">
				<a href='/sumer/0.1.1'>Ur III catalogue from Nibru (N1)</a>
				<a href='/sumer/0.1.2'>Ur III catalogue at Yale (Y1)</a>
				<a href='/sumer/0.2.01'>OB catalogue from Nibru (N2)</a>
				<a href='/sumer/0.2.02'>OB catalogue in the Louvre (L)</a>
				<a href='/sumer/0.2.03'>OB catalogue from Urim (U1)</a>
				<a href='/sumer/0.2.04'>OB catalogue from Urim (U2)</a>
				<a href='/sumer/0.2.05'>OB catalogue from Urim (U3)</a>
				<a href='/sumer/0.2.06'>OB catalogue from Nibru (N3)</a>
				<a href='/sumer/0.2.07'>OB catalogue possibly from Zimbir (B1)</a>
				<a href='/sumer/0.2.08'>OB catalogue from Nibru (N4)</a>
				<a href='/sumer/0.2.11'>OB catalogue at Andrews University (B4)</a>
				<a href='/sumer/0.2.12'>OB catalogue at Yale (Y2)</a>
				<a href='/sumer/0.2.13'>OB catalogue from Nibru (N6)</a>
			</div>
		</div>
   </div>
    <div class="greenSlaad">
        <p>Narrative and mythological compositions<a href='#' class='closeGreenSlaad'>x</a></p>
		<div class="belashyrra">
			<div class="pernicon">
				<a href='/sumer/1.1.1'>Enki and Nin&#7723;ursa&#285;a</a>
				<a href='/sumer/1.1.2'>Enki and Ninma&#7723;</a>
				<a href='/sumer/1.1.3'>Enki and the world order</a>
				<a href='/sumer/1.1.4'>Enki's journey to Nibru</a>
				<a href='/sumer/1.2.1'>Enlil and Ninlil</a>
				<a href='/sumer/1.2.2'>Enlil and Sud</a>
				<a href='/sumer/1.3.1'>Inana and Enki</a>
				<a href='/sumer/1.3.2'>Inana and Ebi&#7723;</a>
				<a href='/sumer/1.3.3'>Inana and &Scaron;u-kale-tuda</a>
				<a href='/sumer/1.3.4'>Inana and Gudam</a>
				<a href='/sumer/1.3.5'>Inana and An</a>
				<a href='/sumer/1.4.1.1'>Dumuzid and &#284;e&scaron;tin-ana</a>
				<a href='/sumer/1.4.1.3'>Dumuzid and his sisters</a>
				<a href='/sumer/1.4.1'>Inana's descent to the nether world</a>
				<a href='/sumer/1.4.3'>Dumuzid's dream</a>
				<a href='/sumer/1.4.4'>Inana and Bilulu: an ulila to Inana</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/1.5.1'>Nanna-Suen's journey to Nibru</a>
				<a href='/sumer/1.6.1'>Ninurta's return to Nibru: a &scaron;ir-gida to Ninurta</a>
				<a href='/sumer/1.6.2'>Ninurta's exploits: a &scaron;ir-sud (?) to Ninurta</a>
				<a href='/sumer/1.6.3'>Ninurta and the turtle</a>
				<a href='/sumer/1.7.1'>The marriage of Martu</a>
				<a href='/sumer/1.7.3'>Nin&#285;i&scaron;zida's journey to the nether world</a>
				<a href='/sumer/1.7.4'>The Flood story</a>
				<a href='/sumer/1.7.6'>How grain came to Sumer</a>
				<a href='/sumer/1.7.7'>The &scaron;umunda grass</a>
				<a href='/sumer/1.7.8'>Pabilsa&#285;'s journey to Nibru</a>
				<a href='/sumer/1.8.1.1'>Gilgame&scaron; and Aga</a>
				<a href='/sumer/1.8.1.2'>Gilgame&scaron; and the bull of heaven</a>
				<a href='/sumer/1.8.1.3'>The death of Gilgame&scaron;</a>
				<a href='/sumer/1.8.1.4'>Gilgame&scaron;, Enkidu and the nether world</a>
				<a href='/sumer/1.8.1.5.1'>Gilgame&scaron; and &#7722;uwawa (Version B)</a>
				<a href='/sumer/1.8.1.5'>Gilgame&scaron; and &#7722;uwawa (Version A)</a>
				<a href='/sumer/1.8.2.1'>Lugalbanda in the mountain cave</a>
				<a href='/sumer/1.8.2.2'>Lugalbanda and the Anzud bird</a>
				<a href='/sumer/1.8.2.3'>Enmerkar and the lord of Aratta</a>
				<a href='/sumer/1.8.2.4'>Enmerkar and En-su&#7723;gir-ana</a>
			</div>
		</div>
    </div>
    <div class="greenSlaad">
        <p>Compositions with a historical background & Royal praise poetry<a href='#' class='closeGreenSlaad'>x</a></p>
		<div class="belashyrra">
			<div class="pernicon">
				<a href='/sumer/2.1.1'>The Sumerian king list</a>
				<a href='/sumer/2.1.2'>The rulers of Laga&scaron;</a>
				<a href='/sumer/2.1.3'>The history of the Tummal</a>
				<a href='/sumer/2.1.4'>Sargon and Ur-Zababa</a>
				<a href='/sumer/2.1.5'>The cursing of Agade</a>
				<a href='/sumer/2.1.6'>The victory of Utu-&#7723;e&#285;al</a>
				<a href='/sumer/2.1.7'>The building of Nin&#285;irsu's temple (Gudea, cylinders A and B)</a>
				<a href='/sumer/2.2.2'>The lament for Urim</a>
				<a href='/sumer/2.2.3'>The lament for Sumer and Urim</a>
				<a href='/sumer/2.2.4'>The lament for Nibru</a>
				<a href='/sumer/2.2.5'>The lament for Unug</a>
				<a href='/sumer/2.2.6'>The lament for Eridug</a>
				<a href='/sumer/2.3.1'>An adab to Bau for Luma (Luma A)</a>
				<a href='/sumer/2.3.2'>A tigi to Bau for Gudea (Gudea A)</a>
				<a href='/sumer/2.4.1.1'>The death of Ur-Namma (Ur-Namma A)</a>
				<a href='/sumer/2.4.1.2'>A tigi to Enlil for Ur-Namma (Ur-Namma B)</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/2.4.1.3'>A praise poem of Ur-Namma (Ur-Namma C)</a>
				<a href='/sumer/2.4.1.4'>Ur-Namma the canal-digger (Ur-Namma D)</a>
				<a href='/sumer/2.4.1.5'>A &scaron;ir-nam&scaron;ub (?) to Nanna for Ur-Namma (Ur-Namma E)</a>
				<a href='/sumer/2.4.1.6'>A &scaron;ir-nam&scaron;ub to Nanna for Ur-Namma (Ur-Namma F)</a>
				<a href='/sumer/2.4.1.7'>A balbale to Enlil for Ur-Namma (Ur-Namma G)</a>
				<a href='/sumer/2.4.1.8'>A praise poem of Ur-Namma (Ur-Namma H)</a>
				<a href='/sumer/2.4.1.a'>A praise poem of Ur-Namma (Ur-Namma I)</a>
				<a href='/sumer/2.4.2.01'>A praise poem of &Scaron;ulgi (&Scaron;ulgi A)</a>
				<a href='/sumer/2.4.2.02'>A praise poem of &Scaron;ulgi (&Scaron;ulgi B)</a>
				<a href='/sumer/2.4.2.03'>A praise poem of &Scaron;ulgi (&Scaron;ulgi C)</a>
				<a href='/sumer/2.4.2.04'>A praise poem of &Scaron;ulgi (&Scaron;ulgi D)</a>
				<a href='/sumer/2.4.2.05'>A praise poem of &Scaron;ulgi (&Scaron;ulgi E)</a>
				<a href='/sumer/2.4.2.07'>An adab to Enlil for &Scaron;ulgi (&Scaron;ulgi G)</a>
				<a href='/sumer/2.4.2.12'>A tigi (?) for &Scaron;ulgi (&Scaron;ulgi L)</a>
				<a href='/sumer/2.4.2.14'>A lullaby for a son of &Scaron;ulgi (&Scaron;ulgi N)</a>
				<a href='/sumer/2.4.2.15'>A praise poem of &Scaron;ulgi (&Scaron;ulgi O)</a>
				<a href='/sumer/2.4.2.16'> A praise poem of &Scaron;ulgi (&Scaron;ulgi P)</a>
				<a href='/sumer/2.4.2.17'>An adab (?) to Utu for &Scaron;ulgi (&Scaron;ulgi Q)</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/2.4.2.18'>&Scaron;ulgi and Ninlil's barge: a tigi (?) to Ninlil  (&Scaron;ulgi R)</a>
				<a href='/sumer/2.4.2.20'>A tigi to Ninurta for &Scaron;ulgi (&Scaron;ulgi T)</a>
				<a href='/sumer/2.4.2.21'>An adab (?) to Nergal for &Scaron;ulgi (?) (&Scaron;ulgi U)</a>
				<a href='/sumer/2.4.2.22'>A dedication of a statue (&Scaron;ulgi V)</a>
				<a href='/sumer/2.4.2.23'>A praise poem of &Scaron;ulgi (&Scaron;ulgi W)</a>
				<a href='/sumer/2.4.2.24'>A praise poem of &Scaron;ulgi (&Scaron;ulgi X)</a>
				<a href='/sumer/2.4.2.25'>A praise poem of &Scaron;ulgi (&Scaron;ulgi Y)</a>
				<a href='/sumer/2.4.2.26'>A love song of &Scaron;ulgi (&Scaron;ulgi Z)</a>
				<a href='/sumer/2.4.2.a'>A song of &Scaron;ulgi</a>
				<a href='/sumer/2.4.2.b'>A praise poem of &Scaron;ulgi</a>
				<a href='/sumer/2.4.3.1'>Amar-Suena and Enki's temple (Amar-Suena A)</a>
				<a href='/sumer/2.4.4.1'>A balbale to Bau for &Scaron;u-Suen (&Scaron;u-Suen A)</a>
				<a href='/sumer/2.4.4.2'>A balbale to Inana for &Scaron;u-Suen (&Scaron;u-Suen B)</a>
				<a href='/sumer/2.4.4.3'>A balbale to Inana for &Scaron;u-Suen (&Scaron;u-Suen C)</a>
				<a href='/sumer/2.4.4.4'>A tigi (?) to Ninurta for &Scaron;u-Suen (&Scaron;u-Suen D)</a>
				<a href='/sumer/2.4.4.5'>An adab to An for &Scaron;u-Suen (&Scaron;u-Suen E)</a>
				<a href='/sumer/2.4.4.6'>An adab (?) to Suen for &Scaron;u-Suen (&Scaron;u-Suen F)</a>
				<a href='/sumer/2.4.4.9'>A praise poem of &Scaron;u-Suen (&Scaron;u-Suen I)</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/2.4.4.a'>A hymn for &Scaron;u-Suen</a>
				<a href='/sumer/2.4.5.1'>A tigi to Suen for Ibbi-Suen (Ibbi-Suen A)</a>
				<a href='/sumer/2.4.5.2'>A &scaron;ir-namgala to Me&scaron;lamta-ea and Lugal-era for Ibbi-Suen (Ibbi-Suen B)</a>
				<a href='/sumer/2.4.5.3'>An adab to Suen for Ibbi-Suen (Ibbi-Suen C)</a>
				<a href='/sumer/2.4.5.4'>An ululumama to Suen for Ibbi-Suen (Ibbi-Suen D)</a>
				<a href='/sumer/2.4.5.5'>A hymn to Suen for Ibbi-Suen (Ibbi-Suen E)</a>
				<a href='/sumer/2.5.1.2'>I&scaron;bi-Erra and Kindattu (I&scaron;bi-Erra B)</a>
				<a href='/sumer/2.5.1.3'>A tigi to Nanaya for I&scaron;bi-Erra (I&scaron;bi-Erra C)</a>
				<a href='/sumer/2.5.1.4'>A hymn to Ninisina for I&scaron;bi-Erra (I&scaron;bi-Erra D)</a>
				<a href='/sumer/2.5.2.1'>An adab to Nergal for &Scaron;u-il&scaron;u (&Scaron;u-il&scaron;u A)</a>
				<a href='/sumer/2.5.2.3'>An adab for &Scaron;u-il&scaron;u (&Scaron;u-il&scaron;u C)</a>
				<a href='/sumer/2.5.3.1'>A &scaron;ir-namursa&#285;a to Ninsiana for Iddin-Dagan (Iddin-Dagan A)</a>
				<a href='/sumer/2.5.3.2'>A praise poem of Iddin-Dagan (Iddin-Dagan B)</a>
				<a href='/sumer/2.5.3.3'>An adab to Ningublaga for Iddin-Dagan (Iddin-Dagan C)</a>
				<a href='/sumer/2.5.3.4'>A &scaron;ir-namerima (?) for Iddin-Dagan (Iddin-Dagan D)</a>
				<a href='/sumer/2.5.4.01'>A praise poem of I&scaron;me-Dagan (I&scaron;me-Dagan A + V)</a>
				<a href='/sumer/2.5.4.02'>An adab to Bau for I&scaron;me-Dagan (I&scaron;me-Dagan B)</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/2.5.4.03'>A hymn to Nibru and I&scaron;me-Dagan (I&scaron;me-Dagan C)</a>
				<a href='/sumer/2.5.4.04'>An adab (?) to Enki for I&scaron;me-Dagan (I&scaron;me-Dagan D)</a>
				<a href='/sumer/2.5.4.05'>A balbale to Enki for I&scaron;me-Dagan (I&scaron;me-Dagan E)</a>
				<a href='/sumer/2.5.4.08'>An adab to Enlil for I&scaron;me-Dagan (I&scaron;me-Dagan H)</a>
				<a href='/sumer/2.5.4.09'>I&scaron;me-Dagan and Enlil's chariot: a tigi to Enlil (I&scaron;me-Dagan I)</a>
				<a href='/sumer/2.5.4.10'>A love song of I&scaron;me-Dagan (I&scaron;me-Dagan J)</a>
				<a href='/sumer/2.5.4.11'>A hymn to Inana for I&scaron;me-Dagan (I&scaron;me-Dagan K)</a>
				<a href='/sumer/2.5.4.13'>An adab to Nanna for I&scaron;me-Dagan (I&scaron;me-Dagan M)</a>
				<a href='/sumer/2.5.4.15'>A tigi (?) to Ninurta for I&scaron;me-Dagan (I&scaron;me-Dagan O)</a>
				<a href='/sumer/2.5.4.16'>An adab (?) to Ninurta for I&scaron;me-Dagan (I&scaron;me-Dagan P)</a>
				<a href='/sumer/2.5.4.17'>An adab (?) to Nuska for I&scaron;me-Dagan (I&scaron;me-Dagan Q)</a>
				<a href='/sumer/2.5.4.19'>A dedication of a statue (I&scaron;me-Dagan S)</a>
				<a href='/sumer/2.5.4.21'>An adab to Dagan (?) for I&scaron;me-Dagan (I&scaron;me-Dagan U)</a>
				<a href='/sumer/2.5.4.23'>A hymn to Nibru and I&scaron;me-Dagan (I&scaron;me-Dagan W)</a>
				<a href='/sumer/2.5.4.24'>A hymn to Enki (?) for I&scaron;me-Dagan (I&scaron;me-Dagan X)</a>
				<a href='/sumer/2.5.4.27'>A praise poem of I&scaron;me-Dagan (I&scaron;me-Dagan AA)</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/2.5.4.29'>A hymn to Ninurta for I&scaron;me-Dagan</a>
				<a href='/sumer/2.5.4.a'>A hymn to Inana for I&scaron;me-Dagan</a>
				<a href='/sumer/2.5.4.b'>A hymn to Enki for I&scaron;me-Dagan</a>
				<a href='/sumer/2.5.5.1'>A praise poem of Lipit-E&scaron;tar (Lipit-E&scaron;tar A)</a>
				<a href='/sumer/2.5.5.2'>A praise poem of Lipit-E&scaron;tar (Lipit-E&scaron;tar B)</a>
				<a href='/sumer/2.5.5.3'>An adab to An for Lipit-E&scaron;tar (Lipit-E&scaron;tar C)</a>
				<a href='/sumer/2.5.5.4'>An adab to Ninurta for Lipit-E&scaron;tar (Lipit-E&scaron;tar D)</a>
				<a href='/sumer/2.5.5.5'>A &scaron;ir-namgala to Ninisina for Lipit-E&scaron;tar (Lipit-E&scaron;tar E)</a>
				<a href='/sumer/2.5.5.8'>An ua-di to Inana for Lipit-E&scaron;tar (Lipit-E&scaron;tar H)</a>
				<a href='/sumer/2.5.6.1'>A &scaron;ir-namgala (?) to Inana for Ur-Ninurta (Ur-Ninurta A)</a>
				<a href='/sumer/2.5.6.2'>A tigi to Enki for Ur-Ninurta (Ur-Ninurta B)</a>
				<a href='/sumer/2.5.6.3'>An adab to Ninurta for Ur-Ninurta (Ur-Ninurta C)</a>
				<a href='/sumer/2.5.6.4'>An adab to Inana for Ur-Ninurta (Ur-Ninurta D)</a>
				<a href='/sumer/2.5.6.5'>An adab to An for Ur-Ninurta (Ur-Ninurta E)</a>
				<a href='/sumer/2.5.6.6'>An adab (?) to I&scaron;kur for Ur-Ninurta (Ur-Ninurta F)</a>
				<a href='/sumer/2.5.7.1'>An adab to Ninurta for Br-Suen (Br-Suen A)</a>
				<a href='/sumer/2.5.7.2'>An adab to Enlil for Br-Suen (Br-Suen B)</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/2.5.8.1'>A praise poem of Enlil-bni (Enlil-bni A)</a>
				<a href='/sumer/2.6.2.1'>An adab to Nanna for Gungunum (Gungunum A)</a>
				<a href='/sumer/2.6.2.a'>A hymn to Nanna for Gungunum (Gungunum B)</a>
				<a href='/sumer/2.6.6.1'>A praise poem of Sn-iddinam (Sn-iddinam A)</a>
				<a href='/sumer/2.6.6.5'>Sn-iddinam and I&scaron;kur (Sn-iddinam E)</a>
				<a href='/sumer/2.6.7.1'>A hymn to Numu&scaron;da for Sn-iq&scaron;am (Sn-iq&scaron;am A)</a>
				<a href='/sumer/2.6.9.1'>A prayer to Enlil for Rm-Sn (Rm-Sn A)</a>
				<a href='/sumer/2.6.9.2'>A hymn to &#7722;aia for Rm-Sn (Rm-Sn B)</a>
				<a href='/sumer/2.6.9.3'>A prayer to An for Rm-Sn (Rm-Sn C)</a>
				<a href='/sumer/2.6.9.4'>A prayer to Nanna for Rm-Sn (Rm-Sn D)</a>
				<a href='/sumer/2.6.9.5'>A prayer to Nanna for Rm-Sn (Rm-Sn E)</a>
				<a href='/sumer/2.6.9.6'>A prayer to Nanna for Rm-Sn (Rm-Sn F)</a>
				<a href='/sumer/2.6.9.7'>A prayer to Nanna for Rm-Sn (Rm-Sn G)</a>
				<a href='/sumer/2.6.9.8'>An adab to Inana for Rm-Sn (Rm-Sn H)</a>
				<a href='/sumer/2.6.9.a'>An excerpt from a prayer for Rm-Sn</a>
				<a href='/sumer/2.7.1.1'>A praise poem of Anam (Anam A)</a>
				<a href='/sumer/2.8.2.1'>A praise poem of &#7722;ammu-rbi (&#7722;ammu-rbi A)</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/2.8.2.2'>A prayer to Enki for &#7722;ammu-rbi (&#7722;ammu-rbi B)</a>
				<a href='/sumer/2.8.2.3'>A praise poem of &#7722;ammu-rbi (&#7722;ammu-rbi C)</a>
				<a href='/sumer/2.8.2.4'>A prayer to Asarlu&#7723;i for &#7722;ammu-rbi (&#7722;ammu-rbi D)</a>
				<a href='/sumer/2.8.2.5'>A prayer for &#7722;ammu-rbi (&#7722;ammu-rbi E)</a>
				<a href='/sumer/2.8.2.6'>A prayer to Inana for &#7722;ammu-rbi (&#7722;ammu-rbi F)</a>
				<a href='/sumer/2.8.3.1'>Samsu-iluna and Inana (Samsu-iluna A)</a>
				<a href='/sumer/2.8.3.2'>A prayer for Samsu-iluna (Samsu-iluna B)</a>
				<a href='/sumer/2.8.3.3'>A prayer for Samsu-iluna (Samsu-iluna C)</a>
				<a href='/sumer/2.8.3.4'>A prayer for Samsu-iluna (Samsu-iluna D)</a>
				<a href='/sumer/2.8.3.5'>A prayer for Samsu-iluna (Samsu-iluna E)</a>
				<a href='/sumer/2.8.3.6'>A hymn to Enlil for Samsu-iluna (Samsu-iluna F)</a>
				<a href='/sumer/2.8.3.7'>A prayer for Samsu-iluna (Samsu-iluna G)</a>
				<a href='/sumer/2.8.3.8'>A hymn to Enlil for Samsu-iluna (Samsu-iluna H)</a>
				<a href='/sumer/2.8.5.1'>A hymn to Marduk for Ab-E&scaron;u&#7723; (Ab-E&scaron;u&#7723; A)</a>
				<a href='/sumer/2.8.5.a'>A praise poem of Ab-E&scaron;u&#7723; (Ab-E&scaron;u&#7723; B)</a>
				<a href='/sumer/2.8.5.b'>A hymn to Marduk for a king</a>
				<a href='/sumer/2.99.b'>A fragment of a royal praise poem</a>
				<a href='/sumer/2.99.c'>A fragment of a royal praise poem</a>
				<a href='/sumer/2.99.d'>An excerpt from a royal praise poem (?)</a>
			</div>
		</div>
	</div>
    <div class="greenSlaad">
        <p>Literary letters and letter-prayers<a href='#' class='closeGreenSlaad'>x</a></p>
		<div class="belashyrra">
			<div class="pernicon">
				<a href='/sumer/3.1.01'>Letter from Arad&#285;u to &Scaron;ulgi about Apilla&scaron;a</a>
				<a href='/sumer/3.1.02'>Letter from &Scaron;ulgi to Arad&#285;u about Apilla&scaron;a</a>
				<a href='/sumer/3.1.03'>Letter from Arad&#285;u to &Scaron;ulgi about irrigation work</a>
				<a href='/sumer/3.1.04'>Letter from Arad&#285;u to &Scaron;ulgi about the country</a>
				<a href='/sumer/3.1.05'>Letter from Arad&#285;u to &Scaron;ulgi about Aba-indasa's missing troops</a>
				<a href='/sumer/3.1.06.1'>Letter from &Scaron;ulgi to Arad&#285;u about Aba-indasa's letter</a>
				<a href='/sumer/3.1.06'>Letter from Arad&#285;u to &Scaron;ulgi about the fortress Igi-&#7723;ursa&#285;a</a>
				<a href='/sumer/3.1.07'>Letter from Puzur-&Scaron;ulgi to &Scaron;ulgi about the advance of the enemy</a>
				<a href='/sumer/3.1.08'>Letter from &Scaron;ulgi to Puzur-&Scaron;ulgi about the fortress Igi-&#7723;ursa&#285;a</a>
				<a href='/sumer/3.1.10'>Letter from &Scaron;ulgi to Puzur-&Scaron;ulgi about waterways</a>
				<a href='/sumer/3.1.11.1'>Letter from Ur-DUN to &Scaron;ulgi about Apilla&scaron;a</a>
				<a href='/sumer/3.1.11'>Letter from Arad&#285;u (?) to &Scaron;ulgi about bandits and Apilla&scaron;a</a>
				<a href='/sumer/3.1.13.1'>Letter from &Scaron;ulgi (?) to Arad&#285;u about troops</a>
				<a href='/sumer/3.1.13.2'>Letter from &Scaron;ulgi to I&scaron;bi-Erra about the purchase of grain</a>
				<a href='/sumer/3.1.15'>Letter from &Scaron;arrum-bni to &Scaron;u-Suen about keeping the Martu at bay</a>
				<a href='/sumer/3.1.16'>Letter from &Scaron;u-Suen to &Scaron;arrum-bni about digging a trench</a>
				<a href='/sumer/3.1.17'>Letter from I&scaron;bi-Erra to Ibbi-Suen about the purchase of grain</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/3.1.18'>Letter from Ibbi-Suen to I&scaron;bi-Erra about his bad conduct</a>
				<a href='/sumer/3.1.19'>Letter from Puzur-&Scaron;ulgi to Ibbi-Suen about I&scaron;bi-Erra's claim on Isin</a>
				<a href='/sumer/3.1.20'>Letter from Ibbi-Suen to Puzur-&Scaron;ulgi hoping for I&scaron;bi-Erra's downfall</a>
				<a href='/sumer/3.1.21'>Letter from Aba-indasa to &Scaron;ulgi about his neglect</a>
				<a href='/sumer/3.2.01'>Letter from Sn-illat to Iddin-Dagan about confronting the Martu</a>
				<a href='/sumer/3.2.02'>Letter from Iddin-Dagan to Sn-illat about the troops</a>
				<a href='/sumer/3.2.03'>Letter from Nanna-ki-a&#285; to Lipit-E&scaron;tar about Gungunum's troops</a>
				<a href='/sumer/3.2.04'>Letter from Lipit-E&scaron;tar to Nanna-ki-a&#285; about driving away the enemy</a>
				<a href='/sumer/3.2.05'>Letter from Sn-iddinam to the god Utu</a>
				<a href='/sumer/3.3.01'>Letter from Ur-saga to a king fearing the loss of his father's household</a>
				<a href='/sumer/3.3.02'>Letter from Lugal-nesa&#285;e to a king radiant as the moon</a>
				<a href='/sumer/3.3.03'>Letter from Lugal-nesa&#285;e to a king radiant as the sun</a>
				<a href='/sumer/3.3.04'>Letter from Ur-Enlila to a governor and temple administrator</a>
				<a href='/sumer/3.3.05'>Letter from a governor and temple administrator to a king</a>
				<a href='/sumer/3.3.06'>Letter from Aba-ta&#7723;-lugal&#285;a to his brothers</a>
				<a href='/sumer/3.3.07'>Letter from Ugubi to his mother</a>
				<a href='/sumer/3.3.08'>Letter from &Scaron;ama&scaron;-b to Ilak-niid</a>
				<a href='/sumer/3.3.09'>Letter from Lugal-nesa&#285;e to Enlil-massu</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/3.3.10'>Letter from Inanaka to the goddess Nintinuga</a>
				<a href='/sumer/3.3.11'>Letter from Inim-Inana to Enlil-massu</a>
				<a href='/sumer/3.3.12'>Letter from Inim-Inana to Lugal-ibila</a>
				<a href='/sumer/3.3.20'>Letter from Gudea to his personal deity</a>
				<a href='/sumer/3.3.21'>Letter from the scribe Nanna-man&scaron;um to the goddess Ninisina</a>
				<a href='/sumer/3.3.22'>Letter from X to the god Nanna</a>
				<a href='/sumer/3.3.27'>Letter from Inim-Enlila to a king</a>
				<a href='/sumer/3.3.39'>Letter from Kug-Nanna to the god Nin&scaron;ubur</a>
			</div>
		</div>
	</div>
	<div class="greenSlaad">
        <p>Hymns and cult songs<a href='#' class='closeGreenSlaad'>x</a></p>
		<div class="belashyrra">
			<div class="pernicon">
				<a href='/sumer/4.01.1'>A hymn to Asarlu&#7723;i (Asarlu&#7723;i A)</a>
				<a href='/sumer/4.02.1'>A hymn to Bau's beneficent protective goddess (Bau A)</a>
				<a href='/sumer/4.03.1'>A &scaron;ir-&scaron;ag-&#7723;ula to Damgalnuna (Damgalnuna A)</a>
				<a href='/sumer/4.05.1'>Enlil in the E-kur (Enlil A)</a>
				<a href='/sumer/4.06.1'>A hymn to &#7722;endursa&#285;a (&#7722;endursa&#285;a A)</a>
				<a href='/sumer/4.07.1'>A balbale to Inana (Inana A)</a>
				<a href='/sumer/4.07.2'>The exaltation of Inana (Inana B)</a>
				<a href='/sumer/4.07.3'>A hymn to Inana (Inana C)</a>
				<a href='/sumer/4.07.4'>A hymn to Inana as Ninegala (Inana D)</a>
				<a href='/sumer/4.07.5'>A tigi to Inana (Inana E)</a>
				<a href='/sumer/4.07.6'>A balbale (?) to  Inana (Inana F)</a>
				<a href='/sumer/4.07.7'>A &scaron;ir-nam&scaron;ub to Inana (Inana G)</a>
				<a href='/sumer/4.07.8'>A balbale to Inana as Nanaya (Inana H)</a>
				<a href='/sumer/4.07.9'>A &scaron;ir-nam&scaron;ub to Inana (Inana I)</a>
				<a href='/sumer/4.07.a'>A hymn to Inana</a>
				<a href='/sumer/4.08.01'>A balbale to Inana (Dumuzid-Inana A)</a>
				<a href='/sumer/4.08.02'>A balbale to Inana (Dumuzid-Inana B)</a>
				<a href='/sumer/4.08.03'>A balbale to Inana (Dumuzid-Inana C)</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/4.08.04'>A balbale to Inana (Dumuzid-Inana D)</a>
				<a href='/sumer/4.08.05'>The song of the lettuce: a balbale to Inana (Dumuzid-Inana E)</a>
				<a href='/sumer/4.08.06'>A balbale to Inana (Dumuzid-Inana F)</a>
				<a href='/sumer/4.08.07'>A balbale to Inana (Dumuzid-Inana G)</a>
				<a href='/sumer/4.08.08'>A tigi to Inana (Dumuzid-Inana H)</a>
				<a href='/sumer/4.08.09'>A kun&#285;ar to Inana (Dumuzid-Inana I)</a>
				<a href='/sumer/4.08.10'>A song of Inana and Dumuzid (Dumuzid-Inana J)</a>
				<a href='/sumer/4.08.12'>A song of Inana and Dumuzid (Dumuzid-Inana L)</a>
				<a href='/sumer/4.08.13'>A &scaron;ir-nam&scaron;ub to Inana (Dumuzid-Inana M)</a>
				<a href='/sumer/4.08.15'>A balbale to Inana (Dumuzid-Inana O)</a>
				<a href='/sumer/4.08.16'>A balbale (?) to Inana (Dumuzid-Inana P)</a>
				<a href='/sumer/4.08.18'>A song of Inana and Dumuzid (Dumuzid-Inana R)</a>
				<a href='/sumer/4.08.20'>A kun&#285;ar to Inana (Dumuzid-Inana T)</a>
				<a href='/sumer/4.08.22'>A song of Inana and Dumuzid (Dumuzid-Inana V)</a>
				<a href='/sumer/4.08.23'>A song of Inana and Dumuzid (Dumuzid-Inana W)</a>
				<a href='/sumer/4.08.25'>A song of Inana and Dumuzid (Dumuzid-Inana Y)</a>
				<a href='/sumer/4.08.26'>A song of Inana and Dumuzid (Dumuzid-Inana Z)</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/4.08.28'>A song of Inana and Dumuzid (Dumuzid-Inana B1)</a>
				<a href='/sumer/4.08.29'>A song of Inana and Dumuzid (Dumuzid-Inana C1)</a>
				<a href='/sumer/4.08.30'>A song of Inana and Dumuzid (Dumuzid-Inana D1)</a>
				<a href='/sumer/4.08.31'>A balbale to Inana (Dumuzid-Inana E1)</a>
				<a href='/sumer/4.08.32'>A song of Inana and Dumuzid (Dumuzid-Inana F1)</a>
				<a href='/sumer/4.08.33'>Dumuzid and Enkimdu</a>
				<a href='/sumer/4.08.a'>A balbale to Inana</a>
				<a href='/sumer/4.12.1'>A &scaron;ir-gida to Martu (Martu A)</a>
				<a href='/sumer/4.12.2'>A hymn to Martu (Martu B)</a>
				<a href='/sumer/4.13.01'>A balbale to Suen (Nanna A)</a>
				<a href='/sumer/4.13.02'>A balbale to Nanna (Nanna B)</a>
				<a href='/sumer/4.13.03'>A balbale to Nanna (Nanna C)</a>
				<a href='/sumer/4.13.04'>A balbale to Nanna (Nanna D)</a>
				<a href='/sumer/4.13.05'>A hymn to Nanna (Nanna E)</a>
				<a href='/sumer/4.13.06'>The herds of Nanna (Nanna F)</a>
				<a href='/sumer/4.13.07'>A hymn to Nanna (Nanna G)</a>
				<a href='/sumer/4.13.08'>An adab to Nanna (Nanna H)</a>
				<a href='/sumer/4.13.09'>A tigi to Suen (Nanna I)</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/4.13.10'>An ululumama to Nanna (Nanna J)</a>
				<a href='/sumer/4.13.11'>A &scaron;ir-nam&scaron;ub to Suen (Nanna K)</a>
				<a href='/sumer/4.13.12'>A &scaron;ir-namgala to Nanna (Nanna L)</a>
				<a href='/sumer/4.13.13'>A hymn to Nanna (Nanna M)</a>
				<a href='/sumer/4.13.14'>A hymn to Nanna (Nanna N)</a>
				<a href='/sumer/4.13.15'>A hymn to Nanna (Nanna O)</a>
				<a href='/sumer/4.13.a'>A hymn to Nanna</a>
				<a href='/sumer/4.13.b'>A fragment of a hymn to Nanna</a>
				<a href='/sumer/4.13.c'>An excerpt from a hymn to Nanna</a>
				<a href='/sumer/4.13.d'>A fragment of a hymn to Nanna</a>
				<a href='/sumer/4.14.1'>A hymn to Nan&scaron;e (Nan&scaron;e A)</a>
				<a href='/sumer/4.14.2'>A balbale to Nan&scaron;e (Nan&scaron;e B)</a>
				<a href='/sumer/4.14.3'>Nan&scaron;e and the birds (Nan&scaron;e C)</a>
				<a href='/sumer/4.15.2'>A hymn to Nergal (Nergal B)</a>
				<a href='/sumer/4.15.3'>A tigi to Nergal (Nergal C)</a>
				<a href='/sumer/4.16.1'>A hymn to Nisaba (Nisaba A)</a>
				<a href='/sumer/4.16.2'>A &scaron;ir-nam&scaron;ub to Nisaba (Nisaba B)</a>
				<a href='/sumer/4.17.1'>A balbale to Ninazu (Ninazu A)</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/4.19.1'>A balbale to Nin&#285;i&scaron;zida (Nin&#285;i&scaron;zida A)</a>
				<a href='/sumer/4.19.2'>A balbale to Nin&#285;i&scaron;zida (Nin&#285;i&scaron;zida B)</a>
				<a href='/sumer/4.19.3'>A hymn to Nin&#285;i&scaron;zida (Nin&#285;i&scaron;zida C)</a>
				<a href='/sumer/4.19.4'>A balbale (?) to Nin&#285;i&scaron;zida (Nin&#285;i&scaron;zida D)</a>
				<a href='/sumer/4.21.1'>A hymn to Ninimma (Ninimma A)</a>
				<a href='/sumer/4.22.1'>A &scaron;ir-gida to Ninisina (Ninisina A)</a>
				<a href='/sumer/4.22.2'>A &scaron;ir-nam&scaron;ub to Ninisina (Ninisina B)</a>
				<a href='/sumer/4.22.3'>Ninisina's journey to Nibru: a &scaron;ir-nam&scaron;ub to Ninisina (Ninisina C)</a>
				<a href='/sumer/4.22.4'>A hymn to Ninisina (Ninisina D)</a>
				<a href='/sumer/4.22.5'>An adab to Ninisina (Ninisina E)</a>
				<a href='/sumer/4.22.6'>Ninisina and the gods (Ninisina F)</a>
				<a href='/sumer/4.23.1'>A hymn to Ninkasi (Ninkasi A)</a>
				<a href='/sumer/4.24.1'>An adab to Ninlil (Ninlil A)</a>
				<a href='/sumer/4.25.1'>A &scaron;ir-gida (?) to Nin&scaron;ubur (Nin&scaron;ubur A)</a>
				<a href='/sumer/4.25.2'>A hymn to Nin&scaron;ubur (Nin&scaron;ubur B)</a>
				<a href='/sumer/4.26.1'>A tigi to Nintur (Nintur A)</a>
				<a href='/sumer/4.27.01'>A &scaron;ir-gida to Ninurta (Ninurta A)</a>
				<a href='/sumer/4.27.02'>Ninurta's journey to Eridug: a &scaron;ir-gida to Ninurta (Ninurta B)</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/4.27.03'>A hymn to Ninurta (Ninurta C)</a>
				<a href='/sumer/4.27.04'>A tigi to Ninurta (Ninurta D)</a>
				<a href='/sumer/4.27.06'>A balbale to Ninurta (Ninurta F)</a>
				<a href='/sumer/4.27.07'>A &scaron;ir-nam&scaron;ub to Ninurta (Ninurta G)</a>
				<a href='/sumer/4.27.a'>A hymn to Ninurta</a>
				<a href='/sumer/4.28.1'>A hymn to Nungal (Nungal A)</a>
				<a href='/sumer/4.29.1'>A &scaron;ir-gida to Nuska (Nuska A)</a>
				<a href='/sumer/4.29.2'>A &scaron;ir-gida to Nuska (Nuska B)</a>
				<a href='/sumer/4.30.1'>A balbale to &Scaron;ara (&Scaron;ara A)</a>
				<a href='/sumer/4.31.1'>A hymn to &Scaron;ul-pa-e (&Scaron;ul-pa-e A)</a>
				<a href='/sumer/4.32.2'>A hymn to Utu (Utu B)</a>
				<a href='/sumer/4.32.e'>A &scaron;ir-nam&scaron;ub to Utu (Utu E)</a>
				<a href='/sumer/4.32.f'>A &scaron;ir-nam&scaron;ub to Utu (Utu F)</a>
				<a href='/sumer/4.33.1'>A hymn to Sadarnuna (Sadarnuna A)</a>
				<a href='/sumer/4.33.2'>A hymn to Kusu (Kusu A)</a>
				<a href='/sumer/4.80.1'>The temple hymns</a>
				<a href='/sumer/4.80.2'>The Ke&scaron; temple hymn</a>
				<a href='/sumer/4.80.4'>A hymn to the E-kur</a>
			</div>
		</div>
	</div>
    <div class="greenSlaad">
        <p>Other literature<a href='#' class='closeGreenSlaad'>x</a></p>
		<div class="belashyrra">
			<div class="pernicon">
				<a href='/sumer/5.1.3'>The advice of a supervisor to a younger scribe (E-dub-ba-a C)</a>
				<a href='/sumer/5.2.4'>A man and his god</a>
				<a href='/sumer/5.2.5'>The poem of early rulers</a>
				<a href='/sumer/5.3.1'>The debate between Hoe and Plough</a>
				<a href='/sumer/5.3.2'>The debate between Grain and Sheep</a>
				<a href='/sumer/5.3.3'>The debate between Winter and Summer</a>
				<a href='/sumer/5.3.5'>The debate between Bird and Fish</a>
				<a href='/sumer/5.3.6'>The debate between Copper and Silver</a>
				<a href='/sumer/5.3.7'>The debate between Date Palm and Tamarisk</a>
				<a href='/sumer/5.4.11'>A diatribe against Engar-dug (Diatribe B)</a>
				<a href='/sumer/5.4.12'>He is a good seed of a dog (Diatribe C)</a>
				<a href='/sumer/5.5.1'>The message of Lu-di&#285;ira to his mother</a>
				<a href='/sumer/5.5.2'>An elegy on the death of Nannaya</a>
				<a href='/sumer/5.5.3'>An elegy on the death of Nawirtum</a>
				<a href='/sumer/5.5.4'>The song of the hoe</a>
				<a href='/sumer/5.5.5'>The song of the ploughing oxen: an ululumama to Ninurta</a>
				<a href='/sumer/5.5.a'>A drinking song</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/5.6.1'>The instructions of &Scaron;uruppag</a>
				<a href='/sumer/5.6.3'>The farmer's instructions</a>
				<a href='/sumer/5.6.5'>The three ox-drivers from Adab</a>
				<a href='/sumer/5.7.1'>Enlil and Nam-zid-tara</a>
				<a href='/sumer/5.7.2'>A dog for Nintinuga</a>
				<a href='/sumer/5.7.3'>An axe for Nergal</a>
				<a href='/sumer/5.7.a'>Public announcement of the loss of a seal</a>
				<a href='/sumer/5.9.1'>The home of the fish</a>
				<a href='/sumer/5.9.2'>The heron and the turtle</a>
			</div>
		</div>
	</div>
    <div class="greenSlaad">
        <p>Proverb collections<a href='#' class='closeGreenSlaad'>x</a></p>
		<div class="belashyrra">
			<div class="pernicon">
				<a href='/sumer/6.1.01'>Proverbs: collection 1</a>
				<a href='/sumer/6.1.02'>Proverbs: collection 2 + 6</a>
				<a href='/sumer/6.1.03'>Proverbs: collection 3</a>
				<a href='/sumer/6.1.04'>Proverbs: collection 4</a>
				<a href='/sumer/6.1.05'>Proverbs: collection 5</a>
				<a href='/sumer/6.1.07'>Proverbs: collection 7</a>
				<a href='/sumer/6.1.08'>Proverbs: collection 8</a>
				<a href='/sumer/6.1.09'>Proverbs: collection 9</a>
				<a href='/sumer/6.1.10'>Proverbs: collection 10</a>
				<a href='/sumer/6.1.11'>Proverbs: collection 11</a>
				<a href='/sumer/6.1.12'>Proverbs: collection 12</a>
				<a href='/sumer/6.1.13'>Proverbs: collection 13</a>
				<a href='/sumer/6.1.14'>Proverbs: collection 14</a>
				<a href='/sumer/6.1.15'>Proverbs: collection 15</a>
				<a href='/sumer/6.1.16'>Proverbs: collection 16</a>
				<a href='/sumer/6.1.17'>Proverbs: collection 17</a>
				<a href='/sumer/6.1.18'>Proverbs: collection 18</a>
				<a href='/sumer/6.1.19'>Proverbs: collection 19</a>
			</div>
			<div class="pernicon">
				<a href='/sumer/6.1.21'>Proverbs: collection 21</a>
				<a href='/sumer/6.1.22'>Proverbs: collection 22</a>
				<a href='/sumer/6.1.23'>Proverbs: collection 23</a>
				<a href='/sumer/6.1.24'>Proverbs: collection 24</a>
				<a href='/sumer/6.1.25'>Proverbs: collection 25</a>
				<a href='/sumer/6.1.26'>Proverbs: collection 26</a>
				<a href='/sumer/6.1.27'>Proverbs: collection 27</a>
				<a href='/sumer/6.1.28'>Proverbs: collection 28</a>
				<a href='/sumer/6.2.1'>Proverbs: from Nibru</a>
				<a href='/sumer/6.2.2'>Proverbs: from Susa</a>
				<a href='/sumer/6.2.3'>Proverbs: from Urim</a>
				<a href='/sumer/6.2.4'>Proverbs: from Unug</a>
				<a href='/sumer/6.2.5'>Proverbs: of unknown provenance</a>
			</div>
		</div>
	</div>
